unpackaged/main/default/flows/Accepted_Estimate_Way_Field_Update_For_Marketing_Cloud.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_1st_Value</name>
        <label>assign 1st Value</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Accepted_Estimate_Way__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Via FSL App, No Discounts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_2nd_Value</name>
        <label>assign 2nd Value</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Accepted_Estimate_Way__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Via Office, Without Discounts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_3rd_Value</name>
        <label>assign 3rd Value</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Accepted_Estimate_Way__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Via Office, With Discounts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_4th_Value</name>
        <label>assign 4th Value</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Accepted_Estimate_Way__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Via Journey With 10% Charge Labour</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_5th_Value</name>
        <label>assign 5th Value</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Accepted_Estimate_Way__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Via Journey, Reminder, No Discount</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_6th_Value</name>
        <label>assign 6th Value</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Assignment.Accepted_Estimate_Way__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Via FSL App, With Discounts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Conditions</name>
        <label>check Conditions</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_1st_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Charge_Discount_Total__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineer Partner Community</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accepted_Estimate_Way__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Via FSL App, No Discounts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloned_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Already_duplicated_Job_for_Pending_Est__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Journey_Comm_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_1st_Value</targetReference>
            </connector>
            <label>For 1st Value</label>
        </rules>
        <rules>
            <name>For_2nd_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Charge_Discount_Total__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Engineer Partner Community</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accepted_Estimate_Way__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Via Office, Without Discounts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Journey_Comm_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Already_duplicated_Job_for_Pending_Est__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_2nd_Value</targetReference>
            </connector>
            <label>For 2nd Value</label>
        </rules>
        <rules>
            <name>For_3rd_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Charge_Discount_Total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Engineer Partner Community</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accepted_Estimate_Way__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Via Office, With Discounts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Already_duplicated_Job_for_Pending_Est__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Journey_Comm_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloned_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_3rd_Value</targetReference>
            </connector>
            <label>For 3rd Value</label>
        </rules>
        <rules>
            <name>For_4th_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Charge_Discount_Total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accepted_Estimate_Way__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Via Journey With 10% Charge Labour</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Already_duplicated_Job_for_Pending_Est__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Journey_Comm_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloned_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_4th_Value</targetReference>
            </connector>
            <label>For 4th Value</label>
        </rules>
        <rules>
            <name>For_5th_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Charge_Discount_Total__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accepted_Estimate_Way__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Via Journey, Reminder, No Discount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Journey_Comm_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Already_duplicated_Job_for_Pending_Est__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloned_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_5th_Value</targetReference>
            </connector>
            <label>For 5th Value</label>
        </rules>
        <rules>
            <name>For_6th_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Charge_Discount_Total__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineer Partner Community</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Journey_Comm_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Already_duplicated_Job_for_Pending_Est__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloned_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accepted_Estimate_Way__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Via FSL App, With Discounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_6th_Value</targetReference>
            </connector>
            <label>For 6th Value</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Accepted Estimate Way Field Update For Marketing Cloud {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accepted Estimate Way Field Update For Marketing Cloud</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Job</name>
        <label>update Job</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <inputReference>var_Job_Assignment</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Conditions</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved by Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <object>Job__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Job_Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
</Flow>
