unpackaged/main/default/flows/Approve_Estimate_Manually.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Ass_spacing_to_var</name>
        <label>Ass spacing to var</label>
        <locationX>1767</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>var_FileNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TxtTemplateLineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_File_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_count_var</name>
        <label>Ass to count var</label>
        <locationX>1406</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_Count_of_Files</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_get_No_of_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_var</name>
        <label>Ass to var</label>
        <locationX>1981</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>var_FileNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_File_Names</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Loop_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Last_File_Name</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Const_EmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Last_File_Name</name>
        <label>Check for Last File Name</label>
        <locationX>1974</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Ass_spacing_to_var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_File_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_Files</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_Loop_Counter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_File_Names</targetReference>
            </connector>
            <label>Last File Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_is_a_Key_Account</name>
        <label>Check if is a Key Account</label>
        <locationX>485</locationX>
        <locationY>1069</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_a_Key_Account_and_Not_Approved_by_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Account_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Key Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_JobData.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved by Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenEnter_reason_for_approval</targetReference>
            </connector>
            <label>Is a Key Account and Not Approved by Client</label>
        </rules>
        <rules>
            <name>Not_a_Key_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Account_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Key Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNot_a_Key_Account</targetReference>
            </connector>
            <label>Not a Key Account</label>
        </rules>
        <rules>
            <name>Is_a_Key_Account_but_is_Approved_by_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_JobData.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenKey_Account_but_already_Approved_by_Client</targetReference>
            </connector>
            <label>Is a Key Account but is Approved by Client</label>
        </rules>
    </decisions>
    <description>Approve Estimate Manually</description>
    <formulas>
        <name>Form_var_Count_of_Files_Minus_One</name>
        <dataType>Number</dataType>
        <expression>{!var_Count_of_Files}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Approve Estimate Manually {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Estimate Manually</label>
    <loops>
        <name>Loop_Thru_File_Names</name>
        <label>Loop Thru File Names</label>
        <locationX>1689</locationX>
        <locationY>418</locationY>
        <collectionReference>var_CollFileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_to_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ScreenJob_Approved_and_Notes_Updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_get_No_of_Files</name>
        <label>Loop to get No of Files</label>
        <locationX>1201</locationX>
        <locationY>732</locationY>
        <collectionReference>var_CollFileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_to_count_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Thru_File_Names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Job_Data</name>
        <label>Get Job Data</label>
        <locationX>140</locationX>
        <locationY>978</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_is_a_Key_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>var_JobData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Type__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Key_Account_Estimate_Approval_Notes__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>1133</locationX>
        <locationY>939</locationY>
        <connector>
            <targetReference>Loop_to_get_No_of_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Process_Unlock_Record__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Account_Estimate_Approval_Notes__c</field>
            <value>
                <elementReference>LTxtApprovalNotes</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ScreenEnter_reason_for_approval</name>
        <label>Enter reason for approval</label>
        <locationX>945</locationX>
        <locationY>1036</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Job</targetReference>
        </connector>
        <fields>
            <name>DTxtReasonforApprovalTxt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter the justification for manually approving this estimate.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;(&lt;i&gt;This could be an email received, pasted into the box below&lt;/i&gt;)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;You can also upload a file below if required.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LTxtApprovalNotes</name>
            <defaultValue>
                <stringValue>{!var_JobData.Key_Account_Estimate_Approval_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Please enter:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EstimateApproveUploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload a file (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_JobData.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_CollFileNames</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenJob_Approved_and_Notes_Updated</name>
        <label>Job Approved and Notes Updated</label>
        <locationX>1801</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtEstimateNotesUpdatedWFiles</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Job {!var_JobData.Name} has now been updated to &#39;Approved by Client&#39;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;File(s) uploaded with names of:&lt;/u&gt; &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!var_FileNames}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Notes Added:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!LTxtApprovalNotes}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Count_of_Files</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTxtEstimateNotesUpdatedNoFiles</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Job {!var_JobData.Name} has now been updated to &#39;Approved by Client&#39; with no files uploaded. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Notes Added:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!LTxtApprovalNotes}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Count_of_Files</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenKey_Account_but_already_Approved_by_Client</name>
        <label>Key Account but already Approved by Client</label>
        <locationX>512</locationX>
        <locationY>828</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtKey_Account_but_already_Approved_by_Client</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Job {!var_JobData.Name} has already been set to &#39;Approved by Client&#39; and cannot be approved again.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNot_a_Key_Account</name>
        <label>Not a Key Account</label>
        <locationX>538</locationX>
        <locationY>1366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtNot_a_Key_Account</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!var_JobData.Account__r.Name} is a &lt;u&gt;{!var_JobData.Account__r.Account_Type__c}&lt;/u&gt; customer.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;This process can only be used for Key Accounts.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Get_Job_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TxtTemplateLineBreak</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Const_EmptyString}

{!Const_EmptyString}</text>
    </textTemplates>
    <variables>
        <name>var_CollFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Count_of_Files</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_FileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JobData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>var_JobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Loop_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
