unpackaged/main/default/flows/Cases_Created_or_Edited.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Received_Confirmation_Email_TO_Contact_Email_Email_is_blank</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send Email to ContactEmail</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_Received_Confirmation_Email_TO_Contact_Email_Email_is_blank</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Received_Confirmation_Email_TO_Email_Contact_Email_AND_Email_NOT_blank</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send Email to Email__c</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_Received_Confirmation_Email_TO_Email_Contact_Email_AND_Email_NOT_blank</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Received_Confirmation_Email_TO_Email_Contact_Email_IS_Blank_AND_Email_NOT_b</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Send Email to Email</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_Received_Confirmation_Email_TO_Email_Contact_Email_IS_Blank_AND_Email_NOT_b</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>ISNEW() AND ContactEmail Not Blank AND Email Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>ISNEW() AND ContactEmail NOT Blank AND Email NOT Blank</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>ISNEW() AND ContactEmail IS Blank AND Email NOT Blank</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
ISNEW()=TRUE,
ISBLANK([Case].ContactEmail)=FALSE,
ISBLANK([Case].Email__c)=TRUE,


OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c 
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
ISNEW()=TRUE,
ISBLANK({!myVariable_current.ContactEmail})=FALSE,
ISBLANK({!myVariable_current.Email__c})=TRUE,


OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c} 
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
ISNEW()=TRUE,
ISBLANK([Case].ContactEmail)=FALSE,
ISBLANK([Case].Email__c)=FALSE,


OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c 
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
ISNEW()=TRUE,
ISBLANK({!myVariable_current.ContactEmail})=FALSE,
ISBLANK({!myVariable_current.Email__c})=FALSE,


OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c} 
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
ISNEW()=TRUE,
ISBLANK([Case].ContactEmail)=TRUE,
ISBLANK([Case].Email__c)=FALSE,


OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c 
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
ISNEW()=TRUE,
ISBLANK({!myVariable_current.ContactEmail})=TRUE,
ISBLANK({!myVariable_current.Email__c})=FALSE,


OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c} 
)

)</expression>
    </formulas>
    <interviewLabel>Cases_Created_or_Edited-3_InterviewLabel</interviewLabel>
    <label>PHASE 2 Cases - Created or Edited</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
