unpackaged/main/default/flows/Customer_Invoice_Created_OR_Edited.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>PHASE 2 Take Payment (auto)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A2</name>
        <label>take payment</label>
        <locationX>1100</locationX>
        <locationY>300</locationY>
        <actionName>PHASE_2_Take_Payment_auto</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myRule_11_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>var_invoice_id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>var_invoice_id</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Cancellation_Invoice_to_Customer</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A3</name>
        <label>email invoice</label>
        <locationX>1100</locationX>
        <locationY>400</locationY>
        <actionName>Customer_Invoice__c.Cancellation_Invoice_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision12</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>PHASE 2 Update Service Appointment Gantt Colour when Cust Invoice paid</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Call Flow to update SAs and WOs</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>PHASE_2_Update_Service_Appointment_Gantt_Colour_when_Cust_Invoice_paid</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision16</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>var_CustInvID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>var_CustInvID</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Deposit_Invoice_to_Customer</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>send deposit invoice</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Customer_Invoice__c.Deposit_Invoice_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_17_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>PHASE 2 FL - Deposit Cust Inv Bal Outstanding Zero Update Job and Ass WOs</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Call Flow to update Job and WOs</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>PHASE_2_FL_Deposit_Cust_Inv_Bal_Outstanding_Zero_Update_Job_and_Ass_WOs</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>var_CustomerInvID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>var_CustomerInvID</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Customer_Payment_Confirmation_BACS_CASH_CHECK</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A4</name>
        <label>Bacs payment confirmation</label>
        <locationX>100</locationX>
        <locationY>500</locationY>
        <actionName>Customer_Invoice__c.Customer_Payment_Confirmation_BACS_CASH_CHECK</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Outstanding_Payment_Request_CI</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send Email</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Customer_Invoice__c.Outstanding_Payment_Request_CI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Outstanding_Payment_Request_Credit_Account</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Send Payment Req Email</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Customer_Invoice__c.Outstanding_Payment_Request_Credit_Account</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Invoice_to_Customer_FIXED_PRICE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A2</name>
        <label>Send Invoice (FIXED PRICE)</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <actionName>Customer_Invoice__c.Invoice_to_Customer_FIXED_PRICE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Invoice_to_Customer</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Send Invoice (REACTIVE)</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Customer_Invoice__c.Invoice_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_9_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Deposit Paid Update Job and Ass WOs</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Cancellation Invoice NOT Sent</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_pmetdec</targetReference>
            </connector>
            <label>Record Type=Invoice and Balance Outstanding=0</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_pmetdec</targetReference>
            </connector>
            <label>Cash Cust Paid inv</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Credit Acc FPA Approved Client Send Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Outstanding (Cash)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Outstanding (Credit)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>Invoice NOT sent FIXED PRICE</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_pmetdec</targetReference>
            </connector>
            <label>Invoice NOT sent REACTIVE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_13_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_13_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_13_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision14</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_15_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_15_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_15_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision16</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision2</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision4</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision6</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision8</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_9_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_9_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_9_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision10</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Update Process for Cash - Reactive customer, to receive invoice email - BV</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(

OR([Customer_Invoice__c].Record_Type_Name__c=&#39;Deposit&#39;,
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;),
[Customer_Invoice__c].Balance_Outstanding__c=0,
[Customer_Invoice__c].Invoice_Generation_Complete__c=TRUE, 
ISPICKVAL([Customer_Invoice__c].Account__r.Account_Type__c, &quot;Cash&quot;) ,

OR([Customer_Invoice__c].Account__r.RecordType.Name=&#39;Domestic&#39;,
[Customer_Invoice__c].Account__r.RecordType.Name=&#39;Commercial&#39;,
[Customer_Invoice__c].Account__r.RecordType.Name=&#39;Utilities&#39; ),


OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c 
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND
(

OR({!myVariable_current.Record_Type_Name__c}=&#39;Deposit&#39;,
{!myVariable_current.Record_Type_Name__c}=&#39;Invoice&#39;),
{!myVariable_current.Balance_Outstanding__c}=0,
{!myVariable_current.Invoice_Generation_Complete__c}=TRUE, 
ISPICKVAL({!myVariable_current.Account__r.Account_Type__c}, &quot;Cash&quot;) ,

OR({!myVariable_current.Account__r.RecordType.Name}=&#39;Domestic&#39;,
{!myVariable_current.Account__r.RecordType.Name}=&#39;Commercial&#39;,
{!myVariable_current.Account__r.RecordType.Name}=&#39;Utilities&#39; ),


OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c} 
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
[Customer_Invoice__c].Email_Invoice_Sent__c=FALSE,
[Customer_Invoice__c].Record_Type_Name__c=&#39;Cancellation_Invoice&#39;,
[Customer_Invoice__c].Ready_to_Send__c=TRUE,


OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c ,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
{!myVariable_current.Email_Invoice_Sent__c}=FALSE,
{!myVariable_current.Record_Type_Name__c}=&#39;Cancellation_Invoice&#39;,
{!myVariable_current.Ready_to_Send__c}=TRUE,


OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c} ,
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c}
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;,
[Customer_Invoice__c].Balance_Outstanding__c=0,
ISBLANK([Customer_Invoice__c].Job__c )=FALSE,
[Customer_Invoice__c].Invoice_Generation_Complete__c=TRUE,

OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c ,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
{!myVariable_current.Record_Type_Name__c}=&#39;Invoice&#39;,
{!myVariable_current.Balance_Outstanding__c}=0,
ISBLANK({!myVariable_current.Job__c} )=FALSE,
{!myVariable_current.Invoice_Generation_Complete__c}=TRUE,

OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c} ,
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c}
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;,
[Customer_Invoice__c].Balance_Outstanding__c=0,
ISBLANK([Customer_Invoice__c].Job__c )=FALSE,
[Customer_Invoice__c].Invoice_Generation_Complete__c=TRUE,

OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c ,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
{!myVariable_old.Record_Type_Name__c}=&#39;Invoice&#39;,
{!myVariable_old.Balance_Outstanding__c}=0,
ISBLANK({!myVariable_old.Job__c} )=FALSE,
{!myVariable_old.Invoice_Generation_Complete__c}=TRUE,

OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c} ,
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c}
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;,
[Customer_Invoice__c].Balance_Outstanding__c=0,
ISBLANK([Customer_Invoice__c].Job__c )=FALSE,
[Customer_Invoice__c].Invoice_Generation_Complete__c=TRUE,
TEXT([Customer_Invoice__c].Account__r.Account_Type__c)=&#39;Cash&#39;, 

OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c ,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
{!myVariable_current.Record_Type_Name__c}=&#39;Invoice&#39;,
{!myVariable_current.Balance_Outstanding__c}=0,
ISBLANK({!myVariable_current.Job__c} )=FALSE,
{!myVariable_current.Invoice_Generation_Complete__c}=TRUE,
TEXT({!myVariable_current.Account__r.Account_Type__c})=&#39;Cash&#39;, 

OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c} ,
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c}
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;,
[Customer_Invoice__c].Balance_Outstanding__c=0,
ISBLANK([Customer_Invoice__c].Job__c )=FALSE,
[Customer_Invoice__c].Invoice_Generation_Complete__c=TRUE,
TEXT([Customer_Invoice__c].Account__r.Account_Type__c)=&#39;Cash&#39;, 

OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c ,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
{!myVariable_old.Record_Type_Name__c}=&#39;Invoice&#39;,
{!myVariable_old.Balance_Outstanding__c}=0,
ISBLANK({!myVariable_old.Job__c} )=FALSE,
{!myVariable_old.Invoice_Generation_Complete__c}=TRUE,
TEXT({!myVariable_old.Account__r.Account_Type__c})=&#39;Cash&#39;, 

OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c} ,
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c}
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
[Customer_Invoice__c].Record_Type_Name__c=&#39;Deposit&#39;,
[Customer_Invoice__c].Balance_Outstanding__c!=0,
[Customer_Invoice__c].Invoice_Generation_Complete__c=TRUE, 
[Customer_Invoice__c].Credit_Deposit_Email__c=TRUE,
ISPICKVAL([Customer_Invoice__c].Account__r.Account_Type__c, &quot;Credit&quot;) ,
ISPICKVAL([Customer_Invoice__c].Job__r.Status__c, &quot;Approved by Client&quot;)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
{!myVariable_current.Record_Type_Name__c}=&#39;Deposit&#39;,
{!myVariable_current.Balance_Outstanding__c}!=0,
{!myVariable_current.Invoice_Generation_Complete__c}=TRUE, 
{!myVariable_current.Credit_Deposit_Email__c}=TRUE,
ISPICKVAL({!myVariable_current.Account__r.Account_Type__c}, &quot;Credit&quot;) ,
ISPICKVAL({!myVariable_current.Job__r.Status__c}, &quot;Approved by Client&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(

OR([Customer_Invoice__c].Record_Type_Name__c=&#39;Deposit&#39;,
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;),
[Customer_Invoice__c].Balance_Outstanding__c=0,
[Customer_Invoice__c].Invoice_Generation_Complete__c=TRUE, 
ISPICKVAL([Customer_Invoice__c].Account__r.Account_Type__c, &quot;Cash&quot;) ,

OR([Customer_Invoice__c].Account__r.RecordType.Name=&#39;Domestic&#39;,
[Customer_Invoice__c].Account__r.RecordType.Name=&#39;Commercial&#39;,
[Customer_Invoice__c].Account__r.RecordType.Name=&#39;Utilities&#39; ),


OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c 
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND
(

OR({!myVariable_old.Record_Type_Name__c}=&#39;Deposit&#39;,
{!myVariable_old.Record_Type_Name__c}=&#39;Invoice&#39;),
{!myVariable_old.Balance_Outstanding__c}=0,
{!myVariable_old.Invoice_Generation_Complete__c}=TRUE, 
ISPICKVAL({!myVariable_old.Account__r.Account_Type__c}, &quot;Cash&quot;) ,

OR({!myVariable_old.Account__r.RecordType.Name}=&#39;Domestic&#39;,
{!myVariable_old.Account__r.RecordType.Name}=&#39;Commercial&#39;,
{!myVariable_old.Account__r.RecordType.Name}=&#39;Utilities&#39; ),


OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c} 
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
TEXT([Customer_Invoice__c].Account__r.Account_Type__c)=&#39;Cash&#39;,
TEXT([Customer_Invoice__c].Status__c)=&#39;Outstanding&#39;,
[Customer_Invoice__c].Email_Outstanding_Sent__c=FALSE,
[Customer_Invoice__c].Ready_to_Send__c=TRUE,
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;, 
OR(TEXT([Customer_Invoice__c].Payment_Method__c)=&#39;Credit Card&#39;,TEXT([Customer_Invoice__c].Payment_Method__c)=&#39;Alternative Credit Card&#39;),
[Customer_Invoice__c].Account__r.Comms_Control_Receipt_of_pay__c =TRUE,

OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c 
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
TEXT({!myVariable_current.Account__r.Account_Type__c})=&#39;Cash&#39;,
TEXT({!myVariable_current.Status__c})=&#39;Outstanding&#39;,
{!myVariable_current.Email_Outstanding_Sent__c}=FALSE,
{!myVariable_current.Ready_to_Send__c}=TRUE,
{!myVariable_current.Record_Type_Name__c}=&#39;Invoice&#39;, 
OR(TEXT({!myVariable_current.Payment_Method__c})=&#39;Credit Card&#39;,TEXT({!myVariable_current.Payment_Method__c})=&#39;Alternative Credit Card&#39;),
{!myVariable_current.Account__r.Comms_Control_Receipt_of_pay__c} =TRUE,

OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c} 
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
TEXT([Customer_Invoice__c].Account__r.Account_Type__c)=&#39;Cash&#39;,
TEXT([Customer_Invoice__c].Status__c)=&#39;Outstanding&#39;,
[Customer_Invoice__c].Email_Outstanding_Sent__c=FALSE,
[Customer_Invoice__c].Ready_to_Send__c=TRUE,
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;, 
OR(TEXT([Customer_Invoice__c].Payment_Method__c)=&#39;Credit Card&#39;,TEXT([Customer_Invoice__c].Payment_Method__c)=&#39;Alternative Credit Card&#39;),
[Customer_Invoice__c].Account__r.Comms_Control_Receipt_of_pay__c =TRUE,

OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c 
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
TEXT({!myVariable_old.Account__r.Account_Type__c})=&#39;Cash&#39;,
TEXT({!myVariable_old.Status__c})=&#39;Outstanding&#39;,
{!myVariable_old.Email_Outstanding_Sent__c}=FALSE,
{!myVariable_old.Ready_to_Send__c}=TRUE,
{!myVariable_old.Record_Type_Name__c}=&#39;Invoice&#39;, 
OR(TEXT({!myVariable_old.Payment_Method__c})=&#39;Credit Card&#39;,TEXT({!myVariable_old.Payment_Method__c})=&#39;Alternative Credit Card&#39;),
{!myVariable_old.Account__r.Comms_Control_Receipt_of_pay__c} =TRUE,

OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c} 
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
TEXT([Customer_Invoice__c].Account__r.Account_Type__c)=&#39;Credit&#39;,
TEXT([Customer_Invoice__c].Status__c)=&#39;Outstanding&#39;,
[Customer_Invoice__c].Email_Outstanding_Sent__c=FALSE,
[Customer_Invoice__c].Ready_to_Send__c=TRUE,
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;, 
ISBLANK(TEXT([Customer_Invoice__c].Payment_Method__c))=TRUE,
[Customer_Invoice__c].Account__r.Comms_Control_Receipt_of_pay__c =TRUE,

OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c 
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
TEXT({!myVariable_current.Account__r.Account_Type__c})=&#39;Credit&#39;,
TEXT({!myVariable_current.Status__c})=&#39;Outstanding&#39;,
{!myVariable_current.Email_Outstanding_Sent__c}=FALSE,
{!myVariable_current.Ready_to_Send__c}=TRUE,
{!myVariable_current.Record_Type_Name__c}=&#39;Invoice&#39;, 
ISBLANK(TEXT({!myVariable_current.Payment_Method__c}))=TRUE,
{!myVariable_current.Account__r.Comms_Control_Receipt_of_pay__c} =TRUE,

OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c} 
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
TEXT([Customer_Invoice__c].Account__r.Account_Type__c)=&#39;Credit&#39;,
TEXT([Customer_Invoice__c].Status__c)=&#39;Outstanding&#39;,
[Customer_Invoice__c].Email_Outstanding_Sent__c=FALSE,
[Customer_Invoice__c].Ready_to_Send__c=TRUE,
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;, 
ISBLANK(TEXT([Customer_Invoice__c].Payment_Method__c))=TRUE,
[Customer_Invoice__c].Account__r.Comms_Control_Receipt_of_pay__c =TRUE,

OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c 
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
TEXT({!myVariable_old.Account__r.Account_Type__c})=&#39;Credit&#39;,
TEXT({!myVariable_old.Status__c})=&#39;Outstanding&#39;,
{!myVariable_old.Email_Outstanding_Sent__c}=FALSE,
{!myVariable_old.Ready_to_Send__c}=TRUE,
{!myVariable_old.Record_Type_Name__c}=&#39;Invoice&#39;, 
ISBLANK(TEXT({!myVariable_old.Payment_Method__c}))=TRUE,
{!myVariable_old.Account__r.Comms_Control_Receipt_of_pay__c} =TRUE,

OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c} 
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
[Customer_Invoice__c].Email_Invoice_Sent__c=FALSE,
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;,
[Customer_Invoice__c].Ready_to_Send__c=TRUE,
[Customer_Invoice__c].Fixed_Price_Invoice__c=TRUE, 
[Customer_Invoice__c].Account__r.Comms_Control_Invoice_Job_complete__c =TRUE,
OR(
ISPICKVAL([Customer_Invoice__c].Account__r.Account_Type__c, &quot;Credit&quot;),
ISPICKVAL([Customer_Invoice__c].Account__r.Account_Type__c, &quot;Cash&quot;)
) ,



OR([Customer_Invoice__c].Account__r.RecordType.Name=&#39;Domestic&#39;,
[Customer_Invoice__c].Account__r.RecordType.Name=&#39;Commercial&#39; ),



OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c 
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
{!myVariable_current.Email_Invoice_Sent__c}=FALSE,
{!myVariable_current.Record_Type_Name__c}=&#39;Invoice&#39;,
{!myVariable_current.Ready_to_Send__c}=TRUE,
{!myVariable_current.Fixed_Price_Invoice__c}=TRUE, 
{!myVariable_current.Account__r.Comms_Control_Invoice_Job_complete__c} =TRUE,
OR(
ISPICKVAL({!myVariable_current.Account__r.Account_Type__c}, &quot;Credit&quot;),
ISPICKVAL({!myVariable_current.Account__r.Account_Type__c}, &quot;Cash&quot;)
) ,



OR({!myVariable_current.Account__r.RecordType.Name}=&#39;Domestic&#39;,
{!myVariable_current.Account__r.RecordType.Name}=&#39;Commercial&#39; ),



OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c} 
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
[Customer_Invoice__c].Email_Invoice_Sent__c=FALSE,
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;,
[Customer_Invoice__c].Ready_to_Send__c=TRUE,
[Customer_Invoice__c].Fixed_Price_Invoice__c=TRUE, 
[Customer_Invoice__c].Account__r.Comms_Control_Invoice_Job_complete__c =TRUE,
OR(
ISPICKVAL([Customer_Invoice__c].Account__r.Account_Type__c, &quot;Credit&quot;),
ISPICKVAL([Customer_Invoice__c].Account__r.Account_Type__c, &quot;Cash&quot;)
) ,



OR([Customer_Invoice__c].Account__r.RecordType.Name=&#39;Domestic&#39;,
[Customer_Invoice__c].Account__r.RecordType.Name=&#39;Commercial&#39; ),



OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c 
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
{!myVariable_old.Email_Invoice_Sent__c}=FALSE,
{!myVariable_old.Record_Type_Name__c}=&#39;Invoice&#39;,
{!myVariable_old.Ready_to_Send__c}=TRUE,
{!myVariable_old.Fixed_Price_Invoice__c}=TRUE, 
{!myVariable_old.Account__r.Comms_Control_Invoice_Job_complete__c} =TRUE,
OR(
ISPICKVAL({!myVariable_old.Account__r.Account_Type__c}, &quot;Credit&quot;),
ISPICKVAL({!myVariable_old.Account__r.Account_Type__c}, &quot;Cash&quot;)
) ,



OR({!myVariable_old.Account__r.RecordType.Name}=&#39;Domestic&#39;,
{!myVariable_old.Account__r.RecordType.Name}=&#39;Commercial&#39; ),



OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c} 
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
[Customer_Invoice__c].Email_Invoice_Sent__c=FALSE,
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;,
[Customer_Invoice__c].Ready_to_Send__c=TRUE,
[Customer_Invoice__c].Fixed_Price_Invoice__c=FALSE, 
[Customer_Invoice__c].Account__r.Comms_Control_Invoice_Job_complete__c =TRUE,
OR(
ISPICKVAL([Customer_Invoice__c].Account__r.Account_Type__c, &quot;Credit&quot;),
ISPICKVAL([Customer_Invoice__c].Account__r.Account_Type__c, &quot;Cash&quot;)
) ,

OR([Customer_Invoice__c].Account__r.RecordType.Name=&#39;Domestic&#39;,
[Customer_Invoice__c].Account__r.RecordType.Name=&#39;Commercial&#39; ),

OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c ,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
{!myVariable_current.Email_Invoice_Sent__c}=FALSE,
{!myVariable_current.Record_Type_Name__c}=&#39;Invoice&#39;,
{!myVariable_current.Ready_to_Send__c}=TRUE,
{!myVariable_current.Fixed_Price_Invoice__c}=FALSE, 
{!myVariable_current.Account__r.Comms_Control_Invoice_Job_complete__c} =TRUE,
OR(
ISPICKVAL({!myVariable_current.Account__r.Account_Type__c}, &quot;Credit&quot;),
ISPICKVAL({!myVariable_current.Account__r.Account_Type__c}, &quot;Cash&quot;)
) ,

OR({!myVariable_current.Account__r.RecordType.Name}=&#39;Domestic&#39;,
{!myVariable_current.Account__r.RecordType.Name}=&#39;Commercial&#39; ),

OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c} ,
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c}
)

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
[Customer_Invoice__c].Email_Invoice_Sent__c=FALSE,
[Customer_Invoice__c].Record_Type_Name__c=&#39;Invoice&#39;,
[Customer_Invoice__c].Ready_to_Send__c=TRUE,
[Customer_Invoice__c].Fixed_Price_Invoice__c=FALSE, 
[Customer_Invoice__c].Account__r.Comms_Control_Invoice_Job_complete__c =TRUE,
OR(
ISPICKVAL([Customer_Invoice__c].Account__r.Account_Type__c, &quot;Credit&quot;),
ISPICKVAL([Customer_Invoice__c].Account__r.Account_Type__c, &quot;Cash&quot;)
) ,

OR([Customer_Invoice__c].Account__r.RecordType.Name=&#39;Domestic&#39;,
[Customer_Invoice__c].Account__r.RecordType.Name=&#39;Commercial&#39; ),

OR
(
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c ,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c,
$Profile.Id=$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c
)

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
{!myVariable_old.Email_Invoice_Sent__c}=FALSE,
{!myVariable_old.Record_Type_Name__c}=&#39;Invoice&#39;,
{!myVariable_old.Ready_to_Send__c}=TRUE,
{!myVariable_old.Fixed_Price_Invoice__c}=FALSE, 
{!myVariable_old.Account__r.Comms_Control_Invoice_Job_complete__c} =TRUE,
OR(
ISPICKVAL({!myVariable_old.Account__r.Account_Type__c}, &quot;Credit&quot;),
ISPICKVAL({!myVariable_old.Account__r.Account_Type__c}, &quot;Cash&quot;)
) ,

OR({!myVariable_old.Account__r.RecordType.Name}=&#39;Domestic&#39;,
{!myVariable_old.Account__r.RecordType.Name}=&#39;Commercial&#39; ),

OR
(
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Booking_Team_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.System_Administrator.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.Engineer_Partner_Community.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Credit_Control_Manager.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Human_Resources.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Wrap_Team.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Integration_Profile.X15_Char_Profile_ID__c} ,
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Operations_Director.X15_Char_Profile_ID__c},
{!$Profile.Id}={!$CustomMetadata.PHASE_2_Profile_IDs__mdt.PHASE_2_Field_Support.X15_Char_Profile_ID__c}
)

)</expression>
    </formulas>
    <interviewLabel>Customer_Invoice_Created_OR_Edited-6_InterviewLabel</interviewLabel>
    <label>PHASE 2 Customer Invoice Created OR Edited</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Customer_Invoice__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Customer_Invoice__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>mark as sent</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_11_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Email Invoice Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Email_Invoice_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Customer_Invoice__c].Job</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Set Job Status to Closed</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Job Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Customer_Invoice__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A2</name>
        <label>Update CI status to Paid</label>
        <locationX>1300</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision14</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Customer_Invoice__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_17_A2</name>
        <label>mark as sent</label>
        <locationX>1700</locationX>
        <locationY>300</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Email Invoice Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Email_Invoice_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Customer_Invoice__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>mark as sent</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Email Invoice Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Email_Invoice_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Customer_Invoice__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>status PAID</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myRule_1_A4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Customer_Invoice__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Mark as Sent</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Email Outstanding Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Email_Outstanding_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Customer_Invoice__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>Mark as Sent</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Email Outstanding Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Email_Outstanding_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Customer_Invoice__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Mark as Sent</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Email Invoice Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Email_Invoice_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Customer_Invoice__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A2</name>
        <label>Mark as Sent</label>
        <locationX>900</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Email Invoice Sent</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Email_Invoice_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
</Flow>
