unpackaged/main/default/flows/Customer_Onboarding_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Damian_New_onboarding_Email</name>
        <label>Damian New onboarding Email</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>Account.Client_Onboarding_Email_New</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Onboarding_Damian_New</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AccountData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Onboarding_Damian_Existing_Email</name>
        <label>Onboarding Damian Existing Email</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <actionName>Account.Client_Onboarding_Email_Existing</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Onboarding_Damian_Existing_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AccountData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>ChoiceDamianExisting</name>
        <choiceText>Damian Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Damian_Existing</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoiceDamianNew</name>
        <choiceText>Damian New</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Damian_New</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoiceExit</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit</stringValue>
        </value>
    </choices>
    <choices>
        <name>No2</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Null_Account_Email</name>
        <label>Check for Null Account Email</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_An_Account_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountData.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Address_confirmation_0</targetReference>
            </connector>
            <label>Got Account Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Onboarding</name>
        <label>Customer Onboarding</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit</label>
        </rules>
        <rules>
            <name>Damian_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceDamianNew</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Damian_New_onboarding_Email</targetReference>
            </connector>
            <label>Damian New</label>
        </rules>
        <rules>
            <name>Damian_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceDamianExisting</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarding_Damian_Existing_Email</targetReference>
            </connector>
            <label>Damian Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Confirmation</name>
        <label>Email Confirmation</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Data_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No2</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Email</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>Client onboarrding Email 4</description>
    <environments>Default</environments>
    <interviewLabel>Customer Onboarding Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phase 2 Customer Onboarding Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Data</name>
        <label>Get Account Data</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Null_Account_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Data_0</name>
        <label>Get Account Data</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Onboarding__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email</name>
        <label>Update Email</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_Account_Data_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>input_Email_12</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Email_Address_confirmation_0</name>
        <label>Email Address confirmation</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Emailtext1234_0</name>
            <fieldText>&lt;p&gt;Is this the correct Email Address {!AccountData.Email__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Emailconfirmation_button_0</name>
            <choiceReferences>Yes2</choiceReferences>
            <choiceReferences>No2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose an option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Email</name>
        <label>Input Email</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Email</targetReference>
        </connector>
        <fields>
            <name>input_Email_12</name>
            <dataType>String</dataType>
            <fieldText>Please Input the New Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Email</name>
        <label>No Email</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoEmail</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;This Account does not have a value for the field  &#39;Email&#39; - please add this before attempting to send an email.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Onboarding_Damian_Existing_0</name>
        <label>Onboarding Damian Existing</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finalDisplay2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;An Email has been sent to&amp;nbsp;{!AccountData.Email__c} For Damian Existing Client.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Onboarding_Damian_New</name>
        <label>Onboarding Damian New</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finalDisplay1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An Email has been sent to {!AccountData.Email__c} for Damian New Client.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Onboarding_selection</name>
        <label>Onboarding selection</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Customer_Onboarding</targetReference>
        </connector>
        <fields>
            <name>please_select_onboarding_Option</name>
            <choiceReferences>ChoiceDamianNew</choiceReferences>
            <choiceReferences>ChoiceDamianExisting</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>please select onboarding Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariableAccountdata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
