unpackaged/main/default/flows/FL_Assigned_Resource_record_created_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Canx_Email_to_Previous_Operative</name>
        <label>Send Canx Email to Previous Operative</label>
        <locationX>1374</locationX>
        <locationY>1452</locationY>
        <actionName>Off_site_agreement__c.Off_site_Agreement_Cancellation_Email_Alert_operative</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_OffSiteAgreementData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_new_Operative_Email</name>
        <label>Send new Operative Email</label>
        <locationX>1192</locationX>
        <locationY>1406</locationY>
        <actionName>Off_site_agreement__c.Off_site_Agreement_Scheduled_Email_Alert_operative</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Canx_Email_to_Previous_Operative</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_OffSiteAgreementData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Does_OSA_Exist</name>
        <label>Does OSA Exist?</label>
        <locationX>663</locationX>
        <locationY>404</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_OSA_AND_ISNEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_OffSiteAgreementData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SR_Data</targetReference>
            </connector>
            <label>Got OSA AND ISNEW</label>
        </rules>
        <rules>
            <name>No_OSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_OffSiteAgreementData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Assigned_Resource_record_or_not</targetReference>
            </connector>
            <label>No OSA</label>
        </rules>
        <rules>
            <name>Got_OSA_AND_NOT_ISNEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_OffSiteAgreementData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SR_Data_0</targetReference>
            </connector>
            <label>Got OSA AND NOT ISNEW</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Assigned_Resource_record_or_not</name>
        <label>New Assigned Resource record or not?</label>
        <locationX>959</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource_Data_New_Record</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
        <rules>
            <name>Not_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource_Data_Existing_Record</targetReference>
            </connector>
            <label>Not New Record</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>FL Assigned Resource record created v1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Assigned Resource record created v1 (System)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_for_Off_Site_Agreement_with_WO_ID</name>
        <label>Check for Off Site Agreement with WO ID</label>
        <locationX>504</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_OSA_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceAppointmentData.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>Off_site_agreement__c</object>
        <outputReference>var_OffSiteAgreementData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Allocated_Engineer__c</queriedFields>
        <queriedFields>Allocated_Engineer_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Ass_Resource_Data</name>
        <label>Get Ass Resource Data</label>
        <locationX>191</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceID</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>var_AssignedResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceAppointmentId</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Data</name>
        <label>Get SA Data</label>
        <locationX>346</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Off_Site_Agreement_with_WO_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_ServiceAppointmentData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Allocated_Engineer__c</queriedFields>
        <queriedFields>Allocated_Engineer_Email__c</queriedFields>
        <queriedFields>Previous_Allocated_Engineer__c</queriedFields>
        <queriedFields>Previous_Allocated_Engineer_Email__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Data_Existing_Record</name>
        <label>Get Service Resource Data (Existing Record)</label>
        <locationX>1252</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA_Existing_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_ServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Data_New_Record</name>
        <label>Get Service Resource Data (New Record)</label>
        <locationX>1212</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA_New_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_ServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SR_Data</name>
        <label>Get SR Data</label>
        <locationX>824</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_CurrentAllocatedEngServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SR_Data_0</name>
        <label>Get SR Data</label>
        <locationX>676</locationX>
        <locationY>962</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OSA_with_New_Engineer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_CurrentAllocatedEngServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_OSA</name>
        <label>Update OSA</label>
        <locationX>1071</locationX>
        <locationY>659</locationY>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OffSiteAgreementData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_CurrentAllocatedEngServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer__c</field>
            <value>
                <elementReference>var_CurrentAllocatedEngServiceResourceData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operative_Email_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_confirmed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
            <value>
                <elementReference>var_ServiceAppointmentData.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Off_site_agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OSA_with_New_Engineer</name>
        <label>Update OSA with New Engineer</label>
        <locationX>856</locationX>
        <locationY>1089</locationY>
        <connector>
            <targetReference>Update_SA_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OffSiteAgreementData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_CurrentAllocatedEngServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer__c</field>
            <value>
                <elementReference>var_CurrentAllocatedEngServiceResourceData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operative_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_OffSiteAgreementData.Allocated_Engineer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Allocated_Engineer__c</field>
            <value>
                <elementReference>var_OffSiteAgreementData.Allocated_Engineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
            <value>
                <elementReference>var_ServiceAppointmentData.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <object>Off_site_agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>1208</locationX>
        <locationY>683</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceAppointmentData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_CurrentAllocatedEngServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer__c</field>
            <value>
                <elementReference>var_CurrentAllocatedEngServiceResourceData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Formula_CurrentUserID</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_2</name>
        <label>Update SA (2)</label>
        <locationX>998</locationX>
        <locationY>1171</locationY>
        <connector>
            <targetReference>Call_FL_Assigned_Resource_record_created_STEP_2_v1_System_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceAppointmentData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_CurrentAllocatedEngServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer__c</field>
            <value>
                <elementReference>var_CurrentAllocatedEngServiceResourceData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Formula_CurrentUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceAppointmentData.Allocated_Engineer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Allocated_Engineer__c</field>
            <value>
                <elementReference>var_ServiceAppointmentData.Allocated_Engineer__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Existing_Record</name>
        <label>Update SA (Existing Record)</label>
        <locationX>1420</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Call_FL_Assigned_Resource_record_created_STEP_2_v1_System</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer__c</field>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceAppointmentData.Allocated_Engineer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Allocated_Engineer__c</field>
            <value>
                <elementReference>var_ServiceAppointmentData.Allocated_Engineer__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_New_Record</name>
        <label>Update SA (New Record)</label>
        <locationX>1401</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>Call_FL_Assigned_Resource_record_created_STEP_2_v1_System</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer__c</field>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Get_Ass_Resource_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_FL_Assigned_Resource_record_created_STEP_2_v1_System</name>
        <label>Call FL Assigned Resource record created STEP 2 v1 (System)</label>
        <locationX>1913</locationX>
        <locationY>220</locationY>
        <flowName>FL_Assigned_Resource_record_created_STEP_2_v1_System</flowName>
        <inputAssignments>
            <name>var_AssignedResourceData</name>
            <value>
                <elementReference>var_AssignedResourceData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ISNEW</name>
            <value>
                <elementReference>var_ISNEW</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_FL_Assigned_Resource_record_created_STEP_2_v1_System_2</name>
        <label>Call FL Assigned Resource record created STEP 2 v1 (System) (2)</label>
        <locationX>1158</locationX>
        <locationY>1231</locationY>
        <flowName>FL_Assigned_Resource_record_created_STEP_2_v1_System</flowName>
        <inputAssignments>
            <name>var_AssignedResourceData</name>
            <value>
                <elementReference>var_AssignedResourceData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ISNEW</name>
            <value>
                <elementReference>var_ISNEW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OffSiteAgreementData</name>
            <value>
                <elementReference>var_OffSiteAgreementData</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_AssignedResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>var_AssignedResourceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CurrentAllocatedEngServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_ISNEW</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_OffSiteAgreementData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Off_site_agreement__c</objectType>
    </variables>
    <variables>
        <name>var_ServiceAppointmentData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_ServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
</Flow>
