unpackaged/main/default/flows/FL_Amalgamate_WO_Scope_of_Works_and_enter_on_Job_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Ass_dotted_line</name>
        <label>Ass dotted line</label>
        <locationX>1175</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>var_Amalgamted_WO_Scope_Works</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateToBreakUpScopeofWork</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_WO_get_Amalgamated_Scope_of_Works</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Scope_of_W_to_text_var</name>
        <label>Ass Scope of W to text var</label>
        <locationX>1010</locationX>
        <locationY>27</locationY>
        <assignmentItems>
            <assignToReference>var_Amalgamted_WO_Scope_Works</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_WO_get_Amalgamated_Scope_of_Works.Scope_of_Works_Amended_by_Operative__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_space_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Scope_of_W_to_text_var_2</name>
        <label>Ass Scope of W to text var (2)</label>
        <locationX>1392</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>var_Amalgamted_WO_Scope_Works</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_WO_get_Amalgamated_Scope_of_Works.Scope_of_Works_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_space_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Scope_of_W_to_text_var_3</name>
        <label>Ass Scope of W to text var (3)</label>
        <locationX>1311</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>var_Amalgamted_WO_Scope_Works</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_WO_get_Amalgamated_Scope_of_Works.Scope_of_Works_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_dotted_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_space_1</name>
        <label>Ass space (1)</label>
        <locationX>1180</locationX>
        <locationY>107</locationY>
        <assignmentItems>
            <assignToReference>var_Amalgamted_WO_Scope_Works</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Const_Space</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Scope_of_W_to_text_var_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_space_2</name>
        <label>Ass space (2)</label>
        <locationX>1399</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>var_Amalgamted_WO_Scope_Works</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Const_Space</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Scope_of_W_to_text_var_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_name</name>
        <label>assign name</label>
        <locationX>752</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>var_Amalgamted_WO_Scope_Works</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_WO_get_Amalgamated_Scope_of_Works.Work_Type_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Amalgamted_WO_Scope_Works</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newlinetemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Scope_of_W_to_text_var</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Const_Space</name>
        <dataType>String</dataType>
        <value>
            <stringValue> </stringValue>
        </value>
    </constants>
    <interviewLabel>FL Amalgamate WO Scope of Works and enter on Job record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Amalgamate WO Scope of Works and enter on Job record</label>
    <loops>
        <name>Loop_Thru_WO_get_Amalgamated_Scope_of_Works</name>
        <label>Loop Thru WO get Amalgamated Scope of Works</label>
        <locationX>996</locationX>
        <locationY>374</locationY>
        <collectionReference>var_CollWorkOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Job_with_Amalgamted_Scope_of_Works</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ALL_WOs_for_Job_Scope_of_Works</name>
        <label>Get ALL WOs for Job (Scope of Works)</label>
        <locationX>779</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_WO_get_Amalgamated_Scope_of_Works</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Job__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_in_Estimate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_CollWorkOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Scope_of_Works_Amended_by_Operative__c</queriedFields>
        <queriedFields>Scope_of_Works_2__c</queriedFields>
        <queriedFields>Scope_of_Works_3__c</queriedFields>
        <queriedFields>Work_Type_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Data</name>
        <label>Get WO Data</label>
        <locationX>462</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ALL_WOs_for_Job_Scope_of_Works</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job__c</queriedFields>
        <queriedFields>Scope_of_Works_Amended_by_Operative__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_with_Amalgamted_Scope_of_Works</name>
        <label>Update Job with Amalgamted Scope of Works</label>
        <locationX>938</locationX>
        <locationY>776</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Combined_Scope_of_Works_for_All_WOs__c</field>
            <value>
                <elementReference>var_Amalgamted_WO_Scope_Works</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Get_WO_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>newlinetemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Const_Space}
{!Const_Space}</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplateToBreakUpScopeofWork</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Const_Space}
---------------------------------------------------------------------------------
{!Const_Space}</text>
    </textTemplates>
    <variables>
        <name>var_Amalgamted_WO_Scope_Works</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CollWorkOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_ServApptData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
