unpackaged/main/default/flows/FL_Complete_Required_fields_for_ONSA_from_Work_Order_System.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_Required_fields_are_completed</name>
        <label>Check if Required fields are completed</label>
        <locationX>657</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_fields_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ONSAData.Materials_supplied_by_Aspect_details_New__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ONSAData.Materials_supplied_by_operative_detailsN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ONSAData.Materials_collection_pt_name_address_New__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ONSAData.PO_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenFieldsCompleted</targetReference>
            </connector>
            <label>Required fields completed</label>
        </rules>
        <rules>
            <name>Any_Required_Fields_NOT_completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_ONSAData.Materials_supplied_by_Aspect_details_New__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ONSAData.Materials_supplied_by_operative_detailsN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ONSAData.Materials_collection_pt_name_address_New__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ONSAData.PO_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PleaseCompleteRequiredFields</targetReference>
            </connector>
            <label>Any Required Fields NOT completed</label>
        </rules>
    </decisions>
    <interviewLabel>FL Complete Required fields for ONSA from Work Order (System) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Complete Required fields for ONSA from Work Order (System)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ONSA_Data</name>
        <label>Get ONSA Data</label>
        <locationX>515</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Required_fields_are_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.On_site_agreement__c</elementReference>
            </value>
        </filters>
        <object>On_site_agreement__c</object>
        <outputReference>var_ONSAData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Materials_supplied_by_Aspect_details_New__c</queriedFields>
        <queriedFields>Materials_supplied_by_operative_detailsN__c</queriedFields>
        <queriedFields>Materials_collection_pt_name_address_New__c</queriedFields>
        <queriedFields>PO_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Data</name>
        <label>Get WO Data</label>
        <locationX>390</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ONSA_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>On_site_agreement__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_ONSA</name>
        <label>Update ONSA</label>
        <locationX>1274</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>ScreenRequiredFieldsCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ONSAData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Materials_collection_pt_name_address_New__c</field>
            <value>
                <elementReference>Materials_Collection_point_Name_and_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Materials_supplied_by_Aspect_details_New__c</field>
            <value>
                <elementReference>Materials_supplied_by_Aspect_details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Materials_supplied_by_operative_detailsN__c</field>
            <value>
                <elementReference>Materials_supplied_by_Operative_details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <object>On_site_agreement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>PleaseCompleteRequiredFields</name>
        <label>PleaseCompleteRequiredFields</label>
        <locationX>1117</locationX>
        <locationY>47</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_ONSA</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtPleaseComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;**Please complete the missing On Site Agreement fields below and Click Next, before creating a Service Appointment**&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Materials_supplied_by_Aspect_details</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_ONSAData.Materials_supplied_by_Aspect_details_New__c</elementReference>
            </defaultValue>
            <fieldText>Materials supplied by Aspect details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Materials_supplied_by_Operative_details</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_ONSAData.Materials_supplied_by_operative_detailsN__c</elementReference>
            </defaultValue>
            <fieldText>Materials supplied by Operative details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Materials_Collection_point_Name_and_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_ONSAData.Materials_collection_pt_name_address_New__c</elementReference>
            </defaultValue>
            <fieldText>Materials Collection point Name and  Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Purchase_Order_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_ONSAData.PO_Number__c</elementReference>
            </defaultValue>
            <fieldText>Purchase Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenFieldsCompleted</name>
        <label>ScreenFieldsCompleted</label>
        <locationX>659</locationX>
        <locationY>281</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtFieldsCompleted</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The required On Site Agreement fields have been completed - you can now raise a Service Appointment.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Click Finish to return to the Work Order.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenRequiredFieldsCompleted</name>
        <label>ScreenRequiredFieldsCompleted</label>
        <locationX>1439</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtRequiredFieldsCompleted</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Thank you, the required fields have now been completed, *&lt;i&gt;please click &#39;Finish&#39; and wait for the page to update - you will then see this box replaced by the widget to Create a Service Appointment.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Get_WO_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ONSAData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>On_site_agreement__c</objectType>
    </variables>
    <variables>
        <name>var_OSAData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Off_site_agreement__c</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
