unpackaged/main/default/flows/FL_Create_Work_Order_Step_1_using_Third_Picklist_System_NEXT_GEN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>getinvoiceNumber</name>
        <label>getinvoiceNumber</label>
        <locationX>475</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>InvoiceNamesVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getNameInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCustomerIvoiceRecordsLoop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceCreateNewAuthorisation</name>
        <choiceText>Create a new Authorisation/payment method record</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ChoiceDONTCreateNewAuthorisation_End</name>
        <choiceText>Don&#39;t create a new Authorisation/payment method and END</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Account_Balance</name>
        <label>Check Account Balance</label>
        <locationX>663</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Balance_is_Not_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Outstanding_Balance_Incl_VAT__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_AccountData.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Stop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCustomerInvoices</targetReference>
            </connector>
            <label>Balance is Not Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Status</name>
        <label>Check Account Status</label>
        <locationX>1062</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Step_2</targetReference>
            </connector>
            <label>Status is Open</label>
        </rules>
        <rules>
            <name>Status_is_Not_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Account_Status_is_Not_Open</targetReference>
            </connector>
            <label>Status is Not Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAccountStatus</name>
        <label>CheckAccountStatus</label>
        <locationX>367</locationX>
        <locationY>404</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkStatusisCLosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowMessage</targetReference>
            </connector>
            <label>checkStatusisCLosed</label>
        </rules>
        <rules>
            <name>CheckStatusisNotClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Balance</targetReference>
            </connector>
            <label>CheckStatusisNotClosed</label>
        </rules>
    </decisions>
    <description>Rate And Rate Card Restructure</description>
    <environments>Default</environments>
    <interviewLabel>FL Create Work Order Step 1 - using Third Picklist (System) NEXT GEN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Create Work Order Step 1 - using Third Picklist (System) NEXT GEN</label>
    <loops>
        <name>getCustomerIvoiceRecordsLoop</name>
        <label>getCustomerIvoiceRecordsLoop</label>
        <locationX>721</locationX>
        <locationY>57</locationY>
        <collectionReference>CustomerInvoiceRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getinvoiceNumber</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_Customer_has_an_Outstanding_Balance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Data</name>
        <label>Account Data</label>
        <locationX>213</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAccountStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteData.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_AccountData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Account_Status__c</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Account_Type__c</queriedFields>
        <queriedFields>Attendance_Fee__c</queriedFields>
        <queriedFields>Client_Alert__c</queriedFields>
        <queriedFields>Outstanding_Balance_Incl_VAT__c</queriedFields>
        <queriedFields>Rate_Card__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCustomerInvoices</name>
        <label>getCustomerInvoices</label>
        <locationX>626</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomerIvoiceRecordsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outstanding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Balance_Outstanding__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Customer_Invoice__c</object>
        <outputReference>CustomerInvoiceRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Site_Data</name>
        <label>Site Data</label>
        <locationX>464</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteID</elementReference>
            </value>
        </filters>
        <object>Site__c</object>
        <outputReference>var_SiteData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Site_Street__c</queriedFields>
        <queriedFields>Site_City__c</queriedFields>
        <queriedFields>Site_PostalCode__c</queriedFields>
        <queriedFields>Access_Details__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Region_Area_Code__c</queriedFields>
        <queriedFields>Region_Area__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_Account_Status_is_Not_Open</name>
        <label>Account Status is Not Open!</label>
        <locationX>1072</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayTxtAccount_Status_is_Not_Open_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(253, 3, 3);&quot;&gt;Cannot Proceed!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The Account {!var_AccountData.Name} is on &lt;b&gt;Stop/Hold&lt;/b&gt;, please contact Credit Control for Approval and to change the Account Status if required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Customer_has_an_Outstanding_Balance</name>
        <label>Customer has an Outstanding Balance!</label>
        <locationX>897</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayTxtOutstanding_Balance_Alert</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Warning!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!var_AccountData.Name} has an outstanding balance of: &lt;b&gt;{!var_AccountData.Outstanding_Balance_Incl_VAT__c}&lt;/b&gt;. &lt;b style=&quot;color: rgb(253, 5, 5);&quot;&gt;Please inform the Customer before proceeding with a new Work Order.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(24, 24, 24);&quot;&gt;Click &#39;Next&#39; when done to proceed&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Customer_has_an_Outstanding_Balance_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Customer_has_an_Outstanding_Balance_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplaySection</name>
            <fieldText>&lt;p&gt;There are pending invoices for this Account, Please check the following Invoices&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayInvoice</name>
            <fieldText>&lt;p&gt;{!InvoiceNamesVariable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowMessage</name>
        <label>ShowMessage</label>
        <locationX>205</locationX>
        <locationY>508</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClosedMessage</name>
            <fieldText>&lt;p&gt;We are no longer Serving this Client, Please Speak to Credit Control for further Information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>44</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>Site_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Step_2</name>
        <label>Call Step 2</label>
        <locationX>1347</locationX>
        <locationY>174</locationY>
        <flowName>FL_Create_Work_Order_Step_2_using_Third_Picklist_System_NEXT_GEN</flowName>
        <inputAssignments>
            <name>var_AccountData</name>
            <value>
                <elementReference>var_AccountData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SiteData</name>
            <value>
                <elementReference>var_SiteData</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>getNameInvoice</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!getCustomerIvoiceRecordsLoop.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CustomerInvoiceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
    <variables>
        <name>invoiceNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceNamesVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_SiteData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>var_SiteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
