unpackaged/main/default/flows/FL_Create_Work_Order_Step_2_using_Third_Picklist_System_NEXT_GEN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_1_to_WOs_Created_Count</name>
        <label>Add 1 to WOs Created Count</label>
        <locationX>3900</locationX>
        <locationY>7622</locationY>
        <assignmentItems>
            <assignToReference>var_Count_of_WOsCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_of_WOs_created_so_far_AND_Allocate_WO_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Account_Rate_Card</name>
        <label>Ass Account Rate Card</label>
        <locationX>3768</locationX>
        <locationY>7286</locationY>
        <assignmentItems>
            <assignToReference>var_RateCardID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Default_for_Estimate_Number</name>
        <label>Ass Default for Estimate Number</label>
        <locationX>1370</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Default_Estimate_Pay_Percentage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_an_Account_Call_Out_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Go_Ahead_No</name>
        <label>Ass Go Ahead No</label>
        <locationX>2822</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>var_Go_Ahead_Yes_No</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Time_Slot_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Go_Ahead_Yes</name>
        <label>Ass Go Ahead Yes</label>
        <locationX>2558</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>var_Go_Ahead_Yes_No</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Time_Slot_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Standard_Rate_Card</name>
        <label>Ass Standard Rate Card</label>
        <locationX>4032</locationX>
        <locationY>7286</locationY>
        <assignmentItems>
            <assignToReference>var_RateCardID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_1st_WO_var</name>
        <label>Ass to 1st WO var</label>
        <locationX>3152</locationX>
        <locationY>7862</locationY>
        <assignmentItems>
            <assignToReference>var_1stWorkOrderCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Type_Line_Items_Sub_Cats_to_Create_WO_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_2nd_WO_var</name>
        <label>Ass to 2nd WO var</label>
        <locationX>3416</locationX>
        <locationY>7862</locationY>
        <assignmentItems>
            <assignToReference>var_2ndWorkOrderCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Type_Line_Items_Sub_Cats_to_Create_WO_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_3rd_WO_var</name>
        <label>Ass to 3rd WO var</label>
        <locationX>3680</locationX>
        <locationY>7862</locationY>
        <assignmentItems>
            <assignToReference>var_3rdWorkOrderCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Type_Line_Items_Sub_Cats_to_Create_WO_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_4th_WO_var</name>
        <label>Ass to 4th WO var</label>
        <locationX>3944</locationX>
        <locationY>7862</locationY>
        <assignmentItems>
            <assignToReference>var_4thWorkOrderCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Type_Line_Items_Sub_Cats_to_Create_WO_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_5th_WO_var</name>
        <label>Ass to 5th WO var</label>
        <locationX>4208</locationX>
        <locationY>7862</locationY>
        <assignmentItems>
            <assignToReference>var_5thWorkOrderCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Type_Line_Items_Sub_Cats_to_Create_WO_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_var_PreferredDate</name>
        <label>Ass to var_PreferredDate</label>
        <locationX>2822</locationX>
        <locationY>4742</locationY>
        <assignmentItems>
            <assignToReference>var_PreferredDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DatePreferred_date_for_the_works_to_be_carried_out</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Ahead_Yes_No</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_ULEZ_Meta_to_var</name>
        <label>Ass ULEZ Meta to var</label>
        <locationX>2822</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_ULEZ_Charge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ULEZData.Charge_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_var_JobID_Empty_String_from_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_ULEZ_to_var</name>
        <label>Ass ULEZ to var</label>
        <locationX>2558</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>var_ULEZ_Charge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ULEZData.Charge_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTRCforTradeSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_ZERO_ULEZ_to_var</name>
        <label>Ass ZERO ULEZ to var</label>
        <locationX>2822</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>var_ULEZ_Charge</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTRCforTradeSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_1</name>
        <label>Assign Default Estimate Pay Tier 1</label>
        <locationX>50</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Pay_Tier_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_10</name>
        <label>Assign Default Estimate Pay Tier 10</label>
        <locationX>2426</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Pay_Tier_10__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_10_0</name>
        <label>Assign Default Estimate Pay Tier 10</label>
        <locationX>5330</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Pay_Tier_10__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_1_0</name>
        <label>Assign Default Estimate Pay Tier 1</label>
        <locationX>2954</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Pay_Tier_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_2</name>
        <label>Assign Default Estimate Pay Tier 2</label>
        <locationX>314</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Pay_Tier_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_2_0</name>
        <label>Assign Default Estimate Pay Tier 2</label>
        <locationX>3218</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Pay_Tier_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_3</name>
        <label>Assign Default Estimate Pay Tier 3</label>
        <locationX>578</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Pay_Tier_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_3_0</name>
        <label>Assign Default Estimate Pay Tier 3</label>
        <locationX>3482</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Pay_Tier_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_4</name>
        <label>Assign Default Estimate Pay Tier 4</label>
        <locationX>842</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Pay_Tier_4__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_4_0</name>
        <label>Assign Default Estimate Pay Tier 4</label>
        <locationX>3746</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Pay_Tier_4__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_5</name>
        <label>Assign Default Estimate Pay Tier 5</label>
        <locationX>1106</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Pay_Tier_5__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_5_0</name>
        <label>Assign Default Estimate Pay Tier 5</label>
        <locationX>4010</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Pay_Tier_5__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_6</name>
        <label>Assign Default Estimate Pay Tier 6</label>
        <locationX>1370</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Pay_Tier_6__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_6_0</name>
        <label>Assign Default Estimate Pay Tier 6</label>
        <locationX>4274</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Pay_Tier_6__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_7</name>
        <label>Assign Default Estimate Pay Tier 7</label>
        <locationX>1634</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Pay_Tier_7__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_7_0</name>
        <label>Assign Default Estimate Pay Tier 7</label>
        <locationX>4538</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Pay_Tier_7__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_8</name>
        <label>Assign Default Estimate Pay Tier 8</label>
        <locationX>1898</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Pay_Tier_8__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_8_0</name>
        <label>Assign Default Estimate Pay Tier 8</label>
        <locationX>4802</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Pay_Tier_8__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_9</name>
        <label>Assign Default Estimate Pay Tier 9</label>
        <locationX>2162</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Pay_Tier_9__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Estimate_Pay_Tier_9_0</name>
        <label>Assign Default Estimate Pay Tier 9</label>
        <locationX>5066</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Pay_Tier_9__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_for_Estimate_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_for_Estimate_Number</name>
        <label>Assign Default for Estimate Number</label>
        <locationX>4274</locationX>
        <locationY>3950</locationY>
        <assignmentItems>
            <assignToReference>var_Default_Estimate_Pay_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Default_Estimate_Pay_Percentage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_an_Account_Call_Out_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_is_Additional_Job</name>
        <label>Assign is Additional Job</label>
        <locationX>3768</locationX>
        <locationY>10058</locationY>
        <assignmentItems>
            <assignToReference>var_ExistingJobAddition</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Number_of_the_next_Work_Order_to_be_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_R1</name>
        <label>Assign R1</label>
        <locationX>1370</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>var_R1_NormalHours_Mon_Fri_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Charge_R1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_R2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_R1_0</name>
        <label>Assign R1</label>
        <locationX>4274</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>var_R1_NormalHours_Mon_Fri_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Charge_R1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_R2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_R2</name>
        <label>Assign R2</label>
        <locationX>1370</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>var_R2_5_to_8_Mon_Fri_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Charge_R2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_R3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_R2_0</name>
        <label>Assign R2</label>
        <locationX>4274</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>var_R2_5_to_8_Mon_Fri_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Charge_R2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_R3_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_R3</name>
        <label>Assign R3</label>
        <locationX>1370</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>var_R3_Mon_to_Sun_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTRCforTradeSelected.Charge_R3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_it_the_Default_for_Estimate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_R3_0</name>
        <label>Assign R3</label>
        <locationX>4274</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>var_R3_Mon_to_Sun_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Standard_TRC.Charge_R3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_it_the_Default_for_Estimate_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Existing_Job</name>
        <label>Assign to Existing Job</label>
        <locationX>2910</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>var_ExistingJobAddition</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_select_Trade_and_Group_and_SubCat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_WO_LI_Coll</name>
        <label>Assign to WO LI Coll</label>
        <locationX>4252</locationX>
        <locationY>9146</locationY>
        <assignmentItems>
            <assignToReference>CollWorkOrderLineItemS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SobjWorkOrderLineITEM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_WT_LIs_to_create_WO_LIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type_of_Work_React_or_FP_to_Var_from_Picklist</name>
        <label>Assign Type of Work (React or FP) to Var from Picklist</label>
        <locationX>3394</locationX>
        <locationY>5318</locationY>
        <assignmentItems>
            <assignToReference>var_Type_of_Work_Reactive_or_Fixed_Price_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_WO_Part_of_Existing_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WT_LI_to_WO_LI_First_Line_Item</name>
        <label>Assign WT LI to WO LI First Line Item</label>
        <locationX>3988</locationX>
        <locationY>8930</locationY>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_LoopVar_WorkTypeLineITEM.Work_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.Work_Type_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_LoopVar_WorkTypeLineITEM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkTypeData.EstimatedDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Bool_Is_First_WO_Line_Item</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_LoopVar_WorkTypeLineITEM.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.Line_Item_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_LoopVar_WorkTypeLineITEM.Order_to_be_Completed_in__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_WO_LI_Coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WT_LI_to_WO_LI_NOT_First_Line_Item</name>
        <label>Assign WT LI to WO LI NOT First Line Item</label>
        <locationX>4252</locationX>
        <locationY>8930</locationY>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_LoopVar_WorkTypeLineITEM.Work_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.Work_Type_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_LoopVar_WorkTypeLineITEM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_LoopVar_WorkTypeLineITEM.Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjWorkOrderLineITEM.Line_Item_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sobj_LoopVar_WorkTypeLineITEM.Order_to_be_Completed_in__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_WO_LI_Coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Band_1</name>
        <label>Band 1</label>
        <locationX>3482</locationX>
        <locationY>6374</locationY>
        <assignmentItems>
            <assignToReference>var_MarkUpBand1RatePercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Loop_Metadata_Banding.Markup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Diff_Bandings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Band_2</name>
        <label>Band 2</label>
        <locationX>3746</locationX>
        <locationY>6374</locationY>
        <assignmentItems>
            <assignToReference>var_MarkUpBand2RatePercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Loop_Metadata_Banding.Markup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MarkUpBand2Start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Loop_Metadata_Banding.From_Band__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MarkUpBand2End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Loop_Metadata_Banding.To_Band__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Diff_Bandings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Band_3</name>
        <label>Band 3</label>
        <locationX>4010</locationX>
        <locationY>6374</locationY>
        <assignmentItems>
            <assignToReference>var_MarkUpBand3RatePercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Loop_Metadata_Banding.Markup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Diff_Bandings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Coll_WO_LIs_and_Set_1st_LI_to_True</name>
        <label>Empty Coll WO LIs and Set 1st LI to True</label>
        <locationX>3900</locationX>
        <locationY>9482</locationY>
        <assignmentItems>
            <assignToReference>CollWorkOrderLineItemS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollEMPTYWorkOrderLineItemS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Bool_Is_First_WO_Line_Item</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_of_WOs_created_so_far_Decide_WOs_displayed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Call_Back_Ass_TRUE</name>
        <label>Is Call Back Ass TRUE</label>
        <locationX>2250</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>var_Bool_Is_This_WO_a_Call_Back</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Charge_ULEZ_Y_N</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>is_Project_Job</name>
        <label>is Project Job</label>
        <locationX>2690</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>var_is_job_Project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yes_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_a_Call_Back</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NOT_Call_Back_Ass_FALSE</name>
        <label>NOT Call Back Ass FALSE</label>
        <locationX>2888</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>var_Bool_Is_This_WO_a_Call_Back</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_a_Lead_Fee_Applicable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Project_Job</name>
        <label>Not Project Job</label>
        <locationX>2954</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>var_is_job_Project</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_a_Call_Back</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice10PercentOffLabour</name>
        <choiceText>10% off Labour</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice15PercentOffLabour</name>
        <choiceText>15% off Labour</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice20PercentOffLabour</name>
        <choiceText>20% off Labour</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice25PercentOffLabour</name>
        <choiceText>25% off Labour</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>25.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice5PercentOffLabour</name>
        <choiceText>5% off Labour</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Cust_Doesnt_Want_Booking</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Lead_Fee_IS_Applicable</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Lead_Fee_NOT_Applicable</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_NOT_Call_Back</name>
        <choiceText>Not Call Back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Call Back</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_RadButtonCreateNewWO</name>
        <choiceText>Create new Work Order for &lt;b&gt;&lt;u&gt;same&lt;/u&gt;&lt;/b&gt; Site and Job</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice_RadButtonDisplayWOs</name>
        <choiceText>Display Work Orders list for this Job to create a Service Appt. for</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice_Yes_Cust_Wants_Booking</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes_Is_Call_Back</name>
        <choiceText>Yes is a Call Back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes is a Call Back</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceAfternoon_12pm_to_5pm</name>
        <choiceText>12:00 - 17:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:00 - 17:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceDiscountNotSelectedZero</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Discount not selected&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceDontUseAsMainJobType</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceEvening_5pm_to_9pm</name>
        <choiceText>17:00 - 21:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>17:00 - 21:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceExit</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLate_night_9pm_to_7am</name>
        <choiceText>21:00 - 23:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>21:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLeadQualityGolden</name>
        <choiceText>Golden</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Golden</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLeadQualityGood</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLeadQualityNewOperative</name>
        <choiceText>New Operative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Operative</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLeadQualityStandard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMorning_8am_to_12pm</name>
        <choiceText>07:00 - 12:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>07:00 - 12:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceTimeSlotNotSelected</name>
        <choiceText>Time Slot Not Selected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Time Slot Not Selected</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceULEZ_NOT_Applicable</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYesULEZApplicable</name>
        <choiceText>Yes ({!var_ULEZ_Charge})</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ChoiceYesUseAsMainJobType</name>
        <choiceText>Yes - use this as the main Job Type</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes - use this as the main Job Type</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Project</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>X25Off</name>
        <choiceText>£25 Off</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>£25 Off</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Project</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Charge_ULEZ_Y_N</name>
        <label>Charge ULEZ Y/N</label>
        <locationX>2822</locationX>
        <locationY>2438</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Charge_ULEZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesULEZApplicable</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_ULEZ_to_var</targetReference>
            </connector>
            <label>Charge ULEZ</label>
        </rules>
        <rules>
            <name>NO_ULEZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceULEZ_NOT_Applicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_ZERO_ULEZ_to_var</targetReference>
            </connector>
            <label>NO ULEZ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_WorkTypeData_Null</name>
        <label>Check for WorkTypeData Null</label>
        <locationX>3394</locationX>
        <locationY>7046</locationY>
        <defaultConnector>
            <targetReference>checkvar_AccountRateCardData</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkTypeData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenWork_Type_Data_Not_Found</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_WOs_created_so_far_AND_Allocate_WO_ID</name>
        <label>Check Number of WOs created so far AND Allocate WO ID</label>
        <locationX>3900</locationX>
        <locationY>7742</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1st_WO_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_to_1st_WO_var</targetReference>
            </connector>
            <label>1st WO</label>
        </rules>
        <rules>
            <name>X2nd_WO_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_to_2nd_WO_var</targetReference>
            </connector>
            <label>2nd WO</label>
        </rules>
        <rules>
            <name>X3rd_WO_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_to_3rd_WO_var</targetReference>
            </connector>
            <label>3rd WO</label>
        </rules>
        <rules>
            <name>X4th_WO_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_to_4th_WO_var</targetReference>
            </connector>
            <label>4th WO</label>
        </rules>
        <rules>
            <name>X5th_WO_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_to_5th_WO_var</targetReference>
            </connector>
            <label>5th WO</label>
        </rules>
        <rules>
            <name>X6_or_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Type_Line_Items_Sub_Cats_to_Create_WO_Line_Items</targetReference>
            </connector>
            <label>6 or More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_WOs_created_so_far_Decide_WOs_displayed</name>
        <label>Check Number of WOs created so far - Decide WOs displayed</label>
        <locationX>3900</locationX>
        <locationY>9602</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1st_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNew_Work_Order_Link_1st</targetReference>
            </connector>
            <label>1st WO</label>
        </rules>
        <rules>
            <name>X2nd_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNew_Work_Order_Link_2nd</targetReference>
            </connector>
            <label>2nd WO</label>
        </rules>
        <rules>
            <name>X3rd_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Work_Order_Link_3rd</targetReference>
            </connector>
            <label>3rd WO</label>
        </rules>
        <rules>
            <name>X4th_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Work_Order_Link_4th</targetReference>
            </connector>
            <label>4th WO</label>
        </rules>
        <rules>
            <name>X5th_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Work_Order_Link_5th</targetReference>
            </connector>
            <label>5th WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_other_conditions_for_Lead_Fee</name>
        <label>Check other conditions for Lead Fee</label>
        <locationX>2646</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>Charge_ULEZ_Y_N</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_Meet</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Charge_Policy</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FOC Estimate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_This_a_Project</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Project</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_JobData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_JobData.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Fee_for_Trade</targetReference>
            </connector>
            <label>Condition Meet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Time_Slot_selected</name>
        <label>Check Time Slot selected</label>
        <locationX>2822</locationX>
        <locationY>5198</locationY>
        <defaultConnector>
            <targetReference>Assign_Type_of_Work_React_or_FP_to_Var_from_Picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_Slot_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceTimeSlotNotSelected</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenTime_Slot_Not_Selected</targetReference>
            </connector>
            <label>Time Slot Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkvar_AccountRateCardData</name>
        <label>checkvar_AccountRateCardData</label>
        <locationX>3900</locationX>
        <locationY>7166</locationY>
        <defaultConnector>
            <targetReference>Ass_Standard_Rate_Card</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasValueInTradeRateCard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_Rate_Card</targetReference>
            </connector>
            <label>hasValueInTradeRateCard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_WO_or_Display_List_or_End</name>
        <label>Create WO or Display List or End?</label>
        <locationX>3900</locationX>
        <locationY>9938</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_RadButtonCreateNewWO</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_is_Additional_Job</targetReference>
            </connector>
            <label>Create New WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_if_WO_1</name>
        <label>Decide if WO 1</label>
        <locationX>3900</locationX>
        <locationY>8198</locationY>
        <defaultConnector>
            <targetReference>Update_Job_Type_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Type</targetReference>
            </connector>
            <label>Is 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_Ahead_Yes_No</name>
        <label>Go Ahead Yes/No</label>
        <locationX>2822</locationX>
        <locationY>4862</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Go_Ahead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Yes_Cust_Wants_Booking</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Go_Ahead_Yes</targetReference>
            </connector>
            <label>Yes Go Ahead</label>
        </rules>
        <rules>
            <name>Dont_Go_Ahead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Cust_Doesnt_Want_Booking</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Go_Ahead_No</targetReference>
            </connector>
            <label>Dont Go Ahead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_Lead_Fee_Applicable</name>
        <label>Is a Lead Fee Applicable?</label>
        <locationX>2888</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Lead_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Lead_Fee_IS_Applicable</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_other_conditions_for_Lead_Fee</targetReference>
            </connector>
            <label>Got Lead Fee</label>
        </rules>
        <rules>
            <name>No_Lead_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Lead_Fee_NOT_Applicable</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Charge_ULEZ_Y_N</targetReference>
            </connector>
            <label>No Lead Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_the_Default_for_Estimate</name>
        <label>Is it the Default for Estimate?</label>
        <locationX>1370</locationX>
        <locationY>3374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Tier_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected.Default_For_Estimate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_1</targetReference>
            </connector>
            <label>If Tier 1</label>
        </rules>
        <rules>
            <name>If_Tier_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_2</targetReference>
            </connector>
            <label>If Tier 2</label>
        </rules>
        <rules>
            <name>If_Tier_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_3</targetReference>
            </connector>
            <label>If Tier 3</label>
        </rules>
        <rules>
            <name>If_Tier_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_4</targetReference>
            </connector>
            <label>If Tier 4</label>
        </rules>
        <rules>
            <name>If_Tier_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_5</targetReference>
            </connector>
            <label>If Tier 5</label>
        </rules>
        <rules>
            <name>If_Tier_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_6</targetReference>
            </connector>
            <label>If Tier 6</label>
        </rules>
        <rules>
            <name>If_Tier_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_7</targetReference>
            </connector>
            <label>If Tier 7</label>
        </rules>
        <rules>
            <name>If_Tier_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_8</targetReference>
            </connector>
            <label>If Tier 8</label>
        </rules>
        <rules>
            <name>If_Tier_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_9</targetReference>
            </connector>
            <label>If Tier 9</label>
        </rules>
        <rules>
            <name>If_Tier_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_10</targetReference>
            </connector>
            <label>If Tier 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_the_Default_for_Estimate_0</name>
        <label>Is it the Default for Estimate?</label>
        <locationX>4274</locationX>
        <locationY>3614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Tier_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Standard_TRC.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_1_0</targetReference>
            </connector>
            <label>If Tier 1</label>
        </rules>
        <rules>
            <name>If_Tier_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Standard_TRC.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_2_0</targetReference>
            </connector>
            <label>If Tier 2</label>
        </rules>
        <rules>
            <name>If_Tier_3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Standard_TRC.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_3_0</targetReference>
            </connector>
            <label>If Tier 3</label>
        </rules>
        <rules>
            <name>If_Tier_4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Standard_TRC.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_4_0</targetReference>
            </connector>
            <label>If Tier 4</label>
        </rules>
        <rules>
            <name>If_Tier_5_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Standard_TRC.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_5_0</targetReference>
            </connector>
            <label>If Tier 5</label>
        </rules>
        <rules>
            <name>If_Tier_6_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Standard_TRC.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_6_0</targetReference>
            </connector>
            <label>If Tier 6</label>
        </rules>
        <rules>
            <name>If_Tier_7_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Standard_TRC.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_7_0</targetReference>
            </connector>
            <label>If Tier 7</label>
        </rules>
        <rules>
            <name>If_Tier_8_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Standard_TRC.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_8_0</targetReference>
            </connector>
            <label>If Tier 8</label>
        </rules>
        <rules>
            <name>If_Tier_9_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Standard_TRC.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_9_0</targetReference>
            </connector>
            <label>If Tier 9</label>
        </rules>
        <rules>
            <name>If_Tier_10_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Standard_TRC.Default_For_Estimate__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Estimate_Pay_Tier_10_0</targetReference>
            </connector>
            <label>If Tier 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_the_First_Line_Item</name>
        <label>Is it the First Line Item?</label>
        <locationX>4252</locationX>
        <locationY>8810</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_first_LI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Is_First_WO_Line_Item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WT_LI_to_WO_LI_First_Line_Item</targetReference>
            </connector>
            <label>Yes - first LI</label>
        </rules>
        <rules>
            <name>No_NOT_first_LI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Is_First_WO_Line_Item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WT_LI_to_WO_LI_NOT_First_Line_Item</targetReference>
            </connector>
            <label>No - NOT first LI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_WO_Part_of_Existing_Job</name>
        <label>Is New WO Part of Existing Job?</label>
        <locationX>3394</locationX>
        <locationY>5438</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_JobID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Data</targetReference>
            </connector>
            <label>Existing Job</label>
        </rules>
        <rules>
            <name>New_Job</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_JobID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_JobID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Auth_Data</targetReference>
            </connector>
            <label>New Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_Account_Call_Out_Fee</name>
        <label>Is there an Account Call Out Fee?</label>
        <locationX>2822</locationX>
        <locationY>4166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Call_Out_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Attendance_Fee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type_Data_to_Display</targetReference>
            </connector>
            <label>Yes - Account Call Out Fee</label>
        </rules>
        <rules>
            <name>No_Account_Call_Out_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Attendance_Fee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region_Area_Call_Out_Fee</targetReference>
            </connector>
            <label>No Account Call Out Fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Call_Back</name>
        <label>Is this a Call Back?</label>
        <locationX>2822</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Call_Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Yes_Is_Call_Back</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Call_Back_Ass_TRUE</targetReference>
            </connector>
            <label>Is Call Back</label>
        </rules>
        <rules>
            <name>NOT_Call_Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_NOT_Call_Back</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NOT_Call_Back_Ass_FALSE</targetReference>
            </connector>
            <label>NOT Call Back</label>
        </rules>
    </decisions>
    <decisions>
        <description>Applies only for JOb Object</description>
        <name>is_this_Job_a_Project</name>
        <label>is this Job a Project?</label>
        <locationX>2822</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Not_Project_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Project_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_This_a_Project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Project</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Project_Job</targetReference>
            </connector>
            <label>Yes Project Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_var_JobID_Empty_String_from_Job</name>
        <label>Is var_JobID Empty String? + from Job?</label>
        <locationX>2822</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JobID_is_Empty_String_And_not_called_from_Job</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>var_JobID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Called_From_Job</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_JobID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_select_Trade_and_Group_and_SubCat</targetReference>
            </connector>
            <label>JobID is Empty String And not called from Job</label>
        </rules>
        <rules>
            <name>JobID_is_NOT_Empty_String_And_not_called_from_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Called_From_Job</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_to_Existing_Job</targetReference>
            </connector>
            <label>JobID is NOT Empty String And not called from Job</label>
        </rules>
        <rules>
            <name>JobID_is_not_null_and_is_called_from_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Called_From_Job</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Data</targetReference>
            </connector>
            <label>JobID is not null and is called from Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Job_Type_or_Not</name>
        <label>Update Job Type or Not?</label>
        <locationX>4098</locationX>
        <locationY>8318</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_WT_LIs_to_create_WO_LIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Job_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesUseAsMainJobType</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Job_Type</targetReference>
            </connector>
            <label>Yes Update Job Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>TRC - Trade Rate Card</description>
        <name>Was_TRC_Found</name>
        <label>Was TRC Found?</label>
        <locationX>2822</locationX>
        <locationY>2894</locationY>
        <defaultConnector>
            <targetReference>get_Standard_ARC_for_Trade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCforTradeSelected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_R1</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Band</name>
        <label>Which Band?</label>
        <locationX>3878</locationX>
        <locationY>6254</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Band_1_Markup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Loop_Metadata_Banding.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Band_0_100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Band_1</targetReference>
            </connector>
            <label>Band 1 Markup</label>
        </rules>
        <rules>
            <name>Band_2_Markup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Loop_Metadata_Banding.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Band_101_1000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Band_2</targetReference>
            </connector>
            <label>Band 2 Markup</label>
        </rules>
        <rules>
            <name>Band_3_Markup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Loop_Metadata_Banding.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Band_1001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Band_3</targetReference>
            </connector>
            <label>Band 3 Markup</label>
        </rules>
    </decisions>
    <description>Changes for Lead fee</description>
    <dynamicChoiceSets>
        <name>Picklistchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Booking_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistChoiceSetPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Priority</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecChoiceContactsForAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_ChargePolicyValue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Charge_Policy__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Form_Default_Estimate_Pay_Number</name>
        <dataType>Number</dataType>
        <expression>{!var_Default_Estimate_Pay_Number}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>previously:
IF({!var_AccountData.Attendance_Fee__c}&gt;0,{!var_AccountData.Attendance_Fee__c},IF({!Region_Area_Call_Out_Fee.Attendance_Fee__c}&gt;0,{!Region_Area_Call_Out_Fee.Attendance_Fee__c},0.00))</description>
        <name>Formula_Call_Out_Fee</name>
        <dataType>Currency</dataType>
        <expression>IF({!var_AccountData.Attendance_Fee__c}&gt;0,{!var_AccountData.Attendance_Fee__c},IF({!Region_Area_Call_Out_Fee.Attendance_Fee__c}&gt;0,{!Region_Area_Call_Out_Fee.Attendance_Fee__c},0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Count_of_WOsCreated_Add_1</name>
        <dataType>Number</dataType>
        <expression>{!var_Count_of_WOsCreated}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>IF(
VALUE(MID({!PicklistPreferred_arrival_time_slot},9,2))&lt;VALUE(LEFT({!PicklistPreferred_arrival_time_slot},2)),
(DATETIMEVALUE(TEXT({!DatePreferred_date_for_the_works_to_be_carried_out}+1)&amp; &quot; &quot; &amp; RIGHT({!PicklistPreferred_arrival_time_slot},5)&amp;&quot;:00&quot;)+ar_DaylightSavingValue}),
(DATETIMEVALUE(TEXT({!DatePreferred_date_for_the_works_to_be_carried_out})&amp; &quot; &quot; &amp; RIGHT({!PicklistPreferred_arrival_time_slot},5)&amp;&quot;:00&quot;)+ar_DaylightSavingValue})
)</description>
        <name>Formula_EndTime_of_TimeSlot</name>
        <dataType>DateTime</dataType>
        <expression>IF(
VALUE(MID({!PicklistPreferred_arrival_time_slot},9,2))&lt;VALUE(LEFT({!PicklistPreferred_arrival_time_slot},2)),
(DATETIMEVALUE(TEXT({!DatePreferred_date_for_the_works_to_be_carried_out}+1)&amp; &quot; &quot; &amp; RIGHT({!PicklistPreferred_arrival_time_slot},5)&amp;&quot;:00&quot;)+0),
(DATETIMEVALUE(TEXT({!DatePreferred_date_for_the_works_to_be_carried_out})&amp; &quot; &quot; &amp; RIGHT({!PicklistPreferred_arrival_time_slot},5)&amp;&quot;:00&quot;)+0)
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Extract_Flow_Error_Msg</name>
        <dataType>String</dataType>
        <expression>MID({!$Flow.FaultMessage},FIND(&quot;EXCEPTION: &quot;,{!$Flow.FaultMessage})+11,FIND(&quot; You can look up&quot;,{!$Flow.FaultMessage})-(FIND(&quot;EXCEPTION: &quot;,{!$Flow.FaultMessage})+11))</expression>
    </formulas>
    <formulas>
        <name>Formula_Hours_Between_TimeSlots</name>
        <dataType>Number</dataType>
        <expression>({!Formula_EndTime_of_TimeSlot}-{!FormulaPreferredDateTime})*24</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_Lead_Fee_Negative</name>
        <dataType>Currency</dataType>
        <expression>{!var_TradeRateData_Lead_Fee.Lead_Fee__c}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>test 1: {!FormulaPreferredDateTime}+({!var_WorkTypeData.EstimatedDuration}/24)

End time needs to be beginning of time slot + duration + hours between time slots, (e.g. 07:00-12:00 would be 5 hours)</description>
        <name>Formula_WO_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!FormulaPreferredDateTime}+({!var_WorkTypeData.EstimatedDuration}/24)+({!Formula_Hours_Between_TimeSlots}/24)</expression>
    </formulas>
    <formulas>
        <name>FormulaConvertSobjWorkOrderLineITEM_LineItemNumberToNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!SobjWorkOrderLineITEM.LineItemNumber})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>DATETIMEVALUE(TEXT({!DatePreferred_date_for_the_works_to_be_carried_out}) &amp; &quot; &quot; &amp; LEFT({!PicklistPreferred_arrival_time_slot},5)&amp;&quot;:00&quot; )-0.041666667</description>
        <name>FormulaPreferredDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!DatePreferred_date_for_the_works_to_be_carried_out}) &amp; &quot; &quot; &amp; LEFT({!PicklistPreferred_arrival_time_slot},5)&amp;&quot;:00&quot; )</expression>
    </formulas>
    <formulas>
        <name>FormulaRateType</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!var_AccountData.Account_Type__c})=&#39;Cash&#39;,&#39;Standard&#39;,IF(TEXT({!var_AccountData.Account_Type__c})=&#39;Credit&#39;,&#39;Credit&#39;,&#39;&#39;))</expression>
    </formulas>
    <formulas>
        <description>LEFT({!PicklistPreferred_arrival_time_slot},5) &amp; &quot;:00.000Z&quot;
--------------------------------------------------------------------------------------
DATETIMEVALUE(TEXT({!DatePreferred_date_for_the_works_to_be_carried_out}) &amp; &quot; &quot; &amp;
LEFT({!PicklistPreferred_arrival_time_slot},5) &amp; &quot;:00&quot;)-ar_DaylightSavingValue}

--------------------------------------

DATETIMEVALUE(TEXT({!DatePreferred_date_for_the_works_to_be_carried_out})&amp; &quot; &quot; &amp; LEFT({!PicklistPreferred_arrival_time_slot},5)&amp;&quot;:00&quot;)+ar_DaylightSavingValue}</description>
        <name>FormulaStartTime_of_Timeslot_Arrival_Window_Start</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!DatePreferred_date_for_the_works_to_be_carried_out})&amp; &quot; &quot; &amp; LEFT({!PicklistPreferred_arrival_time_slot},5)&amp;&quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>var_Default_Estimate_Pay_Formula</name>
        <dataType>Number</dataType>
        <expression>{!var_Default_Estimate_Pay_Percentage}/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FL Create Work Order Step 2 - using Third Picklist (System) NEXT GEN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Create Work Order Step 2 - using Third Picklist (System) NEXT GEN</label>
    <loops>
        <name>Loop_Through_WT_LIs_to_create_WO_LIs</name>
        <label>Loop Through WT LIs to create WO LIs</label>
        <locationX>3900</locationX>
        <locationY>8690</locationY>
        <assignNextValueToReference>Sobj_LoopVar_WorkTypeLineITEM</assignNextValueToReference>
        <collectionReference>CollWorkTypeLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_it_the_First_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_WO_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Diff_Bandings</name>
        <label>Loop Thru Diff Bandings</label>
        <locationX>3394</locationX>
        <locationY>6134</locationY>
        <assignNextValueToReference>var_Loop_Metadata_Banding</assignNextValueToReference>
        <collectionReference>Banding_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_Band</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Costs_and_Charges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Costs_and_Charges</name>
        <label>Create Costs and Charges</label>
        <locationX>3394</locationX>
        <locationY>6686</locationY>
        <assignRecordIdToReference>var_CostsAndChargesID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_WO_Reactive_or_FP_Record_Type_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Flow_Error_Msg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Call_Out_Fee__c</field>
            <value>
                <elementReference>Formula_Call_Out_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Collection_Fee__c</field>
            <value>
                <elementReference>Fixed_Price_Collection_Fees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_List_Price_Services__c</field>
            <value>
                <elementReference>List_Price_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_ULEZ__c</field>
            <value>
                <elementReference>var_ULEZ_Charge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Lead_Fee__c</field>
            <value>
                <elementReference>Formula_Lead_Fee_Negative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Manual_Override__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Manual_Percentage__c</field>
            <value>
                <elementReference>PicklistDiscounts_availableNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Office__c</field>
            <value>
                <elementReference>PicklistDiscounts_availableNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_PL__c</field>
            <value>
                <stringValue>Manual Percentage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R1__c</field>
            <value>
                <elementReference>var_R1_NormalHours_Mon_Fri_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R2__c</field>
            <value>
                <elementReference>var_R2_5_to_8_Mon_Fri_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R3__c</field>
            <value>
                <elementReference>var_R3_Mon_to_Sun_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mark_Up_Band_1_Rate__c</field>
            <value>
                <elementReference>var_MarkUpBand1RatePercent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mark_Up_Band_2_End__c</field>
            <value>
                <elementReference>var_MarkUpBand2End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mark_Up_Band_2_Rate__c</field>
            <value>
                <elementReference>var_MarkUpBand2RatePercent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mark_Up_Band_2_Start__c</field>
            <value>
                <elementReference>var_MarkUpBand2Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mark_Up_Band_3_Rate__c</field>
            <value>
                <elementReference>var_MarkUpBand3RatePercent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Units_of_Charge__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Type__c</field>
            <value>
                <stringValue>R</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Info Incomplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_of_Charge__c</field>
            <value>
                <numberValue>0.5</numberValue>
            </value>
        </inputAssignments>
        <object>Costs_and_Charges__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Job</name>
        <label>Create New Job</label>
        <locationX>3350</locationX>
        <locationY>5678</locationY>
        <assignRecordIdToReference>var_JobID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Job_Data</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorisation__c</field>
            <value>
                <elementReference>var_Valid_Authorisation_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Policy__c</field>
            <value>
                <elementReference>var_JobData.Charge_Policy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email_who_Raised_Job__c</field>
            <value>
                <elementReference>var_ContactSelectedData.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Facing_Description__c</field>
            <value>
                <elementReference>LTxtJob_Title_Customer_Facing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Description__c</field>
            <value>
                <elementReference>LongTxtFull_Description_of_the_work_to_be_completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Raised_by__c</field>
            <value>
                <elementReference>var_ContactSelectedData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Number_for_Key_Accounts__c</field>
            <value>
                <elementReference>PO_Number_for_Key_accounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>var_SiteData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>is_Project__c</field>
            <value>
                <elementReference>var_is_job_Project</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WO_Line_Items</name>
        <label>Create WO Line Items</label>
        <locationX>3900</locationX>
        <locationY>9362</locationY>
        <connector>
            <targetReference>Empty_Coll_WO_LIs_and_Set_1st_LI_to_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Flow_Error_Msg</targetReference>
        </faultConnector>
        <inputReference>CollWorkOrderLineItemS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_0_0</name>
        <label>Create Work Order</label>
        <locationX>3900</locationX>
        <locationY>7502</locationY>
        <assignRecordIdToReference>var_WorkOrderData.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Add_1_to_WOs_Created_Count</targetReference>
        </connector>
        <inputAssignments>
            <field>Access_Details__c</field>
            <value>
                <elementReference>TxtBox_enter_Access_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Window_End_Date_Time__c</field>
            <value>
                <elementReference>Formula_EndTime_of_TimeSlot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Window_End__c</field>
            <value>
                <elementReference>Formula_EndTime_of_TimeSlot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Window_Start_Date_Time__c</field>
            <value>
                <elementReference>FormulaStartTime_of_Timeslot_Arrival_Window_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Window_Start__c</field>
            <value>
                <elementReference>FormulaStartTime_of_Timeslot_Arrival_Window_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Type__c</field>
            <value>
                <elementReference>Picklistchoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>var_SiteData.Site_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Fee_at_point_of_Booking__c</field>
            <value>
                <elementReference>Fixed_Price_Collection_Fees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed_Work_Type__c</field>
            <value>
                <elementReference>var_WorkTypeData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_ContactSelectedData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email_who_Raised_Work_Order__c</field>
            <value>
                <elementReference>var_ContactSelectedData.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Costs_and_Charges__c</field>
            <value>
                <elementReference>var_CostsAndChargesID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>LongTxt2Full_Description_of_the_work_to_be_completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Formula_WO_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Go_Ahead__c</field>
            <value>
                <elementReference>var_Go_Ahead_Yes_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_a_Call_Back__c</field>
            <value>
                <elementReference>var_Bool_Is_This_WO_a_Call_Back</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Quality__c</field>
            <value>
                <elementReference>Lead_Quality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Price_at_point_of_Booking__c</field>
            <value>
                <elementReference>List_Price_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_to_Proceed__c</field>
            <value>
                <elementReference>Next_Steps_to_Proceed_if_doesn_t_want_to_go_ahead_now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Number_for_Key_Accounts__c</field>
            <value>
                <elementReference>PO_Number_for_Key_accounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>var_SiteData.Site_PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Picklist_select_the_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Of_Pay_Percent__c</field>
            <value>
                <elementReference>Form_Default_Estimate_Pay_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_WO_ReactiveOrFixedPriceRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Date__c</field>
            <value>
                <elementReference>var_PreferredDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>var_SiteData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>FormulaPreferredDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>var_SiteData.Site_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_Rate__c</field>
            <value>
                <elementReference>var_RateCardID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>var_WorkTypeData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Data</name>
        <label>Account Data</label>
        <locationX>2910</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Site_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_AccountData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Account_Status__c</queriedFields>
        <queriedFields>Account_Type__c</queriedFields>
        <queriedFields>Attendance_Fee__c</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Client_Alert__c</queriedFields>
        <queriedFields>Rate_Card__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Banding_Metadata</name>
        <label>Banding Metadata</label>
        <locationX>3394</locationX>
        <locationY>6014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Diff_Bandings</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Markup_Band__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Auth_Data</name>
        <label>Get Auth Data</label>
        <locationX>3350</locationX>
        <locationY>5558</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>asp04__Expiry_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>asp04__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Force</stringValue>
            </value>
        </filters>
        <object>asp04__Authorisation__c</object>
        <outputAssignments>
            <assignToReference>var_Valid_Authorisation_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_current_ULEZ_Charge_value</name>
        <label>Get current ULEZ Charge value</label>
        <locationX>2822</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ass_ULEZ_Meta_to_var</targetReference>
        </connector>
        <object>ULEZ_Charge__mdt</object>
        <outputReference>var_ULEZData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Charge_Value__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Data</name>
        <label>Get Job Data</label>
        <locationX>3394</locationX>
        <locationY>5894</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Banding_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>var_JobData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>Job_Raised_by__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>ARC - Account Rate Card</description>
        <name>get_Standard_ARC_for_Trade</name>
        <label>get Standard ARC for Trade</label>
        <locationX>4274</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Standard_TRC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Standard__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Rate_Card_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>TRC - Trade Rate Card</description>
        <name>get_Standard_TRC</name>
        <label>get Standard TRC</label>
        <locationX>4274</locationX>
        <locationY>3134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_R1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trade_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_TradeSelected</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Standard_ARC_for_Trade.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Rate_Card_Trade__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Reactive_or_FP_Record_Type_ID</name>
        <label>Get WO Reactive or FP Record Type ID</label>
        <locationX>3394</locationX>
        <locationY>6806</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type_ID_and_Estimated_Duration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Type_of_Work_Reactive_or_Fixed_Price_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_WO_ReactiveOrFixedPriceRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Data_to_Display</name>
        <label>Get Work Type Data to Display</label>
        <locationX>2822</locationX>
        <locationY>4502</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Rate_Charges_Associated_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_GroupSelected</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SubCategorySelected</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>var_WorkTypeData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EstimatedDuration</queriedFields>
        <queriedFields>Scope_of_Works__c</queriedFields>
        <queriedFields>Scope_of_Works_2__c</queriedFields>
        <queriedFields>Scope_of_Works_3__c</queriedFields>
        <queriedFields>Expectations__c</queriedFields>
        <queriedFields>Info_Required__c</queriedFields>
        <queriedFields>Recommended_Job_Type__c</queriedFields>
        <queriedFields>Doc_Cert_Provided__c</queriedFields>
        <queriedFields>Quote_Disclaimer__c</queriedFields>
        <queriedFields>Qualified_Resource_Count__c</queriedFields>
        <queriedFields>Task_Expectations__c</queriedFields>
        <queriedFields>Confirming_Task__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_ID_and_Estimated_Duration</name>
        <label>Get Work Type ID and Estimated Duration</label>
        <locationX>3394</locationX>
        <locationY>6926</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_WorkTypeData_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_GroupSelected</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SubCategorySelected</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>var_WorkTypeData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EstimatedDuration</queriedFields>
        <queriedFields>Scope_of_Works__c</queriedFields>
        <queriedFields>Scope_of_Works_2__c</queriedFields>
        <queriedFields>Scope_of_Works_3__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>TRC - Trade Rate Card</description>
        <name>getTRCforTradeSelected</name>
        <label>getTRCforTradeSelected</label>
        <locationX>2822</locationX>
        <locationY>2774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_TRC_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trade_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_TradeSelected</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountData.Rate_Card__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Rate_Card_Trade__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Job_Data</name>
        <label>Job Data</label>
        <locationX>2910</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>var_JobData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>Job_Raised_by__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Region_Area_Call_Out_Fee</name>
        <label>Region Area Call Out Fee</label>
        <locationX>2778</locationX>
        <locationY>4286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type_Data_to_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region_Area_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteData.Region_Area_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Region_Area__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attendance_Fee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Site_Data</name>
        <label>Site Data</label>
        <locationX>2910</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Existing_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Site__c</elementReference>
            </value>
        </filters>
        <object>Site__c</object>
        <outputReference>var_SiteData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Site_Street__c</queriedFields>
        <queriedFields>Site_City__c</queriedFields>
        <queriedFields>Site_PostalCode__c</queriedFields>
        <queriedFields>Access_Details__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Region_Area_Code__c</queriedFields>
        <queriedFields>Region_Area__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Work_Type_Line_Items_Sub_Cats_to_Create_WO_Line_Items</name>
        <label>Work Type Line Items Sub Cats to Create WO Line Items</label>
        <locationX>3900</locationX>
        <locationY>8078</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_if_WO_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_GroupSelected</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkTypeData.Id</elementReference>
            </value>
        </filters>
        <object>Work_Type_Line_Item__c</object>
        <outputReference>CollWorkTypeLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Work_Type__c</queriedFields>
        <queriedFields>Order_to_be_Completed_in__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_Type</name>
        <label>Update Job Type</label>
        <locationX>3702</locationX>
        <locationY>8318</locationY>
        <connector>
            <targetReference>Loop_Through_WT_LIs_to_create_WO_LIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Job_Type__c</field>
            <value>
                <elementReference>var_WorkTypeData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Work_Order_Link_3rd</name>
        <label>New Work Order Link (3rd)</label>
        <locationX>3768</locationX>
        <locationY>9722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_WO_or_Display_List_or_End</targetReference>
        </connector>
        <fields>
            <name>New_Work_Order_Link_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please click the URL below to go to your new Work Order:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley.lightning.force.com/lightning/r/WorkOrder/%7B!var_WorkOrderData.Id%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: white; font-size: 9.75pt; font-family: -apple-system;&quot;&gt;&lt;strong&gt;https://chumley.lightning.force.com/lightning/r/WorkOrder/{!var_WorkOrderData.Id}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;First Work Order Created:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley.lightning.force.com/lightning/r/WorkOrder/%7B!var_WorkOrderData.Id%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: white; font-size: 9.75pt; font-family: -apple-system;&quot;&gt;&lt;strong&gt;https://chumley.lightning.force.com/lightning/r/WorkOrder/{!var_WorkOrderData.Id}/view&lt;/strong&gt;&lt;/a&gt;&lt;a href=&quot;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/%7B!var_1stWorkOrderCreated%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: white; font-size: 9.75pt; font-family: -apple-system;&quot;&gt;&lt;strong&gt;/{!var_1stWorkOrderCreated}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Second Work Order Created:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley.lightning.force.com/lightning/r/WorkOrder/%7B!var_WorkOrderData.Id%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: white; font-size: 9.75pt; font-family: -apple-system;&quot;&gt;&lt;strong&gt;https://chumley.lightning.force.com/lightning/r/WorkOrder/{!var_WorkOrderDat&lt;/strong&gt;&lt;/a&gt;&lt;a href=&quot;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_2ndWorkOrderCreated}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;/{!var_2ndWorkOrderCreated}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadButtonsCrNewWODispalyWOs_0_0</name>
            <choiceReferences>Choice_RadButtonCreateNewWO</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Work_Order_Link_4th</name>
        <label>New Work Order Link (4th)</label>
        <locationX>4032</locationX>
        <locationY>9722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_WO_or_Display_List_or_End</targetReference>
        </connector>
        <fields>
            <name>New_Work_Order_Link_Text_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please click the URL below to go to your new Work Order:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_2ndWorkOrderCreated}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_2ndWorkOrderCreated}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;First Work Order Created:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_1stWorkOrderCreated}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_1stWorkOrderCreated}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Second Work Order Created:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot; https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_2ndWorkOrderCreated}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_2ndWorkOrderCreated}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;3rd Work Order Created:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_3rdWorkOrderCreated}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_3rdWorkOrderCreated}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadButtonsCrNewWODispalyWOs_0_0_0</name>
            <choiceReferences>Choice_RadButtonCreateNewWO</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Work_Order_Link_5th</name>
        <label>New Work Order Link (5th)</label>
        <locationX>4296</locationX>
        <locationY>9722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_WO_or_Display_List_or_End</targetReference>
        </connector>
        <fields>
            <name>New_Work_Order_Link_Text_5th</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please click the URL below to go to your new Work Order:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_WorkOrderData.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_WorkOrderData.Id}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;First Work Order Created:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot; https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_1stWorkOrderCreated}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_1stWorkOrderCreated}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Second Work Order Created:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot; https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_2ndWorkOrderCreated}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_2ndWorkOrderCreated}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;3rd Work Order Created:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_3rdWorkOrderCreated}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_3rdWorkOrderCreated}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;4th Work Order Created:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_4thWorkOrderCreated}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/{!var_4thWorkOrderCreated}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;(*no more than a total of 5 Work Orders will be displayed)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadButtonsCrNewWODispalyWOs_0_0_0_0</name>
            <choiceReferences>Choice_RadButtonCreateNewWO</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Flow_Error_Msg</name>
        <label>Error!</label>
        <locationX>4912</locationX>
        <locationY>9482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayTxtError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;!!! - Error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;{!Formula_Extract_Flow_Error_Msg} - !!!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Number_of_the_next_Work_Order_to_be_created</name>
        <label>Number of the next Work Order to be created</label>
        <locationX>3768</locationX>
        <locationY>10178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_select_Trade_and_Group_and_SubCat</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtNumber_of_WOs_Created</name>
            <fieldText>&lt;p&gt;This is now Work Order number &lt;b&gt;{!Formula_Count_of_WOsCreated_Add_1}&lt;/b&gt; that you are creating for:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Site: &lt;b&gt;{!var_SiteData.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Customer: &lt;b&gt;{!var_AccountData.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Rate_Charges_Associated_info</name>
        <label>Rate Charges &amp; Associated info:</label>
        <locationX>2822</locationX>
        <locationY>4622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ass_to_var_PreferredDate</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtDisplayCharges</name>
            <fieldText>&lt;p&gt;You Selected:&lt;/p&gt;&lt;p&gt;Trade: &lt;strong&gt;{!var_TradeSelected}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Group: &lt;strong&gt;{!var_GroupSelected}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Sub-Category: &lt;strong&gt;{!var_SubCategorySelected}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hourly Rates excl. VAT:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;R1 Rate: &lt;strong&gt;{!var_R1_NormalHours_Mon_Fri_Amount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;R2 Rate: &lt;strong&gt;{!var_R2_5_to_8_Mon_Fri_Amount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;R3 Rate: &lt;strong&gt;{!var_R3_Mon_to_Sun_Amount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Call Out Fee: &lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Formula_Call_Out_Fee}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Client Alerts:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!var_AccountData.Client_Alert__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Estimated Duration: &lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!var_WorkTypeData.EstimatedDuration}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Expectations:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!var_WorkTypeData.Task_Expectations__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Info Required:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!var_WorkTypeData.Confirming_Task__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Quote Disclaimer:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!var_WorkTypeData.Quote_Disclaimer__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Recommended Job Type:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!var_WorkTypeData.Recommended_Job_Type__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Doc/Cert Provided: &lt;strong&gt;{!var_WorkTypeData.Doc_Cert_Provided__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Qualified Resource Count: &lt;strong&gt;{!var_WorkTypeData.Qualified_Resource_Count__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Rate_Charges_Associated_info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Rate_Charges_Associated_info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_Rate_Charges_Associated_info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Rate_Charges_Associated_info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RadbtnShould_this_Work_Type_be_used_as_the_main_Job_Type</name>
            <choiceReferences>ChoiceYesUseAsMainJobType</choiceReferences>
            <choiceReferences>ChoiceDontUseAsMainJobType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Should this Work Type be used as the main Job Type?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Count_of_WOsCreated</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Quality</name>
            <choiceReferences>ChoiceLeadQualityStandard</choiceReferences>
            <choiceReferences>ChoiceLeadQualityGood</choiceReferences>
            <choiceReferences>ChoiceLeadQualityGolden</choiceReferences>
            <choiceReferences>ChoiceLeadQualityNewOperative</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Quality:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RadbtnsDoes_the_customer_want_to_go_ahead_with_this_booking</name>
            <choiceReferences>Choice_Yes_Cust_Wants_Booking</choiceReferences>
            <choiceReferences>Choice_Cust_Doesnt_Want_Booking</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the customer want to go ahead with this booking?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Steps_to_Proceed_if_doesn_t_want_to_go_ahead_now</name>
            <dataType>String</dataType>
            <fieldText>Next Steps to Proceed if doesn&#39;t want to go ahead now: (max 250 characters)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The maximum number of characters for this field is 250.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(LEN({!Next_Steps_to_Proceed_if_doesn_t_want_to_go_ahead_now})&lt;=250,TRUE,FALSE)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RadbtnsDoes_the_customer_want_to_go_ahead_with_this_booking</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Cust_Doesnt_Want_Booking</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LongTxt2Full_Description_of_the_work_to_be_completed</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LongTxtFull_Description_of_the_work_to_be_completed</elementReference>
            </defaultValue>
            <fieldText>Full Description of the work to be completed:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DatePreferred_date_for_the_works_to_be_carried_out</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>var_PreferredDate</elementReference>
            </defaultValue>
            <fieldText>Preferred date for the works to be carried out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RadbtnsDoes_the_customer_want_to_go_ahead_with_this_booking</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes_Cust_Wants_Booking</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PicklistPreferred_arrival_time_slot</name>
            <choiceReferences>ChoiceTimeSlotNotSelected</choiceReferences>
            <choiceReferences>ChoiceMorning_8am_to_12pm</choiceReferences>
            <choiceReferences>ChoiceAfternoon_12pm_to_5pm</choiceReferences>
            <choiceReferences>ChoiceEvening_5pm_to_9pm</choiceReferences>
            <choiceReferences>ChoiceLate_night_9pm_to_7am</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceTimeSlotNotSelected</defaultSelectedChoiceReference>
            <fieldText>Preferred arrival time slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RadbtnsDoes_the_customer_want_to_go_ahead_with_this_booking</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes_Cust_Wants_Booking</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PicklistDiscounts_availableNumber</name>
            <choiceReferences>ChoiceDiscountNotSelectedZero</choiceReferences>
            <choiceReferences>Choice5PercentOffLabour</choiceReferences>
            <choiceReferences>Choice10PercentOffLabour</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Discounts available:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 )</conditionLogic>
                <conditions>
                    <leftValueReference>RadbtnsDoes_the_customer_want_to_go_ahead_with_this_booking</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes_Cust_Wants_Booking</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfile</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>System Administrator</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfile</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PHASE 2 Operations Director</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfile</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PHASE 2 Manager - Ops</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>currentUserProfile</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue> PHASE 2 Manager - Process</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTxtPaymentNotification</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Payment will be required upon completion of this attendance. You can pay the operative with card, cash or cheque.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If payment is not made on site. Payment will be processed from the card you provide, by our office following the attendance.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_select_Trade_and_Group_and_SubCat</name>
        <label>Please select Trade and Group and SubCat</label>
        <locationX>2822</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>is_this_Job_a_Project</targetReference>
        </connector>
        <fields>
            <name>PicklistSelect_Account_Contact_raising_Work_Order</name>
            <choiceReferences>RecChoiceContactsForAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Account Contact raising Work Order</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DependentPicklistsTradeAndGroup</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>WorkType</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Trade__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Select a Trade</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Select Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Sub_Category_Trade_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Select Work Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomValue</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_TradeSelected</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_GroupSelected</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_SubCategorySelected</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Picklist_select_the_Priority</name>
            <choiceReferences>PicklistChoiceSetPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.CurrentDate</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <dateValue>2030-01-01</dateValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LTxtJob_Title_Customer_Facing</name>
            <fieldText>Job Title (Customer Facing)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LongTxtFull_Description_of_the_work_to_be_completed</name>
            <fieldText>Full Description of the work to be completed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TxtBox_enter_Access_Details</name>
            <dataType>String</dataType>
            <fieldText>Please enter access/RAMS details (If applicable)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PO_Number_for_Key_accounts</name>
            <dataType>String</dataType>
            <fieldText>Client PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fixed_Price_Collection_Fees</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Fixed Price Collection Fees (Only input if the client requires a collection, pre attendance)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>List_Price_Services</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>List Price Services (E.g Gas Safety, EICR, Survey, Powerflush)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>DTextULEZ_URL</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Radbtn_Is_a_ULEZ_Charge_applicable</name>
            <choiceReferences>ChoiceYesULEZApplicable</choiceReferences>
            <choiceReferences>ChoiceULEZ_NOT_Applicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is a ULEZ Charge applicable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChoiceULEZ_NOT_Applicable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_This_a_Project</name>
            <choiceReferences>Yes_Project</choiceReferences>
            <choiceReferences>No_Project</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Is This a Project?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Charge_Policy</name>
            <choiceReferences>var_ChargePolicyValue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Charge Policy?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Booking_Type</name>
            <choiceReferences>Picklistchoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Booking Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RadbtnIs_this_a_Call_Back</name>
            <choiceReferences>Choice_Yes_Is_Call_Back</choiceReferences>
            <choiceReferences>Choice_NOT_Call_Back</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this a Call Back?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RadbtnIs_a_Lead_Fee_Applicable</name>
            <choiceReferences>Choice_Lead_Fee_IS_Applicable</choiceReferences>
            <choiceReferences>Choice_Lead_Fee_NOT_Applicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is a Lead Fee Applicable? (Apply a Lead fee, if this is a new opportunity, not a return visit)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choice_NOT_Call_Back</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNew_Work_Order_Link_1st</name>
        <label>New Work Order Link (1st)</label>
        <locationX>3240</locationX>
        <locationY>9722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_WO_or_Display_List_or_End</targetReference>
        </connector>
        <fields>
            <name>New_Work_Order_Link_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please click the URL below to go to your new Work Order:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley.lightning.force.com/lightning/r/WorkOrder/{!var_WorkOrderData.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;https://chumley.lightning.force.com/lightning/r/WorkOrder/{!var_WorkOrderData.Id}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadButtonsCrNewWODispalyWOs</name>
            <choiceReferences>Choice_RadButtonCreateNewWO</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNew_Work_Order_Link_2nd</name>
        <label>New Work Order Link (2nd)</label>
        <locationX>3504</locationX>
        <locationY>9722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_WO_or_Display_List_or_End</targetReference>
        </connector>
        <fields>
            <name>New_Work_Order_Link_Text_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please click the URL below to go to your new Work Order:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley.lightning.force.com/lightning/r/WorkOrder/{!var_WorkOrderData.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;https://chumley.lightning.force.com/lightning/r/WorkOrder/{!var_WorkOrderData.Id}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Previous Work Order Created:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley.lightning.force.com/lightning/r/WorkOrder/%7B!var_WorkOrderData.Id%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;https://chumley.lightning.force.com/lightning/r/WorkOrder/{!var_WorkOrderData.Id}/view&lt;/strong&gt;&lt;/a&gt;&lt;a href=&quot;https://chumley--qa.sandbox.lightning.force.com/lightning/r/WorkOrder/%7B!var_1stWorkOrderCreated%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;/{!var_1stWorkOrderCreated}/view&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadButtonsCrNewWODispalyWOs_0</name>
            <choiceReferences>Choice_RadButtonCreateNewWO</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenTime_Slot_Not_Selected</name>
        <label>Time Slot Not Selected</label>
        <locationX>2250</locationX>
        <locationY>5318</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Rate_Charges_Associated_info</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtTimeSlotNotSelected</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;An option for Time Slot was not selected - please press Next to enter again.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenWork_Type_Data_Not_Found</name>
        <label>Work Type Data Not Found</label>
        <locationX>2888</locationX>
        <locationY>7166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtWorkTypeDataNotFound</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;Error: Work Types do not exist. Please give your System Administrator this screen shot:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;Requested:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;Trade: {!var_TradeSelected}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;var_GroupSelected: {!var_GroupSelected}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;Name/SubCat: {!var_SubCategorySelected}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2696</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_current_ULEZ_Charge_value</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Lead_Fee_for_Trade</name>
        <label>Get Lead Fee for Trade</label>
        <locationX>2514</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Charge_ULEZ_Y_N</targetReference>
        </connector>
        <flowName>FL_Get_Lead_Fee_for_certain_Trade_V2</flowName>
        <inputAssignments>
            <name>var_TradeSelected</name>
            <value>
                <elementReference>var_TradeSelected</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_TradeRateData_Lead_Fee</assignToReference>
            <name>var_TradeRateData_Lead_Fee</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CollCreatedWorkOrderLineItemS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>CollCreatedWorkOrderLineItemS_to_UpdateLine_Item_Number</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>CollEMPTYWorkOrderLineItemS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>CollWorkOrderLineItemS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>CollWorkTypeLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Type_Line_Item__c</objectType>
    </variables>
    <variables>
        <description>This created to assign current user profiles</description>
        <name>currentUserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Profile_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Sobj_LoopVar_WorkTypeLineITEM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Type_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SobjWorkOrderLineITEM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>var_1stWorkOrderCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_2ndWorkOrderCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_3rdWorkOrderCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_4thWorkOrderCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_5thWorkOrderCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_AuthorisationData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>asp04__Authorisation__c</objectType>
    </variables>
    <variables>
        <name>var_Bool_Is_First_WO_Line_Item</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Bool_Is_This_WO_a_Call_Back</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Called_From_Job</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ContactSelectedData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_CostsAndChargesID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Count_of_WOsCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Default_Estimate_Pay_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Default_Estimate_Pay_Percentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_ExistingJobAddition</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Go_Ahead_Yes_No</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_GroupSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_is_job_Project</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JobData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>var_JobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Loop_Metadata_Banding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Markup_Band__mdt</objectType>
    </variables>
    <variables>
        <name>var_MarkUpBand1RatePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_MarkUpBand2End</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_MarkUpBand2RatePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_MarkUpBand2Start</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_MarkUpBand3RatePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_PreferredDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_R1_NormalHours_Mon_Fri_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_R2_5_to_8_Mon_Fri_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_R3_Mon_to_Sun_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_RateCardID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SiteData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>var_SubCategorySelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TradeRateData_Lead_Fee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Card_Trade__c</objectType>
    </variables>
    <variables>
        <name>var_TradeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Type_of_Work_Reactive_or_Fixed_Price_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ULEZ_Charge</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ULEZData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ULEZ_Charge__mdt</objectType>
    </variables>
    <variables>
        <name>var_Valid_Authorisation_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WO_ReactiveOrFixedPriceRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_WorkTypeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
