unpackaged/main/default/flows/FL_Create_Authorisation_System_NEXT_GEN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Navigating to auth record for office users to add card details</description>
        <name>NavigateToAuthRecord</name>
        <label>NavigateToAuthRecord</label>
        <locationX>2313</locationX>
        <locationY>153</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>var_AuthorisationData.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>ANY_non_Prim_Contacts_Found</name>
        <label>ANY non-Prim Contacts Found?</label>
        <locationX>1220</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Non_Prim_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_ALL_Contacts_for_Account</targetReference>
            </connector>
            <label>Yes - Non-Prim Found</label>
        </rules>
        <rules>
            <name>No_Contacts_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>All_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_No_Contacts_Found_for_Customer</targetReference>
            </connector>
            <label>No Contacts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_ANY_Primary_Contact_been_found</name>
        <label>Has ANY Primary Contact been found?</label>
        <locationX>1219</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Primary_Contacts_for_Account</targetReference>
            </connector>
            <label>Yes - Found</label>
        </rules>
        <rules>
            <name>No_Not_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ANY_non_Prim_Contacts_Found</targetReference>
            </connector>
            <label>No - Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Contact_Selected</name>
        <label>Was a Contact Selected?</label>
        <locationX>1790</locationX>
        <locationY>510</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ContactSelectedData.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ContactSelectedData.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Checkbox_Contact_is_Not_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Authorisation</targetReference>
            </connector>
            <label>Contact Selected</label>
        </rules>
        <rules>
            <name>Contact_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox_Contact_is_Not_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_No_Contacts_Found_for_Customer</targetReference>
            </connector>
            <label>Contact Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Primary_Contact_selected</name>
        <label>Was a Primary Contact selected?</label>
        <locationX>1579</locationX>
        <locationY>149</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ContactSelectedData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chkbox_to_view_All_Contacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Authorisation</targetReference>
            </connector>
            <label>Primary Contact Selected</label>
        </rules>
        <rules>
            <name>View_non_Prim_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Chkbox_to_view_All_Contacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ANY_non_Prim_Contacts_Found</targetReference>
            </connector>
            <label>View non-Prim Contacts</label>
        </rules>
    </decisions>
    <description>RecordNavigation to Auth record for office users to input card details</description>
    <dynamicChoiceSets>
        <name>var_RecChoiceALLContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>var_RecChoicePrimaryContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactSelectedData.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>FL Create Authorisation (System) NEXT GEN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Create Authorisation (System) NEXT GEN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Authorisation</name>
        <label>Authorisation</label>
        <locationX>1801</locationX>
        <locationY>151</locationY>
        <assignRecordIdToReference>var_AuthorisationData.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Created_Auth_data</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_City__c</field>
            <value>
                <elementReference>var_AccountData.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_Country__c</field>
            <value>
                <elementReference>var_AccountData.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_PostalCode__c</field>
            <value>
                <elementReference>var_AccountData.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_Street__c</field>
            <value>
                <elementReference>var_AccountData.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Company_Name__c</field>
            <value>
                <elementReference>var_AccountData.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Email__c</field>
            <value>
                <elementReference>var_ContactSelectedData.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__First_Name__c</field>
            <value>
                <elementReference>var_ContactSelectedData.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Last_Name__c</field>
            <value>
                <elementReference>var_ContactSelectedData.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route_Options__c</field>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route_Selected__c</field>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </inputAssignments>
        <object>asp04__Authorisation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Data</name>
        <label>Account Data</label>
        <locationX>620</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_AccountData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Account_Status__c</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Account_Type__c</queriedFields>
        <queriedFields>Attendance_Fee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>All_Contacts</name>
        <label>All Contacts</label>
        <locationX>1044</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_ANY_Primary_Contact_been_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Created_Auth_data</name>
        <label>Created Auth data</label>
        <locationX>1954</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Job_with_Auth_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AuthorisationData.Id</elementReference>
            </value>
        </filters>
        <object>asp04__Authorisation__c</object>
        <outputReference>var_AuthorisationData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>asp04__eCommerce_URL__c</queriedFields>
        <queriedFields>asp04__Status__c</queriedFields>
        <queriedFields>asp04__Expiry_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Data</name>
        <label>Get WO Data</label>
        <locationX>446</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Primary_Contacts</name>
        <label>Primary Contacts</label>
        <locationX>851</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_with_Auth_record</name>
        <label>Update Job with Auth record</label>
        <locationX>2117</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>NavigateToAuthRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Authorisation__c</field>
            <value>
                <elementReference>var_AuthorisationData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_ALL_Contacts_for_Account</name>
        <label>ALL Contacts for Account</label>
        <locationX>1583</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_a_Contact_Selected</targetReference>
        </connector>
        <fields>
            <name>Picklist_Please_select_the_Contact_to_create_an_Auth_record_for</name>
            <choiceReferences>var_RecChoiceALLContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the Contact to create an Authorisation record for:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Checkbox_Contact_is_Not_Found</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Check this box if Contact is Not Found</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Link_to_created_Authorisation_record</name>
        <label>Link to created Authorisation record</label>
        <locationX>2506</locationX>
        <locationY>165</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTextLinkToAuthRecord</name>
            <fieldText>&lt;p&gt;Please click on the link below to enter Card details for the newly created Authorisation record:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!var_AuthorisationData.asp04__eCommerce_URL__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 2, 2);&quot;&gt;*Click &#39;Finish&#39; once you&#39;ve entered the card details and they&#39;re verified using the link above.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(244, 2, 2);&quot;&gt;If you still don&#39;t have the option to book an Operative, please refresh the Work Order page.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_No_Contacts_Found_for_Customer</name>
        <label>No Contacts Found for Customer</label>
        <locationX>1231</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayTxt_NoContactsFound</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 3, 3);&quot;&gt;Unfortunately no further Contacts have been found for Customer: &lt;/b&gt;&lt;b&gt;{!var_AccountData.Name}&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please add the New Contact to the Account:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://chumley--structure.lightning.force.com/lightning/r/Account/0017E000016ipT7QAI/view&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;https://chumley--structure.lightning.force.com/lightning/r/Account/{!var_AccountData.Id}/view&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Primary_Contacts_for_Account</name>
        <label>Primary Contacts for Account</label>
        <locationX>1438</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_a_Primary_Contact_selected</targetReference>
        </connector>
        <fields>
            <name>No_Auth_Warning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;This customer does not have a credit card on file!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Picklist_Please_select_the_Primary_Contact_to_create_an_Authorisation_record_for</name>
            <choiceReferences>var_RecChoicePrimaryContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the Primary Contact to add a Card for</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Chkbox_to_view_All_Contacts</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Check this box to view All Contacts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>5</locationX>
        <locationY>81</locationY>
        <connector>
            <targetReference>Get_WO_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_AuthorisationData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>asp04__Authorisation__c</objectType>
    </variables>
    <variables>
        <name>var_ContactSelectedData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_SiteData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
