unpackaged/main/default/flows/FL_Create_Off_Site_Agreement_from_Site_Step_3_Create_PREQ_System_NEXT_GEN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>Const_Purchase_Order_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t7E000008959eQAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Scaffolding_Product_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t7E000008kl4sQAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Van_Stock_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t7E00000893m7QAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Materials_Costs_for_Aspect</name>
        <label>Check for Materials Costs for Aspect</label>
        <locationX>778</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_CurrencyMats_costs_for_Aspect_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrencyMats_costs_for_Aspect</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CurrencyMats_costs_for_Aspect</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PO_PREQ_Mats_Costs_for_Aspect</targetReference>
            </connector>
            <label>var_CurrencyMats_costs_for_Aspect NOT Null</label>
        </rules>
        <rules>
            <name>var_CurrencyMats_costs_for_Aspect_IS_Null_and_Less_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrencyMats_costs_for_Aspect</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CurrencyMats_costs_for_Aspect</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Materials_Costs_for_Operative</targetReference>
            </connector>
            <label>var_CurrencyMats_costs_for_Aspect IS Null and Less 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Materials_Costs_for_Operative</name>
        <label>Check for Materials Costs for Operative</label>
        <locationX>779</locationX>
        <locationY>656</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_CurrencyMats_costs_for_the_operative_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrencyMats_costs_for_the_operative</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CurrencyMats_costs_for_the_operative</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Van_Stock_PREQ_Mats_Costs_for_Aspect</targetReference>
            </connector>
            <label>var_CurrencyMats_costs_for_the_operative NOT Null</label>
        </rules>
        <rules>
            <name>var_CurrencyMats_costs_for_the_operative_IS_Null_and_Less_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrencyMats_costs_for_the_operative</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CurrencyMats_costs_for_the_operative</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Scaffolding_cost</targetReference>
            </connector>
            <label>var_CurrencyMats_costs_for_the_operative IS Null and Less 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Scaffolding_cost</name>
        <label>Check for Scaffolding cost</label>
        <locationX>778</locationX>
        <locationY>993</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_CurrencyScaffolding_costs_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrencyScaffolding_costs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CurrencyScaffolding_costs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Scaffolding_PREQ</targetReference>
            </connector>
            <label>var_CurrencyScaffolding_costs NOT Null</label>
        </rules>
        <rules>
            <name>var_CurrencyScaffolding_costs_IS_Null_and_Less_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrencyScaffolding_costs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CurrencyScaffolding_costs</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>var_CurrencyScaffolding_costs IS Null and Less 0</label>
        </rules>
    </decisions>
    <interviewLabel>FL Create Off Site Agreement from Site - Step 3 - Create PREQ  (System) NEXT GEN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Create Off Site Agreement from Site - Step 3 - Create PREQ  (System) NEXT GEN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PO_PREQ_Mats_Costs_for_Aspect</name>
        <label>Create PO PREQ Mats Costs for Aspect</label>
        <locationX>1075</locationX>
        <locationY>473</locationY>
        <assignRecordIdToReference>var_Created_PO_PREQ_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Check_for_Materials_Costs_for_Operative</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>var_TextDetails_Mats_supplied_by_Aspect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>var_CreatedWorkOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Const_Purchase_Order_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Cost__c</field>
            <value>
                <elementReference>var_CurrencyMats_costs_for_Aspect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityRequired</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourced_by_Aspect_or_Engineer__c</field>
            <value>
                <stringValue>Aspect</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequired</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Scaffolding_PREQ</name>
        <label>Create Scaffolding PREQ</label>
        <locationX>1058</locationX>
        <locationY>1165</locationY>
        <assignRecordIdToReference>var_Created_Scaffolding_PREQ_ID</assignRecordIdToReference>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>var_TextDetails_of_scaffolding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>var_CreatedWorkOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Const_Scaffolding_Product_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Cost__c</field>
            <value>
                <elementReference>var_CurrencyScaffolding_costs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityRequired</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourced_by_Aspect_or_Engineer__c</field>
            <value>
                <stringValue>Aspect</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequired</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Van_Stock_PREQ_Mats_Costs_for_Aspect</name>
        <label>Create Van Stock PREQ Mats Costs for Aspect</label>
        <locationX>1068</locationX>
        <locationY>844</locationY>
        <assignRecordIdToReference>var_Created_Van_Stock_PREQ_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Check_for_Scaffolding_cost</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>var_TextDetails_Mats_supplied_by_op</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>var_CreatedWorkOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Const_Van_Stock_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Cost__c</field>
            <value>
                <elementReference>var_CurrencyMats_costs_for_the_operative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityRequired</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourced_by_Aspect_or_Engineer__c</field>
            <value>
                <stringValue>Operative</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequired</object>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>49</locationX>
        <locationY>93</locationY>
        <connector>
            <targetReference>Check_for_Materials_Costs_for_Aspect</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Created_PO_PREQ_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Created_Scaffolding_PREQ_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Created_Van_Stock_PREQ_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedWorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_CurrencyMats_costs_for_Aspect</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CurrencyMats_costs_for_the_operative</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CurrencyScaffolding_costs</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TextDetails_Mats_supplied_by_Aspect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TextDetails_Mats_supplied_by_op</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TextDetails_of_scaffolding</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
