unpackaged/main/default/flows/FL_FSL_mobile_Create_Fixed_Price_Van_Stock_and_Purchase_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>var_ConstPurchaseOrderProductID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t3L000000WnstQAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>var_ConstVanStockProductID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t4G000008QR0cQAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Mats_Supplied_by_Aspect_greater_0</name>
        <label>Check if Mats Supplied by Aspect greater 0</label>
        <locationX>416</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Mats_Supplied_by_Aspect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Total_Mats_SuppliedAspect_WithMarkUp</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PO_Product_Required</targetReference>
            </connector>
            <label>Got Mats Supplied by Aspect</label>
        </rules>
        <rules>
            <name>No_Mats_Supplied_by_Aspect</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Total_Mats_SuppliedAspect_WithMarkUp</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Total_Mats_SuppliedAspect_WithMarkUp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Mats_Supplied_by_Operative_greater_0</targetReference>
            </connector>
            <label>No Mats Supplied by Aspect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Mats_Supplied_by_Operative_greater_0</name>
        <label>Check if Mats Supplied by Operative greater 0</label>
        <locationX>426</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Mats_Supplied_by_Operative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Total_Mats_SupplOperative_WithMarkUp</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Van_Stock_Product_Required</targetReference>
            </connector>
            <label>Got Mats Supplied by Operative</label>
        </rules>
        <rules>
            <name>No_Mats_Supplied_by_Operative</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Total_Mats_SupplOperative_WithMarkUp</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Total_Mats_SupplOperative_WithMarkUp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Mats Supplied by Operative</label>
        </rules>
    </decisions>
    <description>ZS - Full Description field added to update the Data Type to Long Text</description>
    <environments>Default</environments>
    <interviewLabel>FL - FSL (mobile) - Create Fixed Price Van Stock and Purchase Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL - FSL (mobile) - Create Fixed Price Van Stock and Purchase Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_PO_Product_Required</name>
        <label>Create PO Product Required</label>
        <locationX>627</locationX>
        <locationY>68</locationY>
        <assignRecordIdToReference>var_CreatedVanStock_ProductRequiredID</assignRecordIdToReference>
        <connector>
            <targetReference>Check_if_Mats_Supplied_by_Operative_greater_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Full_Description__c</field>
            <value>
                <elementReference>var_Description_of_Mats_supplied_Aspect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override_Mark_ups__c</field>
            <value>
                <elementReference>var_Override_MarkupIntegerPercentAsp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>var_WorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>var_ConstPurchaseOrderProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <stringValue>Purchase Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Charge_Includes_MarkUp__c</field>
            <value>
                <elementReference>var_Total_Mats_SuppliedAspect_WithMarkUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Cost__c</field>
            <value>
                <elementReference>var_Total_Mats_SuppliedAspect_NO_MarkUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityRequired</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourced_by_Aspect_or_Engineer__c</field>
            <value>
                <stringValue>Aspect</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequired</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Van_Stock_Product_Required</name>
        <label>Create Van Stock Product Required</label>
        <locationX>432</locationX>
        <locationY>594</locationY>
        <assignRecordIdToReference>var_CreatedVanStock_ProductRequiredID</assignRecordIdToReference>
        <inputAssignments>
            <field>Full_Description__c</field>
            <value>
                <elementReference>var_Description_Mats_supplied_Operative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override_Mark_ups__c</field>
            <value>
                <elementReference>var_OverrideMarkupIntegerPercentEng</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>var_WorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>var_ConstVanStockProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <stringValue>Van Stock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Charge_Includes_MarkUp__c</field>
            <value>
                <elementReference>var_Total_Mats_SupplOperative_WithMarkUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Cost__c</field>
            <value>
                <elementReference>var_Total_Mats_SupplOperative_NO_MarkUp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityRequired</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourced_by_Aspect_or_Engineer__c</field>
            <value>
                <stringValue>Operative</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequired</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_Mats_Supplied_by_Aspect_greater_0</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_CreatedPO_ProductRequiredID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedVanStock_ProductRequiredID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Description_Mats_supplied_Operative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Description_of_Mats_supplied_Aspect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Override_MarkupIntegerPercentAsp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_OverrideMarkupIntegerPercentEng</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Total_Mats_SuppliedAspect_NO_MarkUp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Total_Mats_SuppliedAspect_WithMarkUp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Total_Mats_SupplOperative_NO_MarkUp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Total_Mats_SupplOperative_WithMarkUp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
