unpackaged/main/default/flows/FL_FSL_Get_Rate_of_Pay_Rates_for_Service_Resource_based_on_SR_Tier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Ass_Account_to_var_for_Tier1</name>
        <label>Ass Account % to var for Tier1</label>
        <locationX>546</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateOperativeTier.Pay_Tier_1__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier10</name>
        <label>Ass Account % to var for Tier10</label>
        <locationX>766</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateOperativeTier.Pay_Tier_10__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier10_0</name>
        <label>Ass Account % to var for Tier10</label>
        <locationX>767</locationX>
        <locationY>1063</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCardRecord_Standard.Pay_Tier_10__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier1_0</name>
        <label>Ass Account % to var for Tier1</label>
        <locationX>553</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCardRecord_Standard.Pay_Tier_1__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier2</name>
        <label>Ass Account % to var for Tier2</label>
        <locationX>670</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateOperativeTier.Pay_Tier_2__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier2_0</name>
        <label>Ass Account % to var for Tier2</label>
        <locationX>680</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCardRecord_Standard.Pay_Tier_2__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier3</name>
        <label>Ass Account % to var for Tier3</label>
        <locationX>757</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateOperativeTier.Pay_Tier_3__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier3_0</name>
        <label>Ass Account % to var for Tier3</label>
        <locationX>793</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCardRecord_Standard.Pay_Tier_3__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier4</name>
        <label>Ass Account % to var for Tier4</label>
        <locationX>984</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateOperativeTier.Pay_Tier_4__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier4_0</name>
        <label>Ass Account % to var for Tier4</label>
        <locationX>1096</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCardRecord_Standard.Pay_Tier_4__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier5</name>
        <label>Ass Account % to var for Tier5</label>
        <locationX>1053</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateOperativeTier.Pay_Tier_5__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier5_0</name>
        <label>Ass Account % to var for Tier5</label>
        <locationX>1197</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCardRecord_Standard.Pay_Tier_5__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier6</name>
        <label>Ass Account % to var for Tier6</label>
        <locationX>1114</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateOperativeTier.Pay_Tier_6__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier6_0</name>
        <label>Ass Account % to var for Tier6</label>
        <locationX>1225</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCardRecord_Standard.Pay_Tier_6__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier7</name>
        <label>Ass Account % to var for Tier7</label>
        <locationX>1178</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateOperativeTier.Pay_Tier_7__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier7_0</name>
        <label>Ass Account % to var for Tier7</label>
        <locationX>1196</locationX>
        <locationY>1015</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCardRecord_Standard.Pay_Tier_7__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier8</name>
        <label>Ass Account % to var for Tier8</label>
        <locationX>1082</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateOperativeTier.Pay_Tier_8__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier8_0</name>
        <label>Ass Account % to var for Tier8</label>
        <locationX>1086</locationX>
        <locationY>1051</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCardRecord_Standard.Pay_Tier_8__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier9</name>
        <label>Ass Account % to var for Tier9</label>
        <locationX>986</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateOperativeTier.Pay_Tier_9__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Account_to_var_for_Tier9_0</name>
        <label>Ass Account % to var for Tier9</label>
        <locationX>982</locationX>
        <locationY>1086</locationY>
        <assignmentItems>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCardRecord_Standard.Pay_Tier_9__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_Trade_Rate_Card_found</name>
        <label>Check if Trade Rate Card found</label>
        <locationX>376</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>get_Standard_Account_Rate_Card</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trade_Rate_Card_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_TradeRateOperativeTier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkTierType</targetReference>
            </connector>
            <label>Trade Rate Card Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Trade_Rate_Card_found_final</name>
        <label>Check if Trade Rate Card found final</label>
        <locationX>377</locationX>
        <locationY>929</locationY>
        <defaultConnector>
            <targetReference>ScreenError_No_Rates_found_at_all</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trade_Rate_Card_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_TradeRateCardRecord_Standard</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkTierTypeForStandardTRC</targetReference>
            </connector>
            <label>Trade Rate Card Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTierType</name>
        <label>checkTierType</label>
        <locationX>627</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Tier_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier1</targetReference>
            </connector>
            <label>If Tier 1</label>
        </rules>
        <rules>
            <name>If_Tier_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier2</targetReference>
            </connector>
            <label>If Tier 2</label>
        </rules>
        <rules>
            <name>If_Tier_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier3</targetReference>
            </connector>
            <label>If Tier 3</label>
        </rules>
        <rules>
            <name>If_Tier_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier4</targetReference>
            </connector>
            <label>If Tier 4</label>
        </rules>
        <rules>
            <name>If_Tier_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier5</targetReference>
            </connector>
            <label>If Tier 5</label>
        </rules>
        <rules>
            <name>If_Tier_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier6</targetReference>
            </connector>
            <label>If Tier 6</label>
        </rules>
        <rules>
            <name>If_Tier_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier7</targetReference>
            </connector>
            <label>If Tier 7</label>
        </rules>
        <rules>
            <name>If_Tier_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier8</targetReference>
            </connector>
            <label>If Tier 8</label>
        </rules>
        <rules>
            <name>If_Tier_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier9</targetReference>
            </connector>
            <label>If Tier 9</label>
        </rules>
        <rules>
            <name>If_Tier_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier10</targetReference>
            </connector>
            <label>If Tier 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTierTypeForStandardTRC</name>
        <label>checkTierTypeForStandardTRC</label>
        <locationX>661</locationX>
        <locationY>918</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Tier_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier1_0</targetReference>
            </connector>
            <label>If Tier 1</label>
        </rules>
        <rules>
            <name>If_Tier_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier2_0</targetReference>
            </connector>
            <label>If Tier 2</label>
        </rules>
        <rules>
            <name>If_Tier_3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier3_0</targetReference>
            </connector>
            <label>If Tier 3</label>
        </rules>
        <rules>
            <name>If_Tier_4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier4_0</targetReference>
            </connector>
            <label>If Tier 4</label>
        </rules>
        <rules>
            <name>If_Tier_5_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier5_0</targetReference>
            </connector>
            <label>If Tier 5</label>
        </rules>
        <rules>
            <name>If_Tier_6_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier6_0</targetReference>
            </connector>
            <label>If Tier 6</label>
        </rules>
        <rules>
            <name>If_Tier_7_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier7_0</targetReference>
            </connector>
            <label>If Tier 7</label>
        </rules>
        <rules>
            <name>If_Tier_8_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier8_0</targetReference>
            </connector>
            <label>If Tier 8</label>
        </rules>
        <rules>
            <name>If_Tier_9_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier9_0</targetReference>
            </connector>
            <label>If Tier 9</label>
        </rules>
        <rules>
            <name>If_Tier_10_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Account_to_var_for_Tier10_0</targetReference>
            </connector>
            <label>If Tier 10</label>
        </rules>
    </decisions>
    <description>Rate Card and Rate restructure 14/7/2022</description>
    <environments>Default</environments>
    <interviewLabel>FL - (FSL) Get Rate of Pay Rates for Service Resource based on SR.Tier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL - FSL (mobile) - Get Rate of Pay Rates for Service Resource based on SR.Tier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>get_Standard_Account_Rate_Card</name>
        <label>get Standard Account Rate Card</label>
        <locationX>385</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_standard_Trade_Rate_Card_based_on_SR_Rate_of_Pay_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Standard__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Rate_Card_Account__c</object>
        <outputAssignments>
            <assignToReference>var_Standard_AccountRateCard_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_standard_Trade_Rate_Card_based_on_SR_Rate_of_Pay_Tier</name>
        <label>Get standard Trade Rate Card based on SR.Rate of Pay Tier</label>
        <locationX>385</locationX>
        <locationY>766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Trade_Rate_Card_found_final</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trade_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedTradeData.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Standard_AccountRateCard_Id</elementReference>
            </value>
        </filters>
        <object>Rate_Card_Trade__c</object>
        <outputReference>var_TradeRateCardRecord_Standard</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pay_Tier_1__c</queriedFields>
        <queriedFields>Pay_Tier_2__c</queriedFields>
        <queriedFields>Pay_Tier_3__c</queriedFields>
        <queriedFields>Pay_Tier_4__c</queriedFields>
        <queriedFields>Pay_Tier_5__c</queriedFields>
        <queriedFields>Pay_Tier_6__c</queriedFields>
        <queriedFields>Pay_Tier_7__c</queriedFields>
        <queriedFields>Pay_Tier_8__c</queriedFields>
        <queriedFields>Pay_Tier_9__c</queriedFields>
        <queriedFields>Pay_Tier_10__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Trade_Rate_Card_based_on_SR_Rate_of_Pay_Tier</name>
        <label>Get Trade Rate Card based on SR.Rate of Pay Tier</label>
        <locationX>236</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Trade_Rate_Card_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountData.Rate_Card__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedTradeData.Name</elementReference>
            </value>
        </filters>
        <object>Rate_Card_Trade__c</object>
        <outputReference>var_TradeRateOperativeTier</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pay_Tier_1__c</queriedFields>
        <queriedFields>Pay_Tier_2__c</queriedFields>
        <queriedFields>Pay_Tier_3__c</queriedFields>
        <queriedFields>Pay_Tier_4__c</queriedFields>
        <queriedFields>Pay_Tier_5__c</queriedFields>
        <queriedFields>Pay_Tier_6__c</queriedFields>
        <queriedFields>Pay_Tier_7__c</queriedFields>
        <queriedFields>Pay_Tier_8__c</queriedFields>
        <queriedFields>Pay_Tier_9__c</queriedFields>
        <queriedFields>Pay_Tier_10__c</queriedFields>
    </recordLookups>
    <screens>
        <name>ScreenError_No_Rates_found_at_all</name>
        <label>Error - No Rates found at all</label>
        <locationX>638</locationX>
        <locationY>1056</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtNoRatesFound</name>
            <fieldText>&lt;p&gt;Sub-Flow: FL - FSL (mobile) - Get Rate of Pay Rates for Service Resource based on SR.Tier&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error - No Trade Rate Cards found for:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Trade: &lt;span style=&quot;font-size: 13px;&quot;&gt;{!var_SelectedTradeData.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Eng Rate of Pay Tier: {!var_ServiceResourceData.Rate_of_Pay_Tier__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Please contact the office.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>113</locationX>
        <locationY>144</locationY>
        <connector>
            <targetReference>Get_Trade_Rate_Card_based_on_SR_Rate_of_Pay_Tier</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_AccountRateCard_Standard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Card_Account__c</objectType>
    </variables>
    <variables>
        <name>var_OperativePercentShare_frm_Rates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_SelectedTradeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Trade__c</objectType>
    </variables>
    <variables>
        <name>var_ServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_Standard_AccountRateCard_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TradeRateCardRecord_Standard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Card_Trade__c</objectType>
    </variables>
    <variables>
        <name>var_TradeRateOperativeTier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Card_Trade__c</objectType>
    </variables>
</Flow>
