unpackaged/main/default/flows/FL_Fixed_Price_Work_Orders_Materials_Confirmed_by_Office.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Total_Excl_VAT</name>
        <label>Total Excl. VAT</label>
        <locationX>870</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>var_TOTAL_Rolled_up_POLI_Ex_VAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_POs_to_total.Rolled_up_POLI_Ex_VAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CountOfPOs</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_POs_to_total</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceIDoNotNeedToRaiseFurtherPOs</name>
        <choiceText>I do not need to raise a PO / I have raised the POs I need to</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ChoiceINeedToRaisePO</name>
        <choiceText>I need to raise a Purchase Order(s) before continuing</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Materials_Approved_by_Office_value</name>
        <label>Check Materials Approved by Office value</label>
        <locationX>632</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Materials_Approved_by_Office_value_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Materials_Approved_by_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenMatsConfirmedbyOfficeTRUE</targetReference>
            </connector>
            <label>Materials Approved by Office value=TRUE</label>
        </rules>
        <rules>
            <name>Materials_Approved_by_Office_value_FALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Materials_Approved_by_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CCT_Data</targetReference>
            </connector>
            <label>Materials Approved by Office value=FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_was_selected</name>
        <label>What was selected?</label>
        <locationX>480</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_raise_a_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceINeedToRaisePO</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenUser_Needs_to_raise_a_PO</targetReference>
            </connector>
            <label>Need to raise a PO</label>
        </rules>
        <rules>
            <name>Dont_need_to_raise_a_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceIDoNotNeedToRaiseFurtherPOs</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO</targetReference>
            </connector>
            <label>Dont need to raise a PO</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_CCTData_Simple_Charge_Materials</name>
        <dataType>Currency</dataType>
        <expression>IF({!var_CCTData.Simple_Charge_Materials__c}&gt;0,{!var_CCTData.Simple_Charge_Materials__c},0.00)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaUserName_And_DateTime</name>
        <dataType>String</dataType>
        <expression>LEFT({!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot; - stated they had raised any necessary POs - &quot; &amp; &quot;Date/Time: &quot; &amp; TEXT(NOW()),254)</expression>
    </formulas>
    <interviewLabel>FL - Fixed Price Work Orders - Materials Confirmed by Office {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL - Fixed Price Work Orders - Materials Confirmed by Office</label>
    <loops>
        <name>Loop_Thru_POs_to_total</name>
        <label>Loop Thru POs to total</label>
        <locationX>648</locationX>
        <locationY>808</locationY>
        <collectionReference>var_Coll_POs_for_WO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Excl_VAT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DisplaytoUserPOTotals_and_Simple_Materials</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CCT_Data</name>
        <label>Get CCT Data</label>
        <locationX>646</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_POs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Costs_and_Charges__c</elementReference>
            </value>
        </filters>
        <object>Costs_and_Charges__c</object>
        <outputReference>var_CCTData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Simple_Charge_Materials__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_POs</name>
        <label>Get POs</label>
        <locationX>648</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_POs_to_total</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputReference>var_Coll_POs_for_WO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rolled_up_POLI_Ex_VAT__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Data</name>
        <label>Get WO Data</label>
        <locationX>410</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Materials_Approved_by_Office_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Materials_Approved_by_Office__c</queriedFields>
        <queriedFields>Costs_and_Charges__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>635</locationX>
        <locationY>1525</locationY>
        <connector>
            <targetReference>ScreenNow_Proceed_to_book_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Materials_Approved_by_Office__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_When_Materials_Approved_by_Office__c</field>
            <value>
                <elementReference>FormulaUserName_And_DateTime</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DisplaytoUserPOTotals_and_Simple_Materials</name>
        <label>DisplaytoUserPOTotals and Simple Materials</label>
        <locationX>486</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_was_selected</targetReference>
        </connector>
        <fields>
            <name>DispalyTxtGiveInfoToUser</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(244, 2, 2);&quot;&gt;**Do you need to raise a Purchase Order?**&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Currently this Work Order has:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Number of &lt;b&gt;Purchase Orders&lt;/b&gt;: {!var_CountOfPOs} with a total value (excl. VAT) of {!var_TOTAL_Rolled_up_POLI_Ex_VAT}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Materials Charge&lt;/b&gt; as raised by Operative: {!Formula_CCTData_Simple_Charge_Materials}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_select</name>
            <choiceReferences>ChoiceINeedToRaisePO</choiceReferences>
            <choiceReferences>ChoiceIDoNotNeedToRaiseFurtherPOs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenMatsConfirmedbyOfficeTRUE</name>
        <label>MatsConfirmedbyOfficeTRUE</label>
        <locationX>890</locationX>
        <locationY>71</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DispalyTxtMatsConfirmedbyOfficeTRUE</name>
            <fieldText>&lt;p&gt;The Materials for this work Order have already been marked as Approved, therefore you should not see this screen - please refresh the page and if you still see it, please contact Richard Lloyd and give them a screenshot of the whole Work Order page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenNow_Proceed_to_book_Appointment</name>
        <label>Now Proceed to book Appointment</label>
        <locationX>716</locationX>
        <locationY>1671</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtNowProceedToBookAppointment</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please click Finish to now book a Service Appointment.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;*If you don&#39;t see the Booking Appointments widget &lt;i&gt;after &lt;/i&gt;clicking Finish, please refresh the page.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenUser_Needs_to_raise_a_PO</name>
        <label>User Needs to raise a PO</label>
        <locationX>279</locationX>
        <locationY>1377</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DispalyTxtNeedToRaisePO</name>
            <fieldText>&lt;p&gt;As you need to raise a Purchase Order you will not be able to book an Operative until you have confirmed this has been done.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please press Finish to return to the original screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>32</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>Get_WO_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CCTData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Costs_and_Charges__c</objectType>
    </variables>
    <variables>
        <name>var_Coll_POs_for_WO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>var_CountOfPOs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TOTAL_Rolled_up_POLI_Ex_VAT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
