unpackaged/main/default/flows/FL_FSL_mobile_Create_Purchase_Order_from_WO_and_Job_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Ass_Id_to_ServApptID</name>
        <label>Ass Id to ServApptID</label>
        <locationX>806</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>var_ServApptID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Serv_Appt_Data</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>var_Const_PO_Prod_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t7E000008959eQAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>var_Const_VanStock_Prod_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t7E00000893m7QAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_SA_and_its_Status</name>
        <label>Check for SA and its Status</label>
        <locationX>2004</locationX>
        <locationY>601</locationY>
        <defaultConnector>
            <targetReference>Check_for_SA_Job_Closure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_SA_and_is_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceApptData.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Visit Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServiceApptData.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServiceApptData.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServiceApptData.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Job Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_SA_Job_Closure</targetReference>
            </connector>
            <label>Got SA and is active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_SA_Job_Closure</name>
        <label>Check for SA Job Closure</label>
        <locationX>2188</locationX>
        <locationY>390</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_Status_is_Job_Closure_or_Visit_Complete_or_Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceApptData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServiceApptData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServiceApptData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCannot_add_a_PO_when_SA_Status_Job_closure_or_Visit_Complete</targetReference>
            </connector>
            <label>SA Status is Job Closure or Visit Complete or Cancelled</label>
        </rules>
        <rules>
            <name>Status_is_Dispatched_or_In_Transit_or_On_Site</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceApptData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServiceApptData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Transit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServiceApptData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_FL_FSL_mobile_Create_Purchase_Order_from_WO_and_Job_update_CandCs</targetReference>
            </connector>
            <label>Status is Dispatched or In Transit or On Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_of_WO</name>
        <label>Check Record Type of WO</label>
        <locationX>1829</locationX>
        <locationY>333</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FP_is_WO_Status_Accepted_Live</targetReference>
            </connector>
            <label>FP</label>
        </rules>
        <rules>
            <name>Reactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_SA_and_its_Status</targetReference>
            </connector>
            <label>Reactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>FP_is_WO_Status_Accepted_Live</name>
        <label>FP - is WO Status Accepted/Live?</label>
        <locationX>2011</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Accepted_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted/Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_SA_Job_Closure</targetReference>
            </connector>
            <label>Is Accepted/Live</label>
        </rules>
        <rules>
            <name>Is_Not_Accepted_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accepted/Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_SA_Job_Closure</targetReference>
            </connector>
            <label>Is Not Accepted/Live</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Reactive_or_Fixed_Price</name>
        <label>Is it Reactive or Fixed Price?</label>
        <locationX>1233</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Check_Record_Type_of_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fixed_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkOrderData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted/Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type_of_WO</targetReference>
            </connector>
            <label>Fixed Price</label>
        </rules>
        <rules>
            <name>Fixed_Price_but_not_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accepted/Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type_of_WO</targetReference>
            </connector>
            <label>Fixed Price but not Live</label>
        </rules>
        <rules>
            <name>Is_Reactive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type_of_WO</targetReference>
            </connector>
            <label>Is Reactive</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_Total_PREQ_PO_And_VanStock</name>
        <dataType>Currency</dataType>
        <expression>{!var_Total_PO_PREQ_frm_WO_and_WOLI}+{!var_Total_VanStock_PREQ_frm_WO_and_WOLI}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FL - FSL (mobile) - Create Purchase Order from WO and Job - Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL - FSL (mobile) - Create Purchase Order from WO and Job - Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Serv_Appt_Data</name>
        <label>Get Serv Appt Data</label>
        <locationX>934</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WO_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_ServiceApptData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WO_Data</name>
        <label>WO Data</label>
        <locationX>1067</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_Reactive_or_Fixed_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceApptData.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Is_Franchise_Work__c</queriedFields>
        <queriedFields>Is_Franchisee_Work__c</queriedFields>
        <queriedFields>Costs_and_Charges__c</queriedFields>
        <queriedFields>Work_Order_Line_Item_Duration__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>Sum_of_WO_PO_Product_Required__c</queriedFields>
        <queriedFields>Sum_of_WO_Van_Stock_Product_Required__c</queriedFields>
        <queriedFields>Summarised_WO_Info_for_Flow_display__c</queriedFields>
        <queriedFields>Job__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>Sum_of_WO_Scaffolding_Product_Required__c</queriedFields>
        <queriedFields>Sum_of_WO_Product_Required_Incl_VAT__c</queriedFields>
        <queriedFields>Sum_of_Purchase_Orders_Incl_VAT__c</queriedFields>
    </recordLookups>
    <screens>
        <name>ScreenCannot_add_a_PO_when_SA_Status_Job_closure_or_Visit_Complete</name>
        <label>Cannot add a PO when SA Status Job closure or Visit Complete</label>
        <locationX>2414</locationX>
        <locationY>613</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DispalyTxtCannotAddPOSAStatusJobClosureVisitComplete</name>
            <fieldText>&lt;p&gt;*You cannot add a Purchase Order when the Service Appointment is in a Status of {!var_ServiceApptData.Status}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Ass_Id_to_ServApptID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_FL_FSL_mobile_Create_Purchase_Order_from_WO_and_Job_update_CandCs</name>
        <label>Call FL - FSL (mobile) - Create Purchase Order from WO and Job - update CandCs</label>
        <locationX>2846</locationX>
        <locationY>407</locationY>
        <flowName>FL_FSL_mobile_Create_Purchase_Order_from_WO_and_Job_update_CandCs</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_WorkOrderData</name>
            <value>
                <elementReference>var_WorkOrderData</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServApptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceApptData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_Total_PO_PREQ_frm_WO_and_WOLI</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Total_PREQ_PO_And_VanStock</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Total_VanStock_PREQ_frm_WO_and_WOLI</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
