unpackaged/main/default/flows/FL_FSL_mobile_NEXT_GEN_UPDATE_STATUS_FIXED_PRICE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Ass_to_Description_of_Works_vars</name>
        <label>Ass to Description of Works vars</label>
        <locationX>1459</locationX>
        <locationY>2547</locationY>
        <assignmentItems>
            <assignToReference>var_JobReport_for_Customer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LTxtJob_Report_for_Customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Notes_for_Office</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LTextNotes_for_the_Office</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Bool_AreFurtherWorksRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChkBoxAre_further_works_required</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Completed_Works_photo_s</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceNoExit</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceUpdateToJobClosure</name>
        <choiceText>Job Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Job Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceUpdateToOnSite</name>
        <choiceText>On Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceUpdateToVisitComplete_NO_Payment</name>
        <choiceText>Yes proceed to Visit Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes proceed to Visit Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceUpdateToVisitCompletePayment</name>
        <choiceText>Take Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Take Payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYesUpdateToInTransit</name>
        <choiceText>In Transit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Transit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Account_Type</name>
        <label>Check Account Type</label>
        <locationX>2331</locationX>
        <locationY>596</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Type_is_Credit_or_Key_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_to_Visit_Complete_Credit_or_Key_Account</targetReference>
            </connector>
            <label>Account Type is Credit or Key Account</label>
        </rules>
        <rules>
            <name>Account_type_is_Cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Take_Payment</targetReference>
            </connector>
            <label>Account type is Cash</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Completed_Works_photo_s</name>
        <label>Check for Completed Works photo(s)</label>
        <locationX>1446</locationX>
        <locationY>2686</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_photo_s_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CollCompletedWorkUploadedFileNames</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_further_works_required</targetReference>
            </connector>
            <label>Yes photo(s) uploaded</label>
        </rules>
        <rules>
            <name>No_photo_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CollCompletedWorkUploadedFileNames</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNo_photo_s_of_Completed_Work</targetReference>
            </connector>
            <label>No photo uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_further_works_required</name>
        <label>Check for further works required</label>
        <locationX>1450</locationX>
        <locationY>2898</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Further_Work_IS_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChkBoxAre_further_works_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenFurther_Works_Required_Give_Summary</targetReference>
            </connector>
            <label>Further Work IS required</label>
        </rules>
        <rules>
            <name>Further_Work_NOT_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChkBoxAre_further_works_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Serv_Appt_to_Job_Closure_Further_Work_Not_Required</targetReference>
            </connector>
            <label>Further Work NOT required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Service_Report_record</name>
        <label>Check for Service Report record</label>
        <locationX>2032</locationX>
        <locationY>588</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceReportData_Not_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceReportData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServApptData.Service_Report_Required_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Type</targetReference>
            </connector>
            <label>ServiceReportData Not Null</label>
        </rules>
        <rules>
            <name>ServiceReportData_IS_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceReportData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServApptData.Service_Report_Required_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenServiceReportNotFound</targetReference>
            </connector>
            <label>ServiceReportData IS Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Service_Report_record_No_Payment</name>
        <label>Check for Service Report record (No Payment)</label>
        <locationX>2152</locationX>
        <locationY>1229</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceReportData_Not_Null_No_Payment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceReportData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ServApptData.Service_Report_Required_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_the_Last_SA_for_the_WO</targetReference>
            </connector>
            <label>ServiceReportData Not Null (No Payment)</label>
        </rules>
        <rules>
            <name>ServiceReportData_IS_Null_No_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceReportData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenServiceReportNotFound_No_Payment</targetReference>
            </connector>
            <label>ServiceReportData IS Null (No Payment)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_Transit_Confirmation</name>
        <label>Check In Transit Confirmation</label>
        <locationX>406</locationX>
        <locationY>2494</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_to_In_Transit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesUpdateToInTransit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Travel_time_data</targetReference>
            </connector>
            <label>Yes Update to In Transit</label>
        </rules>
        <rules>
            <name>No_Dont_Update_to_In_Transit_Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNoExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Dont Update to In Transit - Exit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Job_Closure_Confirmation</name>
        <label>Check Job Closure Confirmation</label>
        <locationX>1449</locationX>
        <locationY>2208</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_to_Job_Closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceUpdateToJobClosure</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_give_a_description_of_the_Works_carried_out</targetReference>
            </connector>
            <label>Yes Update to Job Closure</label>
        </rules>
        <rules>
            <name>No_Dont_Update_to_Job_Closure_Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNoExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Dont Update to Job Closure - Exit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_On_Site_Confirmation</name>
        <label>Check On Site Confirmation</label>
        <locationX>721</locationX>
        <locationY>2604</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_to_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceUpdateToOnSite</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Serv_Appt_to_On_Site</targetReference>
            </connector>
            <label>Yes Update to On Site</label>
        </rules>
        <rules>
            <name>No_Dont_Update_to_On_Site_Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNoExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Dont Update to On Site - Exit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Serv_Appt_Status</name>
        <label>Check Serv Appt Status</label>
        <locationX>839</locationX>
        <locationY>2134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServApptData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenServ_Appt_Status_will_be_Updated_to_In_Transit_Confirm</targetReference>
            </connector>
            <label>Status is Dispatched</label>
        </rules>
        <rules>
            <name>Status_is_In_Transit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServApptData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Transit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenServ_Appt_Status_will_be_Updated_to_On_Site_Confirm</targetReference>
            </connector>
            <label>Status is In Transit</label>
        </rules>
        <rules>
            <name>Status_is_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServApptData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenServ_Appt_Status_will_be_Updated_to_Job_Closure_Confirm</targetReference>
            </connector>
            <label>Status is On Site</label>
        </rules>
        <rules>
            <name>Status_is_Job_Closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServApptData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_Data_for_Payment_Flow</targetReference>
            </connector>
            <label>Status is Job Closure</label>
        </rules>
        <rules>
            <name>Status_is_Visit_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServApptData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenVisitComplete</targetReference>
            </connector>
            <label>Status is Visit Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Take_Payment_Visit_Complete_Confirmation_No_Payment</name>
        <label>Check Take Payment Visit Complete Confirmation (No Payment)</label>
        <locationX>1701</locationX>
        <locationY>1264</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Proceed_to_Take_Payment_and_Visit_Complete_No_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceUpdateToVisitComplete_NO_Payment</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Report_record_No_Payment</targetReference>
            </connector>
            <label>Yes Proceed to Take Payment and Visit Complete (No Payment)</label>
        </rules>
        <rules>
            <name>No_Dont_Proceed_to_Take_Payment_and_Visit_Complete_Exit_No_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNoExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Dont Proceed to Take Payment and Visit Complete - Exit (No Payment)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_or_Key_Account</name>
        <label>Credit or Key Account</label>
        <locationX>2808</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenAccount_Type_is_Credit</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
        <rules>
            <name>Key_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenAccount_Type_is_Key</targetReference>
            </connector>
            <label>Key Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_if_is_Last_Work_Order</name>
        <label>Decide if is Last Work Order</label>
        <locationX>1273</locationX>
        <locationY>1165</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_WO_AND_Last_SA_Go_to_payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Is_this_the_last_Not_Complete_WO_for_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Bool_Last_SA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenServ_Appt_Status_will_be_Updated_to_Visit_Complete_Last_WO_and_Last_SA</targetReference>
            </connector>
            <label>Last WO AND Last SA - Go to payment</label>
        </rules>
        <rules>
            <name>Not_Last_WO_do_not_go_to_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Is_this_the_last_Not_Complete_WO_for_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenServ_Appt_Status_will_be_Updated_to_Visit_Complete_Confirm_NoPayment</targetReference>
            </connector>
            <label>Not Last WO - do not go to Payment</label>
        </rules>
        <rules>
            <name>Last_WO_but_Not_Last_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Is_this_the_last_Not_Complete_WO_for_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Bool_Last_SA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenServ_Appt_Status_will_be_Updated_to_Visit_Complete_Confirm_NoPayment</targetReference>
            </connector>
            <label>Last WO but Not Last SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_Last_SA_for_the_WO</name>
        <label>Is this the Last SA for the WO?</label>
        <locationX>2810</locationX>
        <locationY>1344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Last_SA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_to_Visit_Complete_No_Payment_IS_Last_SA</targetReference>
            </connector>
            <label>Last SA</label>
        </rules>
        <rules>
            <name>Not_Last_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Last_SA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_to_Visit_Complete_No_Payment_Not_Last_SA</targetReference>
            </connector>
            <label>Not Last SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_to_Visit_Complete_or_Exit</name>
        <label>Proceed to Visit Complete or Exit</label>
        <locationX>1413</locationX>
        <locationY>860</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Proceed_to_Visit_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceUpdateToVisitComplete_NO_Payment</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_invoice_generation_for_Key_Account</targetReference>
            </connector>
            <label>Yes - Proceed to Visit Complete</label>
        </rules>
        <rules>
            <name>Exit_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNoExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_invoice_generation_for_Key_Account</name>
        <label>Skip invoice generation for Key Account</label>
        <locationX>1287</locationX>
        <locationY>705</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Type_is_credit_or_cash</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Generate_Invoice</targetReference>
            </connector>
            <label>Account Type is credit or cash</label>
        </rules>
        <rules>
            <name>Account_Type_is_Key_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Report_record</targetReference>
            </connector>
            <label>Account Type is Key account</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RecChoiceTradeObject</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Trade__c</object>
        <outputAssignments>
            <assignToReference>var_SelectedTradeData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedTradeData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FormulaAddDurationToNow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+({!var_WorkOrderData.Duration}*0.041667)</expression>
    </formulas>
    <interviewLabel>FL - FSL (mobile) - NEXT GEN UPDATE STATUS - FIXED PRICE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL - FSL (mobile) - NEXT GEN UPDATE STATUS - FIXED PRICE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Account_Data</name>
        <label>Get Account Data</label>
        <locationX>1042</locationX>
        <locationY>1413</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Last_SA_for_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_AccountData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CCT_Data_to_update_WO</name>
        <label>Get CCT Data to update WO</label>
        <locationX>1069</locationX>
        <locationY>3446</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_WO_Charge_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Costs_and_Charges__c</elementReference>
            </value>
        </filters>
        <object>Costs_and_Charges__c</object>
        <outputReference>var_CCTData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Charge_labour__c</queriedFields>
        <queriedFields>Charge_List_Price_Services__c</queriedFields>
        <queriedFields>Discount_Value__c</queriedFields>
        <queriedFields>Charge_Materials__c</queriedFields>
        <queriedFields>Call_Out_Fee__c</queriedFields>
        <queriedFields>Charge_ULEZ__c</queriedFields>
        <queriedFields>Charge_Collection_Fee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Report_record</name>
        <label>Get Service Report record</label>
        <locationX>1859</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Service_Report_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptID</elementReference>
            </value>
        </filters>
        <object>ServiceReport</object>
        <outputReference>var_ServiceReportData</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Report_record_No_Payment</name>
        <label>Get Service Report record (No Payment)</label>
        <locationX>1966</locationX>
        <locationY>1160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Service_Report_record_No_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptID</elementReference>
            </value>
        </filters>
        <object>ServiceReport</object>
        <outputReference>var_ServiceReportData</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Data_for_Payment_Flow</name>
        <label>Get WO Data for Payment Flow</label>
        <locationX>1036</locationX>
        <locationY>1785</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Franchisee_Work__c</queriedFields>
        <queriedFields>Customer_Name__c</queriedFields>
        <queriedFields>Job__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Costs_and_Charges__c</queriedFields>
        <queriedFields>Is_this_the_last_Not_Complete_WO_for_Job__c</queriedFields>
        <queriedFields>Contact_Email_who_Raised_Work_Order__c</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_Generate_Invoice</name>
        <label>Update Job -Generate Invoice</label>
        <locationX>1291</locationX>
        <locationY>498</locationY>
        <connector>
            <targetReference>Get_Service_Report_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Generate_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_to_Visit_Complete_Credit_or_Key_Account</name>
        <label>Update SA to Visit Complete (Credit or Key Account)</label>
        <locationX>2555</locationX>
        <locationY>454</locationY>
        <connector>
            <targetReference>Update_WO_to_Complete_Credit_or_Key_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_This_the_Last_SA_for_WO__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Visit Complete</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_to_Visit_Complete_No_Payment_IS_Last_SA</name>
        <label>Update SA to Visit Complete (No Payment) (IS Last SA)</label>
        <locationX>2999</locationX>
        <locationY>1202</locationY>
        <connector>
            <targetReference>Update_WO_to_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_This_the_Last_SA_for_WO__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Visit Complete</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_to_Visit_Complete_No_Payment_Not_Last_SA</name>
        <label>Update SA to Visit Complete (No Payment) (Not Last SA)</label>
        <locationX>2959</locationX>
        <locationY>1534</locationY>
        <connector>
            <targetReference>ScreenService_Appt_Updated_to_Visit_Complete_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Visit Complete</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Serv_Appt_to_In_Transit</name>
        <label>Update Serv Appt to In Transit</label>
        <locationX>32</locationX>
        <locationY>2813</locationY>
        <connector>
            <targetReference>ScreenServ_Appt_Status_Updated_to_In_Transit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>var_AssignedResourceData.NOW_Add_Estimated_Travel_Time_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>var_AssignedResourceData.NOW_Add_Estimated_Travel_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Transit</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Serv_Appt_to_Job_Closure_Further_Work_Not_Required</name>
        <label>Update Serv Appt. to Job Closure (Further Work Not Required)</label>
        <locationX>1217</locationX>
        <locationY>3021</locationY>
        <connector>
            <targetReference>Update_WO_Service_Appt_Status_to_Job_closure_Further_Work_Not_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendance_Notes_for_Office__c</field>
            <value>
                <elementReference>var_Notes_for_Office</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendance_Report_for_Customer__c</field>
            <value>
                <elementReference>var_JobReport_for_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Job Closure</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Serv_Appt_to_Job_Closure_Further_Work_Required</name>
        <label>Update Serv Appt. to Job Closure (Further Work Required)</label>
        <locationX>1520</locationX>
        <locationY>3242</locationY>
        <connector>
            <targetReference>Update_WO_Service_Appt_Status_to_Job_closure_Further_Work_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendance_Notes_for_Office__c</field>
            <value>
                <elementReference>var_Notes_for_Office</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendance_Report_for_Customer__c</field>
            <value>
                <elementReference>var_JobReport_for_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Job Closure</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Serv_Appt_to_On_Site</name>
        <label>Update Serv Appt to On Site</label>
        <locationX>730</locationX>
        <locationY>2760</locationY>
        <connector>
            <targetReference>Update_WO_On_Site_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>FormulaAddDurationToNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On site</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Charge_fields</name>
        <label>Update WO Charge fields</label>
        <locationX>992</locationX>
        <locationY>3589</locationY>
        <connector>
            <targetReference>NowGoToWOCreateSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Out_Fee__c</field>
            <value>
                <elementReference>var_CCTData.Call_Out_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Collection_Fee__c</field>
            <value>
                <elementReference>var_CCTData.Charge_Collection_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Labour__c</field>
            <value>
                <elementReference>var_CCTData.Charge_labour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_List_Price_Services__c</field>
            <value>
                <elementReference>var_CCTData.Charge_List_Price_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Materials__c</field>
            <value>
                <elementReference>var_CCTData.Charge_Materials__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_ULEZ__c</field>
            <value>
                <elementReference>var_CCTData.Charge_ULEZ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Value__c</field>
            <value>
                <elementReference>var_CCTData.Discount_Value__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_On_Site_Date_Time</name>
        <label>Update WO On Site Date/Time</label>
        <locationX>728</locationX>
        <locationY>2907</locationY>
        <connector>
            <targetReference>ScreenServ_Appt_Status_Updated_to_On_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>On_Site_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Service_Appt_Status_to_Job_closure_Further_Work_Not_Required</name>
        <label>Update WO Service Appt Status to Job closure (Further Work Not Required)</label>
        <locationX>1073</locationX>
        <locationY>3121</locationY>
        <connector>
            <targetReference>Get_CCT_Data_to_update_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Out_Fee__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Collection_Fee__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Labour__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_List_Price_Services__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Materials__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_ULEZ__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Value__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Further_Work_Required__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment_Status__c</field>
            <value>
                <stringValue>Job Closure</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Service_Appt_Status_to_Job_closure_Further_Work_Required</name>
        <label>Update WO Service Appt Status to Job closure (Further Work Required)</label>
        <locationX>1436</locationX>
        <locationY>3400</locationY>
        <connector>
            <targetReference>Get_CCT_Data_to_update_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Out_Fee__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Collection_Fee__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Labour__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_List_Price_Services__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Materials__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_ULEZ__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Value__c</field>
            <value>
                <numberValue>111.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Further_Work_Required__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment_Status__c</field>
            <value>
                <stringValue>Job Closure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Summary_of_Further_Works_Required__c</field>
            <value>
                <elementReference>Short_Summary_of_Further_Works_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_for_Further_Work_Required__c</field>
            <value>
                <elementReference>var_SelectedTradeData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_to_Complete</name>
        <label>Update WO to Complete</label>
        <locationX>3156</locationX>
        <locationY>1285</locationY>
        <connector>
            <targetReference>ScreenService_Appt_Updated_to_Visit_Complete_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_to_Complete_Credit_or_Key_Account</name>
        <label>Update WO to Complete (Credit or Key Account)</label>
        <locationX>2667</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Credit_or_Key_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Outstanding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>NowGoToWOCreateSR</name>
        <label>NowGoToWOCreateSR</label>
        <locationX>779</locationX>
        <locationY>3773</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtNowGoToWOCreateSR_NoFurtherWork</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Your service appointment status has been updated to Job Closure.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;To continue, click Next, Finish and scroll down to Create Service Report.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;*A service report is required to update your status to Visit Complete.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_give_a_description_of_the_Works_carried_out</name>
        <label>Please now give a description of the Works carried out:</label>
        <locationX>1456</locationX>
        <locationY>2404</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ass_to_Description_of_Works_vars</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtGiveDescriptionOfWorksCarriedOut</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please now give a description of the works carried out:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LTxtJob_Report_for_Customer</name>
            <defaultValue>
                <stringValue>{!var_JobReport_for_Customer}</stringValue>
            </defaultValue>
            <fieldText>Job report for customer (required):</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LTextNotes_for_the_Office</name>
            <defaultValue>
                <stringValue>{!var_Notes_for_Office}</stringValue>
            </defaultValue>
            <fieldText>Notes for the office (optional):</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ImageCompletedWork</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Image(s) of completed work (required)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_WorkOrderData.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_CollCompletedWorkUploadedFileNames</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <fields>
            <name>WorkDocuments</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work document(s) (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_WorkOrderData.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ChkBoxAre_further_works_required</name>
            <dataType>Boolean</dataType>
            <fieldText>Are further works required?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenAccount_Type_is_Credit</name>
        <label>Account Type is Credit</label>
        <locationX>2949</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtAccounttypeCredit</name>
            <fieldText>&lt;p&gt;As this a &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_AccountData.Account_Type__c} &lt;/span&gt;customer an email has been sent to the client requesting payment. The client has 30 days to pay.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenAccount_Type_is_Key</name>
        <label>Account Type is Key</label>
        <locationX>2967</locationX>
        <locationY>349</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtAccounttypeKey</name>
            <fieldText>&lt;p&gt;As this a credit customer an email has been sent to the client requesting payment. The client has 30 days to pay.&lt;/p&gt;&lt;p&gt;The service appointment status has been updated to Visit Complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenFurther_Works_Required_Give_Summary</name>
        <label>Further Works Required Give Summary</label>
        <locationX>1463</locationX>
        <locationY>3090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Serv_Appt_to_Job_Closure_Further_Work_Required</targetReference>
        </connector>
        <fields>
            <name>Short_Summary_of_Further_Works_Required</name>
            <fieldText>Short summary of further works required:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PicklistPlease_select_Trade_Required</name>
            <choiceReferences>RecChoiceTradeObject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select trade required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNo_photo_s_of_Completed_Work</name>
        <label>No photo(s) of Completed Work</label>
        <locationX>1257</locationX>
        <locationY>2523</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_give_a_description_of_the_Works_carried_out</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtNoPhotoCompletedWork</name>
            <fieldText>&lt;p&gt;An image of the completed work is required.&lt;/p&gt;&lt;p&gt;Please press Next to add.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenServ_Appt_Status_Updated_to_In_Transit</name>
        <label>Serv Appt Status Updated to In Transit</label>
        <locationX>27</locationX>
        <locationY>3023</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtServApptstatusInTransit</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Your service appointment status has been updated to In Transit&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Your estimate start time is: {!var_AssignedResourceData.NOW_Add_Estimated_Travel_Time__c}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Your estimate end time is: &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!var_AssignedResourceData.NOW_Add_Estimated_Travel_Time_Duration__c}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;(Duration of {!var_WorkOrderData.Duration} hours)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenServ_Appt_Status_Updated_to_On_Site</name>
        <label>Serv Appt Status Updated to On Site</label>
        <locationX>726</locationX>
        <locationY>3057</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtServApptStatusOnSite</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Your service appointment status has been updated to On Site&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenServ_Appt_Status_will_be_Updated_to_In_Transit_Confirm</name>
        <label>Serv Appt Status will be Updated to In Transit Confirm</label>
        <locationX>552</locationX>
        <locationY>2323</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_In_Transit_Confirmation</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtServApptstatusInTransitConfirm</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please select In Transit and click next&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnPlease_confirm_InTransit</name>
            <choiceReferences>ChoiceYesUpdateToInTransit</choiceReferences>
            <choiceReferences>ChoiceNoExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please confirm:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenServ_Appt_Status_will_be_Updated_to_Job_Closure_Confirm</name>
        <label>Serv Appt Status will be Updated to Job Closure Confirm</label>
        <locationX>1454</locationX>
        <locationY>2033</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Job_Closure_Confirmation</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtServApptStatusJobClosureConfirm</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please select Job Closure and click next&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;*If you do this you wont be able to raise any purchase orders&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnPlease_confirm_JobClosure</name>
            <choiceReferences>ChoiceUpdateToJobClosure</choiceReferences>
            <choiceReferences>ChoiceNoExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please confirm:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenServ_Appt_Status_will_be_Updated_to_On_Site_Confirm</name>
        <label>Serv Appt Status will be Updated to On Site Confirm</label>
        <locationX>853</locationX>
        <locationY>2450</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_On_Site_Confirmation</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtServApptstatusOnSiteConfirm</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select On Site and click next&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnPlease_confirm_OnSite</name>
            <choiceReferences>ChoiceUpdateToOnSite</choiceReferences>
            <choiceReferences>ChoiceNoExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please confirm:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenServ_Appt_Status_will_be_Updated_to_Visit_Complete_Confirm_NoPayment</name>
        <label>Serv Appt Status will be Updated to Visit Complete Confirm_NoPayment</label>
        <locationX>1494</locationX>
        <locationY>1206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Take_Payment_Visit_Complete_Confirmation_No_Payment</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtNoPaymentReq</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;*No payment is required as this is not the last Work Order or last Service Appointment for this Job.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnPlease_confirm_VisitComplete_0</name>
            <choiceReferences>ChoiceUpdateToVisitComplete_NO_Payment</choiceReferences>
            <choiceReferences>ChoiceNoExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please confirm:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenServ_Appt_Status_will_be_Updated_to_Visit_Complete_Last_WO_and_Last_SA</name>
        <label>Serv Appt Status will be Updated to Visit Complete Last WO and Last SA</label>
        <locationX>1264</locationX>
        <locationY>938</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Proceed_to_Visit_Complete_or_Exit</targetReference>
        </connector>
        <fields>
            <name>RadbtnPlease_confirm_VisitComplete_Last_WO_and_Last_SA</name>
            <choiceReferences>ChoiceUpdateToVisitComplete_NO_Payment</choiceReferences>
            <choiceReferences>ChoiceNoExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please confirm:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenService_Appt_Updated_to_Visit_Complete_Confirmation</name>
        <label>Service Appt Updated to Visit Complete Confirmation</label>
        <locationX>3183</locationX>
        <locationY>1553</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtServiceApptUpdatedVisitCompleteConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The service appointment status has now been updated to Visit Complete.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please press Next and Finish.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenServiceReportNotFound</name>
        <label>ServiceReportNotFound</label>
        <locationX>2143</locationX>
        <locationY>359</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtServiceReportNotFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You cannot take a payment without a service report. T&lt;/b&gt;&lt;b style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;o continue, click Next, Finish and scroll down to Create Service Report.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenServiceReportNotFound_No_Payment</name>
        <label>ServiceReportNotFound (No Payment)</label>
        <locationX>2260</locationX>
        <locationY>1024</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtServiceReportNotFound_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You cannot take a payment without a service report. T&lt;/b&gt;&lt;b style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;o continue, click Next, Finish and scroll down to Create Service Report.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenVisitComplete</name>
        <label>VisitComplete</label>
        <locationX>721</locationX>
        <locationY>1918</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtVisitComplete</name>
            <fieldText>&lt;p&gt;The Service Appointment is already in a Status of Visit Complete.&lt;/p&gt;&lt;p&gt;To make any changes now you will need to contact the office.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>5</locationX>
        <locationY>2041</locationY>
        <connector>
            <targetReference>Check_Serv_Appt_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_if_Last_SA_for_WO</name>
        <label>Check if Last SA for WO</label>
        <locationX>1056</locationX>
        <locationY>1201</locationY>
        <connector>
            <targetReference>Decide_if_is_Last_Work_Order</targetReference>
        </connector>
        <flowName>FL_FSL_mobile_Is_this_the_Last_SA_for_WO</flowName>
        <inputAssignments>
            <name>var_ServApptData</name>
            <value>
                <elementReference>var_ServApptData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_WorkOrderData</name>
            <value>
                <elementReference>var_WorkOrderData</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_Bool_Last_SA</assignToReference>
            <name>var_Bool_Last_SA</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Travel_time_data</name>
        <label>Get Travel time data</label>
        <locationX>223</locationX>
        <locationY>2622</locationY>
        <connector>
            <targetReference>Update_Serv_Appt_to_In_Transit</targetReference>
        </connector>
        <flowName>PHASE_2_Get_Travel_To_Data_for_Service_Appointment</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ServApptData</name>
            <value>
                <elementReference>var_ServApptData</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_AssignedResourceData</assignToReference>
            <name>var_AssignedResourceData</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Take_Payment</name>
        <label>Take Payment</label>
        <locationX>2615</locationX>
        <locationY>783</locationY>
        <flowName>FL_FSL_mobile_Take_Payment_for_Customer_Invoice</flowName>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ServApptData</name>
            <value>
                <elementReference>var_ServApptData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_WorkOrderData</name>
            <value>
                <elementReference>var_WorkOrderData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Bool_Last_SA</name>
            <value>
                <elementReference>var_Bool_Last_SA</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_AssignedResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>var_Bool_AreFurtherWorksRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Bool_Last_SA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_CCTData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Costs_and_Charges__c</objectType>
    </variables>
    <variables>
        <name>var_CollCompletedWorkUploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_JobReport_for_Customer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Notes_for_Office</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedTradeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trade__c</objectType>
    </variables>
    <variables>
        <name>var_ServApptData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_ServApptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceReportData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceReport</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
