unpackaged/main/default/flows/FL_FSL_mobile_Create_Fixed_Price_Work_Order_Bare_Minimum_NEXT_GEN_Calc_Serv_Fee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Band_Found_Ass_Percentage</name>
        <label>Band Found Ass Percentage</label>
        <locationX>1449</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceFeePercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_LoopServFeeBand.Service_Fee_Percentage__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decide_on_Band</name>
        <label>Decide on Band</label>
        <locationX>1101</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Band_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrencyTotalServFeeBand</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>var_LoopServFeeBand.End_of_Band__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Band_Found_Ass_Percentage</targetReference>
            </connector>
            <label>Band Found</label>
        </rules>
        <rules>
            <name>Band_NOT_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrencyTotalServFeeBand</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_LoopServFeeBand.End_of_Band__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Serv_Fee_Bands</targetReference>
            </connector>
            <label>Band NOT Found</label>
        </rules>
    </decisions>
    <interviewLabel>FL - FSL (mobile) - Create Fixed Price Work Order Bare Minimum NEXT GEN Calc Serv Fee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL - FSL (mobile) - Create Fixed Price Work Order Bare Minimum NEXT GEN Calc Serv Fee</label>
    <loops>
        <name>Loop_Thru_Serv_Fee_Bands</name>
        <label>Loop Thru Serv Fee Bands</label>
        <locationX>664</locationX>
        <locationY>132</locationY>
        <assignNextValueToReference>var_LoopServFeeBand</assignNextValueToReference>
        <collectionReference>var_CollServFeeBandings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decide_on_Band</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Serv_Fee_Banding</name>
        <label>Get Serv Fee Banding</label>
        <locationX>488</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Serv_Fee_Bands</targetReference>
        </connector>
        <object>Service_Fee_Banding__mdt</object>
        <outputReference>var_CollServFeeBandings</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>End_of_Band__c</queriedFields>
        <queriedFields>Service_Fee_Percentage__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>83</locationX>
        <locationY>140</locationY>
        <connector>
            <targetReference>Get_Serv_Fee_Banding</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CollServFeeBandings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Fee_Banding__mdt</objectType>
    </variables>
    <variables>
        <name>var_CurrencyTotalServFeeBand</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_LoopServFeeBand</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Fee_Banding__mdt</objectType>
    </variables>
    <variables>
        <name>var_ServiceFeePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
