unpackaged/main/default/flows/FL_FSL_mobile_Is_this_the_Last_SA_for_WO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_1_to_Count_of_all_SAs</name>
        <label>Add 1 to Count of all SAs</label>
        <locationX>895</locationX>
        <locationY>3</locationY>
        <assignmentItems>
            <assignToReference>var_Count_ALL_SAs</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_SA_Status_Visit_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_Count_of_Visit_Complete_SAs</name>
        <label>Add 1 to Count of Visit Complete SAs</label>
        <locationX>991</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>var_Count_Visit_Complete_SAs</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_SAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_TRUE</name>
        <label>Ass TRUE</label>
        <locationX>487</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>var_Bool_Last_SA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_Count_of_All_SAs_Equals_Count_of_Visit_Complete_SAs_then_this_is_last_SA</name>
        <label>If Count of All SAs Equals Count of Visit Complete SAs then this is last SA</label>
        <locationX>611</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_ALL_SAs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_Count_Visit_Complete_SAs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_TRUE</targetReference>
            </connector>
            <label>Last SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_SA_Status_Visit_Complete</name>
        <label>Is the SA Status Visit Complete?</label>
        <locationX>1111</locationX>
        <locationY>143</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_SAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Loop_SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_Count_of_Visit_Complete_SAs</targetReference>
            </connector>
            <label>Visit Complete</label>
        </rules>
    </decisions>
    <interviewLabel>FL - FSL (mobile) - Is this the Last SA for WO? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL - FSL (mobile) - Is this the Last SA for WO?</label>
    <loops>
        <name>Loop_Thru_SAs</name>
        <label>Loop Thru SAs</label>
        <locationX>645</locationX>
        <locationY>119</locationY>
        <assignNextValueToReference>var_Loop_SA</assignNextValueToReference>
        <collectionReference>var_CollSAs_for_WO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_Count_of_all_SAs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Count_of_All_SAs_Equals_Count_of_Visit_Complete_SAs_then_this_is_last_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_All_SAs_for_FP_Work_Order_excluding_this_SA</name>
        <label>Get All SAs for FP Work Order excluding this SA</label>
        <locationX>488</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_SAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_ServApptData.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_CollSAs_for_WO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_SAs_for_FP_Work_Order_excluding_this_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Bool_Last_SA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_CollSAs_for_WO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_Count_ALL_SAs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Count_Visit_Complete_SAs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Loop_SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_ServApptData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
