unpackaged/main/default/flows/FL_FSL_mobile_Create_Missing_Supplier_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Ass_Created_Contact_ID</name>
        <label>Ass Created Contact ID</label>
        <locationX>1919</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>var_CreatedContactData.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SupplierAccountData.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplierAccountData.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CreatedSupplierAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreatedContactData.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SupplierAccountData.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreatedContactData.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SupplierAccountData.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CreatedContactData.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CreatedSupplierAccountID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_Screen_values_to_vars</name>
        <label>Ass Screen values to vars</label>
        <locationX>621</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>var_SupplierAccountData.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplierAccountData.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_of_Supplier_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplierAccountData.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_of_Supplier_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplierAccountData.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_of_Supplier_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplierAccountData.Invoicing_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoicing_Email_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplierAccountData.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier_Phone_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplierAccountData.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplierAccountData.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_City_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplierAccountData.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_County_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SupplierAccountData.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Post_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SiteName_AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SiteName_BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SiteName_BillingPostCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Post_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenConfirmSupplierDetailsCorrect</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceSupplierDetailsCorrect</name>
        <choiceText>Correct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Correct</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceSupplierDetailsNOTCorrect</name>
        <choiceText>Amend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amend</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Do_Account_details_need_to_be_amended</name>
        <label>Do Account details need to be amended?</label>
        <locationX>751</locationX>
        <locationY>534</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Amend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceSupplierDetailsNOTCorrect</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenEnter_Supplier_Details</targetReference>
            </connector>
            <label>Yes - Amend</label>
        </rules>
        <rules>
            <name>No_correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceSupplierDetailsCorrect</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Supplier_A_C_record_Type_ID</targetReference>
            </connector>
            <label>No correct</label>
        </rules>
    </decisions>
    <formulas>
        <description>LEFT( {!var_SiteName_AccountName} &amp; &quot; - &quot; &amp; {!var_SiteName_BillingStreet}  &amp; &quot; - &quot; &amp; {!var_SiteName_BillingPostCode} , 80)</description>
        <name>FormulaSiteName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Supplier_Name} &amp; &quot; - &quot; &amp; {!Billing_Street_Address} &amp; &quot; - &quot; &amp; {!Billing_Post_Code} , 80)</expression>
    </formulas>
    <formulas>
        <name>FormulaSiteName_Simple</name>
        <dataType>String</dataType>
        <expression>LEFT({!Supplier_Name}, 80)</expression>
    </formulas>
    <interviewLabel>FL - FSL (mobile) - Create Missing Supplier record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL - FSL (mobile) - Create Missing Supplier record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_New_Supplier_A_C</name>
        <label>Create New Supplier A/C</label>
        <locationX>1337</locationX>
        <locationY>295</locationY>
        <assignRecordIdToReference>var_CreatedSupplierAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Supplier_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>var_SupplierAccountData.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>var_SupplierAccountData.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>var_SupplierAccountData.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>var_SupplierAccountData.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>var_SupplierAccountData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>var_SupplierAccountData.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Email_Address__c</field>
            <value>
                <elementReference>var_SupplierAccountData.Invoicing_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>var_SupplierAccountData.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_SupplierAccountData.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>var_SupplierAccountData.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_Supplier_Account_RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Service__c</field>
            <value>
                <elementReference>var_Supplier_Service</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Site</name>
        <label>Create Site</label>
        <locationX>2075</locationX>
        <locationY>301</locationY>
        <assignRecordIdToReference>var_CreatedSiteID</assignRecordIdToReference>
        <connector>
            <targetReference>Ass_Created_Contact_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>var_CreatedSupplierAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FormulaSiteName_Simple</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Site_Contact__c</field>
            <value>
                <elementReference>var_CreatedContactData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Site__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_SupplierSiteRecTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_City__c</field>
            <value>
                <elementReference>var_SupplierAccountData.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_PostalCode__c</field>
            <value>
                <elementReference>var_SupplierAccountData.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Street__c</field>
            <value>
                <elementReference>var_SupplierAccountData.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Site__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Site_TESTING_ONLY</name>
        <label>Create Site TESTING ONLY</label>
        <locationX>2298</locationX>
        <locationY>156</locationY>
        <assignRecordIdToReference>var_CreatedSiteID</assignRecordIdToReference>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>var_CreatedSupplierAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>TESTSITENAME</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_PostalCode__c</field>
            <value>
                <stringValue>sw162bn</stringValue>
            </value>
        </inputAssignments>
        <object>Site__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Supplier_Contact</name>
        <label>Create Supplier Contact</label>
        <locationX>1581</locationX>
        <locationY>213</locationY>
        <assignRecordIdToReference>var_CreatedContactData.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Supplier_Site_Record_Type_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_CreatedSupplierAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>var_SupplierAccountData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>var_SupplierAccountData.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>var_SupplierAccountData.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>var_SupplierAccountData.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Supplier_A_C_record_Type_ID</name>
        <label>Get Supplier A/C record Type ID</label>
        <locationX>1128</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Supplier_A_C</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_Supplier_Account_RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplier_Site_Record_Type_ID</name>
        <label>Get Supplier Site Record Type ID</label>
        <locationX>1831</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_SupplierSiteRecTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ScreenConfirmSupplierDetailsCorrect</name>
        <label>ConfirmSupplierDetailsCorrect</label>
        <locationX>879</locationX>
        <locationY>375</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_Account_details_need_to_be_amended</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtConfirmSupplierDetailsCorrect</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please confirm the supplier details entered are correct:&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Supplier name: {!var_SupplierAccountData.Name}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;First name of supplier contact: {!var_SupplierAccountData.First_Name__c}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Last name of supplier contact: {!var_SupplierAccountData.Last_Name__c}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Email of supplier contact: {!var_SupplierAccountData.Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Invoicing email address:  {!var_SupplierAccountData.Invoicing_Email_Address__c}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Phone number: {!var_SupplierAccountData.Phone}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Billing street address: {!var_SupplierAccountData.BillingStreet}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Billing city address: {!var_SupplierAccountData.BillingCity}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Billing county address: {!var_SupplierAccountData.BillingState}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Billing post code: {!var_SupplierAccountData.BillingPostalCode}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_cofirm</name>
            <choiceReferences>ChoiceSupplierDetailsCorrect</choiceReferences>
            <choiceReferences>ChoiceSupplierDetailsNOTCorrect</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please cofirm:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenEnter_Supplier_Details</name>
        <label>Enter Supplier Details</label>
        <locationX>447</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ass_Screen_values_to_vars</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtEnterSupplierDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please provide supplier details below:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Supplier_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_SupplierAccountData.Name</elementReference>
            </defaultValue>
            <fieldText>Supplier name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name_of_Supplier_Contact</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_SupplierAccountData.First_Name__c</elementReference>
            </defaultValue>
            <fieldText>First name of supplier contact:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name_of_Supplier_Contact</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_SupplierAccountData.Last_Name__c</elementReference>
            </defaultValue>
            <fieldText>Last name of supplier contact:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_of_Supplier_Contact</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_SupplierAccountData.Email__c</elementReference>
            </defaultValue>
            <fieldText>Email of supplier contact:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Invoicing_Email_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_SupplierAccountData.Invoicing_Email_Address__c</elementReference>
            </defaultValue>
            <fieldText>Invoicing email address:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Supplier_Phone_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_SupplierAccountData.Phone</elementReference>
            </defaultValue>
            <fieldText>Supplier phone number:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Street_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_SiteName_BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Billing street address:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_City_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_SupplierAccountData.BillingCity</elementReference>
            </defaultValue>
            <fieldText>Billing city address:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_County_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_SupplierAccountData.BillingState</elementReference>
            </defaultValue>
            <fieldText>Billing county address:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Post_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_SupplierAccountData.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Billing post code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TestScreen1</name>
        <label>TestScreen1</label>
        <locationX>848</locationX>
        <locationY>92</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DTxt1</name>
            <fieldText>&lt;p&gt;Test Screen 1&lt;/p&gt;&lt;p&gt;var_SiteName_AccountName: {!var_SiteName_AccountName}&lt;/p&gt;&lt;p&gt;Supplier_Name: {!Supplier_Name}&lt;/p&gt;&lt;p&gt;var_SiteName_BillingStreet: {!var_SiteName_BillingStreet}&lt;/p&gt;&lt;p&gt;Billing_Street_Address: {!Billing_Street_Address}&lt;/p&gt;&lt;p&gt;var_SiteName_BillingPostCode: {!var_SiteName_BillingPostCode}&lt;/p&gt;&lt;p&gt;Billing_Post_Code: {!Billing_Post_Code}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TestScreen2</name>
        <label>TestScreen2</label>
        <locationX>1207</locationX>
        <locationY>105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DTxt1_0</name>
            <fieldText>&lt;p&gt;Test Screen 2&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TestScreen2_0</name>
        <label>TestScreen3</label>
        <locationX>1410</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DTxt1_0_0</name>
            <fieldText>&lt;p&gt;Test Screen 3&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TestScreen2_0_0</name>
        <label>TestScreen4</label>
        <locationX>1680</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DTxt4</name>
            <fieldText>&lt;p&gt;Test Screen 4&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TestScreen5</name>
        <label>TestScreen5</label>
        <locationX>2011</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DTxt5</name>
            <fieldText>&lt;p&gt;Test Screen 5&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;FormulaSiteName: &lt;/span&gt;{!FormulaSiteName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;LEFT( &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;var_SiteName_AccountName:&lt;/span&gt;{!var_SiteName_AccountName} &amp;amp; &quot; - &quot; &amp;amp; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;var_SiteName_BillingStreet:&lt;/span&gt; {!var_SiteName_BillingStreet}&amp;nbsp;&amp;amp; &quot; - &quot; &amp;amp; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;var_SiteName_BillingPostCode: &lt;/span&gt;{!var_SiteName_BillingPostCode} , 80)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TestScreen6</name>
        <label>TestScreen6</label>
        <locationX>2177</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DTxt6</name>
            <fieldText>&lt;p&gt;Test Screen 6&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;FormulaSiteName: &lt;/span&gt;{!FormulaSiteName}&lt;/p&gt;&lt;p&gt;var_CreatedSiteID: {!var_CreatedSiteID}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>ScreenEnter_Supplier_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CreatedContactData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_CreatedSiteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CreatedSupplierAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SiteName_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_SiteName_BillingPostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_SiteName_BillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Supplier_Account_RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Supplier_Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SupplierAccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_SupplierSiteRecTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
