unpackaged/main/default/flows/FL_OFFSA_Deposit_Not_Paid_Create_Associated_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>ChoiceCreditCustomer</name>
        <choiceText>Credit Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNotPaidDepositInFull</name>
        <choiceText>Deposit of £{!var_OFFSAData.Deposit_required__c} Not paid in full</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ChoicePaidDepositViaBankTransfer</name>
        <choiceText>Deposit Paid via Bank Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deposit Paid via Bank Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoicePaidFullDeposit</name>
        <choiceText>Yes Deposit of £{!var_OFFSAData.Deposit_required__c} paid in full</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>check_if_deposit_paid_in_full</name>
        <label>check if deposit paid in full</label>
        <locationX>1370</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deposit_paid_in_full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoicePaidFullDeposit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OFFSA</targetReference>
            </connector>
            <label>Deposit paid in full</label>
        </rules>
        <rules>
            <name>Deposit_not_paid_in_full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNotPaidDepositInFull</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNot_Paid_Deposit_in_full</targetReference>
            </connector>
            <label>Deposit not paid in full</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selection</name>
        <label>Check Selection</label>
        <locationX>989</locationX>
        <locationY>62</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceCreditCustomer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OFFSA_0</targetReference>
            </connector>
            <label>Credit Customer</label>
        </rules>
        <rules>
            <name>Paid_via_Bank_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoicePaidDepositViaBankTransfer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenPaid_Via_Bank_Transfer</targetReference>
            </connector>
            <label>Paid via Bank Transfer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_already_a_WO</name>
        <label>Is there already a WO?</label>
        <locationX>578</locationX>
        <locationY>66</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_got_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_OFFSAData.Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OFFSAData.Work_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenAlready_have_WO</targetReference>
            </connector>
            <label>Yes - got WO</label>
        </rules>
        <rules>
            <name>No_Work_Order_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_OFFSAData.Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OFFSAData.Work_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>No Work Order Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormulaDetailsUserWhoClickedButton</name>
        <dataType>String</dataType>
        <expression>{!$User.Username} &amp; &quot; Date: &quot; &amp; TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>FormulaReplaceWorldPayDepositIDBankTransfer</name>
        <dataType>String</dataType>
        <expression>LEFT({!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot; bypassed Deposit process as paid via Bank Transfer&quot;,255)</expression>
    </formulas>
    <formulas>
        <name>FormulaReplaceWorldPayDepositIDCreditCustomer</name>
        <dataType>String</dataType>
        <expression>LEFT({!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot; bypassed Deposit process as Credit Customer&quot;,255)</expression>
    </formulas>
    <interviewLabel>FL OFFSA Deposit Not Paid Create Associated Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL OFFSA Deposit Not Paid Create Associated Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OFFSA_Data</name>
        <label>Get OFFSA Data</label>
        <locationX>401</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_already_a_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OFFSAID</elementReference>
            </value>
        </filters>
        <object>Off_site_agreement__c</object>
        <outputReference>var_OFFSAData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Deposit_required__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_OFFSA</name>
        <label>Update OFFSA</label>
        <locationX>1376</locationX>
        <locationY>297</locationY>
        <connector>
            <targetReference>ScreenWork_Order_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OFFSAData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepted_by_customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Received__c</field>
            <value>
                <elementReference>var_OFFSAData.Deposit_required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details_of_User_who_bypassed_deposit__c</field>
            <value>
                <elementReference>FormulaDetailsUserWhoClickedButton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worldpay_deposit_ID__c</field>
            <value>
                <elementReference>FormulaReplaceWorldPayDepositIDBankTransfer</elementReference>
            </value>
        </inputAssignments>
        <object>Off_site_agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OFFSA_0</name>
        <label>Update OFFSA</label>
        <locationX>1160</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>ScreenWork_Order_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OFFSAData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepted_by_customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Received__c</field>
            <value>
                <numberValue>0.01</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details_of_User_who_bypassed_deposit__c</field>
            <value>
                <elementReference>FormulaDetailsUserWhoClickedButton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worldpay_deposit_ID__c</field>
            <value>
                <elementReference>FormulaReplaceWorldPayDepositIDCreditCustomer</elementReference>
            </value>
        </inputAssignments>
        <object>Off_site_agreement__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>865</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Selection</targetReference>
        </connector>
        <fields>
            <name>DisplayTxt1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;If you want to create a Work Order for this On Site Agreement but the Customer has not paid a deposit, please answer the questions / select form the below:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_select</name>
            <choiceReferences>ChoiceCreditCustomer</choiceReferences>
            <choiceReferences>ChoicePaidDepositViaBankTransfer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenAlready_have_WO</name>
        <label>Already have WO</label>
        <locationX>581</locationX>
        <locationY>279</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WorkOrderCreated_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;A Work Order already exists for this On Site Agreement.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNot_Paid_Deposit_in_full</name>
        <label>Not Paid Deposit in full</label>
        <locationX>1604</locationX>
        <locationY>57</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtDepositNotPaidInFull</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;If the Customer has not paid the deposit amount of: £{!var_OFFSAData.Deposit_required__c}, then we cannot create the Work Order.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenPaid_Via_Bank_Transfer</name>
        <label>Paid Via Bank Transfer</label>
        <locationX>1249</locationX>
        <locationY>57</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_if_deposit_paid_in_full</targetReference>
        </connector>
        <fields>
            <name>DisplayTxt2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;If the Customer has paid via Bank Transfer, please confirm they have paid the deposit amount of: £{!var_OFFSAData.Deposit_required__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_confirm</name>
            <choiceReferences>ChoicePaidFullDeposit</choiceReferences>
            <choiceReferences>ChoiceNotPaidDepositInFull</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please confirm:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenWork_Order_Created</name>
        <label>Work Order Created</label>
        <locationX>1376</locationX>
        <locationY>630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WorkOrderCreated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Work Order should now be created&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(240, 6, 6);&quot;&gt;﻿*if you dont see it, you may need to refresh the page&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_OFFSA_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_OFFSAData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Off_site_agreement__c</objectType>
    </variables>
    <variables>
        <name>var_OFFSAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
