unpackaged/main/default/flows/FL_ON_Site_Agreement_Accepted_Create_Associated_Records_Create_Service_Appt_Syst.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>FL ON Site Agreement Accepted - Create Associated Records - Create Service Appt. (System) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL ON Site Agreement Accepted - Create Associated Records - Create Service Appt. (System)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assigned_Resource</name>
        <label>Create Assigned Resource</label>
        <locationX>435</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>Set_SA_Status_to_Dispatched</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>var_CreatedServApptID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>var_ServiceResourceData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SA</name>
        <label>Create SA</label>
        <locationX>306</locationX>
        <locationY>215</locationY>
        <assignRecordIdToReference>var_CreatedServApptID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Assigned_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>var_ONSAData.Preferred_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>var_ONSAData.Property_address_towncity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_CreatedContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>var_ONSAData.Customer_email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>var_WO_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>var_ONSAData.Total_hours_required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>var_ONSAData.Preferred_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>var_CreatedWOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>var_ONSAData.Property_address_postcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>var_WO_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>var_ONSAData.Preferred_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>var_ONSAData.Property_address_county__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>var_Full_Street_Address</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordLookups>
        <name>Get_SR_Data</name>
        <label>Get SR Data</label>
        <locationX>193</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ONSAData.Raised_by_Service_Resource_ID__c</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_ServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_SA_Status_to_Dispatched</name>
        <label>Set SA Status to Dispatched</label>
        <locationX>733</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Set_SA_Status_to_In_Transit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedServApptID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SA_Status_to_In_Transit</name>
        <label>Set SA Status to In Transit</label>
        <locationX>851</locationX>
        <locationY>182</locationY>
        <connector>
            <targetReference>Set_SA_Status_to_On_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedServApptID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Transit</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SA_Status_to_On_Site</name>
        <label>Set SA Status to On Site</label>
        <locationX>992</locationX>
        <locationY>174</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedServApptID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On site</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SA_Status_to_Scheduled</name>
        <label>Set SA Status to Scheduled</label>
        <locationX>545</locationX>
        <locationY>355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedServApptID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SR_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CreatedContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedServApptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedWOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Full_Street_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ONSAData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>On_site_agreement__c</objectType>
    </variables>
    <variables>
        <name>var_ServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_WO_EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
