unpackaged/main/default/flows/FL_Off_Site_Agreement_Accepted_Create_Associated_Records_STEP_2_System.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>FL Off Site Agreement Accepted - Create Associated Records STEP 2 (System) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Off Site Agreement Accepted - Create Associated Records STEP 2 (System)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_CCT_FP_Selected_Day_to_trigger_update_via_Apex</name>
        <label>Update CCT FP Selected Day to trigger update via Apex</label>
        <locationX>217</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Call_FL_Off_Site_Agreement_Accepted_Create_Associated_Records_STEP_3_System</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedCCID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FP_Selected_Day__c</field>
            <value>
                <stringValue>Weekend</stringValue>
            </value>
        </inputAssignments>
        <object>Costs_and_Charges__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Update_CCT_FP_Selected_Day_to_trigger_update_via_Apex</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_FL_Off_Site_Agreement_Accepted_Create_Associated_Records_STEP_3_System</name>
        <label>Call FL Off Site Agreement Accepted - Create Associated Records STEP 3 (System)</label>
        <locationX>381</locationX>
        <locationY>36</locationY>
        <flowName>FL_Off_Site_Agreement_Accepted_Create_Associated_Records_STEP_3_System</flowName>
        <inputAssignments>
            <name>var_ConvertTxtDiscountToNumber</name>
            <value>
                <elementReference>var_ConvertTxtDiscountToNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CreatedCCID</name>
            <value>
                <elementReference>var_CreatedCCID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_ConvertTxtDiscountToNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_CreatedCCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
