unpackaged/main/default/flows/FL_Re_Send_Off_Site_OR_ON_Site_Agreement_Emails_from_Work_Order_System.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Off_site_Agreement_Accepted_Email_Alert_GOT_Discount</name>
        <label>Send Off-site Agreement Accepted Email Alert (GOT Discount)</label>
        <locationX>2765</locationX>
        <locationY>2158</locationY>
        <actionName>Off_site_agreement__c.Off_site_Agreement_Accepted_Email_Alert_GOT_Discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Scheduled_Email_to_Customer_Visit_Confirmed</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_OSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Off_site_Agreement_Accepted_Email_Alert_no_discount</name>
        <label>Send Off-site Agreement Accepted Email Alert (no discount)</label>
        <locationX>2757</locationX>
        <locationY>1897</locationY>
        <actionName>Off_site_agreement__c.Off_site_Agreement_Accepted_Email_Alert_no_discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Customer_Acceptance_acknowledgement_with_a_Discount</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_OSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Off_site_Agreement_Completed_Client_Email_Alert</name>
        <label>Send Off-site Agreement Completed Client Email Alert</label>
        <locationX>2389</locationX>
        <locationY>2893</locationY>
        <actionName>Off_site_agreement__c.Off_site_Agreement_Completed_Client_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_OSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Off_site_Agreement_Completed_Operative_Email_Alert_Visit_Complete</name>
        <label>Send Off-site Agreement Completed Operative Email Alert - Visit Complete</label>
        <locationX>2701</locationX>
        <locationY>954</locationY>
        <actionName>Off_site_agreement__c.Off_site_Agreement_Completed_Operative_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_OSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Off_site_Agreement_Pending_Estimate_Email_Alert_GOT_Discount</name>
        <label>Send Off-site Agreement Pending Estimate Email Alert GOT Discount</label>
        <locationX>2737</locationX>
        <locationY>1645</locationY>
        <actionName>Off_site_agreement__c.Off_site_Agreement_Pending_Email_Alert_GOT_Discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Customer_Acceptance_acknowledgement_No_Discount</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_OSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Off_site_Agreement_Pending_Estimate_Email_Alert_No_Discount</name>
        <label>Send Off-site Agreement Pending Estimate Email Alert No Discount</label>
        <locationX>2729</locationX>
        <locationY>1383</locationY>
        <actionName>Off_site_agreement__c.Off_site_Agreement_Pending_Email_Alert_No_Discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Customer_Estimate_with_Discount_OSA_Pending_Status_Only</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_OSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Off_site_Agreement_Scheduled_Email_Alert_client_Visit_Confirmed</name>
        <label>Send Off-site Agreement Scheduled Email Alert (client) - Visit Confirmed</label>
        <locationX>2770</locationX>
        <locationY>2457</locationY>
        <actionName>Off_site_agreement__c.Off_site_Agreement_Scheduled_Email_Alert_client</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Customer_Visit_Complete_acknowledgement</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_OSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Off_site_Agreement_Scheduled_Email_Alert_operative_Visit_Confirmed</name>
        <label>Send Off-site Agreement Scheduled Email Alert (operative) - Visit Confirmed</label>
        <locationX>2618</locationX>
        <locationY>307</locationY>
        <actionName>Off_site_agreement__c.Off_site_Agreement_Scheduled_Email_Alert_operative</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Operative_Visit_Complete_acknowledgement</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_OSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_On_site_agreement_accepted_email_alert_GOT_discount</name>
        <label>Send On-site agreement accepted email alert GOT discount</label>
        <locationX>1008</locationX>
        <locationY>2497</locationY>
        <actionName>On_site_agreement__c.On_site_agreement_accepted_email_alert_GOT_discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Scheduled_Email_to_Customer_Visit_Confirmed_On_Site</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_ONSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_On_site_agreement_accepted_email_alert_NO_discount</name>
        <label>Send On-site agreement accepted email alert NO discount</label>
        <locationX>993</locationX>
        <locationY>2219</locationY>
        <actionName>On_site_agreement__c.On_site_agreement_accepted_email_alert_NO_discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Customer_Acceptance_acknowledgement_with_a_Discount_On_Site</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_ONSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_On_site_agreement_completed_customer_email_alert</name>
        <label>Send On-site agreement completed customer email alert</label>
        <locationX>639</locationX>
        <locationY>3327</locationY>
        <actionName>On_site_agreement__c.On_site_agreement_completed_customer_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_ONSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_On_site_agreement_completed_operative_email_alert</name>
        <label>Send On-site agreement completed operative email alert</label>
        <locationX>1114</locationX>
        <locationY>1160</locationY>
        <actionName>On_site_agreement__c.On_site_agreement_completed_operative_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only_On_Site</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_ONSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_On_site_agreement_pending_email_alert_GOT_discount</name>
        <label>Send On-site agreement pending email alert GOT discount</label>
        <locationX>977</locationX>
        <locationY>1957</locationY>
        <actionName>On_site_agreement__c.On_site_agreement_pending_email_alert_GOT_discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Customer_Acceptance_acknowledgement_No_Discount_On_Site</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_ONSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_On_site_agreement_pending_email_alert_NO_discount</name>
        <label>Send On-site agreement pending email alert NO discount</label>
        <locationX>1012</locationX>
        <locationY>1687</locationY>
        <actionName>On_site_agreement__c.On_site_agreement_pending_email_alert_NO_discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Customer_Estimate_with_Discount_OSA_Pending_Status_Only_On_Site</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_ONSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_On_site_agreement_scheduled_customer_email_alert</name>
        <label>Send On-site agreement scheduled customer email alert</label>
        <locationX>984</locationX>
        <locationY>2795</locationY>
        <actionName>On_site_agreement__c.On_site_agreement_scheduled_customer_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Customer_Visit_Complete_acknowledgement_On_Site</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_ONSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_On_site_agreement_scheduled_operative_email_alert_Visit_Confirmed</name>
        <label>Send On-site agreement scheduled operative email alert - Visit Confirmed</label>
        <locationX>977</locationX>
        <locationY>801</locationY>
        <actionName>On_site_agreement__c.On_site_agreement_scheduled_operative_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Operative_Visit_Complete_acknowledgement_On_Site</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_ONSAData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <description>email alert: https://chumley--structure.lightning.force.com/lightning/setup/WorkflowEmails/page?address=%2F01W7E0000000BJH</description>
        <name>Choice_CustomerEmail_Accepted_GOTDiscount</name>
        <choiceText>Send Customer email confirming their Acceptance - No Discount (XXXX Status Only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Customer email confirming their Acceptance - No Discount (XXXX Status Only)</stringValue>
        </value>
    </choices>
    <choices>
        <description>email alert: https://chumley--structure.lightning.force.com/lightning/setup/WorkflowEmails/page?address=%2F01W7E0000000BJM</description>
        <name>Choice_CustomerEmail_Accepted_NoDiscount</name>
        <choiceText>Send Customer email confirming their Acceptance - No Discount (XXXX Status Only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Customer email confirming their Acceptance - No Discount (XXXX Status Only)</stringValue>
        </value>
    </choices>
    <choices>
        <description>email alert: https://chumley--structure.lightning.force.com/lightning/setup/WorkflowEmails/page?address=%2F01W7E000000DqGJ</description>
        <name>Choice_CustomerEmail_VisitCompleted</name>
        <choiceText>Send Customer Visit Complete email (XXXX Status Only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Customer Visit Complete email (XXXX Status Only)</stringValue>
        </value>
    </choices>
    <choices>
        <description>email alert: https://chumley--structure.lightning.force.com/lightning/setup/WorkflowEmails/page?address=%2F01W7E000000DqGO</description>
        <name>Choice_OperativeEmail_VisitComplete</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Send Operative Visit Complete email (XXXX Status Only)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Operative Visit Complete email (XXXX Status Only)</stringValue>
        </value>
    </choices>
    <choices>
        <description>email alert: https://chumley--structure.lightning.force.com/lightning/setup/WorkflowEmails/page?address=%2F01W7E0000009krg</description>
        <name>Choice_PendingEmail_InitialCustomerEstimate_GOTDiscount</name>
        <choiceText>Send Customer Estimate - Has a Discount (Pending Status Only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Customer Estimate - Has a Discount (Pending Status Only)</stringValue>
        </value>
    </choices>
    <choices>
        <description>email alert: https://chumley--structure.lightning.force.com/lightning/setup/WorkflowEmails/page?address=%2F01W7E0000000BBw</description>
        <name>Choice_PendingEmail_InitialCustomerEstimate_NoDiscount</name>
        <choiceText>Send Customer Estimate - No Discount (Pending Status Only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Customer Estimate - No Discount (Pending Status Only)</stringValue>
        </value>
    </choices>
    <choices>
        <description>email alert: https://chumley--structure.lightning.force.com/lightning/setup/WorkflowEmails/page?address=%2F01W7E0000000BbB</description>
        <name>Choice_ScheduleConfirmedOperativeEmail</name>
        <choiceText>Scheduled Email to Operative - Visit Confirmed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled Email to Operative - Visit Confirmed</stringValue>
        </value>
    </choices>
    <choices>
        <description>email alert: https://chumley--structure.lightning.force.com/lightning/setup/WorkflowEmails/page?address=%2F01W7E0000000BTR

Can only be sent when:

AND
(
Schedule_confirmed__c=true,

OR
(
ISBLANK(Allocated_Engineer__c),
ISBLANK(Materials_supplied_by_Aspect_details__c),
ISBLANK(Materials_supplied_by_Operative_details__c),
ISBLANK(PO_Number__c),
ISBLANK(Materials_collection_pt_Name_Address__c),
ISBLANK(Scheduled_Date__c),
AND
(
TEXT(Status__c) &lt;&gt; &#39;Accepted&#39;,
TEXT(Status__c) &lt;&gt; &#39;Scheduled&#39;,
TEXT(Status__c) &lt;&gt; &#39;Completed&#39;
)

)

)</description>
        <name>Choice_ScheduledEmail_Visit_Confirmed</name>
        <choiceText>Scheduled Email to Customer - Visit Confirmed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled Email to Customer - Visit Confirmed</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Customer_Acceptance_acknowledgement_No_Discount</name>
        <label>Check Customer_Acceptance_acknowledgement_No_Discount</label>
        <locationX>2349</locationX>
        <locationY>1729</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_Acceptance_acknowledgement_with_a_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Acceptance_acknowledgement_No_Discount_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Acceptance_acknowledgement_No_Discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Off_site_Agreement_Accepted_Email_Alert_no_discount</targetReference>
            </connector>
            <label>Customer_Acceptance_acknowledgement_No_Discount=TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Acceptance_acknowledgement_No_Discount_On_Site</name>
        <label>Check Customer_Acceptance_acknowledgement_No_Discount On Site</label>
        <locationX>609</locationX>
        <locationY>2164</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_Acceptance_acknowledgement_with_a_Discount_On_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Acceptance_acknowledgement_No_Discount_TRUE_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Acceptance_acknowledgement_No_Discount_On_Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_On_site_agreement_accepted_email_alert_NO_discount</targetReference>
            </connector>
            <label>Customer_Acceptance_acknowledgement_No_Discount=TRUE On Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Acceptance_acknowledgement_with_a_Discount</name>
        <label>Check Customer_Acceptance_acknowledgement_with_a_Discount</label>
        <locationX>2356</locationX>
        <locationY>1981</locationY>
        <defaultConnector>
            <targetReference>Check_Scheduled_Email_to_Customer_Visit_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Acceptance_acknowledgement_with_a_Discount_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Acceptance_acknowledgement_with_a_Discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Off_site_Agreement_Accepted_Email_Alert_GOT_Discount</targetReference>
            </connector>
            <label>Customer_Acceptance_acknowledgement_with_a_Discount=TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Acceptance_acknowledgement_with_a_Discount_On_Site</name>
        <label>Check Customer_Acceptance_acknowledgement_with_a_Discount On Site</label>
        <locationX>617</locationX>
        <locationY>2417</locationY>
        <defaultConnector>
            <targetReference>Check_Scheduled_Email_to_Customer_Visit_Confirmed_On_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Acceptance_acknowledgement_with_a_Discount_TRUE_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Acceptance_acknowledgement_with_a_Discount_On_Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_On_site_agreement_accepted_email_alert_GOT_discount</targetReference>
            </connector>
            <label>Customer_Acceptance_acknowledgement_with_a_Discount=TRUE On Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Estimate_with_Discount_OSA_Pending_Status_Only</name>
        <label>Check Customer_Estimate_with_Discount_OSA_Pending_Status_Only</label>
        <locationX>2343</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_Acceptance_acknowledgement_No_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Estimate_with_Discount_OSA_Pending_Status_Only_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Estimate_with_Discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Off_site_Agreement_Pending_Estimate_Email_Alert_GOT_Discount</targetReference>
            </connector>
            <label>Customer_Estimate_with_Discount_OSA_Pending_Status_Only=TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Estimate_with_Discount_OSA_Pending_Status_Only_On_Site</name>
        <label>Check Customer_Estimate_with_Discount_OSA_Pending_Status_Only On Site</label>
        <locationX>603</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_Acceptance_acknowledgement_No_Discount_On_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Estimate_with_Discount_OSA_Pending_Status_Only_TRUE_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Estimate_with_Discount_On_Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_On_site_agreement_pending_email_alert_GOT_discount</targetReference>
            </connector>
            <label>Customer_Estimate_with_Discount_OSA_Pending_Status_Only=TRUE On Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only</name>
        <label>Check Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only</label>
        <locationX>2340</locationX>
        <locationY>1125</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_Estimate_with_Discount_OSA_Pending_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Estimate_with_No_Discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Off_site_Agreement_Pending_Estimate_Email_Alert_No_Discount</targetReference>
            </connector>
            <label>Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only=TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only_On_Site</name>
        <label>Check Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only On Site</label>
        <locationX>600</locationX>
        <locationY>1560</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_Estimate_with_Discount_OSA_Pending_Status_Only_On_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only_TRUE_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Estimate_with_No_Discount_On_Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_On_site_agreement_pending_email_alert_NO_discount</targetReference>
            </connector>
            <label>Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only=TRUE On Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Visit_Complete_acknowledgement</name>
        <label>Check Customer_Visit_Complete_acknowledgement</label>
        <locationX>2374</locationX>
        <locationY>2633</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Visit_Complete_acknowledgement_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Visit_Complete_acknowledgement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Off_site_Agreement_Completed_Client_Email_Alert</targetReference>
            </connector>
            <label>Customer_Visit_Complete_acknowledgement=TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Visit_Complete_acknowledgement_On_Site</name>
        <label>Check Customer_Visit_Complete_acknowledgement On Site</label>
        <locationX>634</locationX>
        <locationY>3068</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Visit_Complete_acknowledgement_TRUE_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Visit_Complete_acknowledgement_On_Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_On_site_agreement_completed_customer_email_alert</targetReference>
            </connector>
            <label>Customer_Visit_Complete_acknowledgement=TRUE On Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Operative_Visit_Complete_acknowledgement</name>
        <label>Check Operative_Visit_Complete_acknowledgement</label>
        <locationX>2509</locationX>
        <locationY>715</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Operative_Visit_Complete_acknowledgement_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operative_Visit_Completed_acknowledgement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Off_site_Agreement_Completed_Operative_Email_Alert_Visit_Complete</targetReference>
            </connector>
            <label>Operative_Visit_Complete_acknowledgement=TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Operative_Visit_Complete_acknowledgement_On_Site</name>
        <label>Check Operative_Visit_Complete_acknowledgement On Site</label>
        <locationX>769</locationX>
        <locationY>1150</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_Estimate_with_No_Discount_OSA_Pending_Status_Only_On_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Operative_Visit_Complete_acknowledgement_TRUE_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operative_Visit_Completed_acknowledgement_On_Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_On_site_agreement_completed_operative_email_alert</targetReference>
            </connector>
            <label>Operative_Visit_Complete_acknowledgement=TRUE On Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Scheduled_Email_to_Customer_Visit_Confirmed</name>
        <label>Check Scheduled_Email_to_Customer_Visit_Confirmed</label>
        <locationX>2363</locationX>
        <locationY>2259</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_Visit_Complete_acknowledgement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled_Email_to_Customer_Visit_Confirmed_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scheduled_Email_to_Customer_Visit_Confirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Off_site_Agreement_Scheduled_Email_Alert_client_Visit_Confirmed</targetReference>
            </connector>
            <label>Scheduled_Email_to_Customer_Visit_Confirmed=TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Scheduled_Email_to_Customer_Visit_Confirmed_On_Site</name>
        <label>Check Scheduled_Email_to_Customer_Visit_Confirmed On Site</label>
        <locationX>623</locationX>
        <locationY>2694</locationY>
        <defaultConnector>
            <targetReference>Check_Customer_Visit_Complete_acknowledgement_On_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled_Email_to_Customer_Visit_Confirmed_TRUE_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scheduled_Email_to_Customer_Visit_Confirmed_On_Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_On_site_agreement_scheduled_customer_email_alert</targetReference>
            </connector>
            <label>Scheduled_Email_to_Customer_Visit_Confirmed=TRUE On Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Scheduled_Email_to_Operative_Visit_Confirmed</name>
        <label>Check Scheduled_Email_to_Operative_Visit_Confirmed</label>
        <locationX>2381</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Check_Operative_Visit_Complete_acknowledgement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled_Email_to_Operative_Visit_Confirmed_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scheduled_Email_to_Operative_Visit_Confirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Off_site_Agreement_Scheduled_Email_Alert_operative_Visit_Confirmed</targetReference>
            </connector>
            <label>Scheduled_Email_to_Operative_Visit_Confirmed=TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Scheduled_Email_to_Operative_Visit_Confirmed_On_Site</name>
        <label>Check Scheduled_Email_to_Operative_Visit_Confirmed On Site</label>
        <locationX>647</locationX>
        <locationY>807</locationY>
        <defaultConnector>
            <targetReference>Check_Operative_Visit_Complete_acknowledgement_On_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled_Email_to_Operative_Visit_Confirmed_TRUE_On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scheduled_Email_to_Operative_Visit_Confirmed_On_Site</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_On_site_agreement_scheduled_operative_email_alert_Visit_Confirmed</targetReference>
            </connector>
            <label>Scheduled_Email_to_Operative_Visit_Confirmed=TRUE On Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_OSA_ONSA_or_neither</name>
        <label>Do we have OSA, ONSA or neither?</label>
        <locationX>651</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_OSA_AND_No_ONSA</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Off_Site_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkOrderData.Off_Site_Agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkOrderData.On_site_agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkOrderData.On_site_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNoOSA</targetReference>
            </connector>
            <label>No OSA AND No ONSA</label>
        </rules>
        <rules>
            <name>Got_OSA</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Off_Site_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkOrderData.On_site_agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkOrderData.On_site_agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OSA_Data</targetReference>
            </connector>
            <label>Got OSA</label>
        </rules>
        <rules>
            <name>Got_ONSA</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.On_site_agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkOrderData.Off_Site_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkOrderData.Off_Site_Agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OSA_Data_0</targetReference>
            </connector>
            <label>Got ONSA</label>
        </rules>
    </decisions>
    <interviewLabel>FL Re-Send Off Site OR ON Site Agreement Emails from Work Order (System) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Re-Send Off Site OR ON Site Agreement Emails from Work Order (System)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OSA_Data</name>
        <label>Get OSA Data</label>
        <locationX>2046</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenSelect_which_emails_to_re_send_OFF_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Off_Site_Agreement__c</elementReference>
            </value>
        </filters>
        <object>Off_site_agreement__c</object>
        <outputReference>var_OSAData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Allocated_Engineer__c</queriedFields>
        <queriedFields>Materials_supplied_by_Aspect_details__c</queriedFields>
        <queriedFields>Materials_supplied_by_Operative_details__c</queriedFields>
        <queriedFields>PO_Number__c</queriedFields>
        <queriedFields>Materials_collection_pt_Name_Address__c</queriedFields>
        <queriedFields>Scheduled_Date__c</queriedFields>
        <queriedFields>Discount_offered__c</queriedFields>
        <queriedFields>Allocated_Engineer_Email__c</queriedFields>
        <queriedFields>Customer_email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OSA_Data_0</name>
        <label>Get OSA Data</label>
        <locationX>658</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenSelect_which_emails_to_re_send_ON_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.On_site_agreement__c</elementReference>
            </value>
        </filters>
        <object>On_site_agreement__c</object>
        <outputReference>var_ONSAData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Allocated_engineer__c</queriedFields>
        <queriedFields>Scheduled_date__c</queriedFields>
        <queriedFields>Discount_offered__c</queriedFields>
        <queriedFields>Allocated_engineer_email__c</queriedFields>
        <queriedFields>Customer_email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Data</name>
        <label>Get WO Data</label>
        <locationX>390</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_OSA_ONSA_or_neither</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Off_Site_Agreement__c</queriedFields>
        <queriedFields>OSA_RequiredFieldsToCreate_SA_Completed__c</queriedFields>
        <queriedFields>On_site_agreement__c</queriedFields>
        <queriedFields>ONSA_RequiredFieldsToCreate_SA_Completed__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>ScreenNoOSA</name>
        <label>NoOSA</label>
        <locationX>656</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtNoOSA</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;There isn&#39;t an Off Site Agreement  or ON Site Agreement attached to this Work Order.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Press Finish to return to the Work Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_which_emails_to_re_send_OFF_Site</name>
        <label>Select which emails to re-send_OFF_Site</label>
        <locationX>2223</locationX>
        <locationY>298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Scheduled_Email_to_Operative_Visit_Confirmed</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtSelectEmailsToSend</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please use the check boxes below to select which Off Site Agreement emails to re-send:&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;NB: Only emails that can be sent based upon Off Site Agreement Status will be shown&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scheduled_Email_to_Operative_Visit_Confirmed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Scheduled Email to Operative - Visit Confirmed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_OSAData.Allocated_Engineer_Email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>New</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Operative_Visit_Completed_acknowledgement</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Operative Visit Completed acknowledgement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_OSAData.Allocated_Engineer_Email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Estimate_with_No_Discount</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Estimate with No Discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>var_OSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Discount_offered__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Discount_offered__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Estimate_with_Discount</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Estimate with Discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_OSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Discount_offered__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Acceptance_acknowledgement_No_Discount</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Acceptance acknowledgement No Discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>var_OSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accepted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Discount_offered__c</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Discount_offered__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Acceptance_acknowledgement_with_a_Discount</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Acceptance acknowledgement with a Discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_OSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accepted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Discount_offered__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Scheduled_Email_to_Customer_Visit_Confirmed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Scheduled Email to Customer - Visit Confirmed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_OSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Scheduled</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Visit_Complete_acknowledgement</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Visit Complete acknowledgement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_OSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_OSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_which_emails_to_re_send_ON_Site</name>
        <label>Select which emails to re-send_ON_Site</label>
        <locationX>653</locationX>
        <locationY>664</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Scheduled_Email_to_Operative_Visit_Confirmed_On_Site</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtSelectEmailsToSend_On_Site</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please use the check boxes below to select which ON Site Agreement emails to re-send:&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;NB: Only emails that can be sent based upon ON Site Agreement Status will be shown&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scheduled_Email_to_Operative_Visit_Confirmed_On_Site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Scheduled Email to Operative - Visit Confirmed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ONSAData.Allocated_engineer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Rejected</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Scheduled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Operative_Visit_Completed_acknowledgement_On_Site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Operative Visit Completed acknowledgement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ONSAData.Allocated_engineer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Complete</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Estimate_with_No_Discount_On_Site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Estimate with No Discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>var_ONSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Discount_offered__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Discount_offered__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Estimate_with_Discount_On_Site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Estimate with Discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ONSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Discount_offered__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Acceptance_acknowledgement_No_Discount_On_Site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Acceptance acknowledgement No Discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>var_ONSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accepted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Discount_offered__c</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Discount_offered__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Acceptance_acknowledgement_with_a_Discount_On_Site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Acceptance acknowledgement with a Discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ONSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accepted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Discount_offered__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Scheduled_Email_to_Customer_Visit_Confirmed_On_Site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Scheduled Email to Customer - Visit Confirmed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ONSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Scheduled</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Visit_Complete_acknowledgement_On_Site</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Visit Complete acknowledgement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_ONSAData.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Complete</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ONSAData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>281</locationY>
        <connector>
            <targetReference>Get_WO_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ONSAData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>On_site_agreement__c</objectType>
    </variables>
    <variables>
        <name>var_OSAData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Off_site_agreement__c</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
