unpackaged/main/default/flows/FL_Service_Appointment_is_Cancelled_send_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Operative_SA_is_Cancelled</name>
        <label>Notify Operative SA is Cancelled</label>
        <locationX>1087</locationX>
        <locationY>871</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Const_CustomNotificationTypeID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Formula_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Formula_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_Coll_Recipient_IDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>var_ServApptID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Ass_Service_Resource_User_ID_to_Coll</name>
        <label>Ass Service Resource User ID to Coll</label>
        <locationX>1079</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>var_Coll_Recipient_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ServiceResourceData.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Operative_SA_is_Cancelled</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Const_CustomNotificationTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0ML4G000000XZIaWAO</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_null_data</name>
        <label>Check for null data</label>
        <locationX>1058</locationX>
        <locationY>483</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null</label>
        </rules>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Service_Resource_User_ID_to_Coll</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_Notification_Body</name>
        <dataType>String</dataType>
        <expression>&quot;Hi &quot; &amp; {!var_ServiceResourceData.FirstName__c} &amp; &quot;,&quot; &amp;
{!var_ServApptData.AppointmentNumber} &amp; &quot; with description of &quot; &amp; {!var_ServApptData.Description} &amp; &quot; has been Cancelled - please do not attend&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_Notification_Title</name>
        <dataType>String</dataType>
        <expression>&quot;Service Appointment: &quot; &amp; {!var_ServApptData.AppointmentNumber} &amp; &quot; has been Cancelled.&quot;</expression>
    </formulas>
    <interviewLabel>FL - Service Appointment is Cancelled send Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL - Service Appointment is Cancelled send Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SA_Data</name>
        <label>Get SA Data</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptID</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_ServApptData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Allocated_Engineer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Data</name>
        <label>Get Service Resource Data</label>
        <locationX>1096</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_null_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.Allocated_Engineer__c</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_ServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
        <queriedFields>FirstName__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_SA_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AssignedResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>var_Coll_Recipient_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServApptData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_ServApptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
</Flow>
