unpackaged/main/default/flows/FL_Sum_Payment_Records_on_Customer_Invoice_System.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>add_intial_payment</name>
        <label>add intial payment</label>
        <locationX>306</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>var_Sum_of_Payments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PaymentData.asp04__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_refunds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sum_chargebacks</name>
        <label>sum chargebacks</label>
        <locationX>742</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>var_total_chargeback</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_chargebacks.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_chargebacks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sum_payments</name>
        <label>sum payments</label>
        <locationX>1125</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>var_Sum_of_Payments</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>var_total_refund</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Sum_of_Payments</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>var_total_chargeback</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sum_refunds</name>
        <label>sum refunds</label>
        <locationX>478</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>var_total_refund</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_refund.asp04__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_refund</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sum_to_variables</name>
        <label>sum to variables</label>
        <locationX>948</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>var_Sum_of_Payments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_LoopPayment.asp04__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_total_refund</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_LoopPayment.asp04__Total_Refunded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_total_chargeback</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_LoopPayment.Chargeback_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>payment_loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>FL Sum Payment Records on Customer Invoice (System) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Sum Payment Records on Customer Invoice (System)</label>
    <loops>
        <name>for_each_refund</name>
        <label>for each refund</label>
        <locationX>460</locationX>
        <locationY>512</locationY>
        <collectionReference>get_refunds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sum_refunds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_chargebacks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_chargebacks</name>
        <label>loop chargebacks</label>
        <locationX>742</locationX>
        <locationY>482</locationY>
        <collectionReference>get_chargebacks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sum_chargebacks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Payments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>payment_loop</name>
        <label>payment loop</label>
        <locationX>942</locationX>
        <locationY>449</locationY>
        <assignNextValueToReference>var_LoopPayment</assignNextValueToReference>
        <collectionReference>var_CollPayments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sum_to_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sum_payments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Payments</name>
        <label>Get All Payments</label>
        <locationX>835</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>payment_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PaymentData.Customer_Invoice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>asp04__Payment_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collected from customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_PaymentID</elementReference>
            </value>
        </filters>
        <object>asp04__Payment__c</object>
        <outputReference>var_CollPayments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>asp04__Amount__c</queriedFields>
        <queriedFields>asp04__Total_Refunded__c</queriedFields>
        <queriedFields>Chargeback_Total__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_chargebacks</name>
        <label>get chargebacks</label>
        <locationX>623</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_chargebacks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PaymentID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Returned to customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Chargeback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_refunds</name>
        <label>get refunds</label>
        <locationX>390</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_refund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>asp04__Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PaymentID</elementReference>
            </value>
        </filters>
        <filters>
            <field>asp04__Refund_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refunded to customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>asp04__Refund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPayment</name>
        <label>Get Payment</label>
        <locationX>236</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_intial_payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PaymentID</elementReference>
            </value>
        </filters>
        <object>asp04__Payment__c</object>
        <outputReference>var_PaymentData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Customer_Invoice__c</queriedFields>
        <queriedFields>asp04__Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>1397</locationX>
        <locationY>271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PaymentData.Customer_Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sum_of_Payments__c</field>
            <value>
                <elementReference>var_Sum_of_Payments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sum_of_Refunds__c</field>
            <value>
                <elementReference>var_total_refund</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sum_of_chargebacks__c</field>
            <value>
                <elementReference>var_total_chargeback</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetPayment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CollPayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>asp04__Payment__c</objectType>
    </variables>
    <variables>
        <name>var_LoopPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>asp04__Payment__c</objectType>
    </variables>
    <variables>
        <name>var_PaymentData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>asp04__Payment__c</objectType>
    </variables>
    <variables>
        <name>var_PaymentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Sum_of_Payments</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_total_chargeback</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_total_refund</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
