unpackaged/main/default/flows/FL_Update_CandCs_with_PO_Value_Aspect_or_Engineer_System.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Aspect_Total</name>
        <label>Aspect Total</label>
        <locationX>2248</locationX>
        <locationY>1053</locationY>
        <assignmentItems>
            <assignToReference>var_Totalled_Purchase_Order_Line_Amount_Excl_VAT_ASPECT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Loop_POLI.POLI_Amount_Excl_VAT_with_MarkUp__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_POLIs_to_get_Purchase_Order_Line_Amount_Excl_VAT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Engineer_Total</name>
        <label>Engineer Total</label>
        <locationX>2254</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>var_Totalled_Purchase_Order_Line_Amount_Excl_VAT_ENGINEER</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Loop_POLI.POLI_Amount_Excl_VAT_with_MarkUp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POLI_Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Loop_POLI.Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_POLIs_to_get_Purchase_Order_Line_Amount_Excl_VAT</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>var_Const_Engineer_Partner_Community_Profile_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Engineer Partner Community</stringValue>
        </value>
    </constants>
    <constants>
        <name>var_Const_FSL_Admin_Profile_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FSL Admin</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Deleted_PO_or_Deleted_POLI_var</name>
        <label>Check for Deleted PO or Deleted POLI var</label>
        <locationX>496</locationX>
        <locationY>491</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Created_or_Edit_POLI_PO_var</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CreatedEditedPOLI_POID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DeletedPOID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DeletedPOLineItemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CreatedPurchaseOrderData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOID_from_Cr_Edit_POID</targetReference>
            </connector>
            <label>Got Created or Edit POLI - PO var</label>
        </rules>
        <rules>
            <name>Got_Deleted_PO_var</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DeletedPOID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DeletedPOLineItemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CreatedEditedPOLI_POID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CreatedPurchaseOrderData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_ID_from_Deleted_PO</targetReference>
            </connector>
            <label>Got Deleted PO var</label>
        </rules>
        <rules>
            <name>No_Deleted_PO_or_POLI_var</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DeletedPOID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DeletedPOLineItemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CreatedEditedPOLI_POID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CreatedPurchaseOrderData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_PO_Data_Null</targetReference>
            </connector>
            <label>No Deleted PO or POLI var</label>
        </rules>
        <rules>
            <name>Got_Deleted_POLI_var</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>var_DeletedPOLineItemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CreatedEditedPOLI_POID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DeletedPOID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CreatedPurchaseOrderData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purchase_Order_ID_of_deleted_POLI</targetReference>
            </connector>
            <label>Got Deleted POLI var</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Data_is_Not_null</name>
        <label>Check WO Data is Not null</label>
        <locationX>1138</locationX>
        <locationY>707</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Data_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>WO Data is Null</label>
        </rules>
        <rules>
            <name>WO_Data_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Coll_Data</targetReference>
            </connector>
            <label>WO Data is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CandC_ID_Null</name>
        <label>Is CandC_ID Null?</label>
        <locationX>1130</locationX>
        <locationY>505</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C_and_C_Is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CostsAndChargesID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CostsAndChargesID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>C and C Is Null</label>
        </rules>
        <rules>
            <name>C_and_C_Is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CostsAndChargesID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CostsAndChargesID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Order_Data</targetReference>
            </connector>
            <label>C and C Is NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PO_Data_Null</name>
        <label>Is PO Data Null?</label>
        <locationX>808</locationX>
        <locationY>507</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Data_is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CreatedPurchaseOrderData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_CandC_ID_Null</targetReference>
            </connector>
            <label>PO Data is Null</label>
        </rules>
        <rules>
            <name>PO_Data_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CreatedPurchaseOrderData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WO_Data_is_Not_null</targetReference>
            </connector>
            <label>PO Data is NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_created_POLI_Engineer_or_Office</name>
        <label>Who created POLI - Engineer or Office?</label>
        <locationX>2245</locationX>
        <locationY>1232</locationY>
        <defaultConnector>
            <targetReference>Aspect_Total</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Engineer</defaultConnectorLabel>
        <rules>
            <name>Engineer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_Loop_POLI.Created_By_Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_Const_Engineer_Partner_Community_Profile_Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Loop_POLI.Created_By_Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_Const_FSL_Admin_Profile_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engineer_Total</targetReference>
            </connector>
            <label>Engineer</label>
        </rules>
    </decisions>
    <description>HM 
update cct with POLI cost</description>
    <interviewLabel>FL Update CandCs with PO Value - Aspect or Engineer (System) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Update CandCs with PO Value - Aspect or Engineer (System)</label>
    <loops>
        <name>Loop_Thru_CollPOs</name>
        <label>Loop Thru CollPOs</label>
        <locationX>1561</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>var_Loop_PO</assignNextValueToReference>
        <collectionReference>var_CollPOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>POLIs_for_PO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CandC_Material_POs_Aspect</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_POLIs_to_get_Purchase_Order_Line_Amount_Excl_VAT</name>
        <label>Loop Thru POLIs to get Purchase Order Line Amount (Excl VAT)</label>
        <locationX>1837</locationX>
        <locationY>1233</locationY>
        <assignNextValueToReference>var_Loop_POLI</assignNextValueToReference>
        <collectionReference>var_CollPOLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Who_created_POLI_Engineer_or_Office</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Thru_CollPOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CandC_ID_from_WOID_from_Cr_Edit_POID</name>
        <label>CandC ID from WOID from Cr Edit POID</label>
        <locationX>1036</locationX>
        <locationY>952</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_Coll_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>var_WorkOrderData.Costs_and_Charges__c</assignToReference>
            <field>Costs_and_Charges__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_CandC_ID_from_WO</name>
        <label>Get CandC ID from WO</label>
        <locationX>1138</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_CandC_ID_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WOID_from_Deleted_POID_or_Deleted_POLI</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>var_CostsAndChargesID</assignToReference>
            <field>Costs_and_Charges__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_ID_from_Deleted_PO</name>
        <label>Get WO ID from Deleted PO</label>
        <locationX>860</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CandC_ID_from_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DeletedPOID</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputAssignments>
            <assignToReference>var_WOID_from_Deleted_POID_or_Deleted_POLI</assignToReference>
            <field>Work_Order__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WOID_from_POID</name>
        <label>Get WOID from POID</label>
        <locationX>1137</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CandC_ID_from_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_POID_of_Deleted_POLI</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputAssignments>
            <assignToReference>var_WOID_from_Deleted_POID_or_Deleted_POLI</assignToReference>
            <field>Work_Order__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>PO_Coll_Data</name>
        <label>PO Coll Data</label>
        <locationX>1559</locationX>
        <locationY>944</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_CollPOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_DeletedPOID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputReference>var_CollPOs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>POLIs_for_PO</name>
        <label>POLIs for PO</label>
        <locationX>1836</locationX>
        <locationY>904</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_POLIs_to_get_Purchase_Order_Line_Amount_Excl_VAT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_DeletedPOLineItemID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Loop_PO.Id</elementReference>
            </value>
        </filters>
        <object>Purchase_Order_Line_Item__c</object>
        <outputReference>var_CollPOLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>POLI_Amount_Excl_VAT_with_MarkUp__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Created_By_Profile_Name__c</queriedFields>
        <queriedFields>Cost__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Purchase_Order_ID_of_deleted_POLI</name>
        <label>Purchase Order ID of deleted POLI</label>
        <locationX>504</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WOID_from_POID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DeletedPOLineItemID</elementReference>
            </value>
        </filters>
        <object>Purchase_Order_Line_Item__c</object>
        <outputAssignments>
            <assignToReference>var_POID_of_Deleted_POLI</assignToReference>
            <field>Purchase_Order__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>WOID_from_Cr_Edit_POID</name>
        <label>WOID from Cr Edit POID</label>
        <locationX>509</locationX>
        <locationY>952</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Data_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedEditedPOLI_POID</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputAssignments>
            <assignToReference>var_WorkOrderData.Id</assignToReference>
            <field>Work_Order__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Work_Order_Data</name>
        <label>Work Order Data</label>
        <locationX>1562</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_Coll_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Costs_and_Charges__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CostsAndChargesID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>var_WorkOrderData.Costs_and_Charges__c</assignToReference>
            <field>Costs_and_Charges__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_WorkOrderData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_WorkOrderData.Work_Order_Line_Item_Duration__c</assignToReference>
            <field>Work_Order_Line_Item_Duration__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Work_Order_Data_0</name>
        <label>Work Order Data</label>
        <locationX>738</locationX>
        <locationY>952</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CandC_ID_from_WOID_from_Cr_Edit_POID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>var_WorkOrderData.Costs_and_Charges__c</assignToReference>
            <field>Costs_and_Charges__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_WorkOrderData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_WorkOrderData.Work_Order_Line_Item_Duration__c</assignToReference>
            <field>Work_Order_Line_Item_Duration__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_CandC_Material_POs_Aspect</name>
        <label>Update CandC Material POs (Aspect)</label>
        <locationX>1344</locationX>
        <locationY>1580</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Costs_and_Charges__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cost_Material_POs__c</field>
            <value>
                <elementReference>POLI_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FP_Duration_Minutes__c</field>
            <value>
                <elementReference>var_WorkOrderData.Work_Order_Line_Item_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Material_POs_Aspect__c</field>
            <value>
                <elementReference>var_Totalled_Purchase_Order_Line_Amount_Excl_VAT_ASPECT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Material_POs_Engineer__c</field>
            <value>
                <elementReference>var_Totalled_Purchase_Order_Line_Amount_Excl_VAT_ENGINEER</elementReference>
            </value>
        </inputAssignments>
        <object>Costs_and_Charges__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>428</locationY>
        <connector>
            <targetReference>Check_for_Deleted_PO_or_Deleted_POLI_var</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>the value of Purchase Order Line Amount (Excl VAT)</description>
        <name>POLI_Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CollPOLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>var_CollPOs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>var_CostsAndChargesID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedEditedPOLI_POID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedPurchaseOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>var_DeletedPOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DeletedPOLineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Loop_PO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>var_Loop_POLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>var_POID_of_Deleted_POLI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Totalled_Purchase_Order_Line_Amount_Excl_VAT_ASPECT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Totalled_Purchase_Order_Line_Amount_Excl_VAT_ENGINEER</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_WOID_from_Deleted_POID_or_Deleted_POLI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
