unpackaged/main/default/flows/FL_VCR_Final_Payment_Recd_via_Bacs_or_Credit_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>ChoiceCreditCustomer</name>
        <choiceText>Credit Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNotPaidFinalPaymentInFull</name>
        <choiceText>Final Payment of £&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!var_VCRData.Fixed_total_charge_incl_VAT__c} &lt;/span&gt;Not paid in full</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ChoicePaidFinalPaymentViaBankTransfer</name>
        <choiceText>Final Payment Paid via Bank Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Final Payment Paid via Bank Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoicePaidFullFinalPayment</name>
        <choiceText>Yes Paid £&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_VCRData.Fixed_total_charge_incl_VAT__c}&lt;/span&gt; in full</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>check_if_deposit_paid_in_full</name>
        <label>check if deposit paid in full</label>
        <locationX>1370</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_Payment_paid_in_full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoicePaidFullFinalPayment</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_VCR_Not_Credit_Customer</targetReference>
            </connector>
            <label>Final Payment paid in full</label>
        </rules>
        <rules>
            <name>Final_Payment_not_paid_in_full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNotPaidFinalPaymentInFull</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNot_Paid_Deposit_in_full</targetReference>
            </connector>
            <label>Final Payment not paid in full</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selection</name>
        <label>Check Selection</label>
        <locationX>989</locationX>
        <locationY>62</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceCreditCustomer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_VCR_Credit_Customer</targetReference>
            </connector>
            <label>Credit Customer</label>
        </rules>
        <rules>
            <name>Paid_via_Bank_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoicePaidFinalPaymentViaBankTransfer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenPaid_Via_Bank_Transfer</targetReference>
            </connector>
            <label>Paid via Bank Transfer</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormulaDetailsUserWhoClickedButtonWithDate</name>
        <dataType>String</dataType>
        <expression>LEFT({!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot; Date: &quot; &amp; TEXT({!$Flow.CurrentDateTime}),255)</expression>
    </formulas>
    <formulas>
        <name>FormulaReplaceWorldPayFinalIDBankTransfer</name>
        <dataType>String</dataType>
        <expression>LEFT({!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot; bypassed Final payment process as Paid via Bacs&quot; &amp; &quot; Date: &quot; &amp; TEXT({!$Flow.CurrentDateTime}),255)</expression>
    </formulas>
    <formulas>
        <name>FormulaReplaceWorldPayFinalIDCreditCustomerWithDate</name>
        <dataType>String</dataType>
        <expression>LEFT({!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot; bypassed Final payment process as Credit Customer&quot; &amp; &quot; Date: &quot; &amp; TEXT({!$Flow.CurrentDateTime}),255)</expression>
    </formulas>
    <interviewLabel>FL VCR Final Payment Recd via Bacs or Credit Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL VCR Final Payment Recd via Bacs or Credit Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_VCR_Data</name>
        <label>Get VCR Data</label>
        <locationX>401</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_VCR_ID</elementReference>
            </value>
        </filters>
        <object>Visit_completion_report__c</object>
        <outputReference>var_VCRData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Fixed_total_charge_incl_VAT__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_VCR_Credit_Customer</name>
        <label>Update VCR Credit Customer</label>
        <locationX>1158</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>ScreenConfirmSetToComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_VCRData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Details_of_User_who_bypassedFinalPayment__c</field>
            <value>
                <elementReference>FormulaDetailsUserWhoClickedButtonWithDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Payment_bypassed_Credit_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worldpay_ID__c</field>
            <value>
                <elementReference>FormulaReplaceWorldPayFinalIDCreditCustomerWithDate</elementReference>
            </value>
        </inputAssignments>
        <object>Visit_completion_report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VCR_Not_Credit_Customer</name>
        <label>Update VCR Not Credit Customer</label>
        <locationX>1376</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>ScreenConfirmSetToComplete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_VCRData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Details_of_User_who_bypassedFinalPayment__c</field>
            <value>
                <elementReference>FormulaDetailsUserWhoClickedButtonWithDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_received__c</field>
            <value>
                <elementReference>var_VCRData.Fixed_total_charge_incl_VAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worldpay_ID__c</field>
            <value>
                <elementReference>FormulaReplaceWorldPayFinalIDBankTransfer</elementReference>
            </value>
        </inputAssignments>
        <object>Visit_completion_report__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>866</locationX>
        <locationY>60</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Selection</targetReference>
        </connector>
        <fields>
            <name>DisplayTxt1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Before we bypass the standard Final Payment process, please confirm the below:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_select</name>
            <choiceReferences>ChoiceCreditCustomer</choiceReferences>
            <choiceReferences>ChoicePaidFinalPaymentViaBankTransfer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenConfirmSetToComplete</name>
        <label>ConfirmSetToComplete</label>
        <locationX>1380</locationX>
        <locationY>696</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmSetToComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;VCR should now be set to:&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Outcome: Complete&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(240, 6, 6); font-size: 14px;&quot;&gt;﻿*if you dont see it, you may need to refresh the page&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNot_Paid_Deposit_in_full</name>
        <label>Not Paid Deposit in full</label>
        <locationX>1604</locationX>
        <locationY>57</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtDepositNotPaidInFull</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;If the Customer has not paid the full Final Payment amount of: £{!var_VCRData.Fixed_total_charge_incl_VAT__c}, then we cannot set the VCR to Complete.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenPaid_Via_Bank_Transfer</name>
        <label>Paid Via Bank Transfer</label>
        <locationX>1248</locationX>
        <locationY>56</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_if_deposit_paid_in_full</targetReference>
        </connector>
        <fields>
            <name>DisplayTxt2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;If the Customer has paid via Bank Transfer, please confirm they have paid the Final Payment Required amount of: £{!var_VCRData.Fixed_total_charge_incl_VAT__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_confirm</name>
            <choiceReferences>ChoicePaidFullFinalPayment</choiceReferences>
            <choiceReferences>ChoiceNotPaidFinalPaymentInFull</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please confirm:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_VCR_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_VCR_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_VCRData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit_completion_report__c</objectType>
    </variables>
</Flow>
