unpackaged/main/default/flows/FL_Visit_Completion_Report_Re_send_Emails_System.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_VCR_Completed_Customer_Email_Alert_GOT_Discount</name>
        <label>Send VCR Completed Customer Email Alert (GOT Discount)</label>
        <locationX>954</locationX>
        <locationY>277</locationY>
        <actionName>Visit_completion_report__c.VCR_Completed_Customer_Email_Alert_GOT_Discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Customer_Visit_Complete_Email_NO_DC_TRUE</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_VCRData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_VCR_Completed_Customer_Email_Alert_NO_Discount</name>
        <label>Send VCR Completed Customer Email Alert (NO Discount)</label>
        <locationX>955</locationX>
        <locationY>659</locationY>
        <actionName>Visit_completion_report__c.VCR_Completed_Customer_Email_Alert_NO_Discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Operative_Visit_Complete_Email_TRUE</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_VCRData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_VCR_Completed_Operative_Email_Alert</name>
        <label>Send VCR Completed Operative Email Alert</label>
        <locationX>897</locationX>
        <locationY>1048</locationY>
        <actionName>Visit_completion_report__c.VCR_Completed_Operative_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Customer_Outstanding_balance_email_with_discount_TRUE</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_VCRData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_VCR_Outstanding_Customer_Email_Alert_GOT_Discount</name>
        <label>Send VCR Outstanding Customer Email Alert (GOT Discount)</label>
        <locationX>594</locationX>
        <locationY>1499</locationY>
        <actionName>Visit_completion_report__c.VCR_Outstanding_Customer_Email_Alert_GOT_Discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Customer_Outstanding_balance_email_no_discount_TRUE</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_VCRData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_VCR_Outstanding_Customer_Email_Alert_NO_Discount</name>
        <label>Send VCR Outstanding Customer Email Alert (NO Discount)</label>
        <locationX>995</locationX>
        <locationY>1838</locationY>
        <actionName>Visit_completion_report__c.VCR_Outstanding_Customer_Email_Alert_NO_Discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>VCR_Re_send_Emails_Confirmation</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_VCRData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Customer_Outstanding_balance_email_no_discount_TRUE</name>
        <label>Customer_Outstanding_balance_email_no_discount=TRUE</label>
        <locationX>798</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>VCR_Re_send_Emails_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Outstanding_balance_email_no_discount_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Outstanding_balance_email_no_discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_VCR_Outstanding_Customer_Email_Alert_NO_Discount</targetReference>
            </connector>
            <label>Customer_Outstanding_balance_email_no_discount was selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Outstanding_balance_email_with_discount_TRUE</name>
        <label>Customer_Outstanding_balance_email_with_discount=TRUE</label>
        <locationX>586</locationX>
        <locationY>1218</locationY>
        <defaultConnector>
            <targetReference>Customer_Outstanding_balance_email_no_discount_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Outstanding_balance_email_with_discount_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Outstanding_balance_email_with_discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_VCR_Outstanding_Customer_Email_Alert_GOT_Discount</targetReference>
            </connector>
            <label>Customer_Outstanding_balance_email_with_discount selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Visit_Complete_Email_GOT_DC_TRUE</name>
        <label>Customer_Visit_Complete_Email_GOT_DC=TRUE</label>
        <locationX>742</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Customer_Visit_Complete_Email_NO_DC_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Customer_VC_Email_with_D_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Visit_Complete_Email_GOT_DC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_VCR_Completed_Customer_Email_Alert_GOT_Discount</targetReference>
            </connector>
            <label>Send Customer VC Email with D/C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Visit_Complete_Email_NO_DC_TRUE</name>
        <label>Customer_Visit_Complete_Email_NO_DC=TRUE</label>
        <locationX>746</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Operative_Visit_Complete_Email_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Customer_VC_Email_W_OUT_D_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Visit_Complete_Email_NO_DC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_VCR_Completed_Customer_Email_Alert_NO_Discount</targetReference>
            </connector>
            <label>Send Customer VC Email W/OUT D/C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operative_Visit_Complete_Email_TRUE</name>
        <label>Operative_Visit_Complete_Email=TRUE</label>
        <locationX>737</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>Customer_Outstanding_balance_email_with_discount_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Operative_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operative_Visit_Complete_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_VCR_Completed_Operative_Email_Alert</targetReference>
            </connector>
            <label>Send Operative Email</label>
        </rules>
    </decisions>
    <interviewLabel>FL Visit Completion Report - Re-send Emails (System) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL Visit Completion Report - Re-send Emails (System)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>VCR_Data</name>
        <label>VCR Data</label>
        <locationX>393</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VCR_Re_send_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_VCRID</elementReference>
            </value>
        </filters>
        <object>Visit_completion_report__c</object>
        <outputReference>var_VCRData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Discount_offered__c</queriedFields>
        <queriedFields>Customer_email__c</queriedFields>
        <queriedFields>Operative_email__c</queriedFields>
        <queriedFields>Key_Account__c</queriedFields>
        <queriedFields>Outcome__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>VCR_Re_send_Emails</name>
        <label>VCR Re-send Emails</label>
        <locationX>554</locationX>
        <locationY>56</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Customer_Visit_Complete_Email_GOT_DC_TRUE</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtVCR_ReSendEmails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please select the Visit Completion Report Email to re-send:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Visit_Complete_Email_GOT_DC</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Visit Complete Email (with discount)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_VCRData.Discount_offered__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Key_Account__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Visit_Complete_Email_NO_DC</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Visit Complete Email (without discount)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
                <conditions>
                    <leftValueReference>var_VCRData.Discount_offered__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Discount_offered__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Key_Account__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Operative_Visit_Complete_Email</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Operative Visit Complete Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_VCRData.Operative_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Key_Account__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Outstanding_balance_email_with_discount</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Outstanding balance email (with discount)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_VCRData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Discount_offered__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Outstanding</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Outstanding_balance_email_no_discount</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Outstanding balance email (no discount)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>var_VCRData.Customer_email__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Discount_offered__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Discount_offered__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_VCRData.Outcome__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Outstanding</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VCR_Re_send_Emails_Confirmation</name>
        <label>VCR Re-send Emails_Confirmation</label>
        <locationX>671</locationX>
        <locationY>2054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtVCR_ReSendEmails_Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;The selected email(s) were re-sent.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>VCR_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_VCRData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit_completion_report__c</objectType>
    </variables>
    <variables>
        <name>var_VCRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
