unpackaged/main/default/flows/Gas_Safety_Report_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_5_Sec_Delay_To_var_QueryGSRSubmission_5_Secs_Wait</name>
        <label>Add 5 Sec Delay To var_QueryGSRSubmission_5_Secs_Wait</label>
        <locationX>538</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>var_QueryGSRSubmission_5_Secs_Wait</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_NOW_Add_5_Secs_To_CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_5_Secs_passed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_GSR_Submission_Details</name>
        <label>Set Default GSR Submission Details</label>
        <locationX>263</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Satisfactory_visual_inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Emergency_control_valve_access_satisfact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Satisfactory_gas_tightness_test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Equipotential_bonding_satisfactory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Approved_CO_alarms_fitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Smoke_alarms_fitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Testing_of_CO_alarms_satisfactory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.CO_alarms_are_in_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Work_Order_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_WorkOrder_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Service_Resource_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceResource_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_GSR_Submission_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Appliance_Results</name>
        <choiceText>Add Appliance Results</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Appliance Results</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Audible_CO_Alarms_Assessment</name>
        <choiceText>Add Audible CO Alarms Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Audible CO Alarms Assessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Gas_Installation_Pipework_Assessment</name>
        <choiceText>Add Gas Installation Pipework Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Gas Installation Pipework Assessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Installation_Fault</name>
        <choiceText>Add Installation Fault</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Installation Fault</stringValue>
        </value>
    </choices>
    <choices>
        <name>Agent</name>
        <choiceText>Agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Display_All_Appliance_Results</name>
        <choiceText>Display All Appliance Results</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Display All Appliance Results</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fail</name>
        <choiceText>Fail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fail</stringValue>
        </value>
    </choices>
    <choices>
        <name>FL</name>
        <choiceText>FL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Heat_Input_btu_h</name>
        <choiceText>Heat Input btu/h</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Heat Input btu/h</stringValue>
        </value>
    </choices>
    <choices>
        <name>Heat_Input_kw_h</name>
        <choiceText>Heat Input kw/h</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Heat Input kw/h</stringValue>
        </value>
    </choices>
    <choices>
        <name>Home_owner</name>
        <choiceText>Home owner</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Landlord</name>
        <choiceText>Landlord</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Landlord</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OF</name>
        <choiceText>OF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Operating_Pressure_mbar</name>
        <choiceText>Operating Pressure mbar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operating Pressure mbar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pass</name>
        <choiceText>Pass</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pass</stringValue>
        </value>
    </choices>
    <choices>
        <name>RS</name>
        <choiceText>RS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_GSR_Assessment</name>
        <choiceText>Submit GSR Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit GSR Assessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tenant</name>
        <choiceText>Tenant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tenant</stringValue>
        </value>
    </choices>
    <choices>
        <name>View_Appliance_Results</name>
        <choiceText>View Appliance Results</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View Appliance Results</stringValue>
        </value>
    </choices>
    <choices>
        <name>View_Audible_Co_Alarms_Details</name>
        <choiceText>View Audible Co Alarms Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View Audible Co Alarms Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>View_Gas_Installation_Pipework_Details</name>
        <choiceText>View Gas Installation Pipework Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View Gas Installation Pipework Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>View_Installation_Faults</name>
        <choiceText>View Installation Faults</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View Installation Faults</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>GSR_Submission_record_exist_or_not</name>
        <label>GSR Submission record exist or not</label>
        <locationX>582</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Set_Default_GSR_Submission_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GSR_Submission_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GSR_Submission_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCreatedGSRSubmission</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_5_Secs_passed</name>
        <label>Has 5 Secs passed?</label>
        <locationX>675</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>DelayScreenFooter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Passed</defaultConnectorLabel>
        <rules>
            <name>Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_QueryGSRSubmission_5_Secs_Wait</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCreatedGSRSubmission</targetReference>
            </connector>
            <label>Passed</label>
        </rules>
    </decisions>
    <description>Linking Service Appointment to GSR Submission Object</description>
    <dynamicChoiceSets>
        <name>All_Appliance_Result_Submissions</name>
        <dataType>String</dataType>
        <displayField>RCS_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GSR_Submission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Id</elementReference>
            </value>
        </filters>
        <object>GSR_Appliance_Results__c</object>
        <valueField>RCS_Label__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>All_Installation_Fault_Submissions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GSR_Submission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Id</elementReference>
            </value>
        </filters>
        <object>GSR_Installation_Fault__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Form_NOW_Add_5_Secs_To_CurrentTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+0.00005787</expression>
    </formulas>
    <interviewLabel>Gas Safety Report Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gas Safety Report Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_GSR_Submission_Record</name>
        <label>Create GSR Submission Record</label>
        <locationX>263</locationX>
        <locationY>439</locationY>
        <assignRecordIdToReference>GSR_Submission_Id</assignRecordIdToReference>
        <connector>
            <targetReference>DisplayGSRSubmission</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved_CO_alarms_fitted__c</field>
            <value>
                <elementReference>GSR_Submission_Variable.Approved_CO_alarms_fitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CO_alarms_are_in_date__c</field>
            <value>
                <elementReference>GSR_Submission_Variable.CO_alarms_are_in_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_control_valve_access_satisfact__c</field>
            <value>
                <elementReference>GSR_Submission_Variable.Emergency_control_valve_access_satisfact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipotential_bonding_satisfactory__c</field>
            <value>
                <elementReference>GSR_Submission_Variable.Equipotential_bonding_satisfactory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfactory_gas_tightness_test__c</field>
            <value>
                <elementReference>GSR_Submission_Variable.Satisfactory_gas_tightness_test__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfactory_visual_inspection__c</field>
            <value>
                <elementReference>GSR_Submission_Variable.Satisfactory_visual_inspection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment_Lookup__c</field>
            <value>
                <elementReference>var_ServiceAppointment_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Resource_Lookup__c</field>
            <value>
                <elementReference>var_ServiceResource_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Smoke_alarms_fitted__c</field>
            <value>
                <elementReference>GSR_Submission_Variable.Smoke_alarms_fitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Testing_of_CO_alarms_satisfactory__c</field>
            <value>
                <elementReference>GSR_Submission_Variable.Testing_of_CO_alarms_satisfactory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Lookup__c</field>
            <value>
                <elementReference>var_WorkOrder_Id</elementReference>
            </value>
        </inputAssignments>
        <object>GSR_Submission__c</object>
    </recordCreates>
    <recordLookups>
        <name>getCreatedGSRSubmission</name>
        <label>getCreatedGSRSubmission</label>
        <locationX>798</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Gas_Safety_Report_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Id</elementReference>
            </value>
        </filters>
        <object>GSR_Submission__c</object>
        <outputReference>GSRSubmissionRec</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getGSRSubmissionRelatedToWO</name>
        <label>getGSRSubmissionRelatedToWO</label>
        <locationX>585</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GSR_Submission_record_exist_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrder_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>GSR_Submission__c</object>
        <outputAssignments>
            <assignToReference>GSR_Submission_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>DelayScreenFooter</name>
        <label>DelayScreenFooter</label>
        <locationX>688</locationX>
        <locationY>624</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_5_Secs_passed</targetReference>
        </connector>
        <fields>
            <name>DisplayTxt5SecNotPassed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;5 seconds have not passed yet.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please press next when 5 seconds have passed.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please wait until: {!var_QueryGSRSubmission_5_Secs_Wait}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayGSRSubmission</name>
        <label>DisplayGSRSubmission</label>
        <locationX>406</locationX>
        <locationY>439</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_5_Sec_Delay_To_var_QueryGSRSubmission_5_Secs_Wait</targetReference>
        </connector>
        <fields>
            <name>GSR</name>
            <fieldText>&lt;p&gt;GSR Report creation is in progress now.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please wait 5 seconds and then press &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Next &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;to add all the information for GSR Report.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>134</locationX>
        <locationY>92</locationY>
        <connector>
            <targetReference>getGSRSubmissionRelatedToWO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Gas_Safety_Report_Subflow</name>
        <label>Call - Gas Safety Report Subflow</label>
        <locationX>894</locationX>
        <locationY>384</locationY>
        <flowName>Gas_Safety_Report_Subflow</flowName>
        <inputAssignments>
            <name>GSR_Submission_Record_ID</name>
            <value>
                <elementReference>GSRSubmissionRec.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Appliance_Results_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Audible_CO_Alarms_Entries_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Gas_Installation_Pipework_Entries_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GSR_Appliance_Result_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GSR_Appliances_Added</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GSR_Appliance_Results__c</objectType>
    </variables>
    <variables>
        <name>GSR_Installation_Fault_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GSR_Installation_Fault__c</objectType>
    </variables>
    <variables>
        <name>GSR_Installation_Fault_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GSR_Submission_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GSR_Submission_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GSR_Submission__c</objectType>
    </variables>
    <variables>
        <name>GSRSubmissionRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GSR_Submission__c</objectType>
    </variables>
    <variables>
        <description>This variable will keep a record of how many Installation Faults have been created.</description>
        <name>Installation_Faults_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Service_Appointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Service_Resource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_QueryGSRSubmission_5_Secs_Wait</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceAppointment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceResource_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WorkOrder_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
