unpackaged/main/default/flows/Gas_Safety_Report_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Audible_CO_Alarms_Assignment</name>
        <label>Audible CO Alarms Record Assignment</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Approved_CO_alarms_fitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approved_CO_alarms_fitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Smoke_alarms_fitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Smoke_alarms_fitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Testing_of_CO_alarms_satisfactory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Testing_of_CO_alarms_satisfactory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.CO_alarms_are_in_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_alarms_are_in_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Audible_COAlarm_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gas_Installation_Pipework_Assignment</name>
        <label>Gas Installation Pipework Record Assignment</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Satisfactory_visual_inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Satisfactory_visual_inspection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Emergency_control_valve_access_satisfact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_control_valve_access_satisfactory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Satisfactory_gas_tightness_test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Satisfactory_gas_tightness_test</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Equipotential_bonding_satisfactory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipotential_bonding_satisfactory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Gas_Installation_Pipework</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GSR_Submission_Current_DateTime_Assignment_0</name>
        <label>GSR_Submission_Assignment</label>
        <locationX>2162</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Report_Received_By_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cert_Received_By_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_GSR_Submission_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Appliance_Result_Details</name>
        <label>Update Appliance Result Details</label>
        <locationX>1106</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Type_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_Manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Manufacturer_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Model_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Landlords_Device__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Landlords_Device_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Gas_Council_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GC_Number_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Location_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_Measurement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Measurement_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_measurement_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Measurement_Type_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Flue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flue_Type_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Safety_devices_correct_operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Safety_devices_correct_operation_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Spillage_test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spillage_Test_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Smoke_pellet_flue_flow_test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Smoke_pellet_flue_flow_test_updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Combustion_Initial_ratio_reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_ratio_reading_updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Combustion_CO_reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_reading_updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Combustion_CO2_reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO2_reading_updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Combustion_Final_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Reading_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Satisfactory_termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Satisfactory_Termination_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Satisfactory_Flue_visual_condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Satisfactory_Flue_Visual_Condition_updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Adequate_ventilation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adequate_Ventilation_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Inspected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inspected_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_serviced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Serviced_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_safe_to_use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Safe_To_Use_Updated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appliance_Result_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Appliance_Results_Qty</name>
        <label>Update Appliance Results Qty</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Appliance_Results_Qty</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appliance_Result_Record_Created_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Appliance_Results_Variable</name>
        <label>Update Appliance Results Variable</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Landlords_Device__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Landlord_s_Device</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_Manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Manufacturer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Gas_Council_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gas_Council_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_Measurement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Measurement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_measurement_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_measurement_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Flue_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flue_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Safety_devices_correct_operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Safety_devices_correct_operation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Spillage_test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Spillage_Test</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Smoke_pellet_flue_flow_test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Smoke_pellet_flue_flow_test</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Combustion_Initial_ratio_reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Combustion_Initial_ratio_reading</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Combustion_CO_reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Combustion_CO_reading</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Combustion_CO2_reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Combustion_CO2_reading</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Combustion_Final_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Combustion_Final_Reading</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Satisfactory_termination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Satisfactory_termination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Satisfactory_Flue_visual_condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Satisfactory_Flue_visual_condition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Adequate_ventilation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adequate_Ventilation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Inspected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inspected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_serviced__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_Serviced</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Appliances_Added.Appliance_safe_to_use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appliance_safe_to_use</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Appliance_Results_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Audible_CO_Alarm_Assignment</name>
        <label>Update Audible CO Alarm Assignment</label>
        <locationX>1898</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Approved_CO_alarms_fitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approved_CO_Alarms_Fitted_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Smoke_alarms_fitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Smoke_alarms_fitted_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Testing_of_CO_alarms_satisfactory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Testing_Of_CO_Alarms_Satisfactory_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.CO_alarms_are_in_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CO_alarms_are_in_date_Updated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Audible_CO_Alarms_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Audible_CO_Alarms_Entries_Qty</name>
        <label>Update Audible CO Alarms Entries Qty</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Audible_CO_Alarms_Entries_Qty</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Audible_CO_Alarms_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Gas_Installation_Pipework_Details</name>
        <label>Update Gas Installation Pipework Details</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Satisfactory_visual_inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Satisfactory_Visual_Inspection_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Emergency_control_valve_access_satisfact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_Control_Valve_Access_Satisfactory_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Satisfactory_gas_tightness_test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Satisfactory_Gas_Tightness_Test_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Submission_Variable.Equipotential_bonding_satisfactory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipotential_Bonding_Satisfactory_Updated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Gas_Installation_Pipework_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Gas_Installation_Pipework_Entries_Qty</name>
        <label>Update Gas Installation Pipework Entries Qty</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Gas_Installation_Pipework_Entries_Qty</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gas_Installation_Pipework_Assessment_Added_Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Installation_Fault_Assignment</name>
        <label>Update Installation Fault Assignment</label>
        <locationX>1634</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>GSR_Installation_Fault_Record.Give_details_of_any_faults__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Give_details_of_any_faults_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Installation_Fault_Record.Rectification_work_carried_out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rectification_Work_Carried_Out_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Installation_Fault_Record.Warning_notice_issued__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warning_Notice_Issued_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Installation_Fault_Record.Warning_tag_or_sticker_fixed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warning_Tag_Or_Sticker_Fixed_Updated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Installation_Fault_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Installation_Fault_Variable_0</name>
        <label>Update Installation Fault Variable</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GSR_Installation_Fault_Record.Give_details_of_any_faults__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Give_details_of_any_faults</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Installation_Fault_Record.Rectification_work_carried_out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rectification_work_carried_out</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Installation_Fault_Record.Warning_notice_issued__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warning_notice_issued</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GSR_Installation_Fault_Record.Warning_tag_or_sticker_fixed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warning_tag_or_sticker_fixed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Installation_Fault_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Installation_Faults_Qty</name>
        <label>Update Installation Faults Qty</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Installation_Faults_Qty</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installation_Fault_Creation_Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Appliance_Results</name>
        <choiceText>Add Appliance Results</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Appliance Results</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Audible_CO_Alarms_Assessment</name>
        <choiceText>Add Audible CO Alarms Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Audible CO Alarms Assessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Gas_Installation_Pipework_Assessment</name>
        <choiceText>Add Gas Installation Pipework Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Gas Installation Pipework Assessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Add_Installation_Fault</name>
        <choiceText>Add Installation Fault</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Installation Fault</stringValue>
        </value>
    </choices>
    <choices>
        <name>Agent</name>
        <choiceText>Agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Display_All_Appliance_Results</name>
        <choiceText>Display All Appliance Results</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Display All Appliance Results</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fail</name>
        <choiceText>Fail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fail</stringValue>
        </value>
    </choices>
    <choices>
        <name>FL</name>
        <choiceText>FL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Heat_Input_btu_h</name>
        <choiceText>Heat Input btu/h</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Heat Input btu/h</stringValue>
        </value>
    </choices>
    <choices>
        <name>Heat_Input_kw_h</name>
        <choiceText>Heat Input kw/h</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Heat Input kw/h</stringValue>
        </value>
    </choices>
    <choices>
        <name>Home_owner</name>
        <choiceText>Home owner</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Landlord</name>
        <choiceText>Landlord</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Landlord</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OF</name>
        <choiceText>OF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Operating_Pressure_mbar</name>
        <choiceText>Operating Pressure mbar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Operating Pressure mbar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pass</name>
        <choiceText>Pass</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pass</stringValue>
        </value>
    </choices>
    <choices>
        <name>RS</name>
        <choiceText>RS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_GSR_Assessment</name>
        <choiceText>Submit GSR Assessment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit GSR Assessment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tenant</name>
        <choiceText>Tenant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tenant</stringValue>
        </value>
    </choices>
    <choices>
        <name>View_Appliance_Results</name>
        <choiceText>View Appliance Results</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View Appliance Results</stringValue>
        </value>
    </choices>
    <choices>
        <name>View_Audible_Co_Alarms_Details</name>
        <choiceText>View Audible Co Alarms Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View Audible Co Alarms Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>View_Gas_Installation_Pipework_Details</name>
        <choiceText>View Gas Installation Pipework Details</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View Gas Installation Pipework Details</stringValue>
        </value>
    </choices>
    <choices>
        <name>View_Installation_Faults</name>
        <choiceText>View Installation Faults</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View Installation Faults</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Inspection_Option_Decision</name>
        <label>Inspection Option Decision</label>
        <locationX>1238</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Options_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Return to Options Screen</defaultConnectorLabel>
        <rules>
            <name>Add_Gas_Installation_Pipework_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inspection_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Gas_Installation_Pipework_Assessment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingGasInstallationPipework</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gas_Installation_Pipework_Entries_Qty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gas_Installation_Pipework_0</targetReference>
            </connector>
            <label>Add Gas Installation Pipework Assessment</label>
        </rules>
        <rules>
            <name>Add_Audible_CO_Alarms_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inspection_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Audible_CO_Alarms_Assessment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Audible_CO_Alarms_Entries_Qty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingAudibleCoAlarms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Alarms_Assessment_Screen</targetReference>
            </connector>
            <label>Add Audible CO Alarms Assessment</label>
        </rules>
        <rules>
            <name>Add_Appliance_Results_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inspection_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Appliance_Results</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appliance_Details_Screen</targetReference>
            </connector>
            <label>Add Appliance Results</label>
        </rules>
        <rules>
            <name>Add_Installation_Fault_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inspection_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_Installation_Fault</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Installation_Fault_Screen</targetReference>
            </connector>
            <label>Add Installation Fault</label>
        </rules>
        <rules>
            <name>View_Appliance_Results_Decision</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Inspection_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>View_Appliance_Results</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appliance_Results_Qty</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingGSRApplianceResult</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Appliance_Results_Screen</targetReference>
            </connector>
            <label>View Appliance Results</label>
        </rules>
        <rules>
            <name>View_Gas_Installation_Pipework_Details_Decision</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Inspection_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>View_Gas_Installation_Pipework_Details</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gas_Installation_Pipework_Entries_Qty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingGasInstallationPipework</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gas_Installation_Pipework_Details</targetReference>
            </connector>
            <label>View Gas Installation Pipework Details</label>
        </rules>
        <rules>
            <name>View_Installation_Faults_Decision</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Inspection_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>View_Installation_Faults</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Installation_Faults_Qty</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingGSRInstallationFault</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Installation_Faults_screen</targetReference>
            </connector>
            <label>View Installation Faults</label>
        </rules>
        <rules>
            <name>View_Audible_CO_Alarms_Details_Decision</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Inspection_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>View_Audible_Co_Alarms_Details</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Audible_CO_Alarms_Entries_Qty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingAudibleCoAlarms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Audible_Co_Alarms_Details</targetReference>
            </connector>
            <label>View Audible CO Alarms Details</label>
        </rules>
        <rules>
            <name>Submit_GSR_Assessment_Decision</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5) AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Inspection_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Submit_GSR_Assessment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gas_Installation_Pipework_Entries_Qty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingGasInstallationPipework</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Audible_CO_Alarms_Entries_Qty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingAudibleCoAlarms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Appliance_Results_Qty</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ExistingGSRApplianceResult</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Physical_Cert_Received_Details</targetReference>
            </connector>
            <label>Submit GSR Assessment</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>All_Appliance_Result_Submissions</name>
        <dataType>String</dataType>
        <displayField>RCS_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GSR_Submission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <object>GSR_Appliance_Results__c</object>
        <valueField>RCS_Label__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>All_Installation_Fault_Submissions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GSR_Submission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <object>GSR_Installation_Fault__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Gas Saftey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gas Safety Report Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Appliance_Results_Record</name>
        <label>Create Appliance Results Record</label>
        <locationX>578</locationX>
        <locationY>1718</locationY>
        <assignRecordIdToReference>GSR_Appliance_Result_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Appliance_Results_Qty</targetReference>
        </connector>
        <inputAssignments>
            <field>Adequate_ventilation__c</field>
            <value>
                <elementReference>Adequate_Ventilation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_Location__c</field>
            <value>
                <elementReference>Appliance_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_Manufacturer__c</field>
            <value>
                <elementReference>Appliance_Manufacturer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_Measurement__c</field>
            <value>
                <elementReference>Appliance_Measurement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_Type__c</field>
            <value>
                <elementReference>Appliance_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_measurement_type__c</field>
            <value>
                <elementReference>Appliance_measurement_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_model__c</field>
            <value>
                <elementReference>Appliance_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_safe_to_use__c</field>
            <value>
                <elementReference>Appliance_safe_to_use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_serviced__c</field>
            <value>
                <elementReference>Appliance_Serviced</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combustion_CO2_reading__c</field>
            <value>
                <elementReference>Combustion_CO2_reading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combustion_CO_reading__c</field>
            <value>
                <elementReference>Combustion_CO_reading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combustion_Final_Reading__c</field>
            <value>
                <elementReference>Combustion_Final_Reading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combustion_Initial_ratio_reading__c</field>
            <value>
                <elementReference>Combustion_Initial_ratio_reading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flue_Type__c</field>
            <value>
                <elementReference>Flue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSR_Submission__c</field>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gas_Council_Number__c</field>
            <value>
                <elementReference>Gas_Council_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inspected__c</field>
            <value>
                <elementReference>Inspected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Landlords_Device__c</field>
            <value>
                <elementReference>Landlord_s_Device</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_devices_correct_operation__c</field>
            <value>
                <elementReference>Safety_devices_correct_operation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfactory_Flue_visual_condition__c</field>
            <value>
                <elementReference>Satisfactory_Flue_visual_condition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfactory_termination__c</field>
            <value>
                <elementReference>Satisfactory_termination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Smoke_pellet_flue_flow_test__c</field>
            <value>
                <elementReference>Smoke_pellet_flue_flow_test</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spillage_test__c</field>
            <value>
                <elementReference>Spillage_Test</elementReference>
            </value>
        </inputAssignments>
        <object>GSR_Appliance_Results__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_GSR_Installation_Faults_Record</name>
        <label>Create GSR Installation Faults Record</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <assignRecordIdToReference>GSR_Installation_Fault_Record_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Installation_Faults_Qty</targetReference>
        </connector>
        <inputAssignments>
            <field>GSR_Submission__c</field>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Give_details_of_any_faults__c</field>
            <value>
                <elementReference>Give_details_of_any_faults</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rectification_work_carried_out__c</field>
            <value>
                <elementReference>Rectification_work_carried_out</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warning_notice_issued__c</field>
            <value>
                <elementReference>Warning_notice_issued</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warning_tag_or_sticker_fixed__c</field>
            <value>
                <elementReference>Warning_tag_or_sticker_fixed</elementReference>
            </value>
        </inputAssignments>
        <object>GSR_Installation_Fault__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Audible_Co_Alarms_Details</name>
        <label>Get Audible Co Alarms Details</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Audible_CO_Alarms_Updated_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <object>GSR_Submission__c</object>
        <outputReference>GSR_Submission_Variable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approved_CO_alarms_fitted__c</queriedFields>
        <queriedFields>Smoke_alarms_fitted__c</queriedFields>
        <queriedFields>Testing_of_CO_alarms_satisfactory__c</queriedFields>
        <queriedFields>CO_alarms_are_in_date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Gas_Installation_Pipework_Details</name>
        <label>Get Gas Installation Pipework Details</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gas_Installation_Pipework_Updated_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <object>GSR_Submission__c</object>
        <outputReference>GSR_Submission_Variable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Satisfactory_visual_inspection__c</queriedFields>
        <queriedFields>Emergency_control_valve_access_satisfact__c</queriedFields>
        <queriedFields>Satisfactory_gas_tightness_test__c</queriedFields>
        <queriedFields>Equipotential_bonding_satisfactory__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Appliance_Result_Record</name>
        <label>Get Selected Appliance Result Record</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Appliance_Result_Details_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RCS_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appliance_Result_Selected</elementReference>
            </value>
        </filters>
        <object>GSR_Appliance_Results__c</object>
        <outputReference>GSR_Appliances_Added</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RCS_Label__c</queriedFields>
        <queriedFields>Appliance_Type__c</queriedFields>
        <queriedFields>Appliance_Manufacturer__c</queriedFields>
        <queriedFields>Appliance_model__c</queriedFields>
        <queriedFields>Landlords_Device__c</queriedFields>
        <queriedFields>Gas_Council_Number__c</queriedFields>
        <queriedFields>Flue_Type__c</queriedFields>
        <queriedFields>Appliance_Measurement__c</queriedFields>
        <queriedFields>Appliance_measurement_type__c</queriedFields>
        <queriedFields>Appliance_Location__c</queriedFields>
        <queriedFields>Safety_devices_correct_operation__c</queriedFields>
        <queriedFields>Spillage_test__c</queriedFields>
        <queriedFields>Smoke_pellet_flue_flow_test__c</queriedFields>
        <queriedFields>Combustion_Initial_ratio_reading__c</queriedFields>
        <queriedFields>Combustion_CO_reading__c</queriedFields>
        <queriedFields>Combustion_CO2_reading__c</queriedFields>
        <queriedFields>Combustion_Final_Reading__c</queriedFields>
        <queriedFields>Satisfactory_termination__c</queriedFields>
        <queriedFields>Satisfactory_Flue_visual_condition__c</queriedFields>
        <queriedFields>Adequate_ventilation__c</queriedFields>
        <queriedFields>Inspected__c</queriedFields>
        <queriedFields>Appliance_serviced__c</queriedFields>
        <queriedFields>Appliance_safe_to_use__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Installation_Fault_Record</name>
        <label>Get Selected Installation Fault Record</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Fault_Details_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Installation_Fault_Selected</elementReference>
            </value>
        </filters>
        <object>GSR_Installation_Fault__c</object>
        <outputReference>GSR_Installation_Fault_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Give_details_of_any_faults__c</queriedFields>
        <queriedFields>Rectification_work_carried_out__c</queriedFields>
        <queriedFields>Warning_notice_issued__c</queriedFields>
        <queriedFields>Warning_tag_or_sticker_fixed__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getExistingApplianceResult</name>
        <label>getExistingApplianceResult</label>
        <locationX>1238</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getExistingInstallationFaultResult</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GSR_Submission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <object>GSR_Appliance_Results__c</object>
        <outputReference>var_ExistingGSRApplianceResult</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getExistingAudibleCoAlarmsRecord</name>
        <label>getExistingAudibleCoAlarmsRecord</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Options_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CO_Alarms_From_GSR_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GSR_Submission__c</object>
        <outputReference>var_ExistingAudibleCoAlarms</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getExistingGasInstallationPipelineWorks</name>
        <label>getExistingGasInstallationPipelineWorks</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getExistingAudibleCoAlarmsRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gas_Installation_Pipework_From_GSR_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GSR_Submission__c</object>
        <outputReference>var_ExistingGasInstallationPipework</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getExistingInstallationFaultResult</name>
        <label>getExistingInstallationFaultResult</label>
        <locationX>1238</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getExistingGasInstallationPipelineWorks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GSR_Submission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <object>GSR_Installation_Fault__c</object>
        <outputReference>var_ExistingGSRInstallationFault</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Appliance_Result_Record</name>
        <label>Update Appliance Result Record</label>
        <locationX>1106</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Appliance_Result_Updated_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RCS_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Appliances_Added.RCS_Label__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Adequate_ventilation__c</field>
            <value>
                <elementReference>Adequate_Ventilation_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_Location__c</field>
            <value>
                <elementReference>Appliance_Location_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_Manufacturer__c</field>
            <value>
                <elementReference>Appliance_Manufacturer_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_Measurement__c</field>
            <value>
                <elementReference>Appliance_Measurement_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_Type__c</field>
            <value>
                <elementReference>Appliance_Type_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_measurement_type__c</field>
            <value>
                <elementReference>Appliance_Measurement_Type_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_model__c</field>
            <value>
                <elementReference>Appliance_Model_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_safe_to_use__c</field>
            <value>
                <elementReference>Appliance_Safe_To_Use_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appliance_serviced__c</field>
            <value>
                <elementReference>Appliance_Serviced_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combustion_CO2_reading__c</field>
            <value>
                <elementReference>CO2_reading_updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combustion_CO_reading__c</field>
            <value>
                <elementReference>CO_reading_updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combustion_Final_Reading__c</field>
            <value>
                <elementReference>Final_Reading_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Combustion_Initial_ratio_reading__c</field>
            <value>
                <elementReference>Initial_ratio_reading_updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flue_Type__c</field>
            <value>
                <elementReference>Flue_Type_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gas_Council_Number__c</field>
            <value>
                <elementReference>GC_Number_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inspected__c</field>
            <value>
                <elementReference>Inspected_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Landlords_Device__c</field>
            <value>
                <elementReference>Landlords_Device_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_devices_correct_operation__c</field>
            <value>
                <elementReference>Safety_devices_correct_operation_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfactory_Flue_visual_condition__c</field>
            <value>
                <elementReference>Satisfactory_Flue_Visual_Condition_updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfactory_termination__c</field>
            <value>
                <elementReference>Satisfactory_Termination_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Smoke_pellet_flue_flow_test__c</field>
            <value>
                <elementReference>Smoke_pellet_flue_flow_test_updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spillage_test__c</field>
            <value>
                <elementReference>Spillage_Test_Updated</elementReference>
            </value>
        </inputAssignments>
        <object>GSR_Appliance_Results__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Audible_CO_Alarms_Details</name>
        <label>Update Audible CO Alarms Details</label>
        <locationX>1898</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Updated_Audible_CO_Alarms_Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_CO_alarms_fitted__c</field>
            <value>
                <elementReference>Approved_CO_Alarms_Fitted_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CO_alarms_are_in_date__c</field>
            <value>
                <elementReference>CO_alarms_are_in_date_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Smoke_alarms_fitted__c</field>
            <value>
                <elementReference>Smoke_alarms_fitted_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Testing_of_CO_alarms_satisfactory__c</field>
            <value>
                <elementReference>Testing_Of_CO_Alarms_Satisfactory_Updated</elementReference>
            </value>
        </inputAssignments>
        <object>GSR_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Gas_Installation_Pipework_Record</name>
        <label>Update Gas Installation Pipework Record</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Gas_Installation_Pipework_Updated_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emergency_control_valve_access_satisfact__c</field>
            <value>
                <elementReference>Emergency_Control_Valve_Access_Satisfactory_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipotential_bonding_satisfactory__c</field>
            <value>
                <elementReference>Equipotential_Bonding_Satisfactory_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfactory_gas_tightness_test__c</field>
            <value>
                <elementReference>Satisfactory_Gas_Tightness_Test_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfactory_visual_inspection__c</field>
            <value>
                <elementReference>Satisfactory_Visual_Inspection_Updated</elementReference>
            </value>
        </inputAssignments>
        <object>GSR_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GSR_Submission_0</name>
        <label>Update GSR Submission</label>
        <locationX>2162</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Submission_Confirmation_Screen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed_Date_Time__c</field>
            <value>
                <elementReference>GSR_Submission_Variable.Completed_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Received_By_Type__c</field>
            <value>
                <elementReference>Cert_Received_By_Type</elementReference>
            </value>
        </inputAssignments>
        <object>GSR_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GSR_Submission_Record</name>
        <label>Update GSR Submission Record</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Update_Gas_Installation_Pipework_Entries_Qty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Emergency_control_valve_access_satisfact__c</field>
            <value>
                <elementReference>Emergency_control_valve_access_satisfactory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipotential_bonding_satisfactory__c</field>
            <value>
                <elementReference>Equipotential_bonding_satisfactory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gas_Installation_Pipework_From_GSR_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfactory_gas_tightness_test__c</field>
            <value>
                <elementReference>Satisfactory_gas_tightness_test</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfactory_visual_inspection__c</field>
            <value>
                <elementReference>Satisfactory_visual_inspection</elementReference>
            </value>
        </inputAssignments>
        <object>GSR_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GSR_Submission_Record_0</name>
        <label>Update GSR Submission Record</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Update_Audible_CO_Alarms_Entries_Qty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Submission_Record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_CO_alarms_fitted__c</field>
            <value>
                <elementReference>Approved_CO_alarms_fitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CO_Alarms_From_GSR_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CO_alarms_are_in_date__c</field>
            <value>
                <elementReference>CO_alarms_are_in_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Smoke_alarms_fitted__c</field>
            <value>
                <elementReference>Smoke_alarms_fitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Testing_of_CO_alarms_satisfactory__c</field>
            <value>
                <elementReference>Testing_of_CO_alarms_satisfactory</elementReference>
            </value>
        </inputAssignments>
        <object>GSR_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Installation_Fault_Record</name>
        <label>Update Installation Fault Record</label>
        <locationX>1634</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Installation_Fault_Updated_Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GSR_Installation_Fault_Record.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Give_details_of_any_faults__c</field>
            <value>
                <elementReference>Give_details_of_any_faults_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rectification_work_carried_out__c</field>
            <value>
                <elementReference>Rectification_Work_Carried_Out_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warning_notice_issued__c</field>
            <value>
                <elementReference>Warning_Notice_Issued_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warning_tag_or_sticker_fixed__c</field>
            <value>
                <elementReference>Warning_Tag_Or_Sticker_Fixed_Updated</elementReference>
            </value>
        </inputAssignments>
        <object>GSR_Installation_Fault__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Add_Alarms_Assessment_Screen</name>
        <label>Alarms Assessment Screen</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Audible_CO_Alarms_Assignment</targetReference>
        </connector>
        <fields>
            <name>Audible_CO_Alarms_Assessment_Heading_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;AUDIBLE CO ALARMS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approved_CO_alarms_fitted</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Approved CO alarms fitted</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Smoke_alarms_fitted</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Smoke alarms fitted</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Testing_of_CO_alarms_satisfactory</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Testing of CO alarms satisfactory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CO_alarms_are_in_date</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>CO alarms are in date</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Installation_Fault_Screen</name>
        <label>Add Installation Fault Screen</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Return to options</backButtonLabel>
        <connector>
            <targetReference>Update_Installation_Fault_Variable_0</targetReference>
        </connector>
        <fields>
            <name>Installation_Faults_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: verdana; font-size: 16px; color: rgb(0, 24, 113);&quot;&gt;ADD INSTALLATION FAULTS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Give_details_of_any_faults</name>
            <fieldText>Give details of any faults</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rectification_work_carried_out</name>
            <fieldText>Provide details of rectification work carried out</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Warning_notice_issued</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Warning notice issued</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Warning_tag_or_sticker_fixed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Warning tag or sticker fixed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Appliance_Assessment_Details</name>
        <label>Appliance Assessment Details</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flue_Tests_Screen</targetReference>
        </connector>
        <fields>
            <name>Appliance_Assessment_Details_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;APPLIANCE ASSESSMENT DETAILS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Appliance_Measurement</name>
            <dataType>Number</dataType>
            <fieldText>Test Results</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Appliance_measurement_type</name>
            <choiceReferences>Heat_Input_kw_h</choiceReferences>
            <choiceReferences>Heat_Input_btu_h</choiceReferences>
            <choiceReferences>Operating_Pressure_mbar</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Heat_Input_kw_h</defaultSelectedChoiceReference>
            <fieldText>Test Measurement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Appliance_Details_Screen</name>
        <label>Appliance Details Screen</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Appliance_Assessment_Details</targetReference>
        </connector>
        <fields>
            <name>Appliance_Details_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; font-size: 16px; color: rgb(0, 24, 113); background-color: rgb(255, 255, 255);&quot;&gt;APPLIANCE DETAILS &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Landlord_s_Device</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Landlord&#39;s Device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appliance_Location</name>
            <dataType>String</dataType>
            <fieldText>Where is the appliance located</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appliance_Manufacturer</name>
            <dataType>String</dataType>
            <fieldText>Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appliance_Model</name>
            <dataType>String</dataType>
            <fieldText>Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appliance_Type</name>
            <dataType>String</dataType>
            <fieldText>Appliance Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gas_Council_Number</name>
            <dataType>Number</dataType>
            <fieldText>Gas Council Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Appliance_Result_Details_Screen</name>
        <label>Appliance Result Details Screen</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Appliance_Test_Details_Updated_Screen</targetReference>
        </connector>
        <fields>
            <name>Appliance_Details_Updated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;APPLIANCE DETAILS: &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Appliance_RCS</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Appliance: &lt;/b&gt;{!GSR_Appliances_Added.RCS_Label__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Appliance_Type_Updated</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Appliance_Type__c</elementReference>
            </defaultValue>
            <fieldText>Appliance Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appliance_Manufacturer_Updated</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Appliance_Manufacturer__c</elementReference>
            </defaultValue>
            <fieldText>Appliance Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appliance_Model_Updated</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Appliance_model__c</elementReference>
            </defaultValue>
            <fieldText>Appliance Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Landlords_Device_Updated</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Landlords_Device__c</elementReference>
            </defaultValue>
            <fieldText>Landlord&#39;s Device</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GC_Number_Updated</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Gas_Council_Number__c</elementReference>
            </defaultValue>
            <fieldText>Gas Council Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Appliance_Location_Updated</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Appliance_Location__c</elementReference>
            </defaultValue>
            <fieldText>Where is this appliance located?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Appliance_Result_Record_Created_Confirmation</name>
        <label>Appliance result confirmation</label>
        <locationX>578</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Options_Screen</targetReference>
        </connector>
        <fields>
            <name>Appliance_Result_record_created_Confirmation_Heading</name>
            <fieldText>&lt;p&gt;The appliance result record has been created successfully. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Appliance_Result_Updated_Confirmation</name>
        <label>Appliance Result Update Confirmation</label>
        <locationX>1106</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Options_Screen</targetReference>
        </connector>
        <fields>
            <name>Appliance_Result_Updated_Confirmation_Heading</name>
            <fieldText>&lt;p&gt;The appliance result has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Appliance_Test_Details_Updated_Screen</name>
        <label>Appliance Test Result Updated</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flue_Tests_Updated</targetReference>
        </connector>
        <fields>
            <name>Appliance_Test_Details_Updated_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;TEST RESULTS:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Appliance_Measurement_Updated</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Appliance_Measurement__c</elementReference>
            </defaultValue>
            <fieldText>Appliance Measurement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Appliance_Measurement_Type_Updated</name>
            <choiceReferences>Heat_Input_kw_h</choiceReferences>
            <choiceReferences>Heat_Input_btu_h</choiceReferences>
            <choiceReferences>Operating_Pressure_mbar</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Appliance_measurement_type__c</elementReference>
            </defaultValue>
            <fieldText>Appliance Measurement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Audible_CO_Alarms_Confirmation</name>
        <label>Audible CO Alarms Confirmation</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Options_Screen</targetReference>
        </connector>
        <fields>
            <name>Audible_CO_Alarms_Confirmation_Message</name>
            <fieldText>&lt;p&gt;The Audible CO Alarm details have been successfully added to the GSR Submission record. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Audible_CO_Alarms_Updated_Screen</name>
        <label>Audible CO Alarms Updated Screen</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Audible_CO_Alarm_Assignment</targetReference>
        </connector>
        <fields>
            <name>Audible_CO_Alarms_Details_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;AUDIBLE CO ALARMS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approved_CO_Alarms_Fitted_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Submission_Variable.Approved_CO_alarms_fitted__c</elementReference>
            </defaultValue>
            <fieldText>Approved CO alarms fitted</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Smoke_alarms_fitted_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Submission_Variable.Smoke_alarms_fitted__c</elementReference>
            </defaultValue>
            <fieldText>Smoke alarms fitted</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Testing_Of_CO_Alarms_Satisfactory_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Submission_Variable.Testing_of_CO_alarms_satisfactory__c</elementReference>
            </defaultValue>
            <fieldText>Testing of CO alarms satisfactory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CO_alarms_are_in_date_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Submission_Variable.CO_alarms_are_in_date__c</elementReference>
            </defaultValue>
            <fieldText>CO alarms are in date</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Combustion_Readings_Screen</name>
        <label>Combustion Readings Screen</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Inspection_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>Combustion_Readings_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;COMBUSTION READINGS&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Combustion_Initial_ratio_reading</name>
            <dataType>String</dataType>
            <fieldText>Combustion Initial ratio reading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Combustion_CO_reading</name>
            <dataType>String</dataType>
            <fieldText>Combustion CO reading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Combustion_CO2_reading</name>
            <dataType>String</dataType>
            <fieldText>Combustion CO2 reading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Combustion_Final_Reading</name>
            <dataType>String</dataType>
            <fieldText>Combustion Final Reading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Combustion_Readings_Updated</name>
        <label>Combustion Readings Updated</label>
        <locationX>1106</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Inspection_Details_Updated_Screen</targetReference>
        </connector>
        <fields>
            <name>Combustion_Readings_Updated_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;COMBUSTION READINGS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Initial_ratio_reading_updated</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Combustion_Initial_ratio_reading__c</elementReference>
            </defaultValue>
            <fieldText>Initial ratio reading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CO_reading_updated</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Combustion_CO_reading__c</elementReference>
            </defaultValue>
            <fieldText>CO reading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CO2_reading_updated</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Combustion_CO2_reading__c</elementReference>
            </defaultValue>
            <fieldText>CO2 reading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Final_Reading_Updated</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Combustion_Final_Reading__c</elementReference>
            </defaultValue>
            <fieldText>Final Reading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Appliance_Results_0</name>
        <label>Display_Appliance_Results</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Modify Details</backButtonLabel>
        <connector>
            <targetReference>Create_Appliance_Results_Record</targetReference>
        </connector>
        <fields>
            <name>Display_Appliance_Details_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: verdana; font-size: 16px; color: rgb(0, 24, 113);&quot;&gt;APPLIANCE RESULTS DETAILS:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Type: &lt;/strong&gt;&lt;span style=&quot;font-family: verdana; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!GSR_Appliances_Added.Appliance_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Location: &lt;/strong&gt;{!GSR_Appliances_Added.Appliance_Location__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Manufacturer: &lt;/strong&gt;{!GSR_Appliances_Added.Appliance_Manufacturer__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Model: &lt;/strong&gt;{!GSR_Appliances_Added.Appliance_model__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Gas Council Number: &lt;/strong&gt;{!GSR_Appliances_Added.Gas_Council_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Landlord&#39;s device:  &lt;/strong&gt;{!GSR_Appliances_Added.Landlords_Device__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Measurement: &lt;/strong&gt;{!GSR_Appliances_Added.Appliance_Measurement__c} {!GSR_Appliances_Added.Appliance_measurement_type__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;FLUE DETAILS:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Flue Type: &lt;/strong&gt;{!GSR_Appliances_Added.Flue_Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Safety device(s) correct operation: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Safety_devices_correct_operation__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Spillage test: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Spillage_test__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Smoke pellet flue flow test: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Smoke_pellet_flue_flow_test__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;COMBUSTION READINGS:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Initial ratio reading: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Combustion_Initial_ratio_reading__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;CO reading: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Combustion_CO_reading__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;CO2 reading: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Combustion_CO2_reading__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Final Reading: &lt;/strong&gt;{!GSR_Appliances_Added.Combustion_Final_Reading__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;INSPECTION DETAILS:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Satisfactory termination: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Satisfactory_termination__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Satisfactory Flue visual condition: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Satisfactory_Flue_visual_condition__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Adequate ventilation: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Adequate_ventilation__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Inspected: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Inspected__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Appliance serviced: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Appliance_serviced__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Appliance safe to use: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!GSR_Appliances_Added.Appliance_safe_to_use__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Appliance_Results_Screen</name>
        <label>Display Appliance Results Screen</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Appliance_Result_Record</targetReference>
        </connector>
        <fields>
            <name>Appliance_Result_Selected</name>
            <choiceReferences>All_Appliance_Result_Submissions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Appliance Results</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Audible_COAlarm_Details</name>
        <label>Display Audible CO Alarm Details</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_GSR_Submission_Record_0</targetReference>
        </connector>
        <fields>
            <name>Display_Audible_CO_Alarms_Details</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Approved CO alarms fitted: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Approved_CO_alarms_fitted}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Smoke alarms fitted: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Smoke_alarms_fitted}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Testing of CO alarms satisfactory: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Testing_of_CO_alarms_satisfactory}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;CO alarms are in date: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!CO_alarms_are_in_date}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Gas_Installation_Pipework</name>
        <label>Display Gas Installation Pipework Details</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_GSR_Submission_Record</targetReference>
        </connector>
        <fields>
            <name>Display_New_Gas_Installation_Pipework_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68);&quot;&gt;Satisfactory visual inspection: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68);&quot;&gt;{!Satisfactory_visual_inspection}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68);&quot;&gt;Emergency control valve access satisfactory: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68);&quot;&gt;{!Emergency_control_valve_access_satisfactory}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68);&quot;&gt;Satisfactory gas tightness test: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; color: rgb(68, 68, 68);&quot;&gt;{!Satisfactory_gas_tightness_test}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Equipotential bonding satisfactory: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;{!Equipotential_bonding_satisfactory}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Installation_Fault_Details</name>
        <label>Display Installation Fault Details</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Modify Details</backButtonLabel>
        <connector>
            <targetReference>Create_GSR_Installation_Faults_Record</targetReference>
        </connector>
        <fields>
            <name>Display_Installation_Fault_Details_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: verdana; font-size: 16px; color: rgb(0, 24, 113);&quot;&gt;INSTALLATION FAULT DETAILS:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;Give details of any faults:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;{!GSR_Installation_Fault_Record.Give_details_of_any_faults__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;Rectification work carried out:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;{!GSR_Installation_Fault_Record.Rectification_work_carried_out__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;Warning notice issued: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;{!GSR_Installation_Fault_Record.Warning_notice_issued__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;Warning tag or sticker fixed: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif, &amp;quot;Mongolian Baiti&amp;quot;, &amp;quot;Microsoft Yi Baiti&amp;quot;, &amp;quot;Javanese Text&amp;quot;, &amp;quot;Yu Gothic&amp;quot;; color: rgb(68, 68, 68);&quot;&gt;{!GSR_Installation_Fault_Record.Warning_tag_or_sticker_fixed__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Installation_Faults_screen</name>
        <label>Display Installation Faults</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Installation_Fault_Record</targetReference>
        </connector>
        <fields>
            <name>Installation_Fault_Selected</name>
            <choiceReferences>All_Installation_Fault_Submissions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Installation Faults Reported</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flue_Tests_Screen</name>
        <label>Flue Tests Screen</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Combustion_Readings_Screen</targetReference>
        </connector>
        <fields>
            <name>Flue_Tests_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;FLUE TESTS&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flue_Type</name>
            <choiceReferences>OF</choiceReferences>
            <choiceReferences>RS</choiceReferences>
            <choiceReferences>FL</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OF</defaultSelectedChoiceReference>
            <fieldText>Flue Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Safety_devices_correct_operation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Safety device(s) correct operation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Spillage_Test</name>
            <choiceReferences>Pass</choiceReferences>
            <choiceReferences>Fail</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Spillage Test</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Smoke_pellet_flue_flow_test</name>
            <choiceReferences>Pass</choiceReferences>
            <choiceReferences>Fail</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Smoke pellet flue flow test</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flue_Tests_Updated</name>
        <label>Flue Tests</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Combustion_Readings_Updated</targetReference>
        </connector>
        <fields>
            <name>Flue_Tests_Updated_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;FLUE TESTS: &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flue_Type_Updated</name>
            <choiceReferences>OF</choiceReferences>
            <choiceReferences>RS</choiceReferences>
            <choiceReferences>FL</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Flue_Type__c</elementReference>
            </defaultValue>
            <fieldText>Flue Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Safety_devices_correct_operation_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Safety_devices_correct_operation__c</elementReference>
            </defaultValue>
            <fieldText>Safety device(s) correct operation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Spillage_Test_Updated</name>
            <choiceReferences>Pass</choiceReferences>
            <choiceReferences>Fail</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Spillage_test__c</elementReference>
            </defaultValue>
            <fieldText>Spillage Test</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Smoke_pellet_flue_flow_test_updated</name>
            <choiceReferences>Pass</choiceReferences>
            <choiceReferences>Fail</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Smoke_pellet_flue_flow_test__c</elementReference>
            </defaultValue>
            <fieldText>Smoke pellet flue flow test</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gas_Installation_Pipework_0</name>
        <label>Gas Installation Pipework</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Gas_Installation_Pipework_Assignment</targetReference>
        </connector>
        <fields>
            <name>Gas_Installation_Pipework_Heading_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; font-size: 16px; color: rgb(0, 24, 113);&quot;&gt;GAS INSTALLATION PIPEWORK&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Satisfactory_visual_inspection</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Satisfactory visual inspection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emergency_control_valve_access_satisfactory</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Emergency control valve access satisfactory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Satisfactory_gas_tightness_test</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Satisfactory gas tightness test</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Equipotential_bonding_satisfactory</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Equipotential bonding satisfactory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gas_Installation_Pipework_Assessment_Added_Confirmation_Screen</name>
        <label>Gas Installation Pipework Assessment Added_Confirmation_Screen</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Options_Screen</targetReference>
        </connector>
        <fields>
            <name>Gas_Installation_Pipework_Assessment_Added_Confirmation_Message</name>
            <fieldText>&lt;p&gt;The details, for the gas installation pipework, have been successfully added to the GSR Submission record. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gas_Installation_Pipework_Updated_Confirmation</name>
        <label>Gas Installation Pipework Updated Confirmation</label>
        <locationX>1370</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Options_Screen</targetReference>
        </connector>
        <fields>
            <name>Gas_Installation_Pipework_Updated_Confirmation_Message</name>
            <fieldText>&lt;p&gt;The GSR Submission record has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gas_Installation_Pipework_Updated_Screen</name>
        <label>Gas_Installation_Pipework_Updated_Screen</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Gas_Installation_Pipework_Details</targetReference>
        </connector>
        <fields>
            <name>Gas_Installation_Pipework_Updated_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;GAS INSTALLATION PIPEWORK&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Satisfactory_Visual_Inspection_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Submission_Variable.Satisfactory_visual_inspection__c</elementReference>
            </defaultValue>
            <fieldText>Satisfactory visual inspection</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emergency_Control_Valve_Access_Satisfactory_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Submission_Variable.Emergency_control_valve_access_satisfact__c</elementReference>
            </defaultValue>
            <fieldText>Emergency control valve access satisfactory</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Satisfactory_Gas_Tightness_Test_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Submission_Variable.Satisfactory_gas_tightness_test__c</elementReference>
            </defaultValue>
            <fieldText>Satisfactory gas tightness test</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Equipotential_Bonding_Satisfactory_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Submission_Variable.Equipotential_bonding_satisfactory__c</elementReference>
            </defaultValue>
            <fieldText>Equipotential bonding satisfactory</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inspection_Details_Screen</name>
        <label>Inspection_Details_Screen</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Appliance_Results_Variable</targetReference>
        </connector>
        <fields>
            <name>Inspection_Details_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;INSPECTION DETAILS&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Satisfactory_termination</name>
            <choiceReferences>Pass</choiceReferences>
            <choiceReferences>Fail</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Satisfactory termination</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Satisfactory_Flue_visual_condition</name>
            <choiceReferences>Pass</choiceReferences>
            <choiceReferences>Fail</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Satisfactory Flue visual condition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Adequate_Ventilation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Adequate ventilation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inspected</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Inspected</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appliance_Serviced</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Appliance serviced</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appliance_safe_to_use</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Appliance safe to use</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inspection_Details_Updated_Screen</name>
        <label>Inspection Details Updated Screen</label>
        <locationX>1106</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Appliance_Result_Details</targetReference>
        </connector>
        <fields>
            <name>Inspection_Details_Updated_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;INSPECTION DETAILS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Satisfactory_Termination_Updated</name>
            <choiceReferences>Pass</choiceReferences>
            <choiceReferences>Fail</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Satisfactory_termination__c</elementReference>
            </defaultValue>
            <fieldText>Satisfactory Termination</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Satisfactory_Flue_Visual_Condition_updated</name>
            <choiceReferences>Pass</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Satisfactory_Flue_visual_condition__c</elementReference>
            </defaultValue>
            <fieldText>Satisfactory flue visual condition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Adequate_Ventilation_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Adequate_ventilation__c</elementReference>
            </defaultValue>
            <fieldText>Adequate ventilation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inspected_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Inspected__c</elementReference>
            </defaultValue>
            <fieldText>Inspected</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appliance_Serviced_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Appliance_serviced__c</elementReference>
            </defaultValue>
            <fieldText>Appliance serviced</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Appliance_Safe_To_Use_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Appliances_Added.Appliance_safe_to_use__c</elementReference>
            </defaultValue>
            <fieldText>Appliance safe to use</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inspection_Fault_Details_Updated</name>
        <label>Inspection Fault Details</label>
        <locationX>1634</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Installation_Fault_Assignment</targetReference>
        </connector>
        <fields>
            <name>Inspection_Fault_Details_Heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;INSPECTION FAULT DETAILS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Give_details_of_any_faults_Updated</name>
            <defaultValue>
                <stringValue>{!GSR_Installation_Fault_Record.Give_details_of_any_faults__c}</stringValue>
            </defaultValue>
            <fieldText>Give details of any faults</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rectification_Work_Carried_Out_Updated</name>
            <defaultValue>
                <stringValue>{!GSR_Installation_Fault_Record.Rectification_work_carried_out__c}</stringValue>
            </defaultValue>
            <fieldText>Provide details of rectification work carried out</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Warning_Notice_Issued_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Installation_Fault_Record.Warning_notice_issued__c</elementReference>
            </defaultValue>
            <fieldText>Warning notice issued</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Warning_Tag_Or_Sticker_Fixed_Updated</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GSR_Installation_Fault_Record.Warning_tag_or_sticker_fixed__c</elementReference>
            </defaultValue>
            <fieldText>Warning tag or sticker fixed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inspection_Options_Screen</name>
        <label>Inspection Options Screen</label>
        <locationX>1238</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Inspection_Option_Decision</targetReference>
        </connector>
        <fields>
            <name>Inspection_options</name>
            <choiceReferences>Add_Gas_Installation_Pipework_Assessment</choiceReferences>
            <choiceReferences>Add_Audible_CO_Alarms_Assessment</choiceReferences>
            <choiceReferences>Add_Appliance_Results</choiceReferences>
            <choiceReferences>Add_Installation_Fault</choiceReferences>
            <choiceReferences>View_Gas_Installation_Pipework_Details</choiceReferences>
            <choiceReferences>View_Audible_Co_Alarms_Details</choiceReferences>
            <choiceReferences>View_Appliance_Results</choiceReferences>
            <choiceReferences>View_Installation_Faults</choiceReferences>
            <choiceReferences>Submit_GSR_Assessment</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Add_Appliance_Results</defaultSelectedChoiceReference>
            <fieldText>Please select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>User_Requirements_Disclaimer</name>
            <fieldText>&lt;p&gt;In order to submit this GSR, you need to complete the following:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Add Gas Install Pipework Assessment&lt;/li&gt;&lt;li&gt;Add Audible CO Alarms Assessment&lt;/li&gt;&lt;li&gt;Add Appliance Results - A minimal of 1x&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you try to Submit GSR Assessment before completing the above, you will return to this screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Installation_Fault_Creation_Confirmation_Screen</name>
        <label>Installation Fault Creation Confirmation Screen</label>
        <locationX>842</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Options_Screen</targetReference>
        </connector>
        <fields>
            <name>Installation_Fault_Creation_Confirmation_Message</name>
            <fieldText>&lt;p&gt;The installation fault record has been created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Installation_Fault_Updated_Confirmation_Screen</name>
        <label>Installation Fault Updated Confirmation Screen</label>
        <locationX>1634</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Options_Screen</targetReference>
        </connector>
        <fields>
            <name>Installation_Fault_Update_Confirmation_Message</name>
            <fieldText>&lt;p&gt;The installation fault has been updated successfully. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Physical_Cert_Received_Details</name>
        <label>Physical Cert Received Details</label>
        <locationX>2162</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GSR_Submission_Current_DateTime_Assignment_0</targetReference>
        </connector>
        <fields>
            <name>Received_on_behalf_of_heading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 24, 113); font-size: 16px; font-family: verdana;&quot;&gt;RECEIVED ON BEHALF OF LANDLORD / HOMEOWNER &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; font-family: verdana;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cert_Received_By_Type</name>
            <choiceReferences>Tenant</choiceReferences>
            <choiceReferences>Agent</choiceReferences>
            <choiceReferences>Landlord</choiceReferences>
            <choiceReferences>Home_owner</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Landlord</defaultSelectedChoiceReference>
            <fieldText>Please advise as to whom you have provided the paper-form certificate to, on site:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submission_Confirmation_Screen_0</name>
        <label>Submission Confirmation Screen</label>
        <locationX>2162</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Submission_Confirmation_Text_0</name>
            <fieldText>&lt;p&gt;Thank you for your submission.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A GSR Certificate has been sent to the customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Updated_Audible_CO_Alarms_Confirmation_Screen</name>
        <label>Updated_Audible_CO_Alarms_Confirmation_Screen</label>
        <locationX>1898</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Inspection_Options_Screen</targetReference>
        </connector>
        <fields>
            <name>Updated_Audible_CO_Alarms_Confirmation_Message</name>
            <fieldText>&lt;p&gt;The audible CO alarms details have been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getExistingApplianceResult</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Appliance_Results_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Audible_CO_Alarms_Entries_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Gas_Installation_Pipework_Entries_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GSR_Appliance_Result_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GSR_Appliances_Added</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GSR_Appliance_Results__c</objectType>
    </variables>
    <variables>
        <name>GSR_Installation_Fault_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GSR_Installation_Fault__c</objectType>
    </variables>
    <variables>
        <name>GSR_Installation_Fault_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GSR_Submission_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GSR_Submission_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GSR_Submission__c</objectType>
    </variables>
    <variables>
        <description>This variable will keep a record of how many Installation Faults have been created.</description>
        <name>Installation_Faults_Qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Service_Appointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Service_Resource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_ExistingAudibleCoAlarms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GSR_Submission__c</objectType>
    </variables>
    <variables>
        <name>var_ExistingGasInstallationPipework</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GSR_Submission__c</objectType>
    </variables>
    <variables>
        <name>var_ExistingGSRApplianceResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GSR_Appliance_Results__c</objectType>
    </variables>
    <variables>
        <name>var_ExistingGSRInstallationFault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GSR_Installation_Fault__c</objectType>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
