unpackaged/main/default/flows/PHASE_2_FL_Work_Order_Rejected_send_emails_incl_to_Cust_from_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Rejected_email_to_Cust_to_accept</name>
        <label>Send Rejected email to Cust to accept</label>
        <locationX>817</locationX>
        <locationY>104</locationY>
        <actionName>Job__c.Accept_a_Rejected_Estimate_Job</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_WorkOrderData.Job__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_if_Job_ID_null</name>
        <label>Check if Job ID null</label>
        <locationX>557</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Send_Rejected_email_to_Cust_to_accept</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_ID_is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkOrderData.Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Job ID is Null</label>
        </rules>
    </decisions>
    <interviewLabel>PHASE 2 - FL - Work Order Rejected send emails incl. to Cust from Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 - FL - Work Order Rejected send emails incl. to Cust from Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_WO_Data</name>
        <label>Get WO Data</label>
        <locationX>417</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Job_ID_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_WO_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
