unpackaged/main/default/flows/PHASE_2_FL_OFFICE_Create_Purchase_Order_from_WO_Decide_if_Fixed_Price_or_Reactiv.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_if_Reactive_or_Fixed_Price_WO</name>
        <label>Check if Reactive or Fixed Price WO</label>
        <locationX>643</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reactive_Flow</targetReference>
            </connector>
            <label>Reactive</label>
        </rules>
        <rules>
            <name>Fixed_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Fixed_Price_Flow</targetReference>
            </connector>
            <label>Fixed Price</label>
        </rules>
    </decisions>
    <interviewLabel>PHASE 2 FL - OFFICE - Create Purchase Order from WO - Decide if Fixed Price or Reactive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 FL - OFFICE - Create Purchase Order from WO - Decide if Fixed Price or Reactive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_WO_Data</name>
        <label>Get WO Data</label>
        <locationX>468</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Reactive_or_Fixed_Price_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Is_Franchise_Work__c</queriedFields>
        <queriedFields>Is_Franchisee_Work__c</queriedFields>
        <queriedFields>Costs_and_Charges__c</queriedFields>
        <queriedFields>Work_Order_Line_Item_Duration__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>Sum_of_WO_PO_Product_Required__c</queriedFields>
        <queriedFields>Sum_of_WO_Van_Stock_Product_Required__c</queriedFields>
        <queriedFields>Summarised_WO_Info_for_Flow_display__c</queriedFields>
        <queriedFields>Job__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>Does_Valid_Auth_Record_Exist_on_Job__c</queriedFields>
        <queriedFields>Sum_of_WO_Scaffolding_Product_Required__c</queriedFields>
        <queriedFields>Sum_of_WO_Product_Required__c</queriedFields>
        <queriedFields>Sum_of_WO_Product_Required_Incl_VAT__c</queriedFields>
        <queriedFields>Sum_of_Purchase_Orders_Incl_VAT__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Account_Type__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>48</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Get_WO_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Fixed_Price_Flow</name>
        <label>Call Fixed Price Flow</label>
        <locationX>854</locationX>
        <locationY>295</locationY>
        <flowName>PHASE_2_FL_OFFICE_Create_Purchase_Order_from_Fixed_Price_WO_and_Job_update_CandC</flowName>
        <inputAssignments>
            <name>var_WorkOrderData</name>
            <value>
                <elementReference>var_WorkOrderData</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Reactive_Flow</name>
        <label>Reactive Flow</label>
        <locationX>864</locationX>
        <locationY>135</locationY>
        <flowName>PHASE_2_FL_OFFICE_Create_Purchase_Order_from_WO_and_Job_update_CandCs_System_V2</flowName>
        <inputAssignments>
            <name>var_WorkOrderData</name>
            <value>
                <elementReference>var_WorkOrderData</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
