unpackaged/main/default/flows/PHASE_2_FL_Cancel_Service_Appointments_from_Job_NEW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Fee_Applies_Coll</name>
        <label>Add to Fee Applies Coll</label>
        <locationX>2146</locationX>
        <locationY>1468</locationY>
        <assignmentItems>
            <assignToReference>var_Coll_SAs_to_CANCEL_Fee_Applies</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_selected_SAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_selected_SAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_NO_Fee_Applies_Coll</name>
        <label>Add to NO Fee Applies Coll</label>
        <locationX>1965</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>var_Coll_SAs_to_CANCEL_NO_Fee_Applies</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_selected_SAs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_selected_SAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Selected_Collection</name>
        <label>Add to Selected Collection</label>
        <locationX>1775</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>var_Coll_SELECTED_SAs_for_Job_to_CANCEL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_check_if_record_id_exists_in_multi_select_chk_box_field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_check_if_record_id_exists_in_multi_select_chk_box_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Canx_Status_etc</name>
        <label>Ass Canx Status etc</label>
        <locationX>2274</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Loop_Thru_selected_SAs.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Thru_selected_SAs.Cancellation_Fine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Thru_selected_SAs.Cancellation_Time_Stamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Thru_selected_SAs.Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_select_cancellation_reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Fee_Applies_Coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Canx_Status_etc_No_Fine</name>
        <label>Ass Canx Status etc (No Fine)</label>
        <locationX>2162</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>Loop_Thru_selected_SAs.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Thru_selected_SAs.Cancellation_Fine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Thru_selected_SAs.Cancellation_Time_Stamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Thru_selected_SAs.Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_select_cancellation_reason_NO_Fine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_NO_Fee_Applies_Coll</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choicegeninvoice</name>
        <choiceText>Continue and apply cancellation fine.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>nocancelationinvoice</name>
        <choiceText>Continue without applying a cancellation fine.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <description>Produce Cancellation Invoice</description>
        <name>ProduceCancellationInvoice</name>
        <choiceText>Produce Cancellation Invoice</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Exit</name>
        <label>Check for Exit</label>
        <locationX>1139</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exit_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChkBxExit_without_cancelling_any_SAs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit selected</label>
        </rules>
        <rules>
            <name>Dont_Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChkBxExit_without_cancelling_any_SAs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_check_if_record_id_exists_in_multi_select_chk_box_field</targetReference>
            </connector>
            <label>Dont Exit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Null_SAs</name>
        <label>Check for Null SAs</label>
        <locationX>750</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_SAs_to_cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Coll_SAs_for_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplay_List_of_SAs</targetReference>
            </connector>
            <label>Got SAs to cancel</label>
        </rules>
        <rules>
            <name>No_SAs_to_cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Coll_SAs_for_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNo_SAs_to_cancel</targetReference>
            </connector>
            <label>No SAs to cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_any_Cancellation_Fines_apply</name>
        <label>Do any Cancellation Fines apply?</label>
        <locationX>1441</locationX>
        <locationY>1509</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Canx_Fine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Coll_SAs_to_CANCEL_Fee_Applies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenGot_Canx_Fine_Final_Screen</targetReference>
            </connector>
            <label>Got Canx Fine</label>
        </rules>
        <rules>
            <name>No_Canx_Fine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Coll_SAs_to_CANCEL_Fee_Applies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNO_Canx_Fine_Final_Screen</targetReference>
            </connector>
            <label>No Canx Fine</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Loop_SA_exist_in_multi_select_screen_field</name>
        <label>Does Loop SA exist in multi-select screen field?</label>
        <locationX>1739</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_check_if_record_id_exists_in_multi_select_chk_box_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckBoxGroupSAs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Thru_check_if_record_id_exists_in_multi_select_chk_box_field.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Selected_Collection</targetReference>
            </connector>
            <label>Does Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>generate_cancellation_invoice</name>
        <label>generate cancellation invoice</label>
        <locationX>1080</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>no invoice</defaultConnectorLabel>
        <rules>
            <name>invocie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JOB_Generate_Cancellation_Invoice_c_as_TRUE</targetReference>
            </connector>
            <label>invocie</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Scheduled_Start_Less_or_Equal_to_2_hrs_from_now</name>
        <label>Is the Scheduled Start Less or Equal to 2 hrs from now?</label>
        <locationX>2170</locationX>
        <locationY>1014</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_or_Equal_to_2_hrs_from_now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_selected_SAs.SchedStartTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Formula_2_Hours_from_Now</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenLess_than_or_Equal_to_2_hrs_from_now_Add_Canx_Reason_Fee_Applies</targetReference>
            </connector>
            <label>Less than or Equal to 2 hrs from now</label>
        </rules>
        <rules>
            <name>More_than_2_hrs_from_now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_selected_SAs.SchedStartTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Formula_2_Hours_from_Now</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNOT_Less_than_or_Equal_to_2_hrs_from_now_Add_Canx_Reason</targetReference>
            </connector>
            <label>More than 2 hrs from now</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RecChoice_ALL_SAs_for_Job</name>
        <dataType>String</dataType>
        <displayField>Summarised_SA_Info_for_Canx_SA__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Visit Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On site</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Job Closure</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>var_TempSA_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SA_Canx_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Cancellation_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Formula_2_Hours_from_Now</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+(2/24)</expression>
    </formulas>
    <interviewLabel>PHASE 2 FL Cancel Service Appointments from Job NEW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 FL Cancel Service Appointments from Job NEW</label>
    <loops>
        <name>Loop_Thru_check_if_record_id_exists_in_multi_select_chk_box_field</name>
        <label>Loop Thru - check if record id exists in multi-select chk box field</label>
        <locationX>1478</locationX>
        <locationY>249</locationY>
        <collectionReference>var_Coll_SAs_for_Job</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Loop_SA_exist_in_multi_select_screen_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Thru_selected_SAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_selected_SAs</name>
        <label>Loop Thru selected SAs</label>
        <locationX>1563</locationX>
        <locationY>986</locationY>
        <collectionReference>var_Coll_SELECTED_SAs_for_Job_to_CANCEL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_Scheduled_Start_Less_or_Equal_to_2_hrs_from_now</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Canx_Fine_applies_SAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_SAs_for_Job</name>
        <label>Get All SAs for Job</label>
        <locationX>620</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Null_SAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Visit Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On site</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Job Closure</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_Coll_SAs_for_Job</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>Scheduled_Trade__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>JOB_Generate_Cancellation_Invoice_c_as_TRUE</name>
        <label>JOB.Generate_Cancellation_Invoice__c as TRUE</label>
        <locationX>1226</locationX>
        <locationY>1963</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Generate_Cancellation_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Canx_Fine_applies_SAs</name>
        <label>Update Canx Fine applies SAs</label>
        <locationX>1449</locationX>
        <locationY>1225</locationY>
        <connector>
            <targetReference>Update_NO_Canx_Fine_applies_SAs</targetReference>
        </connector>
        <inputReference>var_Coll_SAs_to_CANCEL_Fee_Applies</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NO_Canx_Fine_applies_SAs</name>
        <label>Update NO Canx Fine applies SAs</label>
        <locationX>1446</locationX>
        <locationY>1363</locationY>
        <connector>
            <targetReference>Do_any_Cancellation_Fines_apply</targetReference>
        </connector>
        <inputReference>var_Coll_SAs_to_CANCEL_NO_Fee_Applies</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ScreenDisplay_List_of_SAs</name>
        <label>Display List of SAs</label>
        <locationX>954</locationX>
        <locationY>211</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Exit</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtSelectSAsToCancel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please select the Service Appointment(s) to cancel:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;NB: Service Appointments can only be cancelled for Statuses prior to On Site.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckBoxGroupSAs</name>
            <choiceReferences>RecChoice_ALL_SAs_for_Job</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChkBxExit_without_cancelling_any_SAs</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChkBxExit_without_cancelling_any_SAs</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Exit without cancelling any Service Appointments and return to Job</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenGot_Canx_Fine_Final_Screen</name>
        <label>Got Canx Fine Final Screen</label>
        <locationX>1246</locationX>
        <locationY>1543</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>generate_cancellation_invoice</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtGot_Canx_Fine_Final_Screen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The selected Service Appointment(s) have been cancelled. Some of the cancelled Service Appointment(s) meet Aspect&#39;s cancellation policy and are due a cancellation fine (£50 per appointment + VAT):&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_action</name>
            <choiceReferences>choicegeninvoice</choiceReferences>
            <choiceReferences>nocancelationinvoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenLess_than_or_Equal_to_2_hrs_from_now_Add_Canx_Reason_Fee_Applies</name>
        <label>Less than or Equal to 2 hrs from now - Add Canx Reason Fee Applies</label>
        <locationX>2133</locationX>
        <locationY>1219</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ass_Canx_Status_etc</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtLess_than_or_Equal_to_2_hrs_from_now_Add_Canx_Reason</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Service Appointment {!Loop_Thru_selected_SAs.AppointmentNumber} with Trade: {!Loop_Thru_selected_SAs.Scheduled_Trade__c} and a scheduled start time of {!Loop_Thru_selected_SAs.SchedStartTime} will be cancelled once a cancellation reason has been selected:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;NB: A cancellation charge of £50+VAT will be applicable to this cancellation.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Picklist_select_cancellation_reason</name>
            <choiceReferences>SA_Canx_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select cancellation reason:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNO_Canx_Fine_Final_Screen</name>
        <label>NO Canx Fine Final Screen</label>
        <locationX>1662</locationX>
        <locationY>1823</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtNO_Canx_Fine_Final_Screen</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The Service Appointments have been cancelled.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;None of them were subject to a cancellation fine.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNo_SAs_to_cancel</name>
        <label>No SAs to cancel</label>
        <locationX>764</locationX>
        <locationY>407</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtNoSAsToCancel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;There are no Service Appointments to cancel, (SAs in a status of Visit Complete or Cancelled will not be listed).&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please press Finish to exit this process and return to the Job record.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNOT_Less_than_or_Equal_to_2_hrs_from_now_Add_Canx_Reason</name>
        <label>NOT Less than or Equal to 2 hrs from now - Add Canx Reason</label>
        <locationX>2249</locationX>
        <locationY>865</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ass_Canx_Status_etc_No_Fine</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtNOTLess_than_or_Equal_to_2_hrs_from_now_Add_Canx_Reason</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Service Appointment {!Loop_Thru_selected_SAs.AppointmentNumber} with Trade: {!Loop_Thru_selected_SAs.Scheduled_Trade__c} and a scheduled start time of {!Loop_Thru_selected_SAs.SchedStartTime} will be cancelled once a cancellation reason has been selected:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;NB: A cancellation charge will Not apply, (as less more than 2 hrs until scheduled start time).&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Picklist_select_cancellation_reason_NO_Fine</name>
            <choiceReferences>SA_Canx_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select cancellation reason:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>189</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>Get_All_SAs_for_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>geninvoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Coll_SAs_for_Job</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_Coll_SAs_to_CANCEL_Fee_Applies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_Coll_SAs_to_CANCEL_NO_Fee_Applies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_Coll_SELECTED_SAs_for_Job_to_CANCEL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_JobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TempSA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
