unpackaged/main/default/flows/PHASE_2_FL_Re_Send_Emails_from_Customer_Invoice_to_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancellation_Invoice_to_Customer</name>
        <label>Cancellation_Invoice_to_Customer</label>
        <locationX>3042</locationX>
        <locationY>758</locationY>
        <actionName>Customer_Invoice__c.Cancellation_Invoice_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenCancellationInvoice_Sent_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CustomerInvData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Customer_Payment_Confirmation_BACS_CASH_CHECK</name>
        <label>Customer_Payment_Confirmation_BACS_CASH_CHECK</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <actionName>Customer_Invoice__c.Customer_Payment_Confirmation_BACS_CASH_CHECK</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenBACS_Cash_Chq_Payment_Recd_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CustomerInvData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Deposit_Invoice_to_Customer</name>
        <label>Deposit_Invoice_to_Customer</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <actionName>Customer_Invoice__c.Deposit_Invoice_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenDepositInvoice_Sent_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CustomerInvData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoice_to_Customer</name>
        <label>Invoice_to_Customer</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <actionName>Customer_Invoice__c.Invoice_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenInvoice_Sent_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CustomerInvData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoice_to_Customer_0_0</name>
        <label>Invoice_to_Customer</label>
        <locationX>2426</locationX>
        <locationY>758</locationY>
        <actionName>Customer_Invoice__c.Invoice_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenInvoice_Sent_Confirmation_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CustomerInvData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Outstanding_Payment_Request_CI</name>
        <label>Outstanding_Payment_Request_CI</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>Customer_Invoice__c.Outstanding_Payment_Request_CI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenPayment_Request_Sent_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CustomerInvData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>ChoiceCanxEmail</name>
        <choiceText>Cancellation Charge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation Charge</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceDepositPaymentConfirmation</name>
        <choiceText>Deposit Payment Confirmation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deposit Payment Confirmation</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceExit</name>
        <choiceText>Exit without sending any email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit without sending any email</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceOutstandingPaymentRequestEmail</name>
        <choiceText>Outstanding Payment Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outstanding Payment Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoicePaymentConfirmation</name>
        <choiceText>Payment Confirmation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payment Confirmation</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceReSendCustomerInvoice</name>
        <choiceText>Customer Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceSendDepositInv</name>
        <choiceText>Deposit Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deposit Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consolidated_Invoice</name>
        <choiceText>Send the Consolidated Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Consolidated</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_Canx_Record_Type_Choice_Selected</name>
        <label>Check Canx Record Type Choice Selected</label>
        <locationX>3306</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_Invoice_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceCanxEmail</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancellation_Invoice_to_Customer</targetReference>
            </connector>
            <label>Cancellation Invoice Email</label>
        </rules>
        <rules>
            <name>Exit_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit (3)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consolidated_Invoice_Record_Type_Email_Selected_0</name>
        <label>Check Consolidated Record Type Email Selected</label>
        <locationX>2646</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consolidated_Invoice_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consolidated_Invoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_to_Customer_0_0</targetReference>
            </connector>
            <label>Consolidated Invoice Confirmation</label>
        </rules>
        <rules>
            <name>Exit_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit (2)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Deposit_Record_Type_Email_Selected</name>
        <label>Check Deposit Record Type Email Selected</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deposit_Payment_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceDepositPaymentConfirmation</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deposit_Invoice_to_Customer</targetReference>
            </connector>
            <label>Deposit Payment Confirmation</label>
        </rules>
        <rules>
            <name>Exit_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit (2)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_null_Account_email</name>
        <label>Check for null Account email</label>
        <locationX>2074</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Account_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CustomerInvData.Account_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CustomerInvData.Account_Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNo_Account_Email</targetReference>
            </connector>
            <label>No Account Email</label>
        </rules>
        <rules>
            <name>Got_Account_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CustomerInvData.Account_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CustomerInvData.Account_Email_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_Record_Type_Name</targetReference>
            </connector>
            <label>Got Account email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Record_Type_Invoice_Email_Chosen</name>
        <label>Decide Record Type Invoice Email Chosen</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outstanding_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceOutstandingPaymentRequestEmail</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outstanding_Payment_Request_CI</targetReference>
            </connector>
            <label>Outstanding Email</label>
        </rules>
        <rules>
            <name>Payment_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoicePaymentConfirmation</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Payment_Confirmation_BACS_CASH_CHECK</targetReference>
            </connector>
            <label>Payment Confirmation</label>
        </rules>
        <rules>
            <name>Re_Send_Customer_Inv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceReSendCustomerInvoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_to_Customer</targetReference>
            </connector>
            <label>Re-Send Customer Inv</label>
        </rules>
        <rules>
            <name>Exit_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit (1)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Record_Type_Name</name>
        <label>Decide Record Type Name</label>
        <locationX>2338</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Not_a_Valid_Invoice_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CustomerInvData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CustomerInvData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSelect_email_to_re_send_Invoice</targetReference>
            </connector>
            <label>Invoice</label>
        </rules>
        <rules>
            <name>Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CustomerInvData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSelect_email_to_re_send_Deposit</targetReference>
            </connector>
            <label>Deposit</label>
        </rules>
        <rules>
            <name>Consolidated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CustomerInvData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consolidated_Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSelect_email_to_re_send_Canx_0</targetReference>
            </connector>
            <label>Consolidated</label>
        </rules>
        <rules>
            <name>Cancellation_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CustomerInvData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation_Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSelect_email_to_re_send_Canx</targetReference>
            </connector>
            <label>Cancellation_Invoice</label>
        </rules>
    </decisions>
    <description>Changes - New Invoice Record Type Included Final and Reactive in place of Invoice</description>
    <interviewLabel>PHASE 2 - FL - Re-Send Emails from Customer Invoice to Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 - FL - Re-Send Emails from Customer Invoice to Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cust_Inv_Data</name>
        <label>Get Cust Inv Data</label>
        <locationX>2074</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_null_Account_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CustomerInv_ID</elementReference>
            </value>
        </filters>
        <object>Customer_Invoice__c</object>
        <outputReference>var_CustomerInvData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>Account_Email_Address__c</queriedFields>
        <queriedFields>Payment_Method__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Not_a_Valid_Invoice_Type</name>
        <label>Not a Valid Invoice Type</label>
        <locationX>3834</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidInvMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This is Not a Valid Invoice Type.Please Contact Chumley Admin.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenBACS_Cash_Chq_Payment_Recd_Confirmation</name>
        <label>BACS Cash Chq Payment Recd Confirmation</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtBACS_Cash_Chq_Payment_Recd_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;An email was sent to &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_CustomerInvData.Account_Email_Address__c} confirming a BACs, Cash or Cheque payment.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCancellationInvoice_Sent_Confirmation</name>
        <label>Cancellation Invoice Sent Confirmation</label>
        <locationX>3042</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtCancellationInvoice_Sent_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;An email was sent to &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!var_CustomerInvData.Account_Email_Address__c} with a copy of the Cancellation Invoice.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenDepositInvoice_Sent_Confirmation</name>
        <label>Deposit Invoice Sent Confirmation</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtDepositInvoice_Sent_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;An email was sent to &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_CustomerInvData.Account_Email_Address__c} with a copy of the Deposit Invoice.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInvoice_Sent_Confirmation</name>
        <label>Invoice Sent Confirmation</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtInvoice_Sent_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;An email was sent to &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!var_CustomerInvData.Account_Email_Address__c} with a copy of the Invoice.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInvoice_Sent_Confirmation_0_0</name>
        <label>Invoice Sent Confirmation</label>
        <locationX>2426</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtInvoice_Sent_Confirmation_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;An email was sent to &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!var_CustomerInvData.Account_Email_Address__c} with a copy of the Invoice.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNo_Account_Email</name>
        <label>No Account Email</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtNo_Account_Email</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(247, 7, 7);&quot;&gt;This Customer Invoice does not have a value for the field  &#39;Account Email Address&#39; - please add this before attempting to send an email.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenPayment_Request_Sent_Confirmation</name>
        <label>Payment Request Sent Confirmation</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtPayment_Request_Sent_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;An email was sent to &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_CustomerInvData.Account_Email_Address__c} requesting payment.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_email_to_re_send_Canx</name>
        <label>Please select the email you wish to re-send</label>
        <locationX>3306</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Canx_Record_Type_Choice_Selected</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtEmailAddressWillSendTo_Canx</name>
            <fieldText>&lt;p&gt;&lt;b&gt;NB: The email will be sent to: {!var_CustomerInvData.Account_Email_Address__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;*If you need to change the email address please amend the field &#39;Account Email Address&#39; on the Customer Invoice record.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿*You can only re-send emails applicable to the Customer Invoice Record Type of {!var_CustomerInvData.Record_Type_Name__c}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnPlease_select_the_email_you_wish_to_re_send_to_the_Customer_Canx</name>
            <choiceReferences>ChoiceCanxEmail</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the email you wish to re-send to the Customer:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_email_to_re_send_Canx_0</name>
        <label>Please select the email you wish to re-send</label>
        <locationX>2646</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Consolidated_Invoice_Record_Type_Email_Selected_0</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtEmailAddressWillSendTo_Canx_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;NB: The email will be sent to: {!var_CustomerInvData.Account_Email_Address__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;*If you need to change the email address please amend the field &#39;Account Email Address&#39; on the Customer Invoice record.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿*You can only re-send emails applicable to the Customer Invoice Record Type of {!var_CustomerInvData.Record_Type_Name__c}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnPlease_select_the_email_you_wish_to_re_send_to_the_Customer_Canx_0</name>
            <choiceReferences>Consolidated_Invoice</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the email you wish to re-send to the Customer:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_email_to_re_send_Deposit</name>
        <label>Please select the email you wish to re-send</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Deposit_Record_Type_Email_Selected</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtEmailAddressWillSendTo_Deposit</name>
            <fieldText>&lt;p&gt;&lt;b&gt;NB: The email will be sent to: {!var_CustomerInvData.Account_Email_Address__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;*If you need to change the email address please amend the field &#39;Account Email Address&#39; on the Customer Invoice record.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿*You can only re-send emails applicable to the Customer Invoice Record Type of {!var_CustomerInvData.Record_Type_Name__c}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnPlease_select_the_email_you_wish_to_re_send_to_the_Customer_Deposit</name>
            <choiceReferences>ChoiceDepositPaymentConfirmation</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the email you wish to re-send to the Customer:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_email_to_re_send_Invoice</name>
        <label>Please select the email you wish to re-send</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decide_Record_Type_Invoice_Email_Chosen</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtEmailAddressWillSendTo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;NB: The email will be sent to: {!var_CustomerInvData.Account_Email_Address__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;*If you need to change the email address please amend the field &#39;Account Email Address&#39; on the Customer Invoice record.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;*You can only re-send emails applicable to the Customer Invoice Record Type of {!var_CustomerInvData.Record_Type_Name__c}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnPlease_select_the_email_you_wish_to_re_send_to_the_Customer</name>
            <choiceReferences>ChoiceOutstandingPaymentRequestEmail</choiceReferences>
            <choiceReferences>ChoiceReSendCustomerInvoice</choiceReferences>
            <choiceReferences>ChoicePaymentConfirmation</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the email you wish to re-send to the Customer:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1948</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cust_Inv_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CustomerInv_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CustomerInvData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
</Flow>
