unpackaged/main/default/flows/PHASE_2_FL_FSL_mobile_Check_Value_of_PO_being_raised.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Ass_var_BoolAmountExceeds_to_TRUE</name>
        <label>Ass var_BoolAmountExceeds to TRUE</label>
        <locationX>1135</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>var_BoolAmountExceeds</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Does_the_val_of_PO_w_VAT_exceed_val_of_Tot_PREQ_incl_other_POs</name>
        <label>Does the val of PO w VAT exceed val of Tot PREQ incl. other POs</label>
        <locationX>613</locationX>
        <locationY>241</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exceed_total_of_PREQ_incl_other_POs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Value_Of_PO_With_VAT</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_SpareToSpendOnPOs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenValue_of_PO_Exceeds_Spare_Money_for_POs</targetReference>
            </connector>
            <label>Exceed total of PREQ incl. other POs</label>
        </rules>
        <rules>
            <name>Does_NOT_Exceed_total_of_PREQ_incl_other_POs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Value_Of_PO_With_VAT</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>var_SpareToSpendOnPOs</elementReference>
                </rightValue>
            </conditions>
            <label>Does NOT Exceed total of PREQ incl. other POs</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_SpareToSpendOnPOs</name>
        <dataType>Currency</dataType>
        <expression>{!var_WorkOrderData.Sum_of_WO_Product_Required_Incl_VAT__c}-{!var_WorkOrderData.Sum_of_Purchase_Orders_Incl_VAT__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PHASE 2 - FL - FSL (mobile) - Check Value of PO being raised {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 - FL - FSL (mobile) - Check Value of PO being raised</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <screens>
        <name>ScreenValue_of_PO_Exceeds_Spare_Money_for_POs</name>
        <label>Value of PO Exceeds Spare Money for POs</label>
        <locationX>897</locationX>
        <locationY>151</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ass_var_BoolAmountExceeds_to_TRUE</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtValue_of_PO_Exceeds_Spare_Money_for_POs</name>
            <fieldText>&lt;p&gt;The value of the Purchase order requested (£{!var_Value_Of_PO_With_VAT} incl. VAT) exceeds the value of the Product Required (budget) of £{!var_WorkOrderData.Sum_of_WO_Product_Required_Incl_VAT__c} Incl. VAT (including any existing Purchase Orders).&lt;/p&gt;&lt;p&gt;The existing amount for Purchase Orders is £{!var_WorkOrderData.Sum_of_Purchase_Orders_Incl_VAT__c}.&lt;/p&gt;&lt;p&gt;Please press Next to return to the previous screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TestScreen1</name>
        <label>TestScreen1</label>
        <locationX>377</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaytexttest1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;var_Value_Of_PO_With_VAT: &lt;/span&gt;{!var_Value_Of_PO_With_VAT}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Formula_SpareToSpendOnPOs: &lt;/span&gt;{!Formula_SpareToSpendOnPOs}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>63</locationX>
        <locationY>95</locationY>
        <connector>
            <targetReference>Does_the_val_of_PO_w_VAT_exceed_val_of_Tot_PREQ_incl_other_POs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_BoolAmountExceeds</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_SpareToSpendOnPOs</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Value_Of_PO_With_VAT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
