unpackaged/main/default/flows/Phase_2_Send_Booking_Confirmation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BookingCOnfimredFixed</name>
        <label>BookingCOnfimredFixed</label>
        <locationX>1634</locationX>
        <locationY>1046</locationY>
        <actionName>ServiceAppointment.Booking_Confirmation_Fixed_Price_SA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>MsgScr1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Var_SA_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BookingCOnfirmationSAReactive</name>
        <label>BookingCOnfirmationSAReactive</label>
        <locationX>1370</locationX>
        <locationY>1046</locationY>
        <actionName>ServiceAppointment.Booking_confirmation_SA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>MsgScr1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Var_SA_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reactivetype</name>
        <label>Reactivetype</label>
        <locationX>50</locationX>
        <locationY>1778</locationY>
        <actionName>ServiceAppointment.Booking_confirmation_SA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>MsgScr1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Var_SA_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReactiveTypeOption</name>
        <label>ReactiveType</label>
        <locationX>314</locationX>
        <locationY>1778</locationY>
        <actionName>ServiceAppointment.Booking_Confirmation_Fixed_Price_SA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>MsgScr1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Var_SA_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>Ame</name>
        <choiceText>Ame</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AmendNoOption</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AMendYesOption</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>CheckAMendEmail</name>
        <label>CheckAMendEmail</label>
        <locationX>314</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>CheckWORecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EMailNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmendEmailField.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoEMailAmend</targetReference>
            </connector>
            <label>EMailNo</label>
        </rules>
        <rules>
            <name>EmailYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmendEmailField.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckWORecord</targetReference>
            </connector>
            <label>EmailYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAMendNOOption</name>
        <label>CheckAMendNOOption</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckCOntactEMailNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SA_Record.Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoEMail</targetReference>
            </connector>
            <label>CheckCOntactEMailNull</label>
        </rules>
        <rules>
            <name>CheckContactEMailNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SA_Record.Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckWOrkOrder</targetReference>
            </connector>
            <label>CheckContactEMailNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAMendOption</name>
        <label>CheckAMendOption</label>
        <locationX>1502</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckAMendYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AMendYesOption</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMendEmailScreen</targetReference>
            </connector>
            <label>CheckAMendYes</label>
        </rules>
        <rules>
            <name>CheckAmendNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmendNoOption</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAMendNOOption</targetReference>
            </connector>
            <label>CheckAmendNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordtype</name>
        <label>CheckRecordtype</label>
        <locationX>1634</locationX>
        <locationY>926</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckforReactoive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_WO_Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BookingCOnfirmationSAReactive</targetReference>
            </connector>
            <label>CheckforReactoive</label>
        </rules>
        <rules>
            <name>CheckForFIxed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_WO_Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BookingCOnfimredFixed</targetReference>
            </connector>
            <label>CheckForFIxed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWORecord</name>
        <label>CheckWORecord</label>
        <locationX>314</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>updateSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoWO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SA_Record.Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMsgWOrkorder</targetReference>
            </connector>
            <label>NoWO</label>
        </rules>
        <rules>
            <name>YesWORec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SA_Record.Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateSA</targetReference>
            </connector>
            <label>YesWORec</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWorkdorderTyope</name>
        <label>CheckWorkdorderTyope</label>
        <locationX>314</locationX>
        <locationY>1658</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>recTypeReactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_WO_Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reactivetype</targetReference>
            </connector>
            <label>recTypeReactive</label>
        </rules>
        <rules>
            <name>RecTypeFixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_WO_Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReactiveTypeOption</targetReference>
            </connector>
            <label>RecTypeFixed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWOrkOrder</name>
        <label>CheckWOrkOrder</label>
        <locationX>1634</locationX>
        <locationY>686</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckWOrkORderNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SA_Record.Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMsgWOrkorder</targetReference>
            </connector>
            <label>CheckWOrkORderNull</label>
        </rules>
        <rules>
            <name>CheckWOrkOrderNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SA_Record.Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorkOrder</targetReference>
            </connector>
            <label>CheckWOrkOrderNotNull</label>
        </rules>
    </decisions>
    <description>HM2</description>
    <interviewLabel>Phase 2 Send Booking Confirmation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phase 2 Send Booking Confirmation Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetServiceAppointment</name>
        <label>GetServiceAppointment</label>
        <locationX>1502</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AmendEmailSection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SA_Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>Var_SA_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Email__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>1634</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SA_Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>Var_WO_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrderRec</name>
        <label>getWorkOrderRec</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckWorkdorderTyope</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SA_Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>Var_WO_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateSA</name>
        <label>updateSA</label>
        <locationX>314</locationX>
        <locationY>1418</locationY>
        <connector>
            <targetReference>getWorkOrderRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SA_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>AmendEmailField.value</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>AMendEmailScreen</name>
        <label>AMendEmailScreen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckAMendEmail</targetReference>
        </connector>
        <fields>
            <name>AmendYesSection</name>
            <fieldText>&lt;p&gt;Please Enter the Email Address below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AmendEmailField</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AmendEmailSection</name>
        <label>AmendEmailSection</label>
        <locationX>1502</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckAMendOption</targetReference>
        </connector>
        <fields>
            <name>DisplayAMend</name>
            <fieldText>&lt;p&gt;You can amend the email, by clicking&lt;/p&gt;&lt;p&gt;on Amend Email Yes or No from below&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;By Clicking &lt;b&gt;No &lt;/b&gt;, The Email will be sent to &lt;b&gt;{!Var_SA_Record.Contact_Email__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AmendOptions</name>
            <choiceReferences>AMendYesOption</choiceReferences>
            <choiceReferences>AmendNoOption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to change the Email ID?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorMsgWOrkorder</name>
        <label>ErrorMsgWOrkorder</label>
        <locationX>1106</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayErrorMsg</name>
            <fieldText>&lt;p&gt;There is NO WorkOrder For this Service Appointment&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MsgScr1</name>
        <label>MsgScr1</label>
        <locationX>1502</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endmsg1</name>
            <fieldText>&lt;p&gt;The email has been Successfully Sent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoEMail</name>
        <label>NoEMail</label>
        <locationX>842</locationX>
        <locationY>686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoCOntactEmail</name>
            <fieldText>&lt;p&gt;There is No Contact Email. Please Provide the Contact Email in the Service Appointment Record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoEMailAmend</name>
        <label>NoEMail</label>
        <locationX>94</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoAMendEmail</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(15, 15, 15); color: rgb(183, 183, 183);&quot;&gt;There is No Contact Email. Please Provide the Contact Email in the Service Appointment Record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1376</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetServiceAppointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AmendNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AmendYes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_SA_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_SA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Var_WO_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
