unpackaged/main/default/flows/PHASE_2_FL_Customer_Invoice_Created_OR_Edited.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bacs_payment_confirmation</name>
        <label>Bacs payment confirmation</label>
        <locationX>204</locationX>
        <locationY>575</locationY>
        <actionName>Customer_Invoice__c.Customer_Payment_Confirmation_BACS_CASH_CHECK</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Invoice_FIXED_PRICE_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Buyapowa_Referral_reconciliation_API</name>
        <label>Buyapowa Referral reconciliation API</label>
        <locationX>50</locationX>
        <locationY>3911</locationY>
        <actionName>BuyapowaReferralReconciliationAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cash_Cust_Paid_inv</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jobId</name>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobName</name>
            <value>
                <elementReference>$Record.Job__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobStatus</name>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>email_invoice</name>
        <label>email invoice</label>
        <locationX>204</locationX>
        <locationY>2975</locationY>
        <actionName>Customer_Invoice__c.Cancellation_Invoice_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Take_payment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_deposit_invoice_1</name>
        <label>send deposit invoice</label>
        <locationX>204</locationX>
        <locationY>4679</locationY>
        <actionName>Customer_Invoice__c.Deposit_Invoice_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Mark_as_sent_6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>204</locationX>
        <locationY>1151</locationY>
        <actionName>Customer_Invoice__c.Outstanding_Payment_Request_CI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Mark_as_sent_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Invoice_FIXED_PRICE</name>
        <label>Send Invoice (FIXED PRICE)</label>
        <locationX>204</locationX>
        <locationY>2063</locationY>
        <actionName>Customer_Invoice__c.Invoice_to_Customer_FIXED_PRICE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Mark_as_sent_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Invoice_FIXED_PRICE_0</name>
        <label>Send Invoice (FIXED PRICE)</label>
        <locationX>204</locationX>
        <locationY>695</locationY>
        <actionName>Customer_Invoice__c.Invoice_to_Customer_FIXED_PRICE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Mark_as_sent_status_PAID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Invoice_REACTIVE</name>
        <label>Send Invoice (REACTIVE)</label>
        <locationX>204</locationX>
        <locationY>2519</locationY>
        <actionName>Customer_Invoice__c.Invoice_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Mark_as_sent_4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Payment_Req_Email</name>
        <label>Send Payment Req Email</label>
        <locationX>204</locationX>
        <locationY>1607</locationY>
        <actionName>Customer_Invoice__c.Outstanding_Payment_Request_Credit_Account</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Mark_as_sent_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Cancellation_Invoice_NOT_Sent</name>
        <label>Cancellation Invoice NOT Sent</label>
        <locationX>336</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>Record_Type_Invoice_and_Balance_Outstanding_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Invoice_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation_Invoice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ready_to_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_invoice</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cash_Cust_Paid_inv</name>
        <label>Cash Cust Paid inv</label>
        <locationX>336</locationX>
        <locationY>4223</locationY>
        <defaultConnector>
            <targetReference>Credit_Acc_FPA_Approved_Client_Send_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True8</name>
            <conditionLogic>( 1 OR 2 ) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Balance_Outstanding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Generation_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Flow_to_update_SAs_and_WOs</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Acc_FPA_Approved_Client_Send_Invoice</name>
        <label>Credit Acc FPA Approved Client Send Invoice</label>
        <locationX>336</locationX>
        <locationY>4559</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Balance_Outstanding__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Generation_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Deposit_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_deposit_invoice_1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deposit_Paid_Update_Job_and_Ass_WOs</name>
        <label>Deposit Paid Update Job and Ass WOs</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Outstanding_Cash</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>(1 OR 2 OR 3 ) AND 4 AND 5 AND 6 AND ( 7 OR 8 OR 9 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Balance_Outstanding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Generation_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utilities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Flow_to_update_Job_and_WOs</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_NOT_sent_FIXED_PRICE</name>
        <label>Invoice NOT sent FIXED PRICE</label>
        <locationX>336</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>Invoice_NOT_sent_REACTIVE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True4</name>
            <conditionLogic>1 AND ( 2 OR 3 ) AND 4 AND 5 AND 6 AND ( 7 OR 10 ) AND ( 8 OR 9 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Invoice_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ready_to_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fixed_Price_Invoice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Comms_Control_Invoice_Job_complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Invoice_FIXED_PRICE</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_NOT_sent_REACTIVE</name>
        <label>Invoice NOT sent REACTIVE</label>
        <locationX>336</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>Cancellation_Invoice_NOT_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True5</name>
            <conditionLogic>1 AND ( 2 OR 3 ) AND 4 AND 5 AND ( 6 OR 9 ) AND ( 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Invoice_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ready_to_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Comms_Control_Invoice_Job_complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Invoice_REACTIVE</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Buyapowa_Referral_Job</name>
        <label>Is Buyapowa Referral Job</label>
        <locationX>182</locationX>
        <locationY>3791</locationY>
        <defaultConnector>
            <targetReference>Cash_Cust_Paid_inv</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job__r.Promo_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job__r.Referral_Status_After_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Buyapowa_Referral_reconciliation_API</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outstanding_Cash</name>
        <label>Outstanding (Cash)</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Outstanding_Credit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True2</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND ( 5 OR 6 )AND ( 7 OR 8 ) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outstanding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Outstanding_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ready_to_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternative Credit Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Comms_Control_Receipt_of_pay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outstanding_Credit</name>
        <label>Outstanding (Credit)</label>
        <locationX>336</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Invoice_NOT_sent_FIXED_PRICE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True3</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND ( 5 OR 6 ) AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outstanding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Outstanding_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ready_to_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Comms_Control_Receipt_of_pay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Payment_Req_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Invoice_and_Balance_Outstanding_0</name>
        <label>Record Type=Invoice and Balance Outstanding=0</label>
        <locationX>336</locationX>
        <locationY>3431</locationY>
        <defaultConnector>
            <targetReference>Cash_Cust_Paid_inv</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True7</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Balance_Outstanding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoice_Generation_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Job_Status_to_Closed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <description>Addition - Referral reconciliation API - updated 1.0</description>
    <environments>Default</environments>
    <interviewLabel>PHASE 2 - FL -  Customer Invoice Created OR Edited {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 - FL -  Customer Invoice Created OR Edited</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_as_sent_1</name>
        <label>Mark as sent</label>
        <locationX>204</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Outstanding_Credit</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Outstanding_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_as_sent_2</name>
        <label>Mark as sent</label>
        <locationX>204</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Invoice_NOT_sent_FIXED_PRICE</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Outstanding_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_as_sent_3</name>
        <label>Mark as sent</label>
        <locationX>204</locationX>
        <locationY>2183</locationY>
        <connector>
            <targetReference>Invoice_NOT_sent_REACTIVE</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Invoice_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_as_sent_4</name>
        <label>Mark as sent</label>
        <locationX>204</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Cancellation_Invoice_NOT_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Invoice_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_as_sent_5</name>
        <label>Mark as sent</label>
        <locationX>204</locationX>
        <locationY>3215</locationY>
        <connector>
            <targetReference>Record_Type_Invoice_and_Balance_Outstanding_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Invoice_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_as_sent_6</name>
        <label>Mark as sent</label>
        <locationX>204</locationX>
        <locationY>4799</locationY>
        <inputAssignments>
            <field>Email_Invoice_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_as_sent_status_PAID</name>
        <label>Mark as sent &amp; status PAID</label>
        <locationX>204</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Outstanding_Cash</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Invoice_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Job_Status_to_Closed</name>
        <label>Set Job Status to Closed</label>
        <locationX>182</locationX>
        <locationY>3551</locationY>
        <connector>
            <targetReference>Update_CI_status_to_Paid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CI_status_to_Paid</name>
        <label>Update CI status to Paid</label>
        <locationX>182</locationX>
        <locationY>3671</locationY>
        <connector>
            <targetReference>Is_Buyapowa_Referral_Job</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deposit_Paid_Update_Job_and_Ass_WOs</targetReference>
        </connector>
        <object>Customer_Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Flow_to_update_Job_and_WOs</name>
        <label>Call Flow to update Job and WOs</label>
        <locationX>204</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Bacs_payment_confirmation</targetReference>
        </connector>
        <flowName>PHASE_2_FL_Deposit_Cust_Inv_Bal_Outstanding_Zero_Update_Job_and_Ass_WOs</flowName>
        <inputAssignments>
            <name>var_CustomerInvID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Call_Flow_to_update_SAs_and_WOs</name>
        <label>Call Flow to update SAs and WOs</label>
        <locationX>204</locationX>
        <locationY>4343</locationY>
        <connector>
            <targetReference>Credit_Acc_FPA_Approved_Client_Send_Invoice</targetReference>
        </connector>
        <flowName>PHASE_2_Update_Service_Appointment_Gantt_Colour_when_Cust_Invoice_paid</flowName>
        <inputAssignments>
            <name>var_CustInvID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Take_payment</name>
        <label>Take payment</label>
        <locationX>204</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Mark_as_sent_5</targetReference>
        </connector>
        <flowName>PHASE_2_Take_Payment_auto</flowName>
        <inputAssignments>
            <name>var_invoice_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Phase2ProfileIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PHASE_2_Profile_IDs__mdt</objectType>
    </variables>
    <variables>
        <name>ProfileMatched</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
