unpackaged/main/default/flows/PHASE_2_FL_Assigned_Resource_record_created_update_SA_and_Send_Booking_confirm_e.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_Tier_Percentage_T1</name>
        <label>assign Tier Percentage T1</label>
        <locationX>1506</locationX>
        <locationY>967</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T10</name>
        <label>assign Tier Percentage T10</label>
        <locationX>1561</locationX>
        <locationY>1370</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_10__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T10_0</name>
        <label>assign Tier Percentage T10</label>
        <locationX>1849</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_10__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T1_0</name>
        <label>assign Tier Percentage T1</label>
        <locationX>1828</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T2</name>
        <label>assign Tier Percentage T2</label>
        <locationX>1637</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T2_0</name>
        <label>assign Tier Percentage T2</label>
        <locationX>1957</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T3</name>
        <label>assign Tier Percentage T3</label>
        <locationX>1766</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T3_0</name>
        <label>assign Tier Percentage T3</label>
        <locationX>2053</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T4</name>
        <label>assign Tier Percentage T4</label>
        <locationX>2059</locationX>
        <locationY>958</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_4__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T4_0</name>
        <label>assign Tier Percentage T4</label>
        <locationX>2278</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_4__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T5</name>
        <label>assign Tier Percentage T5</label>
        <locationX>1947</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_5__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T5_0</name>
        <label>assign Tier Percentage T5</label>
        <locationX>2229</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_5__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T6</name>
        <label>assign Tier Percentage T6</label>
        <locationX>2041</locationX>
        <locationY>1180</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_6__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T6_0</name>
        <label>assign Tier Percentage T6</label>
        <locationX>2276</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_6__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T7</name>
        <label>assign Tier Percentage T7</label>
        <locationX>1947</locationX>
        <locationY>1293</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_7__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T7_0</name>
        <label>assign Tier Percentage T7</label>
        <locationX>2177</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_7__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T8</name>
        <label>assign Tier Percentage T8</label>
        <locationX>1849</locationX>
        <locationY>1341</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_8__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T8_0</name>
        <label>assign Tier Percentage T8</label>
        <locationX>2034</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_8__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T9</name>
        <label>assign Tier Percentage T9</label>
        <locationX>1705</locationX>
        <locationY>1364</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_9__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Existing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier_Percentage_T9_0</name>
        <label>assign Tier Percentage T9</label>
        <locationX>1940</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>var_Trade_Rate_Card_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card.Pay_Tier_9__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_WO_Created_by_Engineer</name>
        <label>Check if WO Created by Engineer</label>
        <locationX>1440</locationX>
        <locationY>808</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Created_by_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Created_by_Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineer Partner Community</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CCT_Data</targetReference>
            </connector>
            <label>WO Created by Engineer</label>
        </rules>
        <rules>
            <name>WO_NOT_Created_by_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Created_by_Profile_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Engineer Partner Community</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CCT_Data</targetReference>
            </connector>
            <label>WO NOT Created by Engineer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Record_Type</name>
        <label>Check WO Record Type</label>
        <locationX>2522</locationX>
        <locationY>764</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_is_Fixed_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_New_Record_Fixed_Price</targetReference>
            </connector>
            <label>WO is Fixed Price</label>
        </rules>
        <rules>
            <name>WO_is_Reactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_New_Record_Reactive</targetReference>
            </connector>
            <label>WO is Reactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTier1</name>
        <label>CheckTier1</label>
        <locationX>1921</locationX>
        <locationY>627</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Tier_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T1_0</targetReference>
            </connector>
            <label>If Tier 1</label>
        </rules>
        <rules>
            <name>If_Tier_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T2_0</targetReference>
            </connector>
            <label>If Tier 2</label>
        </rules>
        <rules>
            <name>If_Tier_3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T3_0</targetReference>
            </connector>
            <label>If Tier 3</label>
        </rules>
        <rules>
            <name>If_Tier_4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T4_0</targetReference>
            </connector>
            <label>If Tier 4</label>
        </rules>
        <rules>
            <name>If_Tier_5_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T5_0</targetReference>
            </connector>
            <label>If Tier 5</label>
        </rules>
        <rules>
            <name>If_Tier_6_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T6_0</targetReference>
            </connector>
            <label>If Tier 6</label>
        </rules>
        <rules>
            <name>If_Tier_7_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T7_0</targetReference>
            </connector>
            <label>If Tier 7</label>
        </rules>
        <rules>
            <name>If_Tier_8_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T8_0</targetReference>
            </connector>
            <label>If Tier 8</label>
        </rules>
        <rules>
            <name>If_Tier_9_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T9_0</targetReference>
            </connector>
            <label>If Tier 9</label>
        </rules>
        <rules>
            <name>If_Tier_10_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T10_0</targetReference>
            </connector>
            <label>If Tier 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTier2</name>
        <label>CheckTier2</label>
        <locationX>1623</locationX>
        <locationY>1173</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Tier_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T1</targetReference>
            </connector>
            <label>If Tier 1</label>
        </rules>
        <rules>
            <name>If_Tier_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T2</targetReference>
            </connector>
            <label>If Tier 2</label>
        </rules>
        <rules>
            <name>If_Tier_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T3</targetReference>
            </connector>
            <label>If Tier 3</label>
        </rules>
        <rules>
            <name>If_Tier_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T4</targetReference>
            </connector>
            <label>If Tier 4</label>
        </rules>
        <rules>
            <name>If_Tier_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T5</targetReference>
            </connector>
            <label>If Tier 5</label>
        </rules>
        <rules>
            <name>If_Tier_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T6</targetReference>
            </connector>
            <label>If Tier 6</label>
        </rules>
        <rules>
            <name>If_Tier_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T7</targetReference>
            </connector>
            <label>If Tier 7</label>
        </rules>
        <rules>
            <name>If_Tier_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T8</targetReference>
            </connector>
            <label>If Tier 8</label>
        </rules>
        <rules>
            <name>If_Tier_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T9</targetReference>
            </connector>
            <label>If Tier 9</label>
        </rules>
        <rules>
            <name>If_Tier_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceResourceData.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Tier_Percentage_T10</targetReference>
            </connector>
            <label>If Tier 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Assigned_Resource_record_or_not</name>
        <label>New Assigned Resource record or not?</label>
        <locationX>1265</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_WO_Created_by_Engineer</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
        <rules>
            <name>Not_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource_Data_Existing_Record</targetReference>
            </connector>
            <label>Not New Record</label>
        </rules>
    </decisions>
    <description>Rate Card and Rate Restructure</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>var_Trade_Rate_Card_Percentage_In_Number</name>
        <dataType>Number</dataType>
        <expression>{!var_Trade_Rate_Card_Percentage}/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PHASAE 2 FL Assigned Resource record created update SA and Send Booking confirm. email to Cust {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 FL Assigned Resource record created update SA and Send Booking confirm. email to Cust</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ass_Resource_Data</name>
        <label>Get Ass Resource Data</label>
        <locationX>832</locationX>
        <locationY>808</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceID</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>var_AssignedResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceAppointmentId</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CCT_Data</name>
        <label>Get CCT Data</label>
        <locationX>1706</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource_Data_New_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Costs_and_Charges__c</elementReference>
            </value>
        </filters>
        <object>Costs_and_Charges__c</object>
        <outputReference>var_CCTData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Hourly_Charge_R1__c</queriedFields>
        <queriedFields>Hourly_Charge_R2__c</queriedFields>
        <queriedFields>Hourly_Charge_R3__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Data</name>
        <label>Get SA Data</label>
        <locationX>978</locationX>
        <locationY>807</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WO_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_ServiceAppointmentData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Allocated_Engineer__c</queriedFields>
        <queriedFields>Allocated_Engineer_Email__c</queriedFields>
        <queriedFields>Previous_Allocated_Engineer__c</queriedFields>
        <queriedFields>Previous_Allocated_Engineer_Email__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>Scheduled_Trade__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Data_Existing_Record</name>
        <label>Get Service Resource Data (Existing Record)</label>
        <locationX>1273</locationX>
        <locationY>1051</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTradeRateCard2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_ServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Rate_of_Pay_Tier__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Data_New_Record</name>
        <label>Get Service Resource Data (New Record)</label>
        <locationX>1633</locationX>
        <locationY>649</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTradeRateCard1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_ServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Rate_of_Pay_Tier__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Data</name>
        <label>Get WO Data</label>
        <locationX>1118</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Assigned_Resource_record_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceAppointmentData.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Costs_and_Charges__c</queriedFields>
        <queriedFields>Access_Details__c</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>Created_by_Profile_Name__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Scope_of_Works_Amended_by_Operative__c</queriedFields>
        <queriedFields>Scope_of_Works_2__c</queriedFields>
        <queriedFields>Scope_of_Works_3__c</queriedFields>
        <queriedFields>Trade_Rate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getTradeRateCard1</name>
        <label>getTradeRateCard1</label>
        <locationX>1782</locationX>
        <locationY>646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckTier1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Trade_Rate__c</elementReference>
            </value>
        </filters>
        <object>Rate_Card_Trade__c</object>
        <outputReference>var_Trade_Rate_Card</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pay_Tier_1__c</queriedFields>
        <queriedFields>Pay_Tier_2__c</queriedFields>
        <queriedFields>Pay_Tier_3__c</queriedFields>
        <queriedFields>Pay_Tier_4__c</queriedFields>
        <queriedFields>Pay_Tier_5__c</queriedFields>
        <queriedFields>Pay_Tier_6__c</queriedFields>
        <queriedFields>Pay_Tier_7__c</queriedFields>
        <queriedFields>Pay_Tier_8__c</queriedFields>
        <queriedFields>Pay_Tier_9__c</queriedFields>
        <queriedFields>Pay_Tier_10__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getTradeRateCard2</name>
        <label>getTradeRateCard2</label>
        <locationX>1469</locationX>
        <locationY>1168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckTier2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Trade_Rate__c</elementReference>
            </value>
        </filters>
        <object>Rate_Card_Trade__c</object>
        <outputReference>var_Trade_Rate_Card</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pay_Tier_1__c</queriedFields>
        <queriedFields>Pay_Tier_2__c</queriedFields>
        <queriedFields>Pay_Tier_3__c</queriedFields>
        <queriedFields>Pay_Tier_4__c</queriedFields>
        <queriedFields>Pay_Tier_5__c</queriedFields>
        <queriedFields>Pay_Tier_6__c</queriedFields>
        <queriedFields>Pay_Tier_7__c</queriedFields>
        <queriedFields>Pay_Tier_8__c</queriedFields>
        <queriedFields>Pay_Tier_9__c</queriedFields>
        <queriedFields>Pay_Tier_10__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_Existing_Record</name>
        <label>Update SA (Existing Record)</label>
        <locationX>2233</locationX>
        <locationY>1206</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer__c</field>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Percentage__c</field>
            <value>
                <elementReference>var_Trade_Rate_Card_Percentage_In_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceAppointmentData.Allocated_Engineer_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Allocated_Engineer__c</field>
            <value>
                <elementReference>var_ServiceAppointmentData.Allocated_Engineer__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_New_Record_Fixed_Price</name>
        <label>Update SA (New Record - Fixed Price)</label>
        <locationX>2673</locationX>
        <locationY>661</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access_Details__c</field>
            <value>
                <elementReference>var_WorkOrderData.Access_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer__c</field>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_WorkOrderData.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R1__c</field>
            <value>
                <elementReference>var_CCTData.Hourly_Charge_R1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R2__c</field>
            <value>
                <elementReference>var_CCTData.Hourly_Charge_R2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R3__c</field>
            <value>
                <elementReference>var_CCTData.Hourly_Charge_R3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Percentage__c</field>
            <value>
                <elementReference>var_Trade_Rate_Card_Percentage_In_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Type_Name__c</field>
            <value>
                <elementReference>var_WorkOrderData.Record_Type_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_Works_2__c</field>
            <value>
                <elementReference>var_WorkOrderData.Scope_of_Works_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_Works_3__c</field>
            <value>
                <elementReference>var_WorkOrderData.Scope_of_Works_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_Works__c</field>
            <value>
                <elementReference>var_WorkOrderData.Scope_of_Works_Amended_by_Operative__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_New_Record_Reactive</name>
        <label>Update SA (New Record - Reactive)</label>
        <locationX>2656</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access_Details__c</field>
            <value>
                <elementReference>var_WorkOrderData.Access_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allocated_Engineer__c</field>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_WorkOrderData.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R1__c</field>
            <value>
                <elementReference>var_CCTData.Hourly_Charge_R1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R2__c</field>
            <value>
                <elementReference>var_CCTData.Hourly_Charge_R2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R3__c</field>
            <value>
                <elementReference>var_CCTData.Hourly_Charge_R3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Percentage__c</field>
            <value>
                <elementReference>var_Trade_Rate_Card_Percentage_In_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Type_Name__c</field>
            <value>
                <elementReference>var_WorkOrderData.Record_Type_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_Works_2__c</field>
            <value>
                <elementReference>var_WorkOrderData.Scope_of_Works_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_Works_3__c</field>
            <value>
                <elementReference>var_WorkOrderData.Scope_of_Works_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_Works__c</field>
            <value>
                <elementReference>var_WorkOrderData.Scope_of_Works_Amended_by_Operative__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>435</locationX>
        <locationY>787</locationY>
        <connector>
            <targetReference>Get_Ass_Resource_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AssignedResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>var_AssignedResourceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CCTData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Costs_and_Charges__c</objectType>
    </variables>
    <variables>
        <name>var_CurrAllocatedEngServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_ISNEW</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ONSAData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>On_site_agreement__c</objectType>
    </variables>
    <variables>
        <name>var_OSAData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Off_site_agreement__c</objectType>
    </variables>
    <variables>
        <name>var_ServiceAppointmentData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_ServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_Trade_Rate_Card</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Card_Trade__c</objectType>
    </variables>
    <variables>
        <name>var_Trade_Rate_Card_Percentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
