unpackaged/main/default/flows/PHASE_2_FL_Create_ONSA_Pending_or_Rejected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Deposit_Inv_Found</name>
        <label>Check Deposit Inv Found</label>
        <locationX>613</locationX>
        <locationY>400</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deposit_Inv_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Deposit_Customer_Inv_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_with_Deposit_Cust_Inv_ID_and_send_payment_link_to_cust_via_email</targetReference>
            </connector>
            <label>Deposit Inv Found</label>
        </rules>
        <rules>
            <name>Deposit_Inv_NOT_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Deposit_Customer_Inv_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCustomer_Invoice_not_found</targetReference>
            </connector>
            <label>Deposit Inv NOT Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_30_Seconds_passed_Cust_Invoice</name>
        <label>Has 30 Seconds passed? (Cust Invoice)</label>
        <locationX>600</locationX>
        <locationY>66</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X30_Seconds_passed_Cust_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NOW_Add_30_Seconds_CustInvoice</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Formula_NOW_CustInvoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_Data</targetReference>
            </connector>
            <label>30 Seconds passed Cust Invoice</label>
        </rules>
        <rules>
            <name>X30_Seconds_NOT_passed_Cust_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NOW_Add_30_Seconds_CustInvoice</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Formula_NOW_CustInvoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_30_Seconds_not_passed_Cust_Invoice</targetReference>
            </connector>
            <label>30 Seconds NOT passed Cust Invoice</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_NOW_CustInvoice</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>PHASE 2 - FL -Create ONSA - Pending or Rejected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 - FL -Create ONSA - Pending or Rejected</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Invoice_Data</name>
        <label>Get Invoice Data</label>
        <locationX>614</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Deposit_Inv_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedJobID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </filters>
        <object>Customer_Invoice__c</object>
        <outputReference>var_Deposit_Customer_Inv_Data</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_with_Deposit_Cust_Inv_ID_and_send_payment_link_to_cust_via_email</name>
        <label>Update Job with Deposit Cust Inv ID and send payment link to cust via email</label>
        <locationX>618</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>ScreenNew_FP_Work_Order_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedJobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deposit_Invoice__c</field>
            <value>
                <elementReference>var_Deposit_Customer_Inv_Data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_payment_link_to_customer_via_email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_30_Seconds_not_passed_Cust_Invoice</name>
        <label>30 Seconds not passed Cust Invoice Screen</label>
        <locationX>865</locationX>
        <locationY>35</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_30_Seconds_passed_Cust_Invoice</targetReference>
        </connector>
        <fields>
            <name>DisplayTxt_30_Seconds_not_passed_Cust_Invoice</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;30 seconds have not passed yet.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please press next when 30 seconds have passed.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please wait until: {!var_NOW_Add_30_Seconds_CustInvoice}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCustomer_Invoice_not_found</name>
        <label>Customer Invoice not found</label>
        <locationX>773</locationX>
        <locationY>390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dispalytxtCINotFound</name>
            <fieldText>&lt;p&gt;We cannot find a customer invoice for this work order.&lt;/p&gt;&lt;p&gt;Please contact the office and give them this screenshot.&lt;/p&gt;&lt;p&gt;Once screenshot taken please press Next to finish.&lt;/p&gt;&lt;p&gt;Notes: On Site Agreement, Pending or Rejected branch - Customer Invoice was not found after 30 seconds.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNew_FP_Work_Order_Created</name>
        <label>New FP Work Order Created</label>
        <locationX>614</locationX>
        <locationY>671</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtNewWOCreated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;A new fixed price work order has been created.  We&#39;ve sent an email to the customer with the estimate and the option to accept at a later stage.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenWait_for_Customer_Invoice_creation</name>
        <label>Wait for Customer Invoice creation</label>
        <locationX>440</locationX>
        <locationY>64</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_30_Seconds_passed_Cust_Invoice</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtWait_for_Customer_Invoice_creation</name>
            <fieldText>&lt;p&gt;A Customer invoice record is being created.&lt;/p&gt;&lt;p&gt;****Please now wait 30 seconds for the invoice to be generated before clicking next****&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ScreenWait_for_Customer_Invoice_creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CreatedJobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Deposit_Customer_Inv_Data</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
    <variables>
        <name>var_NOW_Add_30_Seconds_CustInvoice</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
