unpackaged/main/default/flows/PHASE_2_Record_Triggered_Flow_Is_this_the_Last_WO_that_is_not_Status_Complete_AN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_1_To_Count_of_Complete_WOs</name>
        <label>Add 1 To Count of Complete WOs</label>
        <locationX>2058</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>var_CountOfAllCompleteWOsForJob</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_WO_Payment_Status_is_Paid_OR_Outstanding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_Count_of_OUTSTAND_WOs</name>
        <label>Add 1 to Count of OUTSTAND WOs</label>
        <locationX>2462</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>var_CountOfAllOUTSTANDWOsForJob</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_counter_of_All_WOs_for_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_Count_of_PAID_WOs</name>
        <label>Add 1 to Count of PAID WOs</label>
        <locationX>2521</locationX>
        <locationY>633</locationY>
        <assignmentItems>
            <assignToReference>var_CountOfAllPAIDWOsForJob</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_counter_of_All_WOs_for_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_Count_of_Payment_Status_Blank_WOs</name>
        <label>Add 1 to Count of Payment Status Blank WOs</label>
        <locationX>2393</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>var_CountOfAllBLANKWOsForJob</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_counter_of_All_WOs_for_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_counter_of_All_WOs_for_Job</name>
        <label>Add 1 to counter of All WOs for Job</label>
        <locationX>1866</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>var_CountOfAllWOsForJob</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_WOs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Earliest_WOID_by_Req_Date</name>
        <label>Ass Earliest WOID by Req Date</label>
        <locationX>1573</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>var_WOIDEarliestRequestedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_WO_Status_is_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_TRUE_to_All_WOs_Complete_var</name>
        <label>Ass TRUE to All WOs Complete var</label>
        <locationX>896</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>var_Bool_All_WOs_Status_Complete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_All_WOs_in_Status_of_Complete</name>
        <label>Are All WOs in Status of Complete?</label>
        <locationX>1185</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>Update_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_All_WOs_for_Job_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountOfAllCompleteWOsForJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_CountOfAllWOsForJob</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_TRUE_to_All_WOs_Complete_var</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_this_is_the_Last_Non_Complete_WO_for_Job</name>
        <label>Check if this is the Last Non-Complete WO for Job</label>
        <locationX>994</locationX>
        <locationY>1188</locationY>
        <defaultConnector>
            <targetReference>Update_WO_to_state_is_NOT_Last_Not_Complete_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Not_Complete_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormulaAllWOsMinusCompleteWOs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_to_state_is_Last_Not_Complete_WO</targetReference>
            </connector>
            <label>Last Not Complete WO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_WO_Payment_Status_is_Paid_OR_Outstanding</name>
        <label>Check if WO Payment Status is Paid OR Outstanding</label>
        <locationX>2229</locationX>
        <locationY>490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Payment_Status_is_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_WOs.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_Count_of_PAID_WOs</targetReference>
            </connector>
            <label>Paid</label>
        </rules>
        <rules>
            <name>WO_Payment_Status_is_Outstanding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_WOs.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outstanding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_Count_of_OUTSTAND_WOs</targetReference>
            </connector>
            <label>Outstanding</label>
        </rules>
        <rules>
            <name>Null_or_Empty_String_Payment_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_WOs.Payment_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Thru_WOs.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_Count_of_Payment_Status_Blank_WOs</targetReference>
            </connector>
            <label>Null or Empty String</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_WO_Status_is_Complete</name>
        <label>Check if WO Status is Complete</label>
        <locationX>1793</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>Check_if_WO_Payment_Status_is_Paid_OR_Outstanding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Status_is_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_WOs.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_To_Count_of_Complete_WOs</targetReference>
            </connector>
            <label>WO Status is Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Job_on_WO_is_not_null</name>
        <label>Check Job on WO is not null</label>
        <locationX>784</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Get_All_WOs_for_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Job is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exclude_User</name>
        <label>Exclude User</label>
        <locationX>572</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Requested_Date_Status_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exclude</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Exclude_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Exclude</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Counter_is_Zero_Is_Earliest_Requested_Date_as_ordered_by_Req_Date_asc</name>
        <label>If Counter is Zero Is Earliest Requested Date (as ordered by Req Date asc)</label>
        <locationX>1333</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>Check_if_WO_Status_is_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Counter_is_zero_And_Requested_Date_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountOfAllWOsForJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Thru_WOs.Requested_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Earliest_WOID_by_Req_Date</targetReference>
            </connector>
            <label>Counter is zero And Requested Date is not null</label>
        </rules>
        <rules>
            <name>var_WOIDEarliestRequestedDate_is_Empty_String</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WOIDEarliestRequestedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Thru_WOs.Requested_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Earliest_WOID_by_Req_Date</targetReference>
            </connector>
            <label>var_WOIDEarliestRequestedDate is Empty String</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_Date_Status_set</name>
        <label>Requested Date / Status set</label>
        <locationX>677</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Criteria_Requested_Date_Include_in_Estimate_Status_Payment_Status_set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_Date__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Include_in_Estimate__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Status__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Job_on_WO_is_not_null</targetReference>
            </connector>
            <label>Criteria: Requested Date / Include in Estimate / Status / Payment Status set</label>
        </rules>
    </decisions>
    <description>HM Exclusion for Deployment - ROP</description>
    <formulas>
        <name>FormulaAllWOsMinusCompleteWOs</name>
        <dataType>Number</dataType>
        <expression>({!var_CountOfAllWOsForJob}-{!var_CountOfAllCompleteWOsForJob})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PHASE 2 Record Triggered Flow Is this the Last WO that is not Status=Complete AND Update Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Record Triggered Flow Is this the Last WO that is not Status=Complete AND Update Job</label>
    <loops>
        <name>Loop_Thru_WOs</name>
        <label>Loop Thru WOs</label>
        <locationX>1243</locationX>
        <locationY>109</locationY>
        <collectionReference>var_CollWOs_For_Job</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Counter_is_Zero_Is_Earliest_Requested_Date_as_ordered_by_Req_Date_asc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_All_WOs_in_Status_of_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_WOs_for_Job</name>
        <label>Get All WOs for Job</label>
        <locationX>922</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_WOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_in_Estimate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_CollWOs_For_Job</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Payment_Status__c</queriedFields>
        <queriedFields>Requested_Date__c</queriedFields>
        <sortField>Requested_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>1035</locationX>
        <locationY>988</locationY>
        <connector>
            <targetReference>Check_if_this_is_the_Last_Non_Complete_WO_for_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>All_Work_Order_in_Status_of_Complete__c</field>
            <value>
                <elementReference>var_Bool_All_WOs_Status_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Earliest_Work_Order_by_Requested_Date__c</field>
            <value>
                <elementReference>var_WOIDEarliestRequestedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_All_Work_Orders__c</field>
            <value>
                <elementReference>var_CountOfAllWOsForJob</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_WOs_Payment_Status_Blank__c</field>
            <value>
                <elementReference>var_CountOfAllBLANKWOsForJob</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_WOs_Payment_Status_Outstanding__c</field>
            <value>
                <elementReference>var_CountOfAllOUTSTANDWOsForJob</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_WOs_Payment_Status_Paid__c</field>
            <value>
                <elementReference>var_CountOfAllPAIDWOsForJob</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_WOs_in_Status_of_Complete__c</field>
            <value>
                <elementReference>var_CountOfAllCompleteWOsForJob</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_to_state_is_Last_Not_Complete_WO</name>
        <label>Update WO to state is Last Not Complete WO</label>
        <locationX>1157</locationX>
        <locationY>1330</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_this_the_last_Not_Complete_WO_for_Job__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_to_state_is_NOT_Last_Not_Complete_WO</name>
        <label>Update WO to state is NOT Last Not Complete WO</label>
        <locationX>894</locationX>
        <locationY>1342</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_this_the_last_Not_Complete_WO_for_Job__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>182</locationY>
        <connector>
            <targetReference>Exclude_User</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Bool_All_WOs_Status_Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_CollWOs_For_Job</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_CountOfAllBLANKWOsForJob</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CountOfAllCompleteWOsForJob</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CountOfAllOUTSTANDWOsForJob</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CountOfAllPAIDWOsForJob</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CountOfAllWOsForJob</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_WOIDEarliestRequestedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
