unpackaged/main/default/flows/PHASE_2_FL_UNLock_All_WOs_for_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_to_Approval_to_UNLock</name>
        <label>Send to Approval to UNLock</label>
        <locationX>961</locationX>
        <locationY>612</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Get_All_WOs_for_Job</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Const_EstimateApprovedUNLOCKWOs_AP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_Thru_WOs.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Work Order UNLocked after Estimate Approved by Customer via email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>Const_Rich_Lloyd_User_ID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Ass_to_Coll_to_Update_to_Accepted</name>
        <label>Ass to Coll to Update to Accepted</label>
        <locationX>1066</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>var_CollWOsSetToAccepted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_TempWorkOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_to_Approval_to_UNLock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_Temp_WO_var</name>
        <label>Ass to Temp WO var</label>
        <locationX>1139</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>var_TempWorkOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempWorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted/Live</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_to_Coll_to_Update_to_Accepted</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Const_EstimateApprovedUNLOCKWOs_AP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>04a3L000000CcyU</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Rich_Lloyd_User_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0054G00000B2qh7QAB</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Exclude_User</name>
        <label>Exclude User</label>
        <locationX>472</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>Get_All_WOs_for_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exclude</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Exclude_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Exclude</label>
        </rules>
    </decisions>
    <description>HM Exclusion for Deployment - ROP</description>
    <interviewLabel>PHASE 2 FL - UNLock All WOs for Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 FL - UNLock All WOs for Job</label>
    <loops>
        <name>Loop_Thru_WOs</name>
        <label>Loop Thru WOs</label>
        <locationX>1113</locationX>
        <locationY>149</locationY>
        <collectionReference>var_CollWorkOrderData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_to_Temp_WO_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WOs_to_Accepted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_WOs_for_Job</name>
        <label>Get All WOs for Job</label>
        <locationX>823</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_WOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_in_Estimate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_CollWorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WOs_to_Accepted</name>
        <label>Update WOs to Accepted</label>
        <locationX>1329</locationX>
        <locationY>142</locationY>
        <inputReference>var_CollWOsSetToAccepted</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>69</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>Exclude_User</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_CollWorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_CollWOsSetToAccepted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_JobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TempWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
