unpackaged/main/default/flows/PHASE_2_FL_Create_Service_Appointment_when_Payment_made_for_Deposit_Cust_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Ass_SA_ID_and_Dispatched_Status_Not_Immediate</name>
        <label>Ass SA ID and Dispatched Status (Not Immediate)</label>
        <locationX>1873</locationX>
        <locationY>1577</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Created_SAs_and_Update_Status_to_Dispatched_Not_Immediate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_to_Coll_Not_Immediate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_SA_ID_and_On_Site_Status_Immediate</name>
        <label>Ass SA ID and On Site Status (Immediate)</label>
        <locationX>2473</locationX>
        <locationY>1519</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Created_SAs_and_Update_Status_to_On_Site_Immediate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On site</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_to_Coll_Immediate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_SA_record_to_coll</name>
        <label>Ass SA record to coll</label>
        <locationX>2104</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>var_CollServiceApptsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ServiceApptRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_WOs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_AR_Coll</name>
        <label>Ass to AR Coll</label>
        <locationX>2203</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>var_CollAssResourceToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_AssignedResourceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lop_Thru_Created_SAs_and_create_AR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_AR_Record</name>
        <label>Ass to AR Record</label>
        <locationX>2210</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>var_AssignedResourceRecord.ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lop_Thru_Created_SAs_and_create_AR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AssignedResourceRecord.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceResourceData.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_to_AR_Coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_Coll_Immediate</name>
        <label>Ass to Coll (Immediate)</label>
        <locationX>2323</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>var_CollServiceApptsToUpdateStatusDispatch</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ServiceApptRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Created_SAs_and_Update_Status_to_On_Site_Immediate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_Coll_Not_Immediate</name>
        <label>Ass to Coll (Not Immediate)</label>
        <locationX>1785</locationX>
        <locationY>1732</locationY>
        <assignmentItems>
            <assignToReference>var_CollServiceApptsToUpdateStatusDispatch</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ServiceApptRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Created_SAs_and_Update_Status_to_Dispatched_Not_Immediate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_SA_record</name>
        <label>Ass to SA record</label>
        <locationX>2105</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs.Arrival_Window_Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs.Arrival_Window_End_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.Allocated_Engineer_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceResourceData.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.Allocated_Engineer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ServiceResourceData.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SiteData.Site_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SiteData.Site_PostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SiteData.Site_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs.Contact_Email_who_Raised_Work_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ServiceApptRecord.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_SA_record_to_coll</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_null_Job_c</name>
        <label>Check for null Job__c</label>
        <locationX>824</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Get_Job_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Job_linked_to_Cust_Inv</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CustInvoiceData.Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CustInvoiceData.Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>No Job linked to Cust Inv</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Job_Raised_by_Serv_resource_is_not_null</name>
        <label>Check Job.Raised by Serv resource is not null</label>
        <locationX>1236</locationX>
        <locationY>501</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Raised_by_Service_Resource_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Raised_by_Service_Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_JobData.Raised_by_Service_Resource__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Data</targetReference>
            </connector>
            <label>Raised by Service Resource Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Work_Commencing_Immediately</name>
        <label>Is Work Commencing Immediately?</label>
        <locationX>1861</locationX>
        <locationY>1229</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commencing_Immediately</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Is_Work_Commencing_Immediately__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Created_SAs_and_Update_Status_to_On_Site_Immediate</targetReference>
            </connector>
            <label>Commencing Immediately</label>
        </rules>
        <rules>
            <name>NOT_Commencing_Immediately</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Is_Work_Commencing_Immediately__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_JobData.Is_Work_Commencing_Immediately__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Created_SAs_and_Update_Status_to_Dispatched_Not_Immediate</targetReference>
            </connector>
            <label>NOT Commencing Immediately</label>
        </rules>
    </decisions>
    <formulas>
        <description>{!Loop_Thru_WOs.Requested_Date__c} &amp; {!Loop_Thru_WOs.Arrival_Window_End__c} + duration/24 {!Loop_Thru_WOs.Duration}</description>
        <name>Formula_SA_SchedEndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( &quot;Loop_Thru_WOs.Requested_Date__c&quot; &amp; &quot; &quot; &amp; &quot;Loop_Thru_WOs.Arrival_Window_End__c&quot; )+({!Loop_Thru_WOs.Duration}/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_SA_SchedStartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(&quot;Loop_Thru_WOs.Requested_Date__c&quot; &amp; &quot; &quot; &amp; &quot;Loop_Thru_WOs.Arrival_Window_Start__c&quot;)</expression>
    </formulas>
    <interviewLabel>PHASE 2 FL - Create Service Appointment when Payment made for Deposit Cust Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 FL - Create Service Appointment when Payment made for Deposit Cust Invoice</label>
    <loops>
        <name>Loop_Thru_Created_SAs_and_Update_Status_to_Dispatched_Not_Immediate</name>
        <label>Loop Thru Created SAs and Update Status to Dispatched (Not Immediate)</label>
        <locationX>1714</locationX>
        <locationY>1475</locationY>
        <collectionReference>var_CollServiceApptsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_SA_ID_and_Dispatched_Status_Not_Immediate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SA_Status_to_Dispatched_from_New_Not_Immediate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Created_SAs_and_Update_Status_to_On_Site_Immediate</name>
        <label>Loop Thru Created SAs and Update Status to On Site (Immediate)</label>
        <locationX>2250</locationX>
        <locationY>1458</locationY>
        <collectionReference>var_CollServiceApptsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_SA_ID_and_On_Site_Status_Immediate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SA_Status_to_On_Site_from_New_Immediate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_WOs</name>
        <label>Loop Thru WOs</label>
        <locationX>1908</locationX>
        <locationY>266</locationY>
        <collectionReference>var_CollWOs_for_Job_NO_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_to_SA_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Lop_Thru_Created_SAs_and_create_AR</name>
        <label>Lop Thru Created SAs and create AR</label>
        <locationX>1964</locationX>
        <locationY>627</locationY>
        <collectionReference>var_CollServiceApptsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_to_AR_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_AR_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AR_records</name>
        <label>Create AR records</label>
        <locationX>1895</locationX>
        <locationY>1062</locationY>
        <connector>
            <targetReference>Is_Work_Commencing_Immediately</targetReference>
        </connector>
        <inputReference>var_CollAssResourceToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SAs</name>
        <label>Create SAs</label>
        <locationX>1887</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>Lop_Thru_Created_SAs_and_create_AR</targetReference>
        </connector>
        <inputReference>var_CollServiceApptsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cust_Inv_Data</name>
        <label>Get Cust Inv Data</label>
        <locationX>665</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_null_Job_c</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PaymentData.Customer_Invoice__c</elementReference>
            </value>
        </filters>
        <object>Customer_Invoice__c</object>
        <outputReference>var_CustInvoiceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Data</name>
        <label>Get Job Data</label>
        <locationX>1061</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Job_Raised_by_Serv_resource_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CustInvoiceData.Job__c</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>var_JobData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Raised_by_Service_Resource__c</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>Is_Work_Commencing_Immediately__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Data</name>
        <label>Get Payment Data</label>
        <locationX>491</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cust_Inv_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PaymentID</elementReference>
            </value>
        </filters>
        <object>asp04__Payment__c</object>
        <outputReference>var_PaymentData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Customer_Invoice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Data</name>
        <label>Get Service Resource Data</label>
        <locationX>1592</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WOs_for_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Raised_by_Service_Resource__c</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_ServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Data</name>
        <label>Get Site Data</label>
        <locationX>1402</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Site__c</elementReference>
            </value>
        </filters>
        <object>Site__c</object>
        <outputReference>var_SiteData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Site_City__c</queriedFields>
        <queriedFields>Site_PostalCode__c</queriedFields>
        <queriedFields>Site_Street__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WOs_for_Job</name>
        <label>Get WOs for Job</label>
        <locationX>1772</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_WOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WO_has_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_CollWOs_for_Job_NO_SA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Requested_Date__c</queriedFields>
        <queriedFields>Arrival_Window_Start__c</queriedFields>
        <queriedFields>Arrival_Window_End__c</queriedFields>
        <queriedFields>Schedule_Slot_Start__c</queriedFields>
        <queriedFields>Schedule_Slot_End__c</queriedFields>
        <queriedFields>Duration</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Contact_Email_who_Raised_Work_Order__c</queriedFields>
        <queriedFields>Arrival_Window_Start_Date_Time__c</queriedFields>
        <queriedFields>Arrival_Window_End_Date_Time__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_Status_to_Dispatched_from_New_Not_Immediate</name>
        <label>Update SA Status to Dispatched from New (Not Immediate)</label>
        <locationX>1580</locationX>
        <locationY>1812</locationY>
        <inputReference>var_CollServiceApptsToUpdateStatusDispatch</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Status_to_On_Site_from_New_Immediate</name>
        <label>Update SA Status to On Site from New (Immediate)</label>
        <locationX>2118</locationX>
        <locationY>1796</locationY>
        <inputReference>var_CollServiceApptsToUpdateStatusDispatch</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>85</locationX>
        <locationY>507</locationY>
        <connector>
            <targetReference>Get_Payment_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AssignedResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>var_CollAssResourceToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>var_CollServiceApptsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_CollServiceApptsToUpdateStatusDispatch</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_CollWOs_for_Job_NO_SA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_CustInvoiceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
    <variables>
        <name>var_JobData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>var_PaymentData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>asp04__Payment__c</objectType>
    </variables>
    <variables>
        <name>var_PaymentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceApptRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_ServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_SiteData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>var_Test_DateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
