unpackaged/main/default/flows/PHASE_2_FL_FSL_mobile_Create_Fixed_Price_Work_Order_Bare_Minimum_NEXT_GEN_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Cust_Inv_found_After_Attempt_2</name>
        <label>Check Cust Inv found (After Attempt 2)</label>
        <locationX>812</locationX>
        <locationY>148</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_CI_After_Attempt_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Deposit_Customer_Inv_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Found CI (After Attempt 2)</label>
        </rules>
        <rules>
            <name>NOT_Found_CI_After_Attempt_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Deposit_Customer_Inv_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCustomer_Invoice_not_found_after_Attempt_2</targetReference>
            </connector>
            <label>NOT Found CI (After Attempt 2)</label>
        </rules>
    </decisions>
    <interviewLabel>PHASE 2 FL - FSL (mobile) - Create Fixed Price Work Order Bare Minimum NEXT GEN Search for Customer Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 FL - FSL (mobile) - Create Fixed Price Work Order Bare Minimum NEXT GEN Search for Customer Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Customer_Invoice_Data_Attempt_2</name>
        <label>Get Customer Invoice Data (Attempt 2)</label>
        <locationX>590</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Cust_Inv_found_After_Attempt_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedWorkOrderData.Job__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consolidated_Invoice</stringValue>
            </value>
        </filters>
        <object>Customer_Invoice__c</object>
        <outputReference>var_Deposit_Customer_Inv_Data</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Charge_Net__c</queriedFields>
        <queriedFields>Charge_Gross__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Invoice_Data_Attempt_3</name>
        <label>Get Customer Invoice Data (Attempt 3)</label>
        <locationX>1245</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedWorkOrderData.Job__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancellation_Invoice</stringValue>
            </value>
        </filters>
        <object>Customer_Invoice__c</object>
        <outputReference>var_Deposit_Customer_Inv_Data</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Charge_Net__c</queriedFields>
        <queriedFields>Charge_Gross__c</queriedFields>
    </recordLookups>
    <screens>
        <name>ScreenCustomer_Invoice_not_found_after_Attempt_1</name>
        <label>Customer Invoice not found after Attempt 1</label>
        <locationX>412</locationX>
        <locationY>71</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Customer_Invoice_Data_Attempt_2</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtCustomer_Invoice_not_found_after_Attempt_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;We cannot find a customer invoice for this work order. Please press Next to search again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCustomer_Invoice_not_found_after_Attempt_2</name>
        <label>Customer Invoice not found after Attempt 2</label>
        <locationX>1086</locationX>
        <locationY>275</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Customer_Invoice_Data_Attempt_3</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtCustomer_Invoice_not_found_after_Attempt_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;We still cannot find a customer invoice for this work order. Please press Next to search again one last time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>26</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>ScreenCustomer_Invoice_not_found_after_Attempt_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CreatedWorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_Deposit_Customer_Inv_Data</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
</Flow>
