unpackaged/main/default/flows/PHASE_2_FL_Record_Triggered_Update_Total_of_POs_incl_VAT_on_WO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Ass_to_total</name>
        <label>Ass to total</label>
        <locationX>868</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>var_Total_PO_value_for_WO_InclVAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_POs_to_total.Total_Rolled_up_POLI_incl_VAT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_POs_to_total</targetReference>
        </connector>
    </assignments>
    <interviewLabel>PHASE 2 - FL Record-Triggered - Update Total of POs incl. VAT on WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 - FL Record-Triggered - Update Total of POs incl. VAT on WO</label>
    <loops>
        <name>Loop_Thru_POs_to_total</name>
        <label>Loop Thru POs to total</label>
        <locationX>716</locationX>
        <locationY>50</locationY>
        <collectionReference>var_Coll_POs_for_WO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_to_total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_total_on_WO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_PO_records_for_WO</name>
        <label>Get All PO records for WO</label>
        <locationX>539</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_POs_to_total</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputReference>var_Coll_POs_for_WO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Rolled_up_POLI_incl_VAT__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_total_on_WO</name>
        <label>Update total on WO</label>
        <locationX>679</locationX>
        <locationY>441</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sum_of_Purchase_Orders_Incl_VAT__c</field>
            <value>
                <elementReference>var_Total_PO_value_for_WO_InclVAT</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_PO_records_for_WO</targetReference>
        </connector>
        <object>Purchase_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Coll_POs_for_WO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>var_Total_PO_value_for_WO_InclVAT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
