unpackaged/main/default/flows/PHASE_2_Update_Service_Appointment_Gantt_Colour_when_Cust_Invoice_paid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Reactive_or_Fixed_Price_WOs</name>
        <label>Reactive or Fixed Price WOs</label>
        <locationX>887</locationX>
        <locationY>549</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Reactive_Flow</targetReference>
            </connector>
            <label>Reactive</label>
        </rules>
        <rules>
            <name>Fixed_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Fixed_Price_Flow</targetReference>
            </connector>
            <label>Fixed Price</label>
        </rules>
    </decisions>
    <interviewLabel>PHASE 2 Update Service Appointment Gantt Colour when Cust Invoice paid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Update Service Appointment Gantt Colour when Cust Invoice paid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cust_Inv_Data</name>
        <label>Get Cust Inv Data</label>
        <locationX>492</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_earliest_created_WO_for_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CustInvID</elementReference>
            </value>
        </filters>
        <object>Customer_Invoice__c</object>
        <outputReference>var_CustInvData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Job__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_earliest_created_WO_for_Record_Type</name>
        <label>Get earliest created WO for Record Type</label>
        <locationX>675</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reactive_or_Fixed_Price_WOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CustInvData.Job__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_WorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>Get_Cust_Inv_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Fixed_Price_Flow</name>
        <label>Call Fixed Price Flow</label>
        <locationX>1088</locationX>
        <locationY>649</locationY>
        <flowName>PHASE_2_Update_Service_Appointment_Gantt_Colour_when_Cust_Invoice_paid_FIXED_PRI</flowName>
        <inputAssignments>
            <name>var_CustInvData</name>
            <value>
                <elementReference>var_CustInvData</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Reactive_Flow</name>
        <label>Call Reactive Flow</label>
        <locationX>1085</locationX>
        <locationY>397</locationY>
        <flowName>PHASE_2_Update_Service_Appointment_Gantt_Colour_when_Cust_Invoice_paid_REACTIVE</flowName>
        <inputAssignments>
            <name>var_CustInvData</name>
            <value>
                <elementReference>var_CustInvData</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_CustInvData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
    <variables>
        <name>var_CustInvID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
