unpackaged/main/default/flows/PHASE_2_Customer_Credit_Note_Create_Edit_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <actionName>Customer_Credit_Note__c.Credit_Note_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>mark_as_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Email_Not_Sent</name>
        <label>Email Not Sent</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Not_Sent_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Invoice__r.Account__r.Comms_Control_Credit_Note__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Email Not Sent True</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_NEW2</name>
        <label>IS NEW</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Email_Not_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_NEW_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_email</targetReference>
            </connector>
            <label>IS NEW True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PHASE 2 Customer Credit Note Create/Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Customer Credit Note Create/Edit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mark_as_sent</name>
        <label>mark as sent</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_email</name>
        <label>Set email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Email_Not_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Email__c</field>
            <value>
                <elementReference>$Record.Customer_Invoice__r.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IS_NEW2</targetReference>
        </connector>
        <object>Customer_Credit_Note__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
