unpackaged/main/default/flows/PHASE_2_Payments_Created_or_Edited_Processes_23_10_20.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_payment_conf</name>
        <label>send payment conf</label>
        <locationX>116</locationX>
        <locationY>791</locationY>
        <actionName>asp04__Payment__c.Payment_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>mark_as_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Balanced_Received_is_Changed</name>
        <label>Balanced Received is Changed</label>
        <locationX>248</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Sent_to_Exchequer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Balanced_Received_is_Changed_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Balance_Received__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_to_update_Service_Appt</targetReference>
            </connector>
            <label>Balanced Received is Changed True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cust_Inv_is_Deposit</name>
        <label>Cust Inv is Deposit</label>
        <locationX>248</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Balanced_Received_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cust_Inv_is_Deposit_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.asp04__Payment_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collected from customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Invoice_Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customer_Invoice_Record_Type_Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Work_Commencing_Immediately__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Appts</targetReference>
            </connector>
            <label>Cust Inv is Deposit True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Stage_is_Collected_from_Cust</name>
        <label>Payment Stage is Collected from Cust</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>record_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Stage_is_Collected_from_Cust_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.asp04__Payment_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collected from customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sum_Payments_on_CI</targetReference>
            </connector>
            <label>Payment Stage is Collected from Cust True</label>
        </rules>
    </decisions>
    <decisions>
        <name>record_created</name>
        <label>record created</label>
        <locationX>248</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Cust_Inv_is_Deposit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_created_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Confirmation_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.asp04__Payment_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collected from customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Invoice__r.Account__r.Comms_Control_Receipt_of_pay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_payment_conf</targetReference>
            </connector>
            <label>record created true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_to_Exchequer</name>
        <label>Sent to Exchequer</label>
        <locationX>446</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_to_Exchequer_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sent_to_Exchequer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Makr_Invoice_as_Sent_to_Exchequer</targetReference>
            </connector>
            <label>Sent to Exchequer True</label>
        </rules>
    </decisions>
    <description>Removed ProfileId Metadata</description>
    <environments>Default</environments>
    <interviewLabel>PHASE 2 Payments Created or Edited Processes 23.10.20 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Payments Created or Edited Processes 23.10.20</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Makr_Invoice_as_Sent_to_Exchequer</name>
        <label>Makr Invoice as Sent to Exchequer</label>
        <locationX>314</locationX>
        <locationY>1823</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Exchequer_Export__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Sent</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Exchequer_Export__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>mark_as_sent</name>
        <label>mark as sent</label>
        <locationX>116</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Set_Job_fields_to_state_Cust_Email_Confirmation_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Confirmation_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Job_fields_to_state_Cust_Email_Confirmation_Sent</name>
        <label>Set Job fields to state Cust Email Confirmation Sent</label>
        <locationX>116</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Cust_Inv_is_Deposit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Invoice__r.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimate_Accepted_Email_Conf_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimate_Accepted_Email_Conf_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Payment_Stage_is_Collected_from_Cust</targetReference>
        </connector>
        <object>asp04__Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Create_Service_Appts</name>
        <label>Create Service Appts</label>
        <locationX>116</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Balanced_Received_is_Changed</targetReference>
        </connector>
        <flowName>PHASE_2_FL_Create_Service_Appointment_when_Payment_made_for_Deposit_Cust_Invoice</flowName>
        <inputAssignments>
            <name>var_PaymentID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_to_update_Service_Appt</name>
        <label>Flow to update Service Appt</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <flowName>PHASE_2_FL_Update_Balance_Received_on_Service_Appointment</flowName>
        <inputAssignments>
            <name>var_BalanceReceived</name>
            <value>
                <elementReference>$Record.Balance_Received__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_WorkOrderID</name>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sum_Payments_on_CI</name>
        <label>Sum Payments on CI</label>
        <locationX>116</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>record_created</targetReference>
        </connector>
        <flowName>FL_Sum_Payment_Records_on_Customer_Invoice_System</flowName>
        <inputAssignments>
            <name>var_PaymentID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Customer_Invoice_Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Deposit</stringValue>
        </value>
    </variables>
</Flow>
