unpackaged/main/default/flows/Phase_2_Resend_Email_for_PO_s_to_Supplier_and_Operative.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckOperativehire</name>
        <label>CheckOperativehire</label>
        <locationX>1241</locationX>
        <locationY>1647</locationY>
        <actionName>Purchase_Order__c.Send_Email_for_Hire_Hire_PO_Created_for_Operative</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailSentOperScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Email for Hire - Hire PO Created for supplier</description>
        <name>CheckSupplierHire</name>
        <label>CheckSupplierHire</label>
        <locationX>324</locationX>
        <locationY>1669</locationY>
        <actionName>Purchase_Order__c.Send_Email_for_Hire_Hire_PO_Created_for_supplier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>sendSuccessScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email for Supplier and Operative - Materials PO Created</description>
        <name>emailforbmaterials</name>
        <label>emailforbmaterials</label>
        <locationX>2633</locationX>
        <locationY>1562</locationY>
        <actionName>Purchase_Order__c.Email_for_Supplier_Materials_PO_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>bothScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email for Subcontractor - Subcontractor PO Created</description>
        <name>emailforsubcontractor</name>
        <label>emailforsubcontractor</label>
        <locationX>2789</locationX>
        <locationY>1560</locationY>
        <actionName>Purchase_Order__c.Email_for_Subcontractor_Subcontractor_PO_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>bothScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Email for Supplier and Operative - Materials PO Created for Operative</description>
        <name>operativeMaterials</name>
        <label>operativeMaterials</label>
        <locationX>1504</locationX>
        <locationY>1650</locationY>
        <actionName>Purchase_Order__c.Send_Email_for_Supplier_and_Operative_Materials_PO_Created_for_Operative</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailSentOperScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Email for Subcontractor - Subcontractor PO Created for Operative</description>
        <name>operativeSubcontractor</name>
        <label>operativeSubcontractor</label>
        <locationX>1734</locationX>
        <locationY>1653</locationY>
        <actionName>Purchase_Order__c.Send_Email_for_Subcontractor_Subcontractor_PO_Created_for_Operative</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailSentOperScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email for Hire - Hire PO Created</description>
        <name>sendemailforhire</name>
        <label>sendemailforhire</label>
        <locationX>2459</locationX>
        <locationY>1559</locationY>
        <actionName>Purchase_Order__c.Email_for_Hire_Hire_PO_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>bothScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send Email for Subcontractor - Subcontractor PO Created for Supplier</description>
        <name>subcontroactorSupplier</name>
        <label>subcontroactorSupplier</label>
        <locationX>997</locationX>
        <locationY>1673</locationY>
        <actionName>Purchase_Order__c.Send_Email_for_Subcontractor_Subcontractor_PO_Created_for_Supplier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>sendSuccessScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SupplierEmailALert</name>
        <label>SupplierEmailALert</label>
        <locationX>587</locationX>
        <locationY>1658</locationY>
        <actionName>Purchase_Order__c.Send_Email_for_Supplier_and_Operative_Materials_PO_Created_for_Supplier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>sendSuccessScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>AmendNoforSupplier</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>AmendYesforSupplier</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>bothAMendNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>bothAMendYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>operativeno</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>operativeyes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>SendtoBoth</name>
        <choiceText>Send to Both</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SendtoOperative</name>
        <choiceText>Send to Operative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send to Operative</stringValue>
        </value>
    </choices>
    <choices>
        <name>SendToSuppliers</name>
        <choiceText>Send to Supplier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send to Supplier</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckAmendforSupplier</name>
        <label>CheckAmendforSupplier</label>
        <locationX>312</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClickedYesforSuplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmendYesforSupplier</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AmendScreenforSupplier</targetReference>
            </connector>
            <label>ClickedYesforSuplier</label>
        </rules>
        <rules>
            <name>Clickednoforsupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmendNoforSupplier</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkemailfieldforsendtosupplier</targetReference>
            </connector>
            <label>Clickednoforsupplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBothamend</name>
        <label>CheckBothamend</label>
        <locationX>2331</locationX>
        <locationY>680</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkAMend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bothAMendYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_provide_the_email_ids</targetReference>
            </connector>
            <label>checkAMendyes</label>
        </rules>
        <rules>
            <name>CheckAMendNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bothAMendNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBothEmail</targetReference>
            </connector>
            <label>CheckAMendNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBothEmail</name>
        <label>CheckBothEmail</label>
        <locationX>2688</locationX>
        <locationY>725</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkBoth</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Engineer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_PO_Data.Supplier_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmptyBothScreen</targetReference>
            </connector>
            <label>checkanyoneempty</label>
        </rules>
        <rules>
            <name>notempty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Supplier_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_PO_Data.Engineer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckbothType</targetReference>
            </connector>
            <label>notempty</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckbothType</name>
        <label>CheckbothType</label>
        <locationX>2606</locationX>
        <locationY>1281</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckMaterials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailforbmaterials</targetReference>
            </connector>
            <label>CheckMaterials</label>
        </rules>
        <rules>
            <name>checkforsubboth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub-Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailforsubcontractor</targetReference>
            </connector>
            <label>checkforsubboth</label>
        </rules>
        <rules>
            <name>CheckforHireBoth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendemailforhire</targetReference>
            </connector>
            <label>CheckforHireBoth</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDecision</name>
        <label>CheckDecision</label>
        <locationX>359</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendtoSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendToSuppliers</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SupplierAmendScrren</targetReference>
            </connector>
            <label>SendtoSupplier</label>
        </rules>
        <rules>
            <name>SendtoOperatives</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendtoOperative</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OperativeScreen</targetReference>
            </connector>
            <label>SendtoOperatives</label>
        </rules>
        <rules>
            <name>SendtoBoths</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendtoBoth</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMendBoth</targetReference>
            </connector>
            <label>SendtoBoth</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkemailfieldforsendtosupplier</name>
        <label>Checkemailfieldforsendtosupplier</label>
        <locationX>387</locationX>
        <locationY>968</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>supplieremailhasvalue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Supplier_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkfortype</targetReference>
            </connector>
            <label>supplieremailhasvalue</label>
        </rules>
        <rules>
            <name>supplieremailhasnotvalue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Supplier_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>supplieremptyerror</targetReference>
            </connector>
            <label>supplieremailhasnotvalue</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckforOperativeEmail</name>
        <label>CheckforOperativeEmail</label>
        <locationX>1856</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckOperative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Engineer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChecktypeforOperative</targetReference>
            </connector>
            <label>CheckOperativenotnull</label>
        </rules>
        <rules>
            <name>CheckOperativeNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Engineer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OperativeEMpty</targetReference>
            </connector>
            <label>CheckOperativeNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkfortype</name>
        <label>Checkfortype</label>
        <locationX>425</locationX>
        <locationY>1239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checkformaterial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SupplierEmailALert</targetReference>
            </connector>
            <label>Checkformaterial</label>
        </rules>
        <rules>
            <name>emailforsubcontractors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub-Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subcontroactorSupplier</targetReference>
            </connector>
            <label>emailforsubcontractor</label>
        </rules>
        <rules>
            <name>checkforHire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckSupplierHire</targetReference>
            </connector>
            <label>checkforHire</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecktypeforOperative</name>
        <label>ChecktypeforOperative</label>
        <locationX>1477</locationX>
        <locationY>1141</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkOperativeTypeMarerials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>operativeMaterials</targetReference>
            </connector>
            <label>checkOperativeTypeMarerials</label>
        </rules>
        <rules>
            <name>checkOperativetypes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub-Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>operativeSubcontractor</targetReference>
            </connector>
            <label>checkOperativetypeSubcontractir</label>
        </rules>
        <rules>
            <name>Chectoperativehires</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckOperativehire</targetReference>
            </connector>
            <label>Chectoperativehires</label>
        </rules>
    </decisions>
    <decisions>
        <name>operativecheck</name>
        <label>operativecheck</label>
        <locationX>1393</locationX>
        <locationY>800</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>operativeYesChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>operativeyes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>displaymessageforoperative</targetReference>
            </connector>
            <label>operativeYes</label>
        </rules>
        <rules>
            <name>operativenochecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>operativeno</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckforOperativeEmail</targetReference>
            </connector>
            <label>operativeno</label>
        </rules>
    </decisions>
    <interviewLabel>Phase 2 Resend Email for PO&#39;s to Supplier and Operative {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phase 2 Resend Email for PO&#39;s to Supplier and Operative</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Purchase_Order</name>
        <label>Purchase Order</label>
        <locationX>195</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resend_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputReference>var_PO_Data</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Engineer_Email__c</queriedFields>
        <queriedFields>Supplier_Account__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Engineer__c</queriedFields>
        <queriedFields>Supplier_Email__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>795</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Checkfortype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supplier_Email__c</field>
            <value>
                <elementReference>SupplierEmailuser1</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBothEmail</name>
        <label>UpdateBothEmail</label>
        <locationX>2088</locationX>
        <locationY>1279</locationY>
        <connector>
            <targetReference>CheckbothType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Engineer_Email__c</field>
            <value>
                <elementReference>operativeemailfield1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Email__c</field>
            <value>
                <elementReference>Supplieremailfield1</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateengineeremail</name>
        <label>updateengineeremail</label>
        <locationX>1216</locationX>
        <locationY>1080</locationY>
        <connector>
            <targetReference>ChecktypeforOperative</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Engineer_Email__c</field>
            <value>
                <elementReference>OperativeEmail1</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <screens>
        <name>AMendBoth</name>
        <label>AMendBoth</label>
        <locationX>511</locationX>
        <locationY>475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckBothamend</targetReference>
        </connector>
        <fields>
            <name>AmendBothMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The Supplier for this PO is {!var_PO_Data.Supplier_Account__r.Name} and the email will be sent to the Account &#39;Email&#39; which is {!var_PO_Data.Supplier_Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The Operative for this PO is {!var_PO_Data.Engineer__r.Name} and the email will be sent to the Account &#39;Email&#39; which is  {!var_PO_Data.Engineer_Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;*You can choose to amend the email via this process, by clicking&lt;/p&gt;&lt;p&gt;on Amend Email Yes or No from below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bothAmend</name>
            <choiceReferences>bothAMendYes</choiceReferences>
            <choiceReferences>bothAMendNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Amend Email?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AmendScreenforSupplier</name>
        <label>AmendScreenforSupplier</label>
        <locationX>699</locationX>
        <locationY>772</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
        <fields>
            <name>DisplayMEssage</name>
            <fieldText>&lt;p&gt;Please enter the new email address below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SupplierEmailuser1</name>
            <dataType>String</dataType>
            <fieldText>New Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please provide valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!SupplierEmailuser1},&#39;([a-zA-Z0-9_\\-\\.]+)@((\\[a-z]{1,3}\\.[a-z]{1,3}\\.[a-z]{1,3}\\.)|(([a-zA-Z0-9\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})&#39;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>bothScreen</name>
        <label>bothScreen</label>
        <locationX>2637</locationX>
        <locationY>1827</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>bothSuccess</name>
            <fieldText>&lt;p&gt;The Email is sent to both Supplier and Operative (&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_PO_Data.Engineer_Email__c} and {!var_PO_Data.Supplier_Email__c})&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>displaymessageforoperative</name>
        <label>displaymessageforoperative</label>
        <locationX>1061</locationX>
        <locationY>895</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateengineeremail</targetReference>
        </connector>
        <fields>
            <name>operativeMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please enter the new email address below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OperativeEmail1</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please provide valid email address.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!OperativeEmail1},&#39;([a-zA-Z0-9_\\-\\.]+)@((\\[a-z]{1,3}\\.[a-z]{1,3}\\.[a-z]{1,3}\\.)|(([a-zA-Z0-9\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})&#39;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmailSentOperScreen</name>
        <label>EmailSentOperScreen</label>
        <locationX>1503</locationX>
        <locationY>1937</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessOperative</name>
            <fieldText>&lt;p&gt;The Email is sent to operative (&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_PO_Data.Engineer_Email__c})&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmptyBothScreen</name>
        <label>EmptyBothScreen</label>
        <locationX>2947</locationX>
        <locationY>906</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>checkmsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Supplier or operative does not have a value for the field &#39;Email Address&#39; - please add this before attempting to send an email.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OperativeEMpty</name>
        <label>OperativeEMpty</label>
        <locationX>1868</locationX>
        <locationY>1205</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmptyOperativeMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;This Operative does not have a value for the field &#39;Engineer Email Address&#39; - please add this before attempting to send an email.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OperativeScreen</name>
        <label>OperativeScreen</label>
        <locationX>327</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>operativecheck</targetReference>
        </connector>
        <fields>
            <name>DisplayTextMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Operative for this PO is {!var_PO_Data.Engineer__r.Name} and the email will be sent to the Account &#39;Email&#39; which is  {!var_PO_Data.Engineer_Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;*You can choose to amend the email via this process, by clicking&lt;/p&gt;&lt;p&gt;on Amend Email Yes or No from below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Chosseopertative</name>
            <choiceReferences>operativeyes</choiceReferences>
            <choiceReferences>operativeno</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Amend Email?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_provide_the_email_ids</name>
        <label>Please provide the email ids</label>
        <locationX>2072</locationX>
        <locationY>917</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateBothEmail</targetReference>
        </connector>
        <fields>
            <name>Supplieremailfield1</name>
            <dataType>String</dataType>
            <fieldText>Supplier Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please provide valid email address for Supplier Email&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Supplieremailfield1},&#39;([a-zA-Z0-9_\\-\\.]+)@((\\[a-z]{1,3}\\.[a-z]{1,3}\\.[a-z]{1,3}\\.)|(([a-zA-Z0-9\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})&#39;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>operativeemailfield1</name>
            <dataType>String</dataType>
            <fieldText>Operative Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please provide valid email address for Operative Email&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!operativeemailfield1},&#39;([a-zA-Z0-9_\\-\\.]+)@((\\[a-z]{1,3}\\.[a-z]{1,3}\\.[a-z]{1,3}\\.)|(([a-zA-Z0-9\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})&#39;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resend_Email</name>
        <label>Resend Email</label>
        <locationX>309</locationX>
        <locationY>228</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckDecision</targetReference>
        </connector>
        <fields>
            <name>ResendLabel</name>
            <fieldText>&lt;p&gt;Choose an Option to send email to Operative or Supplier.&lt;/p&gt;&lt;p&gt;You can also send Email to both Supplier and Operative, by choosing Both option.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_Options</name>
            <choiceReferences>SendToSuppliers</choiceReferences>
            <choiceReferences>SendtoOperative</choiceReferences>
            <choiceReferences>SendtoBoth</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sendSuccessScreen</name>
        <label>sendSuccessScreen</label>
        <locationX>687</locationX>
        <locationY>1919</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SendSUccessEmail</name>
            <fieldText>&lt;p&gt;The Email is sent to supplier (&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!var_PO_Data.Supplier_Email__c})&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SupplierAmendScrren</name>
        <label>SupplierAmendScrren</label>
        <locationX>153</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckAmendforSupplier</targetReference>
        </connector>
        <fields>
            <name>SupplierAmendScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Supplier for this PO is {!var_PO_Data.Supplier_Account__r.Name} and the email will be sent to the Account &#39;Email&#39; which is {!var_PO_Data.Supplier_Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;*You can choose to amend the email via this process, by clicking&lt;/p&gt;&lt;p&gt;on Amend Email Yes or No from below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>amendsupplier</name>
            <choiceReferences>AmendYesforSupplier</choiceReferences>
            <choiceReferences>AmendNoforSupplier</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Amend Email?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>supplieremptyerror</name>
        <label>supplieremptyerror</label>
        <locationX>167</locationX>
        <locationY>963</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmptySupplier</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This Supplier does not have a value for the field &#39;Supplier Contact  Email Address&#39; - please add this before attempting to send an email.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Purchase_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_PO_Data</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>var_PO_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
