unpackaged/main/default/flows/PHASE_2_FL_Lock_WOs_Approval_Process_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lock_Work_Orders_Credit</name>
        <label>Lock Work Orders (Credit)</label>
        <locationX>825</locationX>
        <locationY>1992</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Loop_Thru_WOs_Credit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Const_WO_Approval_Process_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_Thru_WOs_Credit.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Work Order Locked after Estimate sent to Customer via email by Engineer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>Const_Rich_Lloyd_User_ID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Ass_current_item_to_temp_WO_var_Credit</name>
        <label>Ass current item to temp WO var (Credit)</label>
        <locationX>929</locationX>
        <locationY>1704</locationY>
        <assignmentItems>
            <assignToReference>var_TempWO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs_Credit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempWO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Temp_var_to_Coll_Credit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Temp_var_to_Coll_Credit</name>
        <label>Ass Temp var to Coll (Credit)</label>
        <locationX>1023</locationX>
        <locationY>1825</locationY>
        <assignmentItems>
            <assignToReference>var_CollWOsUpdateToPend</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_TempWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lock_Work_Orders_Credit</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Const_Job_Approval_Process_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>04a3L000000CcyT</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_Rich_Lloyd_User_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0054G00000B2qh7QAB</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_WO_Approval_Process_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>04a3L000000CcyV</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Exclude_User</name>
        <label>Exclude User</label>
        <locationX>505</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Get_All_WOs_for_Job_Credit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exclude</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Exclude_User</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Exclude</label>
        </rules>
    </decisions>
    <description>HM Exclusion for Deployment - ROP</description>
    <interviewLabel>PHASE 2 - FL Lock WOs (Approval Process) V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 - FL Lock WOs (Approval Process) V2</label>
    <loops>
        <name>Loop_Thru_WOs_Credit</name>
        <label>Loop Thru WOs (Credit)</label>
        <locationX>783</locationX>
        <locationY>1604</locationY>
        <collectionReference>var_CollWorkOrdersForJob</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_current_item_to_temp_WO_var_Credit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_WOs_to_Pending_Credit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_WOs_for_Job_Credit</name>
        <label>Get All WOs for Job (Credit)</label>
        <locationX>547</locationX>
        <locationY>1495</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_WOs_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_in_Estimate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_CollWorkOrdersForJob</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_WOs_to_Pending_Credit</name>
        <label>Update All WOs to Pending (Credit)</label>
        <locationX>1003</locationX>
        <locationY>1553</locationY>
        <inputReference>var_CollWOsUpdateToPend</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>1740</locationY>
        <connector>
            <targetReference>Exclude_User</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_AccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_CollWorkOrdersForJob</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_CollWOsUpdateToPend</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_CustomerInvDepositData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
    <variables>
        <name>var_JobData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>var_JobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TempWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
