unpackaged/main/default/flows/PHASE_2_Cases_Created_or_Edited.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_ContactEmail</name>
        <label>Send Email to ContactEmail</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.Case_Received_Confirmation_Email_TO_Contact_Email_Email_is_blank</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Email</name>
        <label>Send Email to Email</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>Case.Case_Received_Confirmation_Email_TO_Email_Contact_Email_IS_Blank_AND_Email_NOT_b</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Email_c</name>
        <label>Send Email to Email__c</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>Case.Case_Received_Confirmation_Email_TO_Email_Contact_Email_AND_Email_NOT_blank</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>ISNEW_AND_ContactEmail_Not_Blank_AND_Email_Is_Blank</name>
        <label>ISNEW() AND ContactEmail Not Blank AND Email Is Blank</label>
        <locationX>281</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>ISNEW_AND_ContactEmail_Not_Blank_AND_Email_Is_Blank_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISNEW_AND_ContactEmail_Not_Blank_AND_Email_Is_Blank_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_ContactEmail</targetReference>
            </connector>
            <label>ISNEW() AND ContactEmail Not Blank AND Email Is Blank True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISNEW_AND_ContactEmail_Not_Blank_AND_Email_Is_Blank_0</name>
        <label>ISNEW() AND ContactEmail Not Blank AND Email Is Blank</label>
        <locationX>512</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>ISNEW_AND_ContactEmail_Not_Blank_AND_Email_Is_Blank_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISNEW_AND_ContactEmail_NOT_Blank_AND_Email_NOT_Blank_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Email_c</targetReference>
            </connector>
            <label>ISNEW() AND ContactEmail NOT Blank AND Email NOT Blank True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISNEW_AND_ContactEmail_Not_Blank_AND_Email_Is_Blank_0_0</name>
        <label>ISNEW() AND ContactEmail Not Blank AND Email Is Blank</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISNEW_AND_ContactEmail_Not_Blank_AND_Email_Is_Blank_True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Email</targetReference>
            </connector>
            <label>ISNEW() AND ContactEmail Not Blank AND Email Is Blank True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PHASE 2 Cases - Created or Edited {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Cases - Created or Edited</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ISNEW_AND_ContactEmail_Not_Blank_AND_Email_Is_Blank</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Booking_Team_Manager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Booking Team Manager</stringValue>
        </value>
    </variables>
    <variables>
        <name>Engineer_Partner_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Engineer Partner Community</stringValue>
        </value>
    </variables>
    <variables>
        <name>PHASE_2_Booking_Team</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PHASE 2 Booking Team</stringValue>
        </value>
    </variables>
    <variables>
        <name>PHASE_2_Credit_Control</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PHASE 2 Credit Control</stringValue>
        </value>
    </variables>
    <variables>
        <name>PHASE_2_Credit_Control_Manager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PHASE 2 Credit Control Manager</stringValue>
        </value>
    </variables>
    <variables>
        <name>PHASE_2_Field_Support</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PHASE 2 Field Support</stringValue>
        </value>
    </variables>
    <variables>
        <name>PHASE_2_Human_Resources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PHASE 2 Human Resources</stringValue>
        </value>
    </variables>
    <variables>
        <name>PHASE_2_Integration_Profile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PHASE 2 Integration Profile</stringValue>
        </value>
    </variables>
    <variables>
        <name>PHASE_2_Operations_Director</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PHASE 2 Operations Director</stringValue>
        </value>
    </variables>
    <variables>
        <name>PHASE_2_Wrap_Team</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PHASE 2 Wrap Team</stringValue>
        </value>
    </variables>
    <variables>
        <name>System_Administrator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </variables>
</Flow>
