unpackaged/main/default/flows/Phase_2_FL_Merge_Jobs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assign_source_wo_to_target</name>
        <label>assign_source_wo_to_target</label>
        <locationX>920</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>wo_loop.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_target_job_picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_source_wos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_target_job_values</name>
        <label>assign target job values</label>
        <locationX>786</locationX>
        <locationY>1597</locationY>
        <assignmentItems>
            <assignToReference>get_target_job.Requisition_Total_Pay__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_source_job.Requisition_Total_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_target_job.Attendance_Notes_for_Office__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forumla_line_break</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_target_job.Attendance_Report_for_Customer__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forumla_line_break</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_target_job.Attendance_Notes_for_Office__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_source_job.Attendance_Notes_for_Office__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_target_job.Attendance_Report_for_Customer__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_source_job.Attendance_Report_for_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_target_job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_cct_job</name>
        <label>set_cct_job</label>
        <locationX>958</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>cct_loop.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_target_job_picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_cct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_epr_job</name>
        <label>set epr job</label>
        <locationX>927</locationX>
        <locationY>1233</locationY>
        <assignmentItems>
            <assignToReference>epr_loop.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rcs_target_job</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_eprs</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>rcs_target_job</name>
        <dataType>String</dataType>
        <displayField>rcs_label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_source_job.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>For Client Approval</stringValue>
            </value>
        </filters>
        <object>Job__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forumla_line_break</name>
        <dataType>String</dataType>
        <expression>BR() &amp; BR()</expression>
    </formulas>
    <interviewLabel>Phase_2_FL_Merge_Jobs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phase_2_FL_Merge_Jobs</label>
    <loops>
        <name>cct_loop</name>
        <label>cct_loop</label>
        <locationX>734</locationX>
        <locationY>853</locationY>
        <collectionReference>get_source_ccts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_cct_job</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_source_eprs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>epr_loop</name>
        <label>epr_loop</label>
        <locationX>709</locationX>
        <locationY>1248</locationY>
        <collectionReference>get_source_eprs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_epr_job</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_target_job</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>wo_loop</name>
        <label>wo_loop</label>
        <locationX>700</locationX>
        <locationY>431</locationY>
        <collectionReference>get_source_wos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_source_wo_to_target</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_source_ccts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_source_ccts</name>
        <label>get_source_ccts</label>
        <locationX>674</locationX>
        <locationY>715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cct_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_source_job_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Costs_and_Charges__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_source_eprs</name>
        <label>get_source_eprs</label>
        <locationX>717</locationX>
        <locationY>1075</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>epr_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_source_job_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Engineer_Pay_Requisition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_source_job</name>
        <label>get_source_job</label>
        <locationX>482</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>select_target_job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_source_job_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_source_wos</name>
        <label>get_source_wos</label>
        <locationX>677</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>wo_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_source_job_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_target_job</name>
        <label>get_target_job</label>
        <locationX>633</locationX>
        <locationY>1477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_target_job_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcs_target_job</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_cct</name>
        <label>update_cct</label>
        <locationX>918</locationX>
        <locationY>982</locationY>
        <connector>
            <targetReference>cct_loop</targetReference>
        </connector>
        <inputReference>cct_loop</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_eprs</name>
        <label>update eprs</label>
        <locationX>919</locationX>
        <locationY>1405</locationY>
        <connector>
            <targetReference>epr_loop</targetReference>
        </connector>
        <inputReference>epr_loop</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_source_job</name>
        <label>update source job</label>
        <locationX>796</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_source_job_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attendance_Notes_for_Office__c</field>
            <value>
                <stringValue>Merged with {!get_target_job.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendance_Report_for_Customer__c</field>
            <value>
                <stringValue>Merged with {!get_target_job.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requisition_Total_Pay__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_source_wos</name>
        <label>update_source_wos</label>
        <locationX>909</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>wo_loop</targetReference>
        </connector>
        <inputReference>wo_loop</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_target_job</name>
        <label>update target job</label>
        <locationX>554</locationX>
        <locationY>1722</locationY>
        <connector>
            <targetReference>update_source_job</targetReference>
        </connector>
        <inputReference>get_target_job</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>done</name>
        <label>done</label>
        <locationX>580</locationX>
        <locationY>1988</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>done_text</name>
            <fieldText>&lt;p&gt;Done&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>select_target_job</name>
        <label>select target job</label>
        <locationX>522</locationX>
        <locationY>239</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_source_wos</targetReference>
        </connector>
        <fields>
            <name>screen1text</name>
            <fieldText>&lt;p&gt;Please select a target job.&lt;/p&gt;&lt;p&gt;All Work Orders, associated charges, and attached Engineer Pay Requisitions will be moved to the target job.&lt;/p&gt;&lt;p&gt;The target job will have it&#39;s charges recalculated (including requisition totals), and the job reports for office and customer will be appended to the target job.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>select_target_job_picklist</name>
            <choiceReferences>rcs_target_job</choiceReferences>
            <dataType>String</dataType>
            <fieldText>select_target_job_picklist</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>start_screen</name>
        <label>start screen</label>
        <locationX>258</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_source_job</targetReference>
        </connector>
        <fields>
            <name>start_screen_text</name>
            <fieldText>&lt;p&gt;Merge Job: Click next to see list of target jobs.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>34</locationX>
        <locationY>157</locationY>
        <connector>
            <targetReference>start_screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_source_job_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
