unpackaged/main/default/flows/PHASE_2_FL_Upon_WO_Arrival_Wind_Start_End_Date_Time_Changed_Update_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Do_we_have_an_SA</name>
        <label>Do we have an SA?</label>
        <locationX>575</locationX>
        <locationY>108</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Got_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServApptData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Arrival_Window_Times</targetReference>
            </connector>
            <label>Yes - Got SA</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormulaReqDateArrival_Window_End</name>
        <dataType>DateTime</dataType>
        <expression>if(
DATETIMEVALUE(TEXT({!var_RequestedDate} )&amp; &quot; &quot; &amp; {!var_ArrivalWindowStart_TEXT})
&gt; DATETIMEVALUE(TEXT({!var_RequestedDate} )&amp; &quot; &quot; &amp; {!var_ArrivalWindowEnd_TEXT}),
DATETIMEVALUE(TEXT({!var_RequestedDate} )&amp; &quot; &quot; &amp; {!var_ArrivalWindowEnd_TEXT}) + 1,
DATETIMEVALUE(TEXT({!var_RequestedDate} )&amp; &quot; &quot; &amp; {!var_ArrivalWindowEnd_TEXT})
)</expression>
    </formulas>
    <formulas>
        <name>FormulaReqDateArrival_Window_Start</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!var_RequestedDate} )&amp; &quot; &quot; &amp; {!var_ArrivalWindowStart_TEXT})</expression>
    </formulas>
    <interviewLabel>PHASE 2 - FL - Upon WO Arrival Wind Start/End Date Time Changed Update SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 - FL - Upon WO Arrival Wind Start/End Date Time Changed Update SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>424</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_an_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WOID</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_ServApptData</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_Arrival_Window_Times</name>
        <label>Update SA Arrival Window Times</label>
        <locationX>787</locationX>
        <locationY>64</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
            <value>
                <elementReference>FormulaReqDateArrival_Window_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
            <value>
                <elementReference>FormulaReqDateArrival_Window_Start</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ArrivalWindowEnd_TEXT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ArrivalWindowStart_TEXT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RequestedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServApptData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_WO_ArrivalWindEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WO_ArrivalWindStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
