unpackaged/main/default/flows/PHASE_2_Take_Payment_from_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>default</name>
        <label>default</label>
        <locationX>2116</locationX>
        <locationY>1826</locationY>
        <assignmentItems>
            <assignToReference>var_paymetn_value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice.Balance_Outstanding_with_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>card_on_file</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>manager_assingment</name>
        <label>manager_assingment</label>
        <locationX>2509</locationX>
        <locationY>1829</locationY>
        <assignmentItems>
            <assignToReference>var_paymetn_value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_payment_amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>card_on_file</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Add_New_Card</name>
        <choiceText>Add New Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New Card</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_BACs</name>
        <choiceText>BACS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BACs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_chargeback</name>
        <choiceText>Enter chargeback</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>chargeback</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Chq</name>
        <choiceText>Cheque</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cheque</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_credit</name>
        <choiceText>Raise Credit Note</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>credit</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_payment</name>
        <choiceText>Take payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_refund</name>
        <choiceText>Refund a payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>refund</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceBadDebt</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Write off bad debt&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad debt write off</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceworldpay</name>
        <choiceText>Old WorldPay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WorldPay</stringValue>
        </value>
    </choices>
    <decisions>
        <name>action_choice_decision</name>
        <label>action choice decision</label>
        <locationX>1797</locationX>
        <locationY>1642</locationY>
        <defaultConnector>
            <targetReference>error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>credit_reason_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>credit_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Empty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>credit_reason_error</targetReference>
            </connector>
            <label>credit reason empty</label>
        </rules>
        <rules>
            <name>refund_reason_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refund_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Empty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>refund_reason_empty_screen</targetReference>
            </connector>
            <label>refund reason empty</label>
        </rules>
        <rules>
            <name>Add_New_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Add_New_Card</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_auth</targetReference>
            </connector>
            <label>Add New Card</label>
        </rules>
        <rules>
            <name>refundother</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>card_refund.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>action_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_refund</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>refund_other</targetReference>
            </connector>
            <label>refund other</label>
        </rules>
        <rules>
            <name>card_refund_branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>card_refund.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>action_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_refund</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_card_refund</targetReference>
            </connector>
            <label>card refund</label>
        </rules>
        <rules>
            <name>chargeback_card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_chargeback</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_chargeback</targetReference>
            </connector>
            <label>chargeback card</label>
        </rules>
        <rules>
            <name>chargeback_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_chargeback</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_chargeback_other</targetReference>
            </connector>
            <label>chargeback other</label>
        </rules>
        <rules>
            <name>credit_note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_credit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_credit_note</targetReference>
            </connector>
            <label>credit note</label>
        </rules>
        <rules>
            <name>payment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>action_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_payment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>action_choice2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_payment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_pending_payments_2</targetReference>
            </connector>
            <label>payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>card_on_file</name>
        <label>use card on file</label>
        <locationX>2296</locationX>
        <locationY>1879</locationY>
        <defaultConnector>
            <targetReference>Create_Non_Card_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>use_card_on_file</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selected_card</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selected_card</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Add_New_Card</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_auth</targetReference>
            </connector>
            <label>use card on file</label>
        </rules>
    </decisions>
    <decisions>
        <name>manager</name>
        <label>manager?</label>
        <locationX>2301</locationX>
        <locationY>1726</locationY>
        <defaultConnector>
            <targetReference>default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>manager_override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_manager_profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>manager_assingment</targetReference>
            </connector>
            <label>manager override</label>
        </rules>
    </decisions>
    <decisions>
        <name>manager_profile1</name>
        <label>manager profile?</label>
        <locationX>2222</locationX>
        <locationY>979</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>allow_overpayment_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_manager_profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>allow_overpayment</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_auth_in_force</name>
        <label>new auth in force</label>
        <locationX>1577</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>new_card_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>in_force</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newauth_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Force</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>payment_options</targetReference>
            </connector>
            <label>in force</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outstanding_Balance</name>
        <label>Outstanding Balance?</label>
        <locationX>2010</locationX>
        <locationY>986</locationY>
        <defaultConnector>
            <targetReference>Invoice_Fully_Paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>fully paid</defaultConnectorLabel>
        <rules>
            <name>oustanding_balance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Invoice.Balance_Outstanding_with_Interest__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_manager_profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_invoice_payments</targetReference>
            </connector>
            <label>oustanding balance or manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>pending_payments</name>
        <label>pending payments?</label>
        <locationX>2020</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>payment_options</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>pending_awaiting_submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_invoice_payments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_pending</targetReference>
            </connector>
            <label>pending/awaiting submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>pending_payments_2</name>
        <label>pending payments?</label>
        <locationX>2307</locationX>
        <locationY>1543</locationY>
        <defaultConnector>
            <targetReference>manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>pending_awaiting_submission_2</name>
            <conditionLogic>1 OR ( 2  AND 3 )</conditionLogic>
            <conditions>
                <leftValueReference>get_pending_payments_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_balance_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_manager_profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_pending</targetReference>
            </connector>
            <label>pending/awaiting submission 2</label>
        </rules>
    </decisions>
    <description>DK - Added last requirements</description>
    <dynamicChoiceSets>
        <name>credit_reason_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Credit_Reason__c</picklistField>
        <picklistObject>Customer_Credit_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_auths</name>
        <dataType>String</dataType>
        <displayField>rcs_label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>asp04__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Force</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice.Account__c</elementReference>
            </value>
        </filters>
        <object>asp04__Authorisation__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_payments_for_card_refund</name>
        <dataType>String</dataType>
        <displayField>rcs_label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>asp04__Payment_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collected from customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>asp04__Payment_Route_Selected__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </filters>
        <object>asp04__Payment__c</object>
        <outputAssignments>
            <assignToReference>var_chargeback_total</assignToReference>
            <field>Chargeback_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_payment_for_refund_total_value</assignToReference>
            <field>asp04__Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_refund_asperato_ref</assignToReference>
            <field>asp04__Asperato_Reference__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_refund_total</assignToReference>
            <field>asp04__Total_Refunded__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_payments_for_refund</name>
        <dataType>String</dataType>
        <displayField>rcs_label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>asp04__Payment_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collected from customer</stringValue>
            </value>
        </filters>
        <object>asp04__Payment__c</object>
        <outputAssignments>
            <assignToReference>var_chargeback_total</assignToReference>
            <field>Chargeback_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_payment_for_refund_total_value</assignToReference>
            <field>asp04__Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_refund_total</assignToReference>
            <field>asp04__Total_Refunded__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>refund_reason_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Refund_Reason__c</picklistField>
        <picklistObject>asp04__Refund__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>asp_custID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.asp04__AsperatoOneSettings__c.asp04__Customer_ID__c}</expression>
    </formulas>
    <formulas>
        <name>asp_url</name>
        <dataType>String</dataType>
        <expression>{!$Setup.asp04__AsperatoOneSettings__c.asp04__Server_URL__c}</expression>
    </formulas>
    <formulas>
        <name>card_refund_value</name>
        <dataType>Boolean</dataType>
        <expression>{!f_manager_profile}</expression>
    </formulas>
    <formulas>
        <name>f_disable_toggle</name>
        <dataType>Boolean</dataType>
        <expression>false</expression>
    </formulas>
    <formulas>
        <name>f_manager_profile</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} == &#39;System Administrator&#39; || {!$Profile.Name} == &#39;PHASE 2 Manager - Process&#39;</expression>
    </formulas>
    <formulas>
        <name>f_outstanding_balance</name>
        <dataType>Currency</dataType>
        <expression>if( {!Invoice.Balance_Outstanding_with_Interest__c} &lt; 0, 0, {!Invoice.Balance_Outstanding_with_Interest__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_toggle_value</name>
        <dataType>Boolean</dataType>
        <expression>if({!allow_overpayment_true}, false,true)</expression>
    </formulas>
    <interviewLabel>PHASE2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Take Payment from Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Card_Payment</name>
        <label>Create Card Payment</label>
        <locationX>2506</locationX>
        <locationY>2138</locationY>
        <inputAssignments>
            <field>Account_Email__c</field>
            <value>
                <elementReference>get_auth.asp04__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Invoice__c</field>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>get_auth.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Account_Name__c</field>
            <value>
                <elementReference>get_auth.asp04__Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Account_Reference__c</field>
            <value>
                <elementReference>get_auth.asp04__Account_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Amount__c</field>
            <value>
                <elementReference>var_paymetn_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Authorisation__c</field>
            <value>
                <elementReference>get_auth.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_City__c</field>
            <value>
                <elementReference>get_auth.asp04__Billing_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_Country__c</field>
            <value>
                <elementReference>get_auth.asp04__Billing_Address_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_PostalCode__c</field>
            <value>
                <elementReference>get_auth.asp04__Billing_Address_PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_Street__c</field>
            <value>
                <elementReference>get_auth.asp04__Billing_Address_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Card_Type__c</field>
            <value>
                <elementReference>get_auth.asp04__Card_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Company_Name__c</field>
            <value>
                <elementReference>get_auth.asp04__Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Email__c</field>
            <value>
                <elementReference>get_auth.asp04__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__First_Name__c</field>
            <value>
                <elementReference>get_auth.asp04__First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Last_Name__c</field>
            <value>
                <elementReference>get_auth.asp04__Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route_Options__c</field>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route_Selected__c</field>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </inputAssignments>
        <object>asp04__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_card_refund</name>
        <label>create card refund</label>
        <locationX>1260</locationX>
        <locationY>1990</locationY>
        <inputAssignments>
            <field>Refund_Reason__c</field>
            <value>
                <elementReference>Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Amount__c</field>
            <value>
                <elementReference>Enter_refund_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Asperato_Reference__c</field>
            <value>
                <elementReference>var_refund_asperato_ref</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route__c</field>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment__c</field>
            <value>
                <elementReference>Select_card_payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Refund_Stage__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <object>asp04__Refund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_chargeback</name>
        <label>create chargeback</label>
        <locationX>2061</locationX>
        <locationY>1762</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Enter_chargeback_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Invoice__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Submitted__c</field>
            <value>
                <elementReference>Enter_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>Select_card_payment</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Chargeback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_chargeback_other</name>
        <label>create chargeback other</label>
        <locationX>1979</locationX>
        <locationY>1965</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Enter_chargeback_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Invoice__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Submitted__c</field>
            <value>
                <elementReference>Enter_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>Select_payment</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Chargeback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_credit_note</name>
        <label>create credit note</label>
        <locationX>1222</locationX>
        <locationY>1728</locationY>
        <inputAssignments>
            <field>Account_Details__c</field>
            <value>
                <elementReference>Invoice.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Email__c</field>
            <value>
                <elementReference>Invoice.Account__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Enter_Credit_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Reason__c</field>
            <value>
                <elementReference>credit_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Invoice__c</field>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Enter_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Credit_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creating a payment record for all non card payment transactions</description>
        <name>Create_Non_Card_Payment</name>
        <label>Create Non Card Payment</label>
        <locationX>2118</locationX>
        <locationY>1956</locationY>
        <connector>
            <targetReference>Update_Customer_Invoice_with_Payment_details_Recd_Amount_LESS_than_Balance_Outst</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Email__c</field>
            <value>
                <elementReference>Invoice.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Invoice__c</field>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>Invoice.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Amount__c</field>
            <value>
                <elementReference>var_paymetn_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Due_Date__c</field>
            <value>
                <elementReference>Enter_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__PSP_Reference__c</field>
            <value>
                <elementReference>Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Date__c</field>
            <value>
                <elementReference>Enter_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route_Options__c</field>
            <value>
                <elementReference>alternative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route_Selected__c</field>
            <value>
                <elementReference>alternative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Stage__c</field>
            <value>
                <stringValue>Collected from customer</stringValue>
            </value>
        </inputAssignments>
        <object>asp04__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>new_auth</name>
        <label>new auth</label>
        <locationX>1600</locationX>
        <locationY>1561</locationY>
        <assignRecordIdToReference>var_newauthid</assignRecordIdToReference>
        <connector>
            <targetReference>no_card_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>Invoice.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_City__c</field>
            <value>
                <elementReference>Invoice.Billing_Town__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_Country__c</field>
            <value>
                <elementReference>Invoice.Billing_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_PostalCode__c</field>
            <value>
                <elementReference>Invoice.Billing_Postcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_Street__c</field>
            <value>
                <elementReference>Invoice.Billing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Company_Name__c</field>
            <value>
                <elementReference>Invoice.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Email__c</field>
            <value>
                <elementReference>Invoice.Account_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__First_Name__c</field>
            <value>
                <elementReference>Invoice.Customer_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route_Options__c</field>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route_Selected__c</field>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </inputAssignments>
        <object>asp04__Authorisation__c</object>
    </recordCreates>
    <recordCreates>
        <name>refund_other</name>
        <label>refund other</label>
        <locationX>1239</locationX>
        <locationY>1872</locationY>
        <inputAssignments>
            <field>Customer_Invoice__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Reason__c</field>
            <value>
                <elementReference>Refund_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Amount__c</field>
            <value>
                <elementReference>Enter_refund_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Date__c</field>
            <value>
                <elementReference>Enter_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route__c</field>
            <value>
                <stringValue>BACS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment__c</field>
            <value>
                <elementReference>Select_payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Refund_Stage__c</field>
            <value>
                <stringValue>Refunded to customer</stringValue>
            </value>
        </inputAssignments>
        <object>asp04__Refund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_auth</name>
        <label>get auth</label>
        <locationX>2506</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Card_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcs_auths</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>asp04__Authorisation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_invoice_balance</name>
        <label>get invoice balance</label>
        <locationX>2188</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pending_payments_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Customer_Invoice__c</object>
        <outputAssignments>
            <assignToReference>var_balance_check</assignToReference>
            <field>Balance_Outstanding_with_Interest__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_invoice_payments</name>
        <label>get invoice payments</label>
        <locationX>2027</locationX>
        <locationY>1129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pending_payments</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Customer_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>asp04__Payment_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted for collection</stringValue>
            </value>
        </filters>
        <filters>
            <field>asp04__Payment_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting submission</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>asp04__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_new_auth</name>
        <label>get new auth</label>
        <locationX>1369</locationX>
        <locationY>1560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>new_card_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_newauthid</elementReference>
            </value>
        </filters>
        <object>asp04__Authorisation__c</object>
        <outputAssignments>
            <assignToReference>newauth_status</assignToReference>
            <field>asp04__Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newauth_url</assignToReference>
            <field>asp04__eCommerce_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_new_auth_2</name>
        <label>get new auth 2</label>
        <locationX>1371</locationX>
        <locationY>1252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>new_auth_in_force</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_newauthid</elementReference>
            </value>
        </filters>
        <object>asp04__Authorisation__c</object>
        <outputAssignments>
            <assignToReference>newauth_status</assignToReference>
            <field>asp04__Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newauth_url</assignToReference>
            <field>asp04__eCommerce_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_pending_payments_2</name>
        <label>get pending payments 2</label>
        <locationX>2008</locationX>
        <locationY>1582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_invoice_balance</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>Customer_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>asp04__Payment_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting submission</stringValue>
            </value>
        </filters>
        <filters>
            <field>asp04__Payment_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted for collection</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>asp04__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Invoice</name>
        <label>Invoice</label>
        <locationX>2052</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outstanding_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Customer_Invoice_with_Payment_details_Recd_Amount_LESS_than_Balance_Outst</name>
        <label>Update Customer Invoice with Payment details (Recd Amount LESS than Balance Outstanding)</label>
        <locationX>2116</locationX>
        <locationY>2113</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>alternative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Notes__c</field>
            <value>
                <elementReference>Payment_Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>credit_reason_error</name>
        <label>credit reason error</label>
        <locationX>1696</locationX>
        <locationY>2086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>credit_reason_empty_text</name>
            <fieldText>&lt;p&gt;Credit reason cannot be empty!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>1902</locationX>
        <locationY>2066</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Something went wrong :(&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please try again. If the issue persists, please contact Chumley Support.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invoice_Fully_Paid</name>
        <label>Invoice Fully Paid</label>
        <locationX>1849</locationX>
        <locationY>962</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>fullypaidtext</name>
            <fieldText>&lt;p&gt;This invoice has an outstanding balance of {!Invoice.Balance_Outstanding_with_Interest__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>new_card_screen</name>
        <label>new card screen</label>
        <locationX>1371</locationX>
        <locationY>1407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_new_auth_2</targetReference>
        </connector>
        <fields>
            <name>url</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Authorisation Status {!newauth_status}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://{!asp_url}/PMWeb1?aid={!var_newauthid}&amp;amp;DLcnp=jdi&amp;amp;pmRef={!asp_custID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;&lt;b&gt;Add card details here&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;and then click &quot;Next&quot; to see the submission status&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>no_card_screen</name>
        <label>new card screen</label>
        <locationX>1486</locationX>
        <locationY>1572</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_new_auth</targetReference>
        </connector>
        <fields>
            <name>nocardscreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Authorisation created successfully. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;Account: {!Invoice.Account__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Click next to enter card details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>payment_options</name>
        <label>payment options</label>
        <locationX>1801</locationX>
        <locationY>1326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>action_choice_decision</targetReference>
        </connector>
        <fields>
            <name>payment_options_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>payment_options_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>invoice_info</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Invoice.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Invoice Gross: {!Invoice.Charge_Gross__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Total Credits&lt;/span&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;: {!Invoice.Customer_Credit_Total__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: rgb(62, 62, 60);&quot;&gt;Total Payments: {!Invoice.Sum_of_Payments__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: rgb(62, 62, 60);&quot;&gt;Total Refunds: {!Invoice.Sum_of_Refunds__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: rgb(62, 62, 60);&quot;&gt;Total Chargebacks: {!Invoice.Sum_of_chargebacks__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Outstanding balance:  {!Invoice.Balance_Outstanding_with_Interest__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>payment_options_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>action_choice</name>
                    <choiceReferences>choice_payment</choiceReferences>
                    <choiceReferences>choice_refund</choiceReferences>
                    <choiceReferences>choice_chargeback</choiceReferences>
                    <choiceReferences>choice_credit</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>choice_payment</defaultSelectedChoiceReference>
                    <fieldText>Select action</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>f_manager_profile</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>action_choice2</name>
                    <choiceReferences>choice_payment</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>choice_payment</defaultSelectedChoiceReference>
                    <fieldText>Select action</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>f_manager_profile</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Card Payment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Other Payment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Payment Options</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>f_toggle_value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>f_disable_toggle</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>1 OR 2 OR 3</conditionLogic>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_chargeback</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>card_refund</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Card Refund</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Card</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>f_disable_toggle</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Other</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>card_refund_value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_refund</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>f_manager_profile</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>payment_options_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_payment_amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>f_outstanding_balance</elementReference>
                    </defaultValue>
                    <fieldText>Enter payment amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid amount&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Enter_payment_amount} != 0 
&amp;&amp;
( 
{!toggle.value}==FALSE
||
{!Enter_payment_amount} &lt;={!f_outstanding_balance})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Enter_Credit_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Invoice.Charge_Gross__c</elementReference>
                    </defaultValue>
                    <fieldText>Enter credit amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_credit</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Enter_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Enter Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 AND NOT(4) ) OR (2 AND NOT(5)) OR 3 OR 6 OR (7 AND NOT(4))</conditionLogic>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_refund</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_chargeback</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>card_refund.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_credit</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>selected_card</name>
                    <choiceReferences>rcs_auths</choiceReferences>
                    <choiceReferences>Choice_Add_New_Card</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select card</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;Any &quot;In Force&quot; card authorisations will appear on this list.&lt;/p&gt;&lt;p&gt;Select a card can click next to process payment immediately.&lt;/p&gt;&lt;p&gt;You also have the option to add a new card.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>credit_Reason</name>
                    <choiceReferences>credit_reason_choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Credit Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_credit</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Refund_Reason</name>
                    <choiceReferences>refund_reason_choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Refund Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_refund</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>alternative</name>
                    <choiceReferences>Choice_Cash</choiceReferences>
                    <choiceReferences>Choice_BACs</choiceReferences>
                    <choiceReferences>Choice_Chq</choiceReferences>
                    <choiceReferences>ChoiceBadDebt</choiceReferences>
                    <choiceReferences>choiceworldpay</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Alternative Payment Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_chargeback</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Reference Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the reference which will be used to reconcile the payment.&lt;/p&gt;&lt;p&gt;E.g Worldpay/BACS/Cheque number&lt;/p&gt;&lt;p&gt;For cash, enter the name of the person holding the cash, adding detail in &quot;Payment Notes&quot;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Enter_chargeback_amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Enter chargeback amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_chargeback</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Enter_refund_amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Enter refund amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Enter a valid amount&lt;/p&gt;</errorMessage>
                        <formulaExpression>and(
{!Enter_refund_amount}&gt;0
, 
{!Enter_refund_amount}&lt;=

({!var_payment_for_refund_total_value}
 - ({!var_chargeback_total} +{!var_refund_total})
)
)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_refund</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Payment_Notes</name>
                    <defaultValue>
                        <stringValue>{!Invoice.Payment_Notes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Payment Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;These notes are stored on the invoice.&lt;/p&gt;&lt;p&gt;Please &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;some details about the payment you are adding.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_payment</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Select_card_payment</name>
                    <choiceReferences>rcs_payments_for_card_refund</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select card payment</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 AND 3) OR (4 AND 2 AND 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>card_refund.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_chargeback</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>f_manager_profile</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Select_payment</name>
                    <choiceReferences>rcs_payments_for_refund</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select payment</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 AND 2 AND NOT(3)) OR (NOT(3) AND 4 AND 5) OR (3 AND (2 OR 4))</conditionLogic>
                        <conditions>
                            <leftValueReference>card_refund.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_refund</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>f_manager_profile</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>action_choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_chargeback</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>overpayment_display_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This invoice has been fully paid, and you cannot take payment by card.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>allow_overpayment_true</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>payment_options_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>payment_options_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>payment_options_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>action_choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_payment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>payment_options_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>payment_options_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>payment_options_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>action_choice</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>choice_payment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_pending</name>
        <label>Payment pending</label>
        <locationX>2318</locationX>
        <locationY>1326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>pending_payemnt_message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;There is a pending payment against this invoice. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;You may not take any action until the status of the existing submission is received.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;It may take up to 30 mins to fully process payment - if after this time you are still not able to process payments please raise this issues with Chumley support, along with the invoice number &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Invoice.&lt;/b&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>refund_reason_empty_screen</name>
        <label>refund_reason_empty_screen</label>
        <locationX>1564</locationX>
        <locationY>2055</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>refund_reason_empty_text</name>
            <fieldText>&lt;p&gt;Refund reason cannot be empty!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2243</locationX>
        <locationY>717</locationY>
        <connector>
            <targetReference>Invoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newauth_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newauth_url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_balance_check</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>total chargeback - to be used in validation rule for refund amount</description>
        <name>var_chargeback_total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_newauthid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_payment_for_refund_total_value</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_PaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_paymetn_value</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_refund_asperato_ref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>total refund amount on the payment we are going to be making a refund against. this value will be used in the validation check on refund amount</description>
        <name>var_refund_total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
