unpackaged/main/default/flows/PHASE_2_Get_Travel_To_Data_for_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>PHASE 2 Get Travel To Data for Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Get Travel To Data for Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Assigned_Resource_Data</name>
        <label>Get Assigned Resource Data</label>
        <locationX>712</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServApptData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServResourceData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>var_AssignedResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EstimatedTravelTime</queriedFields>
        <queriedFields>NOW_Add_Estimated_Travel_Time__c</queriedFields>
        <queriedFields>NOW_Add_Estimated_Travel_Time_Duration__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SR_Data</name>
        <label>Get SR Data</label>
        <locationX>392</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Resource_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_ServResourceData</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SR_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AssignedResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>var_ServApptData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_ServResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
</Flow>
