unpackaged/main/default/flows/PHASE_2_Sum_PO_PREQ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_PO_Total</name>
        <label>Add to PO Total</label>
        <locationX>1479</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>var_Sum_PO_Rolled_up_POLI_Ex_VAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_POs.Rolled_up_POLI_Ex_VAT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_POs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_PREQ_total</name>
        <label>Add to PREQ total</label>
        <locationX>855</locationX>
        <locationY>71</locationY>
        <assignmentItems>
            <assignToReference>var_Sum_PO_PREQ_TotalCost_Excl_VAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_PO_PREQ.Total_Costs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_PO_PREQ</targetReference>
        </connector>
    </assignments>
    <interviewLabel>PHASE 2 Sum PO PREQ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Sum PO PREQ</label>
    <loops>
        <name>Loop_thru_PO_PREQ</name>
        <label>Loop thru PO PREQ</label>
        <locationX>685</locationX>
        <locationY>148</locationY>
        <collectionReference>var_Coll_PREQ_for_WO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_PREQ_total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Pre_Existing_POs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_POs</name>
        <label>Loop thru POs</label>
        <locationX>1295</locationX>
        <locationY>91</locationY>
        <collectionReference>var_Coll_POs_for_WO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_PO_Total</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_PO_PREQ</name>
        <label>Get All PO PREQ</label>
        <locationX>504</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_PO_PREQ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Purchase Order</stringValue>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>var_Coll_PREQ_for_WO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Costs__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Pre_Existing_POs</name>
        <label>Get All Pre-Existing POs</label>
        <locationX>1085</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_POs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputReference>var_Coll_POs_for_WO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rolled_up_POLI_Ex_VAT__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_PO_PREQ</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Coll_POs_for_WO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>var_Coll_PREQ_for_WO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>var_Sum_PO_PREQ_TotalCost_Excl_VAT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Sum_PO_Rolled_up_POLI_Ex_VAT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
