unpackaged/main/default/flows/PHASE_2_Create_EPR_from_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assign_RateofPat_Tier_1</name>
        <label>assign RateofPat Tier 1</label>
        <locationX>752</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>var_RateofPay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCard_Data.Pay_Tier_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EPRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RateofPat_Tier_10</name>
        <label>assign RateofPat Tier 10</label>
        <locationX>1364</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>var_RateofPay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCard_Data.Pay_Tier_10__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EPRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RateofPat_Tier_2</name>
        <label>assign RateofPat Tier 2</label>
        <locationX>756</locationX>
        <locationY>845</locationY>
        <assignmentItems>
            <assignToReference>var_RateofPay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCard_Data.Pay_Tier_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EPRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RateofPat_Tier_3</name>
        <label>assign RateofPat Tier 3</label>
        <locationX>737</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>var_RateofPay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCard_Data.Pay_Tier_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EPRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RateofPat_Tier_4</name>
        <label>assign RateofPat Tier 4</label>
        <locationX>857</locationX>
        <locationY>889</locationY>
        <assignmentItems>
            <assignToReference>var_RateofPay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCard_Data.Pay_Tier_4__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EPRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RateofPat_Tier_5</name>
        <label>assign RateofPat Tier 5</label>
        <locationX>977</locationX>
        <locationY>1009</locationY>
        <assignmentItems>
            <assignToReference>var_RateofPay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCard_Data.Pay_Tier_5__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EPRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RateofPat_Tier_6</name>
        <label>assign RateofPat Tier 6</label>
        <locationX>1029</locationX>
        <locationY>898</locationY>
        <assignmentItems>
            <assignToReference>var_RateofPay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCard_Data.Pay_Tier_6__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EPRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RateofPat_Tier_7</name>
        <label>assign RateofPat Tier 7</label>
        <locationX>1129</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>var_RateofPay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCard_Data.Pay_Tier_7__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EPRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RateofPat_Tier_8</name>
        <label>assign RateofPat Tier 8</label>
        <locationX>1219</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>var_RateofPay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCard_Data.Pay_Tier_8__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EPRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RateofPat_Tier_9</name>
        <label>assign RateofPat Tier 9</label>
        <locationX>1288</locationX>
        <locationY>1042</locationY>
        <assignmentItems>
            <assignToReference>var_RateofPay_Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRateCard_Data.Pay_Tier_9__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_EPRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_budget_variables</name>
        <label>set budget variables</label>
        <locationX>1090</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>var_no_of_EPRS</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_EPRs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_EPR_RCS_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_exisiting_EPR_to_FALSE</name>
        <label>Set exisiting EPR to FALSE</label>
        <locationX>1298</locationX>
        <locationY>1680</locationY>
        <assignmentItems>
            <assignToReference>var_exinsting_EPR</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionchoiceresult</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_epr_info</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>existingepr</name>
        <choiceText>Existing EPR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>newepr</name>
        <choiceText>New EPR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_Tier_Type</name>
        <label>check Tier Type</label>
        <locationX>1178</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Tier_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Allocated_Engineer__r.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RateofPat_Tier_1</targetReference>
            </connector>
            <label>If Tier 1</label>
        </rules>
        <rules>
            <name>If_Tier_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Allocated_Engineer__r.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RateofPat_Tier_2</targetReference>
            </connector>
            <label>If Tier 2</label>
        </rules>
        <rules>
            <name>If_Tier_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Allocated_Engineer__r.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RateofPat_Tier_3</targetReference>
            </connector>
            <label>If Tier 3</label>
        </rules>
        <rules>
            <name>If_Tier_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Allocated_Engineer__r.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RateofPat_Tier_4</targetReference>
            </connector>
            <label>If Tier 4</label>
        </rules>
        <rules>
            <name>If_Tier_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Allocated_Engineer__r.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RateofPat_Tier_5</targetReference>
            </connector>
            <label>If Tier 5</label>
        </rules>
        <rules>
            <name>If_Tier_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Allocated_Engineer__r.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RateofPat_Tier_6</targetReference>
            </connector>
            <label>If Tier 6</label>
        </rules>
        <rules>
            <name>If_Tier_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Allocated_Engineer__r.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RateofPat_Tier_7</targetReference>
            </connector>
            <label>If Tier 7</label>
        </rules>
        <rules>
            <name>If_Tier_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Allocated_Engineer__r.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RateofPat_Tier_8</targetReference>
            </connector>
            <label>If Tier 8</label>
        </rules>
        <rules>
            <name>If_Tier_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Allocated_Engineer__r.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RateofPat_Tier_9</targetReference>
            </connector>
            <label>If Tier 9</label>
        </rules>
        <rules>
            <name>If_Tier_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Allocated_Engineer__r.Rate_of_Pay_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier 10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RateofPat_Tier_10</targetReference>
            </connector>
            <label>If Tier 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_new_or_old</name>
        <label>decision_new_or_old</label>
        <locationX>1090</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>update_sr_with_existing_epr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>old</defaultConnectorLabel>
        <rules>
            <name>new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Invoice</targetReference>
            </connector>
            <label>new</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_ARC</name>
        <label>found ARC?</label>
        <locationX>1046</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>getStandardARC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Account.Rate_Card__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTRC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_epr</name>
        <label>has epr?</label>
        <locationX>882</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>found_ARC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Engineer_Pay_Requisition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>has_req</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_EPR_RCS_NULL</name>
        <label>is EPR RCS NULL</label>
        <locationX>1080</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>get_epr_info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_no_of_EPRS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_exisiting_EPR_to_FALSE</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trade_Rate_card_Found</name>
        <label>Trade Rate card Found</label>
        <locationX>1176</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>getStandardARC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_TradeRateCard_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Tier_Type</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Rate Card and Rate Restructure</description>
    <dynamicChoiceSets>
        <name>existingeprs</name>
        <dataType>String</dataType>
        <displayField>rcs_label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.Work_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.Allocated_Engineer__c</elementReference>
            </value>
        </filters>
        <object>Engineer_Pay_Requisition__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>calc_rate_of_pay</name>
        <dataType>Number</dataType>
        <expression>{!var_RateofPay_Percentage}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_budget_labour</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Service_Appointment.Work_Order__r.Costs_and_Charges__r.Cost_Labour__c} +
{!Get_Service_Appointment.Work_Order__r.Costs_and_Charges__r.Cost_List_Price_Services__c} -
{!Get_Service_Appointment.Work_Order__r.Costs_and_Charges__r.Cost_Discount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_budget_materials</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Service_Appointment.Work_Order__r.Budget_Van_Stock__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_budget_other</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Service_Appointment.Work_Order__r.Budget_Other__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_budget_remaining</name>
        <dataType>Currency</dataType>
        <expression>{!f_budget_total} - {!Get_Service_Appointment.Work_Order__r.Requisition_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_budget_total</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Service_Appointment.Work_Order__r.Budget_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_new_req_total</name>
        <dataType>Currency</dataType>
        <expression>0</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_r1_pay</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Service_Appointment.Hourly_Charge_R1__c}*{!calc_rate_of_pay}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_r2_pay</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Service_Appointment.Hourly_Charge_R2__c}*{!calc_rate_of_pay}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_r3_pay</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Service_Appointment.Hourly_Charge_R3__c}*{!calc_rate_of_pay}/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PHASE 2 Create EPR from SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Create EPR from SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_epr</name>
        <label>create epr</label>
        <locationX>731</locationX>
        <locationY>2061</locationY>
        <connector>
            <targetReference>update_sr</targetReference>
        </connector>
        <faultConnector>
            <targetReference>overbudget</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Chargeable_Units_R1__c</field>
            <value>
                <elementReference>R1_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chargeable_Units_R2__c</field>
            <value>
                <elementReference>R2_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chargeable_Units_R3__c</field>
            <value>
                <elementReference>R3_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Invoice__c</field>
            <value>
                <elementReference>get_Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>Get_Service_Appointment.Work_Order__r.Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Fixed_Price__c</field>
            <value>
                <elementReference>Pay_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Lead_Fee__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Materials__c</field>
            <value>
                <elementReference>Pay_Materials</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_of_Charge_R1__c</field>
            <value>
                <elementReference>Get_Service_Appointment.Hourly_Charge_R1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_of_Charge_R2__c</field>
            <value>
                <elementReference>Get_Service_Appointment.Hourly_Charge_R2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_of_Charge_R3__c</field>
            <value>
                <elementReference>Get_Service_Appointment.Hourly_Charge_R3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_of_Pay__c</field>
            <value>
                <elementReference>calc_rate_of_pay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Resource_Email__c</field>
            <value>
                <elementReference>Get_Service_Appointment.Allocated_Engineer__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Resource__c</field>
            <value>
                <elementReference>Get_Service_Appointment.Allocated_Engineer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Get_Service_Appointment.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>Engineer_Pay_Requisition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_EPRs</name>
        <label>get EPRs</label>
        <locationX>1087</locationX>
        <locationY>1141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_wo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.Assigned_Engineer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Engineer_Pay_Requisition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Invoice</name>
        <label>get Invoice</label>
        <locationX>773</locationX>
        <locationY>1839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_epr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.Job_record_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Invoice__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>889</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_epr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_saID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_wo</name>
        <label>get wo</label>
        <locationX>1273</locationX>
        <locationY>1225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_budget_variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>var_budget_labour</assignToReference>
            <field>Budget_Labour__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_budget_other</assignToReference>
            <field>Budget_Other__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_budget_remaining</assignToReference>
            <field>Budget_Remaining__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_budget_total</assignToReference>
            <field>Budget_Total__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_budget_materials</assignToReference>
            <field>Budget_Van_Stock__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getStandardARC</name>
        <label>getStandardARC</label>
        <locationX>1336</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStandardTRC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Standard__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Rate_Card_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStandardTRC</name>
        <label>getStandardTRC</label>
        <locationX>1336</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Tier_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStandardARC.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.Work_Order__r.Trade__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Rate_Card_Trade__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTRC</name>
        <label>getTRC</label>
        <locationX>1055</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trade_Rate_card_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.Account.Rate_Card__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.Work_Order__r.Trade__c</elementReference>
            </value>
        </filters>
        <object>Rate_Card_Trade__c</object>
        <outputReference>var_TradeRateCard_Data</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Charge_R1__c</queriedFields>
        <queriedFields>Charge_R2__c</queriedFields>
        <queriedFields>Charge_R3__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Default_For_Estimate__c</queriedFields>
        <queriedFields>Lead_Fee__c</queriedFields>
        <queriedFields>Pay_Tier_1__c</queriedFields>
        <queriedFields>Pay_Tier_2__c</queriedFields>
        <queriedFields>Pay_Tier_3__c</queriedFields>
        <queriedFields>Pay_Tier_4__c</queriedFields>
        <queriedFields>Pay_Tier_5__c</queriedFields>
        <queriedFields>Pay_Tier_6__c</queriedFields>
        <queriedFields>Pay_Tier_7__c</queriedFields>
        <queriedFields>Pay_Tier_8__c</queriedFields>
        <queriedFields>Pay_Tier_9__c</queriedFields>
        <queriedFields>Pay_Tier_10__c</queriedFields>
        <queriedFields>Trade_Name__c</queriedFields>
        <queriedFields>Trade__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_sr</name>
        <label>update sr</label>
        <locationX>909</locationX>
        <locationY>2058</locationY>
        <connector>
            <targetReference>done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_saID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Engineer_Pay_Requisition__c</field>
            <value>
                <elementReference>create_epr</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_sr_with_existing_epr</name>
        <label>update sr with existing epr</label>
        <locationX>1272</locationX>
        <locationY>1951</locationY>
        <connector>
            <targetReference>done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_saID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Engineer_Pay_Requisition__c</field>
            <value>
                <elementReference>existingeprs</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>done</name>
        <label>done</label>
        <locationX>1093</locationX>
        <locationY>2059</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>done2</name>
            <fieldText>&lt;p&gt;Done&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>get_epr_info</name>
        <label>get_epr_info</label>
        <locationX>1087</locationX>
        <locationY>1679</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_new_or_old</targetReference>
        </connector>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Budget&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Labour: {!var_budget_labour} | &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Materials&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;: {!var_budget_materials} | &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Other&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;: {!var_budget_other}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!var_budget_total}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Spent&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;: £{!Get_Service_Appointment.Work_Order__r.Requisition_Total__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Remaining&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;: {!var_budget_remaining}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Requisition&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Get_Service_Appointment.Allocated_Engineer_First_Name__c} &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Service_Appointment.Allocated_Engineer_Last_Name__c} ({!Get_Service_Appointment.Allocated_Engineer__r.Rate_of_Pay_Tier__c} - {!calc_rate_of_pay}%)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Attendance Duration: {!Get_Service_Appointment.Duration} hr(s)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hourly Pay Rate:&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; R1 - {!f_r1_pay}; R2 - {!f_r2_pay}; R3 - {!f_r3_pay}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>toggle1</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New EPR</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>actionchoiceresult</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>R1_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>R1 Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>1</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle1.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>R2_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>R2 Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>1</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle1.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>R3_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>R3 Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle1.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pay_Materials</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Pay Materials</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle1.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pay_Other</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Pay Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle1.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>choose_EPR</name>
            <choiceReferences>existingeprs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select EPR</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle1.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_no_of_EPRS</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>noeprsmessage</name>
            <fieldText>&lt;p&gt;There are no EPRs for the resource {!Get_Service_Appointment.Allocated_Engineer_First_Name__c} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Service_Appointment.Allocated_Engineer_Last_Name__c} &lt;/span&gt; against this Work Order. Please create a new EPR.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle1.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_no_of_EPRS</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>has_req</name>
        <label>has req</label>
        <locationX>694</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>yes_display_text</name>
            <fieldText>&lt;p&gt;This Service Appointment has a Requisition.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>overbudget</name>
        <label>overbudget</label>
        <locationX>473</locationX>
        <locationY>1683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_epr_info</targetReference>
        </connector>
        <fields>
            <name>displyatext</name>
            <fieldText>&lt;p&gt;over budget&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>764</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionchoiceresult</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_budget_labour</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_budget_materials</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_budget_other</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_budget_remaining</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_budget_total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_exinsting_EPR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_no_of_EPRS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RateofPay_Percentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_rc_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_saID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TradeRateCard_Data</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Card_Trade__c</objectType>
    </variables>
</Flow>
