unpackaged/main/default/flows/PHASE_2_Work_Order_is_Created_or_Edited_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Arrival_Window_Start_End_is_Changed</name>
        <label>Arrival Window Start/End is Changed</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Status_Accepted_AND_Reactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arrival_Window_Start_End_is_Changed_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Arrival_Window_Start_TEXT__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Arrival_Window_End_TEXT__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Flow_Update_SA</targetReference>
            </connector>
            <label>Arrival Window Start/End is Changed True</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Status_Complete</name>
        <label>SA Status=Complete</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Scope_Change_Update_Job_with_Scope_of_Works</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_Status_Complete_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Appointment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Costs_and_Charges__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_C_C_Status_to_Info_Complete</targetReference>
            </connector>
            <label>SA Status=Complete True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scope_Change_Update_Job_with_Scope_of_Works</name>
        <label>Scope Change - Update Job with Scope of Works</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Status_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scope_Change_Update_Job_with_Scope_of_Works_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Scope_of_Works_Amended_by_Operative__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Scope_of_Works_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Scope_of_Works_3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Include_in_Estimate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Costs_and_Charges__r.Include_in_estimate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Flow</targetReference>
            </connector>
            <label>Scope Change - Update Job with Scope of Works True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Accepted_AND_Reactive</name>
        <label>Status = Accepted AND Reactive</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Accepted_AND_Reactive_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted/Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_status_to_Ongoing</targetReference>
            </connector>
            <label>Status = Accepted AND Reactive True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Rejected</name>
        <label>Status=Rejected</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Arrival_Window_Start_End_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Rejected_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Status_to_Rejected</targetReference>
            </connector>
            <label>Status=Rejected True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_Line_Item_Duration_is_changed</name>
        <label>Work Order Line Item Duration is changed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>SA_Status_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_Order_Line_Item_Duration_is_changed_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Order_Line_Item_Duration__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FP_Duration_Minutes</targetReference>
            </connector>
            <label>Work Order Line Item Duration is changed True</label>
        </rules>
    </decisions>
    <description>Removed ProfileId Metadata</description>
    <environments>Default</environments>
    <formulas>
        <name>Duration</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Work_Order_Line_Item_Duration__c} * 60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PHASE 2 Work Order is Created or Edited Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Work Order is Created or Edited Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Job_status_to_Ongoing</name>
        <label>Job status to &quot;Ongoing&quot;</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_C_C_Status_to_Info_Complete</name>
        <label>Update C&amp;C Status to Info Complete</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Scope_Change_Update_Job_with_Scope_of_Works</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Costs_and_Charges__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Info Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Costs_and_Charges__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FP_Duration_Minutes</name>
        <label>Update FP Duration Minutes</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>SA_Status_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Costs_and_Charges__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FP_Duration_Minutes__c</field>
            <value>
                <elementReference>Duration</elementReference>
            </value>
        </inputAssignments>
        <object>Costs_and_Charges__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Status_to_Rejected</name>
        <label>Update Job Status to Rejected</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Arrival_Window_Start_End_is_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Work_Order_Line_Item_Duration_is_changed</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Call_Flow</name>
        <label>Call Flow</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Status_Rejected</targetReference>
        </connector>
        <flowName>FL_Amalgamate_WO_Scope_of_Works_and_enter_on_Job_record</flowName>
        <inputAssignments>
            <name>var_WorkOrderID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Flow_Update_SA</name>
        <label>Call Flow - Update SA</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Status_Accepted_AND_Reactive</targetReference>
        </connector>
        <flowName>PHASE_2_FL_Upon_WO_Arrival_Wind_Start_End_Date_Time_Changed_Update_SA</flowName>
        <inputAssignments>
            <name>var_ArrivalWindowEnd_TEXT</name>
            <value>
                <elementReference>$Record.Arrival_Window_End_TEXT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ArrivalWindowStart_TEXT</name>
            <value>
                <elementReference>$Record.Arrival_Window_Start_TEXT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RequestedDate</name>
            <value>
                <elementReference>$Record.Requested_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_WOID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
