unpackaged/main/default/flows/PHASE_2_FL_OFFICE_Create_Purchase_Order_from_Fixed_Price_WO_Check_PO_Value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Ass_FALSE</name>
        <label>Ass FALSE</label>
        <locationX>661</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>var_BoolAmountExceeds</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Ass_TRUE</name>
        <label>Ass TRUE</label>
        <locationX>757</locationX>
        <locationY>89</locationY>
        <assignmentItems>
            <assignToReference>var_BoolAmountExceeds</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenValue_of_PO_Exceeds_Spare_Money_for_POs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_val_of_PO_w_VAT_exceed_val_of_Tot_PREQ_incl_other_POs</name>
        <label>Does the val of PO w VAT exceed val of Tot PREQ incl. other POs</label>
        <locationX>528</locationX>
        <locationY>139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exceed_total_of_PREQ_incl_other_POs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Value_Of_PO_Incl_VAT</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_SpareToSpendOnPOs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_TRUE</targetReference>
            </connector>
            <label>Exceed total of PREQ incl. other POs</label>
        </rules>
        <rules>
            <name>Does_NOT_Exceed_total_of_PREQ_incl_other_POs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Value_Of_PO_Incl_VAT</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>var_SpareToSpendOnPOs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_FALSE</targetReference>
            </connector>
            <label>Does NOT Exceed total of PREQ incl. other POs</label>
        </rules>
    </decisions>
    <interviewLabel>PHASE 2 FL - OFFICE - Create Purchase Order from Fixed Price WO - Check PO Value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 FL - OFFICE - Create Purchase Order from Fixed Price WO - Check PO Value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ScreenValue_of_PO_Exceeds_Spare_Money_for_POs</name>
        <label>Value of PO Exceeds Spare Money for POs</label>
        <locationX>901</locationX>
        <locationY>117</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtValue_of_PO_Exceeds_Spare_Money_for_POsNotNull</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The value of the Purchase order requested ({!var_Value_Of_PO_Incl_VAT} incl. VAT) exceeds the value of the Product Required (budget) of £{!var_WorkOrderData.Sum_of_WO_Product_Required_Incl_VAT__c} Incl. VAT (including any existing Purchase Orders).&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;The existing amount for Purchase Orders is £{!var_WorkOrderData.Sum_of_Purchase_Orders_Incl_VAT__c} ({!var_SpareToSpendOnPOs} left to spend).&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please press Next to return to the previous screen.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_WorkOrderData.Sum_of_Purchase_Orders_Incl_VAT__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayTxtValue_of_PO_Exceeds_Spare_Money_for_POsISNULL</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The value of the Purchase order requested ({!var_Value_Of_PO_Incl_VAT} incl. VAT) exceeds the value of the Product Required (budget) of £{!var_WorkOrderData.Sum_of_WO_Product_Required_Incl_VAT__c} Incl. VAT (including any existing Purchase Orders).&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;The existing amount for Purchase Orders is £0.00&lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; ({!var_SpareToSpendOnPOs} left to spend)&lt;/b&gt;&lt;b&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please press Next to return to the previous screen.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>var_WorkOrderData.Sum_of_Purchase_Orders_Incl_VAT__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_WorkOrderData.Sum_of_Purchase_Orders_Incl_VAT__c</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Does_the_val_of_PO_w_VAT_exceed_val_of_Tot_PREQ_incl_other_POs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_BoolAmountExceeds</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_SpareToSpendOnPOs</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Value_Of_PO_Incl_VAT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
