unpackaged/main/default/flows/PHASE_2_Update_Service_Appointment_Gantt_Colour_when_Cust_Invoice_paid_FIXED_PRI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Ass_temp_SA_var_to_Coll</name>
        <label>Ass temp SA var to Coll</label>
        <locationX>855</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>var_CollSAs_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Temp_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_SAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_temp_WO_var_to_Coll</name>
        <label>Ass temp WO var to Coll</label>
        <locationX>965</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>var_CollWOs_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Temp_WO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_WOs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_temp_SA_var</name>
        <label>Ass to temp SA var</label>
        <locationX>863</locationX>
        <locationY>37</locationY>
        <assignmentItems>
            <assignToReference>var_Temp_SA.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_SAs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Temp_SA.FSL__GanttColor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Const_VisitComplete_Hex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_temp_SA_var_to_Coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_to_temp_WO_var</name>
        <label>Ass to temp WO var</label>
        <locationX>995</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>var_Temp_WO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Temp_WO.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Temp_WO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_temp_WO_var_to_Coll</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>var_Const_VisitComplete_Hex</name>
        <dataType>String</dataType>
        <value>
            <stringValue>#ced5df</stringValue>
        </value>
    </constants>
    <formulas>
        <name>Form_15_char_Job_ID</name>
        <dataType>String</dataType>
        <expression>LEFT({!var_CustInvData.Job__c},15)</expression>
    </formulas>
    <interviewLabel>PHASE 2 Update Service Appointment Gantt Colour when Cust Invoice paid - FIXED PRICE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Update Service Appointment Gantt Colour when Cust Invoice paid - FIXED PRICE</label>
    <loops>
        <name>Loop_Thru_SAs</name>
        <label>Loop Thru SAs</label>
        <locationX>619</locationX>
        <locationY>119</locationY>
        <collectionReference>var_CollSAs_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_to_temp_SA_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_SAs_Gantt_colour</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_WOs</name>
        <label>Loop Thru WOs</label>
        <locationX>819</locationX>
        <locationY>568</locationY>
        <collectionReference>var_Coll_WOs_for_Job</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_to_temp_WO_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_WOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_SAs_for_a_Job</name>
        <label>Get All SAs for a Job</label>
        <locationX>444</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_SAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Form_15_char_Job_ID</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_CollSAs_1</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_WOs_for_Job</name>
        <label>Get All WOs for Job</label>
        <locationX>625</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_WOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CustInvData.Job__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_in_Estimate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_Coll_WOs_for_Job</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_SAs_Gantt_colour</name>
        <label>Update All SAs Gantt colour</label>
        <locationX>623</locationX>
        <locationY>343</locationY>
        <connector>
            <targetReference>Get_All_WOs_for_Job</targetReference>
        </connector>
        <inputReference>var_CollSAs_To_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_WOs</name>
        <label>Update All WOs</label>
        <locationX>808</locationX>
        <locationY>771</locationY>
        <inputReference>var_CollWOs_To_Update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_SAs_for_a_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Coll_WOs_for_Job</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_CollSAs_1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_CollSAs_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_CollWOs_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_CustInvData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
    <variables>
        <name>var_Temp_SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_Temp_WO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
