unpackaged/main/default/flows/PHASE_2_FL_Payment_record_deleted_update_Cust_Inv_with_No_Payments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_1_to_counter</name>
        <label>Add 1 to counter</label>
        <locationX>1092</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>var_CountPaymentRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Payment_records_to_count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Zero_Payment_records</name>
        <label>Check for Zero Payment records</label>
        <locationX>604</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Payment_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CollPaymentRecordsForCustInv</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null Payment Records</label>
        </rules>
        <rules>
            <name>Got_Payment_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CollPaymentRecordsForCustInv</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Payment_records_to_count</targetReference>
            </connector>
            <label>Got Payment Records</label>
        </rules>
    </decisions>
    <interviewLabel>PHASE 2 - FL - Payment record deleted update Cust Inv with No. Payments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 - FL - Payment record deleted update Cust Inv with No. Payments</label>
    <loops>
        <name>Loop_Thru_Payment_records_to_count</name>
        <label>Loop Thru Payment records to count</label>
        <locationX>810</locationX>
        <locationY>66</locationY>
        <collectionReference>var_CollPaymentRecordsForCustInv</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cust_Inv_with_No_Payments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Payments_for_Cust_Inv</name>
        <label>Get All Payments for Cust Inv</label>
        <locationX>491</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Zero_Payment_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Invoice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>asp04__Payment__c</object>
        <outputReference>var_CollPaymentRecordsForCustInv</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cust_Inv_with_No_Payments</name>
        <label>Update Cust Inv with No. Payments</label>
        <locationX>799</locationX>
        <locationY>446</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Invoice__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Payment_Records__c</field>
            <value>
                <elementReference>var_CountPaymentRecords</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Invoice__c</object>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Payments_for_Cust_Inv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Invoice__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>asp04__Payment__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CollPaymentRecordsForCustInv</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>asp04__Payment__c</objectType>
    </variables>
    <variables>
        <name>var_CountPaymentRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
