unpackaged/main/default/flows/PHASE_2_FL_OFFICE_Create_Purchase_Order_from_WO_and_Job_update_CandCs_System_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Got_SA_Ass_TRUE</name>
        <label>Got SA Ass TRUE</label>
        <locationX>1621</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_Bool_Got_SA_or_Not</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type_GOT_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NO_SA_Ass_FALSE</name>
        <label>NO SA Ass FALSE</label>
        <locationX>1615</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>var_Bool_Got_SA_or_Not</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WO_Record_Type_No_SA</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoicePleaseSelect</name>
        <choiceText>Please Select</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Please Select</stringValue>
        </value>
    </choices>
    <constants>
        <name>Const_20_Percent_VAT_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a1t4G000009DRrlQAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_VAT_Rate_Number</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Deliver_to_Client_Deliver_to_Engineer</name>
        <label>Check for Deliver to Client / Deliver to Engineer</label>
        <locationX>2755</locationX>
        <locationY>3372</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deliver_to_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_Select_delivery_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deliver to Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Address</targetReference>
            </connector>
            <label>Deliver to Client</label>
        </rules>
        <rules>
            <name>Deliver_to_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_Select_delivery_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deliver to Engineer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_SA_Engineer_to_collect</targetReference>
            </connector>
            <label>Deliver to Engineer</label>
        </rules>
        <rules>
            <name>Engineer_to_Collect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_Select_delivery_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineer to Collect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Status_to_Sent_Engineer_to_Collect</targetReference>
            </connector>
            <label>Engineer to Collect</label>
        </rules>
        <rules>
            <name>Deliver_to_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_Select_delivery_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deliver to Office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Status_to_Sent_Deliver_to_Office</targetReference>
            </connector>
            <label>Deliver to Office</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Franchisee</name>
        <label>Check for Franchisee</label>
        <locationX>2810</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Franchisee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Is_Franchisee_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Franchisee_s_cannot_create_Purchase_Orders</targetReference>
            </connector>
            <label>Is Franchisee</label>
        </rules>
        <rules>
            <name>Not_Franchisee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Is_Franchisee_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WO_Status</targetReference>
            </connector>
            <label>Not Franchisee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Invalid_Selections</name>
        <label>Check for Invalid Selections</label>
        <locationX>2809</locationX>
        <locationY>1558</locationY>
        <defaultConnector>
            <targetReference>Check_Type_of_PO_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Please_Select_chosen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_select_the_Type_of_Purchase_Order</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Picklist_Select_delivery_option</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Screen_Error_Please_select_both_a_Type_of_PO_and_a_delivery_option</targetReference>
            </connector>
            <label>&#39;Please Select&#39; chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_WO_Status_is_Accepted</name>
        <label>Check if the WO Status is Accepted</label>
        <locationX>882</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>ScreenCredit_or_Key_Account_WO_is_not_Accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_Status_is_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted/Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Appointment_Data</targetReference>
            </connector>
            <label>WO Status is Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SA_Exists</name>
        <label>Check SA Exists</label>
        <locationX>1488</locationX>
        <locationY>702</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceApptData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Got_SA_Ass_TRUE</targetReference>
            </connector>
            <label>Found SA</label>
        </rules>
        <rules>
            <name>Not_Found_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ServiceApptData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NO_SA_Ass_FALSE</targetReference>
            </connector>
            <label>Not Found SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_of_Account_Cash_Credit_or_Key_Account</name>
        <label>Check Type of Account (Cash, Credit or Key Account)</label>
        <locationX>544</locationX>
        <locationY>476</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Type_is_Cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WO_Status_and_If_have_valid_Auth_record</targetReference>
            </connector>
            <label>Account Type is Cash</label>
        </rules>
        <rules>
            <name>Account_Type_is_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_WO_Status_is_Accepted</targetReference>
            </connector>
            <label>Account Type is Credit</label>
        </rules>
        <rules>
            <name>Account_Type_is_Key_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_WO_Status_is_Accepted</targetReference>
            </connector>
            <label>Account Type is Key Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_of_PO_Selected</name>
        <label>Check Type of PO Selected</label>
        <locationX>2808</locationX>
        <locationY>1734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Materials_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_select_the_Type_of_Purchase_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenMaterials_Selected</targetReference>
            </connector>
            <label>Materials selected</label>
        </rules>
        <rules>
            <name>Sub_Contractor_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_select_the_Type_of_Purchase_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub-Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSub_Contractor_Selected</targetReference>
            </connector>
            <label>Sub-Contractor selected</label>
        </rules>
        <rules>
            <name>Hire_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_select_the_Type_of_Purchase_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenHire_Selected</targetReference>
            </connector>
            <label>Hire was selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Record_Type_Fixed_Price_or_Reactive</name>
        <label>Check WO Record Type Fixed Price or Reactive</label>
        <locationX>2800</locationX>
        <locationY>800</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fixed_Price_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <label>Fixed Price</label>
        </rules>
        <rules>
            <name>Reactive_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Franchisee</targetReference>
            </connector>
            <label>Reactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Record_Type_GOT_SA</name>
        <label>Check WO Record Type (GOT SA)</label>
        <locationX>1890</locationX>
        <locationY>550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fixed_Price_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplay_Sums_of_PO_Prod_Req_and_Van_Stock_Prod_Req_FP_Got_SA</targetReference>
            </connector>
            <label>Fixed Price</label>
        </rules>
        <rules>
            <name>Reactive_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_Resource_Data</targetReference>
            </connector>
            <label>Reactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Record_Type_No_SA</name>
        <label>Check WO Record Type (No SA)</label>
        <locationX>1790</locationX>
        <locationY>869</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fixed_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplay_Sums_of_PO_Prod_Req_and_Van_Stock_Prod_Req_FP_NO_SA</targetReference>
            </connector>
            <label>Fixed Price</label>
        </rules>
        <rules>
            <name>Reactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Limit_for_Mobile_App</targetReference>
            </connector>
            <label>Reactive</label>
        </rules>
    </decisions>
    <decisions>
        <description>**May need to add exception based on User Profile, as per original Westbrook Flow, but maybe this should be a validation rule?</description>
        <name>Check_WO_Status</name>
        <label>Check WO Status</label>
        <locationX>2810</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Cannot_create_PO_for_Complete_Work_Order</targetReference>
            </connector>
            <label>Status is Complete</label>
        </rules>
        <rules>
            <name>Status_is_NOT_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Purchase_Order_Record_Type_ID</targetReference>
            </connector>
            <label>Status is NOT Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Status_and_If_have_valid_Auth_record</name>
        <label>Check WO Status and If have valid Auth record</label>
        <locationX>962</locationX>
        <locationY>723</locationY>
        <defaultConnector>
            <targetReference>Service_Appointment_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Not_Accepted_OR_No_Valid_Auth</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_WorkOrderData.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accepted/Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_WorkOrderData.Does_Valid_Auth_Record_Exist_on_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenStatus_Not_Accepted_OR_No_Valid_Auth</targetReference>
            </connector>
            <label>Status Not Accepted OR No Valid Auth</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_SA_Engineer_to_collect</name>
        <label>Do we have SA? (Engineer to collect)</label>
        <locationX>3147</locationX>
        <locationY>3541</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_SA_Engineer_to_collect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Got_SA_or_Not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_Delivery_Address_Operative_Address</targetReference>
            </connector>
            <label>Got SA (Engineer to collect)</label>
        </rules>
        <rules>
            <name>No_SA_Engineer_to_collect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Got_SA_or_Not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_Delivery_Address_Operative_Address_No_SA</targetReference>
            </connector>
            <label>No SA (Engineer to collect)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_SA_Hire</name>
        <label>Do we have SA? (Hire)</label>
        <locationX>2807</locationX>
        <locationY>2318</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_SA_Hire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Got_SA_or_Not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Hire_PO</targetReference>
            </connector>
            <label>Got SA (Hire)</label>
        </rules>
        <rules>
            <name>No_SA_Hire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Got_SA_or_Not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Hire_PO_No_SA</targetReference>
            </connector>
            <label>No SA (Hire)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_SA_Materials</name>
        <label>Do we have SA? (Materials)</label>
        <locationX>3646</locationX>
        <locationY>2293</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_SA_Materials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Got_SA_or_Not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Mats_PO</targetReference>
            </connector>
            <label>Got SA (Materials)</label>
        </rules>
        <rules>
            <name>No_SA_Materials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Got_SA_or_Not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Mats_PO_No_SA</targetReference>
            </connector>
            <label>No SA (Materials)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_SA_Sub_Contractor</name>
        <label>Do we have SA? (Sub-Contractor)</label>
        <locationX>1921</locationX>
        <locationY>2288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_SA_Sub_Contractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Got_SA_or_Not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sub_Contract_PO_Got_SA</targetReference>
            </connector>
            <label>Got SA (Sub-Contractor)</label>
        </rules>
        <rules>
            <name>No_SA_Sub_Contractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Bool_Got_SA_or_Not</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sub_Contract_PO_NO_SA</targetReference>
            </connector>
            <label>No SA (Sub-Contractor)</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PicklistChoicePOType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type__c</picklistField>
        <picklistObject>Purchase_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistPODeliveryOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Delivery_Options__c</picklistField>
        <picklistObject>Purchase_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecChoiceAccountHireSuppliers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approved_Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier</stringValue>
            </value>
        </filters>
        <filters>
            <field>Supplier_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hire</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_HireSupplierAccountData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_HireSupplierAccountData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecChoiceAccountMatsSuppliers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approved_Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier</stringValue>
            </value>
        </filters>
        <filters>
            <field>Supplier_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Materials</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_MatsSupplierAccountData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_MatsSupplierAccountData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecChoiceAccountSubContractorSuppliers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approved_Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier</stringValue>
            </value>
        </filters>
        <filters>
            <field>Supplier_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub-Contractor</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_SubContractorsSupplierAccountData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SubContractorsSupplierAccountData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecChoiceHireSuppliersSites</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_HireSupplierAccountData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Site_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Site_Contact_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Site_Contact_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Site__c</object>
        <outputAssignments>
            <assignToReference>var_HireSupplierSiteSelectedData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_HireSupplierSiteSelectedData.Primary_Site_Contact_Email__c</assignToReference>
            <field>Primary_Site_Contact_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_HireSupplierSiteSelectedData.Primary_Site_Contact__c</assignToReference>
            <field>Primary_Site_Contact__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecChoiceMaterialsSuppliersSites</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MatsSupplierAccountData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Site_Contact_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Site_Contact_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Site_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Site__c</object>
        <outputAssignments>
            <assignToReference>var_SubContractMatSupplierSiteSelectedData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact_Email__c</assignToReference>
            <field>Primary_Site_Contact_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact__c</assignToReference>
            <field>Primary_Site_Contact__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecChoiceSub_ContractSuppliersSites</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SubContractorsSupplierAccountData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Site_Contact_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Site_Contact_Email__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Site_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Site__c</object>
        <outputAssignments>
            <assignToReference>var_SubContractMatSupplierSiteSelectedData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact_Email__c</assignToReference>
            <field>Primary_Site_Contact_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact__c</assignToReference>
            <field>Primary_Site_Contact__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecChoiceUsersWith_A_Office_Ops_Profile</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e4G0000012wXmQAI</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_UserRequestedByData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_UserRequestedByData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>PHASE 2 FL - OFFICE - Create Purchase Order from WO and Job - update CandCs (System) V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 FL - OFFICE - Create Purchase Order from WO and Job - update CandCs (System) V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Hire_PO</name>
        <label>Create Hire PO</label>
        <locationX>2701</locationX>
        <locationY>2552</locationY>
        <assignRecordIdToReference>var_CreatedPurchaseOrderData.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Hire_PO_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Delivery_Options__c</field>
            <value>
                <elementReference>Picklist_Select_delivery_option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineer__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hire_Period_From_Date__c</field>
            <value>
                <elementReference>Hire_Period_From_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hire_Period_To_Date__c</field>
            <value>
                <elementReference>Hire_Period_To_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>TxtBox_HireProduct_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_PurchaseOrderRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>var_HireSupplierAccountData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Contact__c</field>
            <value>
                <elementReference>var_HireSupplierSiteSelectedData.Primary_Site_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Email__c</field>
            <value>
                <elementReference>var_HireSupplierSiteSelectedData.Primary_Site_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Site__c</field>
            <value>
                <elementReference>var_HireSupplierSiteSelectedData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Picklist_select_the_Type_of_Purchase_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Hire_PO_No_SA</name>
        <label>Create Hire PO (No SA)</label>
        <locationX>2914</locationX>
        <locationY>2550</locationY>
        <assignRecordIdToReference>var_CreatedPurchaseOrderData.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Hire_PO_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Delivery_Options__c</field>
            <value>
                <elementReference>Picklist_Select_delivery_option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hire_Period_From_Date__c</field>
            <value>
                <elementReference>Hire_Period_From_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hire_Period_To_Date__c</field>
            <value>
                <elementReference>Hire_Period_To_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>TxtBox_HireProduct_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_PurchaseOrderRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>var_HireSupplierAccountData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Contact__c</field>
            <value>
                <elementReference>var_HireSupplierSiteSelectedData.Primary_Site_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Email__c</field>
            <value>
                <elementReference>var_HireSupplierSiteSelectedData.Primary_Site_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Site__c</field>
            <value>
                <elementReference>var_HireSupplierSiteSelectedData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Picklist_select_the_Type_of_Purchase_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Mats_PO</name>
        <label>Create Mats PO</label>
        <locationX>3546</locationX>
        <locationY>2531</locationY>
        <assignRecordIdToReference>var_CreatedPurchaseOrderData.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Materials_PO_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Required__c</field>
            <value>
                <elementReference>Mats_Date_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Note__c</field>
            <value>
                <elementReference>LTxtDeliveryNotes_Materials</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Options__c</field>
            <value>
                <elementReference>Picklist_Select_delivery_option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineer__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>TxtBox_MaterialsProduct_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_PurchaseOrderRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>var_MatsSupplierAccountData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Contact__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Email__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Site__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Picklist_select_the_Type_of_Purchase_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Mats_PO_No_SA</name>
        <label>Create Mats PO (No SA)</label>
        <locationX>3743</locationX>
        <locationY>2524</locationY>
        <assignRecordIdToReference>var_CreatedPurchaseOrderData.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Materials_PO_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Required__c</field>
            <value>
                <elementReference>Mats_Date_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Note__c</field>
            <value>
                <elementReference>LTxtDeliveryNotes_Materials</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Options__c</field>
            <value>
                <elementReference>Picklist_Select_delivery_option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>TxtBox_MaterialsProduct_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_PurchaseOrderRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>var_MatsSupplierAccountData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Contact__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Email__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Site__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Picklist_select_the_Type_of_Purchase_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sub_Contract_PO_Got_SA</name>
        <label>Create Sub-Contract PO (Got SA)</label>
        <locationX>1774</locationX>
        <locationY>2486</locationY>
        <assignRecordIdToReference>var_CreatedPurchaseOrderData.Id</assignRecordIdToReference>
        <connector>
            <targetReference>PO_Line_Item_SubCat</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Required__c</field>
            <value>
                <elementReference>SubContract_Date_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Options__c</field>
            <value>
                <elementReference>Picklist_Select_delivery_option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineer_Email__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineer__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>SubContractJob_Specification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_PurchaseOrderRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcontractor_From_Date_Time__c</field>
            <value>
                <elementReference>SubContractFrom_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcontractor_To_Date_Time__c</field>
            <value>
                <elementReference>SubContractTo_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>var_SubContractorsSupplierAccountData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Contact__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Email__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Site__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Picklist_select_the_Type_of_Purchase_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sub_Contract_PO_NO_SA</name>
        <label>Create Sub-Contract PO (NO SA)</label>
        <locationX>2054</locationX>
        <locationY>2474</locationY>
        <assignRecordIdToReference>var_CreatedPurchaseOrderData.Id</assignRecordIdToReference>
        <connector>
            <targetReference>PO_Line_Item_SubCat</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Required__c</field>
            <value>
                <elementReference>SubContract_Date_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Options__c</field>
            <value>
                <elementReference>Picklist_Select_delivery_option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>SubContractJob_Specification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_PurchaseOrderRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcontractor_From_Date_Time__c</field>
            <value>
                <elementReference>SubContractFrom_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcontractor_To_Date_Time__c</field>
            <value>
                <elementReference>SubContractTo_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>var_SubContractorsSupplierAccountData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Contact__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Email__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Primary_Site_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Site__c</field>
            <value>
                <elementReference>var_SubContractMatSupplierSiteSelectedData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Picklist_select_the_Type_of_Purchase_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Hire_PO_Line_Item</name>
        <label>Hire PO Line Item</label>
        <locationX>2802</locationX>
        <locationY>2731</locationY>
        <assignRecordIdToReference>var_Created_POLI_ID</assignRecordIdToReference>
        <connector>
            <targetReference>ScreenUpload_document</targetReference>
        </connector>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>HireCurrencyCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>TxtBox_HireProduct_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order__c</field>
            <value>
                <elementReference>var_CreatedPurchaseOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Code__c</field>
            <value>
                <elementReference>Const_20_Percent_VAT_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Rate_hidden__c</field>
            <value>
                <elementReference>Const_VAT_Rate_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Line_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Materials_PO_Line_Item</name>
        <label>Materials PO Line Item</label>
        <locationX>3660</locationX>
        <locationY>2762</locationY>
        <assignRecordIdToReference>var_Created_POLI_ID</assignRecordIdToReference>
        <connector>
            <targetReference>ScreenUpload_document</targetReference>
        </connector>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>MaterialsCurrencyCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>TxtBox_MaterialsProduct_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order__c</field>
            <value>
                <elementReference>var_CreatedPurchaseOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Code__c</field>
            <value>
                <elementReference>Const_20_Percent_VAT_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Rate_hidden__c</field>
            <value>
                <elementReference>Const_VAT_Rate_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Line_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>PO_Line_Item_SubCat</name>
        <label>PO Line Item SubCat</label>
        <locationX>1891</locationX>
        <locationY>2679</locationY>
        <assignRecordIdToReference>var_Created_POLI_ID</assignRecordIdToReference>
        <connector>
            <targetReference>ScreenUpload_document</targetReference>
        </connector>
        <inputAssignments>
            <field>Agreed_By__c</field>
            <value>
                <elementReference>SubContractAgreed_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreed_Price__c</field>
            <value>
                <elementReference>SubContractAgreed_Price_Excl_VAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>SubContractAgreed_Price_Excl_VAT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Date__c</field>
            <value>
                <elementReference>SubContractFrom_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Specification__c</field>
            <value>
                <elementReference>SubContractJob_Specification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>SubContractJob_Specification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order__c</field>
            <value>
                <elementReference>var_CreatedPurchaseOrderData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Date__c</field>
            <value>
                <elementReference>SubContractTo_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Code__c</field>
            <value>
                <elementReference>Const_20_Percent_VAT_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Rate_hidden__c</field>
            <value>
                <elementReference>Const_VAT_Rate_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Line_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Assigned_Resource_Data</name>
        <label>Get Assigned Resource Data</label>
        <locationX>2440</locationX>
        <locationY>597</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Resource_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceApptData.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>var_AssignedResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Order_Record_Type_ID</name>
        <label>Get Purchase Order Record Type ID</label>
        <locationX>2824</locationX>
        <locationY>1291</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenSelect_Type_of_PO_and_Deliv_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Purchase_Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Purchase_Order__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_PurchaseOrderRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Address</name>
        <label>Get Site Address</label>
        <locationX>2630</locationX>
        <locationY>3612</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PO_Delivery_Address_Cust_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Site__c</elementReference>
            </value>
        </filters>
        <object>Site__c</object>
        <outputReference>var_SiteData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Site_Street__c</queriedFields>
        <queriedFields>Site_City__c</queriedFields>
        <queriedFields>Site_State__c</queriedFields>
        <queriedFields>Site_PostalCode__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PO_Limit_for_Mobile_App</name>
        <label>PO Limit for Mobile App</label>
        <locationX>2814</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WO_Record_Type_Fixed_Price_or_Reactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aspect_Maintenance_Services_Ltd</stringValue>
            </value>
        </filters>
        <object>Aspect_Setting__mdt</object>
        <outputReference>var_AspectSettingsData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Purchase_Order_Mobile_App_Limit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment_Data</name>
        <label>Service Appointment Data</label>
        <locationX>1311</locationX>
        <locationY>606</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SA_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderData.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_ServiceApptData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Allocated_Engineer__c</queriedFields>
        <queriedFields>Allocated_Engineer_Email__c</queriedFields>
        <queriedFields>Previous_Allocated_Engineer__c</queriedFields>
        <queriedFields>Previous_Allocated_Engineer_Email__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Service_Resource_Data</name>
        <label>Service Resource Data</label>
        <locationX>2615</locationX>
        <locationY>637</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PO_Limit_for_Mobile_App</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssignedResourceData.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_ServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>FirstName__c</queriedFields>
        <queriedFields>Residential_Street__c</queriedFields>
        <queriedFields>Residential_City__c</queriedFields>
        <queriedFields>Residential_State__c</queriedFields>
        <queriedFields>Residential_PostalCode__c</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>PO_Status_to_Sent_Deliver_to_Office</name>
        <label>PO Status to Sent Deliver to Office</label>
        <locationX>2958</locationX>
        <locationY>3734</locationY>
        <connector>
            <targetReference>Links_to_created_PO_and_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedPurchaseOrderData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_City__c</field>
            <value>
                <stringValue>Chessington</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_PostalCode__c</field>
            <value>
                <stringValue>KT9 2NY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_State__c</field>
            <value>
                <stringValue>Surrey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Street__c</field>
            <value>
                <stringValue>E7, Barwell Business Park, Leatherhead Road</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POLI_Data_Added__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>PO_Status_to_Sent_Engineer_to_Collect</name>
        <label>PO Status to Sent Engineer to Collect</label>
        <locationX>2778</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>Links_to_created_PO_and_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedPurchaseOrderData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>POLI_Data_Added__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Delivery_Address_Cust_Site</name>
        <label>Update PO Delivery Address Cust Site</label>
        <locationX>2466</locationX>
        <locationY>3844</locationY>
        <connector>
            <targetReference>Links_to_created_PO_and_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedPurchaseOrderData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_City__c</field>
            <value>
                <elementReference>var_SiteData.Site_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_PostalCode__c</field>
            <value>
                <elementReference>var_SiteData.Site_PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_State__c</field>
            <value>
                <elementReference>var_SiteData.Site_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Street__c</field>
            <value>
                <elementReference>var_SiteData.Site_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POLI_Data_Added__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Delivery_Address_Operative_Address</name>
        <label>Update PO Delivery Address Operative Address</label>
        <locationX>3140</locationX>
        <locationY>3842</locationY>
        <connector>
            <targetReference>Links_to_created_PO_and_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedPurchaseOrderData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_City__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Residential_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_PostalCode__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Residential_PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_State__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Residential_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Street__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Residential_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POLI_Data_Added__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Delivery_Address_Operative_Address_No_SA</name>
        <label>Update PO Delivery Address Operative Address (No SA)</label>
        <locationX>3367</locationX>
        <locationY>3819</locationY>
        <connector>
            <targetReference>Links_to_created_PO_and_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreatedPurchaseOrderData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>POLI_Data_Added__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Links_to_created_PO_and_Work_Order</name>
        <label>Links to created PO and Work Order</label>
        <locationX>2779</locationX>
        <locationY>4360</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtLinks</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;A {!Picklist_select_the_Type_of_Purchase_Order} purchase order has been created&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://chumley.lightning.force.com/lightning/r/Purchase_Order__c/{!var_CreatedPurchaseOrderData.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;https://chumley.lightning.force.com/lightning/r/Purchase_Order__c/{!var_CreatedPurchaseOrderData.Id}/view&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Notes_on_Prod_Req_and_POs_from_MATT</name>
        <label>Notes on Prod Req and POs from MATT</label>
        <locationX>1587</locationX>
        <locationY>329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReferenceNotesFromMatt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Calibri, sans-serif;&quot;&gt;the charge for&amp;nbsp;fixed price work orders is all &quot;what we expect&quot; and NOT&amp;nbsp;&quot;what we have done&quot;.i.e. we decide labour charge by estimating how many hours would be required, and we decide materials charge by listing the &quot;Required Products&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Calibri, sans-serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Calibri, sans-serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Calibri, sans-serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Calibri, sans-serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Calibri, sans-serif;&quot;&gt; If we estimate we need 2 hours of labour, we have a rate so can work out the charge. the actual time spent is irrelevant as the client pays the expected labour and engineer gets paid his percentage of this.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Calibri, sans-serif;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Calibri, sans-serif;&quot;&gt; If we estimate we will need 100 of materials, this is added as a &quot;Required Product&quot; and the charge is taken form this. When the estimate is accepted, we then create the POs and Expense claims, but this does not affect the charge (just the costs).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: Calibri, sans-serif;&quot;&gt;Setting the CCT record type as &quot;F&quot;&amp;nbsp;on CCT&amp;nbsp;will cause the &quot;Materials Charge&quot; field to use the &quot;required product total&quot; and not the &quot;po and expense total&quot;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Cannot_create_PO_for_Complete_Work_Order</name>
        <label>Cannot create PO for &#39;Complete&#39; Work Order</label>
        <locationX>2634</locationX>
        <locationY>1127</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DispalyTxtCantCreatePOStatusComplete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(15, 15, 15);&quot;&gt;You cannot create a PO for a work order which has status of &lt;/span&gt;&lt;b style=&quot;color: rgb(15, 15, 15);&quot;&gt;Complete.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(15, 15, 15);&quot;&gt;Please contact the office.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Create_PO_Line_Item_for_Sub_Contractor</name>
        <label>Create PO Line Item for Sub-Contractor</label>
        <locationX>1938</locationX>
        <locationY>2134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_we_have_SA_Sub_Contractor</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtPOLI_Sub_Contractor</name>
            <fieldText>&lt;p&gt;On the next screen you will have an option to upload a document if you need to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubContractFrom_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>From date/time:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SubContractTo_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>To date/time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SubContractJob_Specification</name>
            <fieldText>Job specification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SubContractAgreed_Price_Excl_VAT</name>
            <dataType>Currency</dataType>
            <fieldText>Agreed price (Excl. VAT):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>SubContractAgreed_By</name>
            <dataType>String</dataType>
            <fieldText>Agreed by:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_Please_select_both_a_Type_of_PO_and_a_delivery_option</name>
        <label>Error - Please select both a Type of PO and a delivery option</label>
        <locationX>2471</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenSelect_Type_of_PO_and_Deliv_Option</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtMustSelectPOTypeAndDeliveryOption</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(237, 6, 6);&quot;&gt;** Please ensure you select &lt;i&gt;Both &lt;/i&gt;a Type of Purchase Order and a delivery option before clicking Next **&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(37, 37, 37);&quot;&gt;Press &#39;Next&#39; to return to selections&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Franchisee_s_cannot_create_Purchase_Orders</name>
        <label>Franchisee&#39;s cannot create Purchase Orders</label>
        <locationX>2625</locationX>
        <locationY>955</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxt_Franchisee_Cant_Create_POs</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(244, 4, 4);&quot;&gt;!! - Please note that Franchisee cannot create Purchase Orders - !!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCreate_PO_Line_Item_for_Hire</name>
        <label>Create PO Line Item for Hire</label>
        <locationX>2817</locationX>
        <locationY>2176</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_we_have_SA_Hire</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtPOLI_Hire</name>
            <fieldText>&lt;p&gt;On the next screen you will have an option to upload a document if you need to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TxtBox_HireProduct_Description</name>
            <dataType>String</dataType>
            <fieldText>Product description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HireCurrencyCost</name>
            <dataType>Currency</dataType>
            <fieldText>Cost excl. VAT:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCreate_PO_Line_Item_for_Materials</name>
        <label>Create PO Line Item for Materials</label>
        <locationX>3657</locationX>
        <locationY>2102</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_we_have_SA_Materials</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtPOLI_Materials</name>
            <fieldText>&lt;p&gt;On the next screen you will have an option to upload a document if you need to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TxtBox_MaterialsProduct_Description</name>
            <dataType>String</dataType>
            <fieldText>Product description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MaterialsCurrencyCost</name>
            <dataType>Currency</dataType>
            <fieldText>Cost excl. VAT:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCredit_or_Key_Account_WO_is_not_Accepted</name>
        <label>Credit or Key Account WO is not Accepted</label>
        <locationX>895</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtCredit_or_Key_Account_WO_is_not_Accepted</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Work Order {!var_WorkOrderData.WorkOrderNumber} is currently in a Status of {!var_WorkOrderData.Status}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Credit or Key Account Work Orders must be in a Status of Accepted in order to create a Purchase Order.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenDisplay_Sums_of_PO_Prod_Req_and_Van_Stock_Prod_Req_FP_Got_SA</name>
        <label>Display Sums of PO Prod Req and Van Stock Prod Req</label>
        <locationX>2112</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Assigned_Resource_Data</targetReference>
        </connector>
        <fields>
            <name>DisplayTxt_Sums_of_PO_Prod_Req_and_Van_Stock_Prod_Req</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Currently Work Order {!var_WorkOrderData.WorkOrderNumber} has the following totals for Product Required:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Purchase Order Product Required: {!var_WorkOrderData.Sum_of_WO_PO_Product_Required__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Van Stock Product Required: {!var_WorkOrderData.Sum_of_WO_Van_Stock_Product_Required__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Scaffolding Product Required: {!var_WorkOrderData.Sum_of_WO_Scaffolding_Product_Required__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Total of all Product Required: {!var_WorkOrderData.Sum_of_WO_Product_Required__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(247, 1, 1);&quot;&gt;When you&#39;re raising a Purchase Order please take care that the total of all Purchase Orders &lt;i&gt;&lt;u&gt;does not&lt;/u&gt;&lt;/i&gt; exceed the total of all Product Required.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Further Info:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The charge for Fixed Price Work Orders is all &quot;what we expect&quot; and NOT &quot;what we have done&quot; i.e. we decide labour charge by estimating how many hours would be required, and we decide materials charge by adding the Product Required records.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If we estimate we will need 100 of materials, this is added as a &quot;Product &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Required&lt;/span&gt;&quot; and the charge is taken from this. When the Estimate is accepted, we then create the POs and Expense claims, but this does not affect the charge (just the costs).&lt;b style=&quot;font-size: 14px; color: rgb(247, 1, 1);&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenDisplay_Sums_of_PO_Prod_Req_and_Van_Stock_Prod_Req_FP_NO_SA</name>
        <label>Display Sums of PO Prod Req and Van Stock Prod Req</label>
        <locationX>2118</locationX>
        <locationY>971</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PO_Limit_for_Mobile_App</targetReference>
        </connector>
        <fields>
            <name>DisplayTxt_Sums_of_PO_Prod_Req_and_Van_Stock_Prod_Req_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Currently Work Order {!var_WorkOrderData.WorkOrderNumber} has the following totals for Product Required:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Purchase Order Product Required: {!var_WorkOrderData.Sum_of_WO_PO_Product_Required__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Van Stock Product Required: {!var_WorkOrderData.Sum_of_WO_Van_Stock_Product_Required__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Scaffolding Product Required: {!var_WorkOrderData.Sum_of_WO_Scaffolding_Product_Required__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(247, 1, 1);&quot;&gt;When you&#39;re raising a Purchase Order please take care that the total of all Purchase Orders &lt;i&gt;&lt;u&gt;does not&lt;/u&gt;&lt;/i&gt; exceed the total of all Product Required.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Further Info:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The charge for Fixed Price Work Orders is all &quot;what we expect&quot; and NOT &quot;what we have done&quot; i.e. we decide labour charge by estimating how many hours would be required, and we decide materials charge by adding the Product Required records.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If we estimate we will need 100 of materials, this is added as a &quot;Product &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Required&lt;/span&gt;&quot; and the charge is taken from this. When the Estimate is accepted, we then create the POs and Expense claims, but this does not affect the charge (just the costs).&lt;b style=&quot;font-size: 14px; color: rgb(247, 1, 1);&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenDisplay_Sums_of_PO_Prod_Req_and_Van_Stock_Prod_Req_Reactive_Got_SA</name>
        <label>Display Sums of PO Prod Req and Van Stock Prod Req</label>
        <locationX>2106</locationX>
        <locationY>288</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxt_Sums_of_PO_Prod_Req_and_Van_Stock_Prod_Req_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;REACTIVE Screen (testing only)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Roboto, Arial; color: rgb(50, 51, 56);&quot;&gt;If WO record type = Reactive, show separate screen and update text to Reactive PO&#39;s information (e.g.&amp;nbsp;show &quot;the charge for Fixed Price Work Orders is all&amp;nbsp;&quot;what we expect&quot; and NOT &quot;wwhat we have done&quot; etc)&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://aspectuk.monday.com/users/10295183-matthew-radoja&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Roboto, Arial;&quot;&gt;@Matthew Radoja&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Roboto, Arial; color: rgb(50, 51, 56);&quot;&gt;&amp;nbsp;to provide this text.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Currently Work Order {!var_WorkOrderData.WorkOrderNumber} has the following totals for Product Required:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Purchase Order Product Required: {!var_WorkOrderData.Sum_of_WO_PO_Product_Required__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Van Stock Product Required: {!var_WorkOrderData.Sum_of_WO_Van_Stock_Product_Required__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(247, 1, 1); font-size: 14px;&quot;&gt;When you&#39;re raising a Purchase Order please take care that the total of all Purchase Orders &lt;i&gt;&lt;u&gt;does not&lt;/u&gt;&lt;/i&gt; exceed the total of all Product Required.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Further Info:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The charge for Fixed Price Work Orders is all &quot;what we expect&quot; and NOT &quot;what we have done&quot; i.e. we decide labour charge by estimating how many hours would be required, and we decide materials charge by adding the Product Required records.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If we estimate we will need 100 of materials, this is added as a &quot;Product &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Required&lt;/span&gt;&quot; and the charge is taken from this. When the Estimate is accepted, we then create the POs and Expense claims, but this does not affect the charge (just the costs).&lt;b style=&quot;color: rgb(247, 1, 1); font-size: 14px;&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenDisplay_Sums_of_PO_Prod_Req_and_Van_Stock_Prod_Req_Reactive_NO_SA</name>
        <label>Display Sums of PO Prod Req and Van Stock Prod Req</label>
        <locationX>2098</locationX>
        <locationY>1134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxt_Sums_of_PO_Prod_Req_and_Van_Stock_Prod_Req_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;REACTIVE Screen (testing only)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Roboto, Arial; color: rgb(50, 51, 56);&quot;&gt;If WO record type = Reactive, show separate screen and update text to Reactive PO&#39;s information (e.g.&amp;nbsp;show &quot;the charge for Fixed Price Work Orders is all&amp;nbsp;&quot;what we expect&quot; and NOT &quot;wwhat we have done&quot; etc)&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://aspectuk.monday.com/users/10295183-matthew-radoja&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Roboto, Arial;&quot;&gt;@Matthew Radoja&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Roboto, Arial; color: rgb(50, 51, 56);&quot;&gt;&amp;nbsp;to provide this text.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Currently Work Order {!var_WorkOrderData.WorkOrderNumber} has the following totals for Product Required:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Purchase Order Product Required: {!var_WorkOrderData.Sum_of_WO_PO_Product_Required__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Van Stock Product Required: {!var_WorkOrderData.Sum_of_WO_Van_Stock_Product_Required__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(247, 1, 1); font-size: 14px;&quot;&gt;When you&#39;re raising a Purchase Order please take care that the total of all Purchase Orders &lt;i&gt;&lt;u&gt;does not&lt;/u&gt;&lt;/i&gt; exceed the total of all Product Required.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Further Info:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The charge for Fixed Price Work Orders is all &quot;what we expect&quot; and NOT &quot;what we have done&quot; i.e. we decide labour charge by estimating how many hours would be required, and we decide materials charge by adding the Product Required records.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If we estimate we will need 100 of materials, this is added as a &quot;Product &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Required&lt;/span&gt;&quot; and the charge is taken from this. When the Estimate is accepted, we then create the POs and Expense claims, but this does not affect the charge (just the costs).&lt;b style=&quot;color: rgb(247, 1, 1); font-size: 14px;&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenHire_Selected</name>
        <label>Hire Selected</label>
        <locationX>2811</locationX>
        <locationY>1910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenSelect_the_Hire_Account_Site</targetReference>
        </connector>
        <fields>
            <name>PicklistSelect_Hire_supplier</name>
            <choiceReferences>RecChoiceAccountHireSuppliers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select hire supplier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hire_Period_From_Date</name>
            <dataType>Date</dataType>
            <fieldText>Hire period from date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hire_Period_To_Date</name>
            <dataType>Date</dataType>
            <fieldText>Hire period to date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenMaterials_Selected</name>
        <label>Materials Selected</label>
        <locationX>3655</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenSelect_the_Materials_Account_Site</targetReference>
        </connector>
        <fields>
            <name>PicklistSelect_Materials_supplier</name>
            <choiceReferences>RecChoiceAccountMatsSuppliers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select materials supplier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mats_Date_Required</name>
            <dataType>Date</dataType>
            <fieldText>Date required:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LTxtDeliveryNotes_Materials</name>
            <fieldText>Delivery note:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.CurrentDate</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <dateValue>2030-01-01</dateValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_the_Hire_Account_Site</name>
        <label>Select the Hire Account Site</label>
        <locationX>2806</locationX>
        <locationY>2036</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenCreate_PO_Line_Item_for_Hire</targetReference>
        </connector>
        <fields>
            <name>PicklistPlease_select_the_hire_supplier_site</name>
            <choiceReferences>RecChoiceHireSuppliersSites</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the hire supplier site</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_the_Materials_Account_Site</name>
        <label>Select the Materials Account Site</label>
        <locationX>3662</locationX>
        <locationY>1968</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenCreate_PO_Line_Item_for_Materials</targetReference>
        </connector>
        <fields>
            <name>PicklistPlease_select_the_materials_supplier_site</name>
            <choiceReferences>RecChoiceMaterialsSuppliersSites</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the materials supplier site</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_the_Sub_Contractor_Account_Site_SubCon</name>
        <label>Select the Sub-Contractor Account Site</label>
        <locationX>1927</locationX>
        <locationY>1974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Create_PO_Line_Item_for_Sub_Contractor</targetReference>
        </connector>
        <fields>
            <name>PicklistPlease_select_the_Sub_Contractor_Supplier_Site</name>
            <choiceReferences>RecChoiceSub_ContractSuppliersSites</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the sub-contractor supplier site</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_Type_of_PO_and_Deliv_Option</name>
        <label>Select Type of PO and Deliv. Option</label>
        <locationX>2818</locationX>
        <locationY>1428</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Invalid_Selections</targetReference>
        </connector>
        <fields>
            <name>Picklist_select_the_Type_of_Purchase_Order</name>
            <choiceReferences>PicklistChoicePOType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the type of purchase order:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Picklist_Select_delivery_option</name>
            <choiceReferences>PicklistPODeliveryOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select delivery option:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenStatus_Not_Accepted_OR_No_Valid_Auth</name>
        <label>Status Not Accepted OR No Valid Auth</label>
        <locationX>968</locationX>
        <locationY>934</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtInvalidStatusORNoValidAuth</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;A Work Order must be in a Status of Accepted and a valid Authorisation record must exist in order to raise a Purchase Order.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSub_Contractor_Selected</name>
        <label>Sub-Contractor Selected</label>
        <locationX>1940</locationX>
        <locationY>1821</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenSelect_the_Sub_Contractor_Account_Site_SubCon</targetReference>
        </connector>
        <fields>
            <name>PicklistSelect_Sub_Contractor_supplier</name>
            <choiceReferences>RecChoiceAccountSubContractorSuppliers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select sub-contractor supplier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SubContract_Date_Required</name>
            <dataType>Date</dataType>
            <fieldText>Date required:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenUpload_document</name>
        <label>Upload document</label>
        <locationX>2788</locationX>
        <locationY>3185</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Deliver_to_Client_Deliver_to_Engineer</targetReference>
        </connector>
        <fields>
            <name>DispalyTxtUploadDocument</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Upload document(s) or click Next.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PO_File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload a file if required</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_CreatedPurchaseOrderData.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Appointment_NOT_Found</name>
        <label>Service Appointment NOT Found</label>
        <locationX>928</locationX>
        <locationY>1102</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtServApptNotFound</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;A Service Appointment was not found for Work Order: {!var_WorkOrderData.WorkOrderNumber}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Right now, a Service Appointment that has been allocated to an Operative/Service Resource must exist for this process to work.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>466</locationY>
        <connector>
            <targetReference>Check_Type_of_Account_Cash_Credit_or_Key_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_AspectSettingsData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Aspect_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>var_AssignedResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>var_Bool_Got_SA_or_Not</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Created_POLI_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CreatedContactData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_CreatedPurchaseOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>var_HireSupplierAccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_HireSupplierSiteSelectedData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>var_MatsSupplierAccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_PO_LineItemData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>var_PurchaseOrderRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceApptData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_ServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_SiteData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>var_SubContractMatSupplierSiteSelectedData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>var_SubContractorsSupplierAccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_SupplierAccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Total_PREQ_PO_And_VanStock</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_UserRequestedByData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
