unpackaged/main/default/flows/PHASE_2_Take_Payment_auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>outstanding_balance</name>
        <label>outstanding balance?</label>
        <locationX>885</locationX>
        <locationY>392</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_invoice_details.Balance_Outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_auths</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>payment_taken</name>
        <label>payment taken</label>
        <locationX>847</locationX>
        <locationY>1152</locationY>
        <defaultConnector>
            <targetReference>create_payment_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>payment_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_payment_taken</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>try_and_take_payment</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <interviewLabel>Phase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Take Payment (auto)</label>
    <loops>
        <name>try_and_take_payment</name>
        <label>try and take payment</label>
        <locationX>856</locationX>
        <locationY>834</locationY>
        <collectionReference>get_auths</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>payment_taken</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_payment_record</name>
        <label>create payment record</label>
        <locationX>672</locationX>
        <locationY>1174</locationY>
        <assignRecordIdToReference>var_payment_id</assignRecordIdToReference>
        <inputAssignments>
            <field>Account_Email__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Invoice__c</field>
            <value>
                <elementReference>get_invoice_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>try_and_take_payment.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Account_Name__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Account_Reference__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__Account_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Amount__c</field>
            <value>
                <elementReference>get_invoice_details.Balance_Outstanding__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Authorisation__c</field>
            <value>
                <elementReference>try_and_take_payment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_City__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__Billing_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_Country__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__Billing_Address_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_PostalCode__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__Billing_Address_PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_Street__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__Billing_Address_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Card_Type__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__Card_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Company_Name__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Email__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__First_Name__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Last_Name__c</field>
            <value>
                <elementReference>try_and_take_payment.asp04__Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route_Options__c</field>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Payment_Route_Selected__c</field>
            <value>
                <stringValue>Card</stringValue>
            </value>
        </inputAssignments>
        <object>asp04__Payment__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_auths</name>
        <label>get auths</label>
        <locationX>811</locationX>
        <locationY>608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>try_and_take_payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_invoice_details.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>asp04__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Force</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>asp04__Authorisation__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_invoice_details</name>
        <label>get invoice details</label>
        <locationX>627</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>outstanding_balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_invoice_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>373</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>get_invoice_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_invoice_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_payment_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_payment_taken</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
