unpackaged/main/default/flows/PHASE_2_Re_Send_Purchase_Order_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Re_Send_Hire_Emails</name>
        <label>Re-Send Hire Emails</label>
        <locationX>1727</locationX>
        <locationY>719</locationY>
        <actionName>Purchase_Order__c.Email_for_Hire_Hire_PO_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenEmails_were_re_sent_confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_Data.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Re_Send_Materials_Emails</name>
        <label>Re-Send Materials Emails</label>
        <locationX>1987</locationX>
        <locationY>1071</locationY>
        <actionName>Purchase_Order__c.Email_for_Supplier_Materials_PO_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenEmails_were_re_sent_confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_Data.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Re_Send_Sub_Contractor_Emails</name>
        <label>Re-Send Sub-Contractor Emails</label>
        <locationX>1687</locationX>
        <locationY>296</locationY>
        <actionName>Purchase_Order__c.Email_for_Subcontractor_Subcontractor_PO_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenEmails_were_re_sent_confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_PO_Data.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>ChoiceExit</name>
        <choiceText>Exit without sending emails</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit without sending emails</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYesReSendEmails</name>
        <choiceText>Yes re-send emails</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes re-send emails</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Do_we_have_at_least_1_email_address</name>
        <label>Do we have at least 1 email address?</label>
        <locationX>588</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>ScreenNo_Email_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Email_Addresses</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Engineer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_PO_Data.Engineer_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_PO_Data.Supplier_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_PO_Data.Supplier_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Type_of_PO</targetReference>
            </connector>
            <label>Got Email Addresses</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_Send_Emails_or_Not_Hire</name>
        <label>Re-Send Emails or Not (Hire)</label>
        <locationX>1500</locationX>
        <locationY>772</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Re_Send_Hire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesReSendEmails</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_Send_Hire_Emails</targetReference>
            </connector>
            <label>Yes Re-Send (Hire)</label>
        </rules>
        <rules>
            <name>Exit_Hire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit (Hire)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_Send_Emails_or_Not_Materials</name>
        <label>Re-Send Emails or Not (Materials)</label>
        <locationX>1555</locationX>
        <locationY>1143</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Re_Send_Materials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesReSendEmails</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_Send_Materials_Emails</targetReference>
            </connector>
            <label>Yes Re-Send (Materials)</label>
        </rules>
        <rules>
            <name>Exit_Materials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit (Materials)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_Send_Emails_or_Not_Sub_Contractor</name>
        <label>Re-Send Emails or Not (Sub-Contractor)</label>
        <locationX>1380</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Re_Send_Sub_Contractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesReSendEmails</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_Send_Sub_Contractor_Emails</targetReference>
            </connector>
            <label>Yes Re-Send (Sub-Contractor)</label>
        </rules>
        <rules>
            <name>Exit_Sub_Contractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit (Sub-Contractor)</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_PO</name>
        <label>What Type of PO?</label>
        <locationX>863</locationX>
        <locationY>548</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Contractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub-Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSub_Contract_Email</targetReference>
            </connector>
            <label>Sub-Contractor</label>
        </rules>
        <rules>
            <name>Hire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenHire_Email</targetReference>
            </connector>
            <label>Hire</label>
        </rules>
        <rules>
            <name>Materials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PO_Data.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenMaterials_Email</targetReference>
            </connector>
            <label>Materials</label>
        </rules>
    </decisions>
    <interviewLabel>PHASE 2 Re-Send Purchase Order Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Re-Send Purchase Order Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_PO_Data</name>
        <label>Get PO Data</label>
        <locationX>419</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_at_least_1_email_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PO_ID</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputReference>var_PO_Data</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Supplier_Email__c</queriedFields>
        <queriedFields>Engineer_Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ScreenEmails_were_re_sent_confirmation</name>
        <label>Emails were re-sent confirmation</label>
        <locationX>2023</locationX>
        <locationY>392</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtEmailsWereReSentConfirmation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Emails were re-sent to:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Engineer Email: {!var_PO_Data.Engineer_Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Supplier Email: {!var_PO_Data.Supplier_Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please press Finish to exit this process.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenHire_Email</name>
        <label>Hire Email</label>
        <locationX>1281</locationX>
        <locationY>771</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Re_Send_Emails_or_Not_Hire</targetReference>
        </connector>
        <fields>
            <name>DTextHireSendEmails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The email address on this Purchase Order are currently:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Engineer Email: {!var_PO_Data.Engineer_Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Supplier Email: {!var_PO_Data.Supplier_Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnsRe_Send_Hire_PO_Emails</name>
            <choiceReferences>ChoiceYesReSendEmails</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Re-Send Hire PO Emails</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenMaterials_Email</name>
        <label>Materials Email</label>
        <locationX>1212</locationX>
        <locationY>1175</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Re_Send_Emails_or_Not_Materials</targetReference>
        </connector>
        <fields>
            <name>DTextMaterialsSendEmails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The email address on this Purchase Order are currently:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Engineer Email: {!var_PO_Data.Engineer_Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Supplier Email: {!var_PO_Data.Supplier_Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnsRe_Send_Materials_PO_Emails</name>
            <choiceReferences>ChoiceYesReSendEmails</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Re-Send Materials PO Emails</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNo_Email_Addresses</name>
        <label>No Email Addresses</label>
        <locationX>395</locationX>
        <locationY>627</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtNoEmailAddresses</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(244, 2, 2);&quot;&gt;There are no email address for either &#39;Supplier Contact Email&#39; or &#39;Engineer Email&#39; on this Purchase Order number: {!var_PO_Data.Name} - please press Finish to exit this process.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSub_Contract_Email</name>
        <label>Sub-Contract Email</label>
        <locationX>1139</locationX>
        <locationY>275</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Re_Send_Emails_or_Not_Sub_Contractor</targetReference>
        </connector>
        <fields>
            <name>DTextSubContractSendEmails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The email address on this Purchase Order are currently:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Engineer Email: {!var_PO_Data.Engineer_Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Supplier Email: {!var_PO_Data.Supplier_Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnsRe_Send_Sub_Contractor_PO_Emails</name>
            <choiceReferences>ChoiceYesReSendEmails</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Re-Send Sub-Contractor PO Emails</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>39</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>Get_PO_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_PO_Data</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>var_PO_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
