unpackaged/main/default/flows/PHASE_2_Purchase_Order_Create_or_Edit_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Hire_Email_to_Eng_and_Supplier</name>
        <label>Hire Email to Eng and Supplier</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <actionName>Purchase_Order__c.Email_for_Hire_Hire_PO_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>POLI_Data_Added_TRUE_Materials</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Eng_and_Suppl</name>
        <label>Send Email to Eng and Suppl</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <actionName>Purchase_Order__c.Email_for_Supplier_Materials_PO_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Subcontractor_Email_to_Eng_and_Supplier</name>
        <label>Subcontractor Email to Eng and Supplier</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Purchase_Order__c.Email_for_Subcontractor_Subcontractor_PO_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>POLI_Data_Added_TRUE_Hire</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>POLI_Data_Added_TRUE_Hire</name>
        <label>POLI Data Added=TRUE + Hire</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>POLI_Data_Added_TRUE_Materials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POLI_Data_Added_TRUE_Hire_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POLI_Data_Added__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Email_to_Operative_Sent_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Email_to_Supplier_Sent_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Email_sent_fields2</targetReference>
            </connector>
            <label>POLI Data Added=TRUE + Hire True</label>
        </rules>
    </decisions>
    <decisions>
        <name>POLI_Data_Added_TRUE_Materials</name>
        <label>POLI Data Added=TRUE + Materials</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POLI_Data_Added_TRUE_Materials_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POLI_Data_Added__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Email_to_Operative_Sent_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Email_to_Supplier_Sent_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Email_sent_fields3</targetReference>
            </connector>
            <label>POLI Data Added=TRUE + Materials True</label>
        </rules>
    </decisions>
    <decisions>
        <name>POLI_Data_Added_TRUE_SubContract</name>
        <label>POLI Data Added=TRUE + SubContract</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>POLI_Data_Added_TRUE_Hire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POLI_Data_Added_TRUE_SubContract_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POLI_Data_Added__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub-Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Email_to_Operative_Sent_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Email_to_Supplier_Sent_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Email_sent_fields</targetReference>
            </connector>
            <label>POLI Data Added=TRUE + SubContract True</label>
        </rules>
    </decisions>
    <description>Removed Metadata for profile</description>
    <environments>Default</environments>
    <interviewLabel>PHASE 2 Purchase Order - Create or Edit Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Purchase Order - Create or Edit Processes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Date_Email_sent_fields</name>
        <label>Update Date Email sent fields</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Subcontractor_Email_to_Eng_and_Supplier</targetReference>
        </connector>
        <inputAssignments>
            <field>PO_Email_to_Operative_Sent_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Email_to_Supplier_Sent_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Email_sent_fields2</name>
        <label>Update Date Email sent fields2</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Hire_Email_to_Eng_and_Supplier</targetReference>
        </connector>
        <inputAssignments>
            <field>PO_Email_to_Operative_Sent_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Email_to_Supplier_Sent_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Email_sent_fields3</name>
        <label>Update Date Email sent fields3</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Send_Email_to_Eng_and_Suppl</targetReference>
        </connector>
        <inputAssignments>
            <field>PO_Email_to_Operative_Sent_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Email_to_Supplier_Sent_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>POLI_Data_Added_TRUE_SubContract</targetReference>
        </connector>
        <object>Purchase_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
