unpackaged/main/default/flows/PHASE_2_FL_FSL_mobile_Engineer_Confirm_PO_has_been_collected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Ass_Id_to_POID</name>
        <label>Ass Id to POID</label>
        <locationX>491</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>var_POID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PO_Data</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceNotCollectedPO</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYesCollectedPO</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_collected_or_not</name>
        <label>Check if collected or not</label>
        <locationX>1235</locationX>
        <locationY>316</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_have_collected_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesCollectedPO</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collected_PO_Details</targetReference>
            </connector>
            <label>Yes have collected PO</label>
        </rules>
        <rules>
            <name>Not_collected_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNotCollectedPO</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not collected PO</label>
        </rules>
    </decisions>
    <interviewLabel>PHASE 2 FL - FSL (mobile) - Engineer Confirm PO has been collected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 FL - FSL (mobile) - Engineer Confirm PO has been collected</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_PO_Data</name>
        <label>Get PO Data</label>
        <locationX>663</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Supplier_Account_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_POID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Purchase_Order__c</object>
        <outputReference>var_POData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Delivery_Options__c</queriedFields>
        <queriedFields>Supplier_Account__c</queriedFields>
        <queriedFields>Supplier_Site__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Work_Order_Number__c</queriedFields>
        <queriedFields>Product_Description__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Supplier_Account_Data</name>
        <label>Get Supplier/Account Data</label>
        <locationX>788</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenHave_you_collected_the_Purchase_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_POData.Supplier_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_SupplierAccountData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collected_PO_Details</name>
        <label>Update Collected PO Details</label>
        <locationX>1409</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>ScreenConfirmation_Screen_Collected_Purchase_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_POData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Engineer_that_confirmed_collection_of_PO__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Engineer_collected_the_PO__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <screens>
        <name>ScreenConfirmation_Screen_Collected_Purchase_Order</name>
        <label>Confirmation Screen Collected Purchase Order</label>
        <locationX>1599</locationX>
        <locationY>89</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtHave_you_collected_the_Purchase_Order_0</name>
            <fieldText>&lt;p&gt;Purchase Order {!var_POData.Name} has been updated as collected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenHave_you_collected_the_Purchase_Order</name>
        <label>Have you collected the Purchase Order?</label>
        <locationX>1032</locationX>
        <locationY>336</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_collected_or_not</targetReference>
        </connector>
        <fields>
            <name>DTxtHave_you_collected_the_Purchase_Order</name>
            <fieldText>&lt;p&gt;Have you collected the Purchase Order ({!var_POData.Name}) with the following details from the supplier?&lt;/p&gt;&lt;p&gt;Type:  {!var_POData.Type__c}&lt;/p&gt;&lt;p&gt;Supplier:  {!var_SupplierAccountData.Name}&lt;/p&gt;&lt;p&gt;Product Description:  {!var_POData.Product_Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnConfirmCollected</name>
            <choiceReferences>ChoiceYesCollectedPO</choiceReferences>
            <choiceReferences>ChoiceNotCollectedPO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please confirm:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Ass_Id_to_POID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_POData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>var_POID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SupplierAccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
