unpackaged/main/default/flows/Phase_2_add_missing_auth.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>CheckAccount</name>
        <label>CheckAccount</label>
        <locationX>576</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckAccountValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarJobData.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAuthRecId</targetReference>
            </connector>
            <label>CheckAccountValue</label>
        </rules>
        <rules>
            <name>CheckAccountNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarJobData.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>CheckAccountNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAuthCondition</name>
        <label>CheckAuthCondition</label>
        <locationX>748</locationX>
        <locationY>945</locationY>
        <defaultConnector>
            <targetReference>UpdateJob</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRetRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAuthRec.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateJob</targetReference>
            </connector>
            <label>CheckRetRecordValue</label>
        </rules>
        <rules>
            <name>CheckRetRecordNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAuthRec.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>CheckRetRecordNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAuthorisation</name>
        <label>CheckAuthorisation</label>
        <locationX>481</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>CheckAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckAuthorisationCondition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarJobData.Authorisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>CheckAuthorisationValue</label>
        </rules>
        <rules>
            <name>CheckAuthNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarJobData.Authorisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAccount</targetReference>
            </connector>
            <label>CheckAuthNull</label>
        </rules>
    </decisions>
    <description>HM 2</description>
    <interviewLabel>Phase 2 add missing auth {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phase 2 add missing auth</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAuthRecId</name>
        <label>GetAuthRecId</label>
        <locationX>755</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAuthCondition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarJobData.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>asp04__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Force</stringValue>
            </value>
        </filters>
        <object>asp04__Authorisation__c</object>
        <outputReference>GetAuthRec</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetJobRecords</name>
        <label>GetJobRecords</label>
        <locationX>173</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAuthorisation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_JobId</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>VarJobData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Authorisation__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateJob</name>
        <label>UpdateJob</label>
        <locationX>928</locationX>
        <locationY>1194</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_JobId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Authorisation__c</field>
            <value>
                <elementReference>GetAuthRec.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <screens>
        <name>NoAccountMsg</name>
        <label>NoAccountMsg</label>
        <locationX>441</locationX>
        <locationY>752</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowAccountMsg</name>
            <fieldText>&lt;p&gt;The Job does not have account for authorisation . Please add the Client Account on Job.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoAuthRecord</name>
        <label>NoAuthRecord</label>
        <locationX>537</locationX>
        <locationY>1182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoAuth</name>
            <fieldText>&lt;p&gt;No Authorisation Record Found . Please Create an Authorisation on Account&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessMsg</name>
        <label>SuccessMsg</label>
        <locationX>346</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowMsg</name>
            <fieldText>&lt;p&gt;The Job has valid  authorisation in-force.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetJobRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AuthId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AuthorisationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AuthorisationRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetAuthRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>asp04__Authorisation__c</objectType>
    </variables>
    <variables>
        <name>RecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarJobData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job__c</objectType>
    </variables>
</Flow>
