unpackaged/main/default/flows/PHASE_2_FL_Send_Estimate_to_Customer_from_Job_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Accept_An_Estimate_Projects_0</name>
        <label>Accept An Estimate - Projects</label>
        <locationX>2866</locationX>
        <locationY>3302</locationY>
        <actionName>Job__c.Accept_An_Estimate_Projects</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenDeposit_Customer_Inv_Sent_Confirmation_Credit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Accept_An_Estimate_Projects_0_0</name>
        <label>Accept An Estimate - Projects</label>
        <locationX>4582</locationX>
        <locationY>2090</locationY>
        <actionName>Job__c.Accept_An_Estimate_Projects</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Accept_An_Estimate_Projects_0_0_0</name>
        <label>Accept An Estimate - Projects</label>
        <locationX>3922</locationX>
        <locationY>1574</locationY>
        <actionName>Job__c.Accept_An_Estimate_Projects</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenDeposit_Customer_Inv_Sent_Confirmation_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lock_Job</name>
        <label>Lock Job</label>
        <locationX>5044</locationX>
        <locationY>2642</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Get_All_WOs_for_Job</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Const_Job_Approval_Process_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Estimate sent to Customer for approval - record should be locked.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Lock_Job_Credit</name>
        <label>Lock Job (Credit)</label>
        <locationX>2998</locationX>
        <locationY>2246</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Get_All_WOs_for_Job_Credit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Const_Job_Approval_Process_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Estimate sent to Customer for approval - record should be locked.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Lock_Work_Orders</name>
        <label>Lock Work Orders</label>
        <locationX>5132</locationX>
        <locationY>3242</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Loop_Thru_WOs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Const_WO_Approval_Process_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_Thru_WOs.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Work Order Locked after Estimate sent to Customer via email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Lock_Work_Orders_Credit</name>
        <label>Lock Work Orders (Credit)</label>
        <locationX>3086</locationX>
        <locationY>2846</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Loop_Thru_WOs_Credit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Const_WO_Approval_Process_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_Thru_WOs_Credit.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Work Order Locked after Estimate sent to Customer via email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Re_Send_Estimate</name>
        <label>Re-Send Estimate</label>
        <locationX>1326</locationX>
        <locationY>1886</locationY>
        <actionName>Job__c.Accept_an_Estimate_Job</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Ass_current_item_to_temp_WO_var</name>
        <label>Ass current item to temp WO var</label>
        <locationX>5132</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>var_TempWO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempWO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Temp_var_to_Coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_current_item_to_temp_WO_var_Credit</name>
        <label>Ass current item to temp WO var (Credit)</label>
        <locationX>3086</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>var_TempWO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_WOs_Credit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempWO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Temp_var_to_Coll_Credit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Temp_var_to_Coll</name>
        <label>Ass Temp var to Coll</label>
        <locationX>5132</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>var_CollWOsUpdateToPend</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_TempWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lock_Work_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Temp_var_to_Coll_Credit</name>
        <label>Ass Temp var to Coll (Credit)</label>
        <locationX>3086</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>var_CollWOsUpdateToPend</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_TempWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lock_Work_Orders_Credit</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceAmendSecondaryEmail</name>
        <choiceText>Amend Secondary Email before sending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amend Secondary Email before sending</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceExit</name>
        <choiceText>Exit without sending Estimate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit without sending Estimate</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNoNeedToAmend</name>
        <choiceText>No need to amend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No need to amend</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYesAmendEmailCorrect</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYesReSendEstimate</name>
        <choiceText>Yes - re-send the estimate to those email addresses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes - re-send the estimate to those email addresses</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYesReSendToExistingEmails</name>
        <choiceText>Yes send the Estimate to these email addresses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes send the Estimate to these email addresses</stringValue>
        </value>
    </choices>
    <constants>
        <name>Const_Job_Approval_Process_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>04a4G0000000AAV </stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_WO_Approval_Process_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>04a4G0000000AAY</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Credit_or_Key_Account</name>
        <label>Check for Credit or Key Account</label>
        <locationX>4021</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>ScreenCheck_if_want_to_sent_Deposit_Inv_to_Customer_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Data_email_address</targetReference>
            </connector>
            <label>Credit Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Key_Account</name>
        <label>Check for Key Account</label>
        <locationX>1680</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Check_for_null_Contact_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_Key_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SceenCannot_send_Estimate_as_Key_Account</targetReference>
            </connector>
            <label>Account is Key Account</label>
        </rules>
        <rules>
            <name>Job_Status_is_For_Client_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For Client Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenJob_Status_is_For_Client_Approval</targetReference>
            </connector>
            <label>Job Status is For Client Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_null_Contact_Email</name>
        <label>Check for null Contact Email</label>
        <locationX>3047</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Check_for_Credit_or_Key_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Email_who_Raised_Job_is_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Contact_Email_who_Raised_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_JobData.Contact_Email_who_Raised_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenContact_Email_who_Raised_Job_is_Null</targetReference>
            </connector>
            <label>Contact Email who Raised Job is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Earliest_is_blank</name>
        <label>check if Earliest is blank</label>
        <locationX>865</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Check_if_job_is_reactive_or_fixed_price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Earliest_Work_Order_Arrival_Window__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Earliest_Arrival_is_Blank</targetReference>
            </connector>
            <label>is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_job_is_reactive_or_fixed_price</name>
        <label>Check if job is reactive or fixed price</label>
        <locationX>1680</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_for_Key_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_is_reactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reativetexts</targetReference>
            </connector>
            <label>Job is reactive</label>
        </rules>
        <rules>
            <name>Job_is_Fixed_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Key_Account</targetReference>
            </connector>
            <label>Job is Fixed Price</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_need_to_amend_email_add</name>
        <label>Check if need to amend email add</label>
        <locationX>3130</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Amend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNoNeedToAmend</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenAmend_Secondary_Email</targetReference>
            </connector>
            <label>Yes Amend</label>
        </rules>
        <rules>
            <name>Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesAmendEmailCorrect</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_new_Secondary_email_on_Job</targetReference>
            </connector>
            <label>Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_need_to_amend_email_add_0</name>
        <label>Check if need to amend email add</label>
        <locationX>5242</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Amend_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNoNeedToAmend</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenAmend_Secondary_Email_Cash</targetReference>
            </connector>
            <label>Yes Amend</label>
        </rules>
        <rules>
            <name>Correct_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesAmendEmailCorrect</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_new_Secondary_email_on_Job_0</targetReference>
            </connector>
            <label>Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_need_to_amend_email_add_0_0</name>
        <label>Check if need to amend email add</label>
        <locationX>1326</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Amend_Re_sending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceAmendSecondaryEmail</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenAmend_Secondary_Email_ReSend</targetReference>
            </connector>
            <label>Yes Amend (Re-sending)</label>
        </rules>
        <rules>
            <name>Yes_re_send_estimate_No_Amend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesReSendEstimate</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_Send_Estimate</targetReference>
            </connector>
            <label>Yes - re-send estimate (No Amend)</label>
        </rules>
        <rules>
            <name>Exit_Re_send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Exit (Re-send)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_need_to_amend_email_add_0_0_0</name>
        <label>Check if need to amend email add</label>
        <locationX>4582</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Accept_An_Estimate_Projects_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Amend_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNoNeedToAmend</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenAmend_Secondary_Email_Cash_0</targetReference>
            </connector>
            <label>Yes Amend</label>
        </rules>
        <rules>
            <name>Correct_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesAmendEmailCorrect</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_An_Estimate_Projects_0_0</targetReference>
            </connector>
            <label>Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_need_to_Re_amend_email_add</name>
        <label>Check if need to Re-amend email add</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amend_Re_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNoNeedToAmend</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenAmend_Secondary_Email_ReSend</targetReference>
            </connector>
            <label>Amend (Re-Send)</label>
        </rules>
        <rules>
            <name>Correct_Re_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesAmendEmailCorrect</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_new_Secondary_email_on_Job_0_0</targetReference>
            </connector>
            <label>Correct (Re-Send)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_want_to_send_Estimate</name>
        <label>Check if want to send Estimate</label>
        <locationX>5044</locationX>
        <locationY>1334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Estimate_to_Customer_Cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesReSendToExistingEmails</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Project_True_0_0_0</targetReference>
            </connector>
            <label>Yes Send Estimate to Customer (Cash)</label>
        </rules>
        <rules>
            <name>Amend_Secondary_Email_Cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceAmendSecondaryEmail</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Project_True_0_0</targetReference>
            </connector>
            <label>Amend Secondary Email (Cash)</label>
        </rules>
        <rules>
            <name>Exist_Selected_Cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenExit_Selected_confirm_Email_NOT_sent</targetReference>
            </connector>
            <label>Exist Selected (Cash)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_want_to_send_Estimate_Credit</name>
        <label>Check if want to send Estimate (Credit)</label>
        <locationX>2998</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Estimate_to_these_emails_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYesReSendToExistingEmails</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Process_to_FALSE_Credit</targetReference>
            </connector>
            <label>Yes Send Estimate to these emails (Credit)</label>
        </rules>
        <rules>
            <name>Exit_Selected_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceExit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenExit_Selected_confirm_Email_NOT_sent_Credit</targetReference>
            </connector>
            <label>Exit Selected (Credit)</label>
        </rules>
        <rules>
            <name>Amend_secondary_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceAmendSecondaryEmail</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenAmend_Secondary_Email</targetReference>
            </connector>
            <label>Amend secondary email</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Project_True_0</name>
        <label>is Project True?</label>
        <locationX>2998</locationX>
        <locationY>3182</locationY>
        <defaultConnector>
            <targetReference>ScreenDeposit_Customer_Inv_Sent_Confirmation_Credit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_for_project_true_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.is_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_An_Estimate_Projects_0</targetReference>
            </connector>
            <label>check for project true</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Project_True_0_0</name>
        <label>is Project True?</label>
        <locationX>4912</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>ScreenAmend_Secondary_Email_Cash</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_for_project_true_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.is_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenAmend_Secondary_Email_Cash_0</targetReference>
            </connector>
            <label>check for project true</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Project_True_0_0_0</name>
        <label>is Project True?</label>
        <locationX>4054</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>ScreenDeposit_Customer_Inv_Sent_Confirmation_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_for_project_true_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_JobData.is_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_An_Estimate_Projects_0_0_0</targetReference>
            </connector>
            <label>check for project true</label>
        </rules>
    </decisions>
    <description>ZS - Project emails v1.1 .. updated Approval Process IDs</description>
    <interviewLabel>PHASE 2 - FL Send Estimate to Customer from Job record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 - FL Send Estimate to Customer from Job record</label>
    <loops>
        <name>Loop_Thru_WOs</name>
        <label>Loop Thru WOs</label>
        <locationX>5044</locationX>
        <locationY>2882</locationY>
        <collectionReference>var_CollWorkOrdersForJob</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_current_item_to_temp_WO_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_WOs_to_Pending</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_WOs_Credit</name>
        <label>Loop Thru WOs (Credit)</label>
        <locationX>2998</locationX>
        <locationY>2486</locationY>
        <collectionReference>var_CollWorkOrdersForJob</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_current_item_to_temp_WO_var_Credit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_WOs_to_Pending_Credit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Data_email_address</name>
        <label>Get Account Data (email address)</label>
        <locationX>2998</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenCheck_if_want_to_sent_Deposit_Inv_to_Customer_or_not_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_AccountData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_WOs_for_Job</name>
        <label>Get All WOs for Job</label>
        <locationX>5044</locationX>
        <locationY>2762</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_WOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_in_Estimate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_CollWorkOrdersForJob</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_WOs_for_Job_Credit</name>
        <label>Get All WOs for Job (Credit)</label>
        <locationX>2998</locationX>
        <locationY>2366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_WOs_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_in_Estimate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_CollWorkOrdersForJob</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Data</name>
        <label>Get Job Data</label>
        <locationX>865</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_Earliest_is_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>var_JobData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Email_who_Raised_Job__c</queriedFields>
        <queriedFields>Account_Type__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Secondary_Email__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Earliest_Work_Order_Arrival_Window__c</queriedFields>
        <queriedFields>is_Project__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_WOs_to_Pending</name>
        <label>Update All WOs to Pending</label>
        <locationX>5044</locationX>
        <locationY>3458</locationY>
        <connector>
            <targetReference>ScreenDeposit_Customer_Inv_Sent_Confirmation_0</targetReference>
        </connector>
        <inputReference>var_CollWOsUpdateToPend</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_WOs_to_Pending_Credit</name>
        <label>Update All WOs to Pending (Credit)</label>
        <locationX>2998</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>is_Project_True_0</targetReference>
        </connector>
        <inputReference>var_CollWOsUpdateToPend</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Process_to_FALSE_Credit</name>
        <label>Update Approval Process to FALSE (Credit)</label>
        <locationX>2338</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Lock_Job_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Process_Unlock_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email_who_Raised_Job__c</field>
            <value>
                <elementReference>var_AccountData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_Last_Estimate_sent_to_Customer__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Estimate_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_payment_link_to_customer_via_email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>For Client Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_to_send_email</name>
        <label>Update Job to send email</label>
        <locationX>5044</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Lock_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Time_Last_Estimate_sent_to_Customer__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Estimate_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_payment_link_to_customer_via_email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>For Client Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_new_Secondary_email_on_Job</name>
        <label>Update new Secondary email on Job</label>
        <locationX>3130</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Lock_Job_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Process_Unlock_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email_who_Raised_Job__c</field>
            <value>
                <elementReference>var_AccountData.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_Last_Estimate_sent_to_Customer__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Estimate_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Email__c</field>
            <value>
                <elementReference>TxtNew_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_payment_link_to_customer_via_email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>For Client Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_new_Secondary_email_on_Job_0</name>
        <label>Update new Secondary email on Job</label>
        <locationX>5242</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Update_Job_to_send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Secondary_Email__c</field>
            <value>
                <elementReference>TxtNew_Email_Address_Cash</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_new_Secondary_email_on_Job_0_0</name>
        <label>Update new Secondary email on Job</label>
        <locationX>842</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Re_Send_Estimate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_JobData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Secondary_Email__c</field>
            <value>
                <elementReference>TxtNew_Email_Address_ReSend</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Earliest_Arrival_is_Blank</name>
        <label>Earliest Arrival is Blank</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Isblank_Message</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please go to Work Order and Enter the Schedule Date and Arrival window.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reativetexts</name>
        <label>Don&#39;t send estimates for Reactive Jobs</label>
        <locationX>1460</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Reactivecomment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(245, 246, 248); font-size: 18px; font-family: Roboto, Arial; color: rgb(50, 51, 56);&quot;&gt;You cannot send estimates for Reactive work&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SceenCannot_send_Estimate_as_Key_Account</name>
        <label>Cannot send Estimate as Key Account</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTxtCannot_send_Estimate_as_Key_Account</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Estimates cannot be sent to Key Accounts via email.&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenAmend_Secondary_Email</name>
        <label>Amend Secondary Email</label>
        <locationX>3130</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenSecondaryEmailEnteredConfirm</targetReference>
        </connector>
        <fields>
            <name>DTxtAmendSecondaryEmail</name>
            <fieldText>&lt;p&gt;Please enter the new email address below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TxtNew_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>New Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenAmend_Secondary_Email_Cash</name>
        <label>Amend Secondary Email</label>
        <locationX>5242</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenSecondaryEmailEnteredConfirm_0</targetReference>
        </connector>
        <fields>
            <name>DTxtAmendSecondaryEmail_Cash</name>
            <fieldText>&lt;p&gt;Please enter the new email address below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TxtNew_Email_Address_Cash</name>
            <dataType>String</dataType>
            <fieldText>New Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenAmend_Secondary_Email_Cash_0</name>
        <label>Amend Secondary Email</label>
        <locationX>4582</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenSecondaryEmailEnteredConfirm_0_0</targetReference>
        </connector>
        <fields>
            <name>DTxtAmendSecondaryEmail_Cash_0</name>
            <fieldText>&lt;p&gt;Please enter the new email address below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TxtNew_Email_Address_Cash_0</name>
            <dataType>String</dataType>
            <fieldText>New Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenAmend_Secondary_Email_ReSend</name>
        <label>Amend Secondary Email</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenSecondaryEmailEnteredConfirm_ReSend</targetReference>
        </connector>
        <fields>
            <name>DTxtAmendSecondaryEmail_ReSend</name>
            <fieldText>&lt;p&gt;Please enter the new email address below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TxtNew_Email_Address_ReSend</name>
            <dataType>String</dataType>
            <fieldText>New Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCheck_if_want_to_sent_Deposit_Inv_to_Customer_or_not</name>
        <label>Check if want to sent Deposit Inv to Customer or not</label>
        <locationX>5044</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_want_to_send_Estimate</targetReference>
        </connector>
        <fields>
            <name>DTxt_Cash_Customer</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The email will be sent to:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Contact Email who Raised Job: {!var_JobData.Contact_Email_who_Raised_Job__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;The additional email address the estimate will also be sent to is: {!var_JobData.Secondary_Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(253, 6, 6);&quot;&gt;*You can choose to amend only the Secondary email via this process&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnDo_you_want_to_send_the_Estimate_to_the_Customer</name>
            <choiceReferences>ChoiceYesReSendToExistingEmails</choiceReferences>
            <choiceReferences>ChoiceAmendSecondaryEmail</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to send the Estimate to the Customer?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCheck_if_want_to_sent_Deposit_Inv_to_Customer_or_not_Credit</name>
        <label>Check if want to sent Deposit Inv to Customer or not</label>
        <locationX>2998</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_want_to_send_Estimate_Credit</targetReference>
        </connector>
        <fields>
            <name>DTxt_Credit_Customer</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The Account for this Job is of type {!var_JobData.Account_Type__c} and therefore a deposit is not payable and the Estimate email must/will be sent to the Account &#39;Email&#39; which is {!var_AccountData.Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;The secondary email address the estimate will also be sent to is: {!var_JobData.Secondary_Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(250, 9, 9);&quot;&gt;*You can choose to amend only the Secondary email via this process&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnDo_you_want_to_send_the_Estimate_to_the_Customer_Credit</name>
            <choiceReferences>ChoiceYesReSendToExistingEmails</choiceReferences>
            <choiceReferences>ChoiceAmendSecondaryEmail</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to send the Estimate to the Customer?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenContact_Email_who_Raised_Job_is_Null</name>
        <label>Contact Email who Raised Job is Null</label>
        <locationX>2074</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtContact_Email_who_Raised_Job_is_Null</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The field on the Job record &#39;Contact Email who Raised Job&#39; is currently blank - we cannot send the email without this.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please press Finish to exit this process.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenDeposit_Customer_Inv_Sent_Confirmation_0</name>
        <label>Deposit Customer Inv Sent Confirmation</label>
        <locationX>5044</locationX>
        <locationY>3578</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtCustInvSent_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The Customer has been sent the Estimate via email.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenDeposit_Customer_Inv_Sent_Confirmation_0_0</name>
        <label>Deposit Customer Inv Sent Confirmation</label>
        <locationX>4054</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Job_to_send_email</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtCustInvSent_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The Customer has been sent the Estimate via email.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenDeposit_Customer_Inv_Sent_Confirmation_Credit</name>
        <label>Deposit Customer Inv Sent Confirmation</label>
        <locationX>2998</locationX>
        <locationY>3518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxtCustInvSent_Credit</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The {!var_JobData.Account_Type__c} Customer has been sent the Estimate via email.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenExit_Selected_confirm_Email_NOT_sent</name>
        <label>Exit Selected - confirm Email NOT sent</label>
        <locationX>5770</locationX>
        <locationY>1454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxt_Selected_confirm_Email_NOT_sent</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The Estimate has &lt;u&gt;Not&lt;/u&gt; been sent to the Customer - please press Finish to exit this process.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenExit_Selected_confirm_Email_NOT_sent_Credit</name>
        <label>Exit Selected - confirm Email NOT sent</label>
        <locationX>2602</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTxt_Selected_confirm_Email_NOT_sent_Credit</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The Estimate has &lt;u&gt;Not&lt;/u&gt; been sent to the Customer - please press Finish to exit this process.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenJob_Status_is_For_Client_Approval</name>
        <label>Job Status is For Client Approval</label>
        <locationX>1326</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_need_to_amend_email_add_0_0</targetReference>
        </connector>
        <fields>
            <name>DTxt_ReSendEstimate</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The Estimate has already been sent to the Customer as the Job Status is {!var_JobData.Status__c}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If you re-send it, the email will be sent to:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Contact Email who Raised Job: {!var_JobData.Contact_Email_who_Raised_Job__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;The additional email address the estimate will also be sent to is: {!var_JobData.Secondary_Email__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(253, 6, 6);&quot;&gt;*You can choose to amend only the Secondary email via this process&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnDo_you_want_to_send_the_Estimate_to_the_Customer_ReSend</name>
            <choiceReferences>ChoiceYesReSendEstimate</choiceReferences>
            <choiceReferences>ChoiceAmendSecondaryEmail</choiceReferences>
            <choiceReferences>ChoiceExit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to re-send the Estimate to the Customer?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSecondaryEmailEnteredConfirm</name>
        <label>SecondaryEmailEnteredConfirm</label>
        <locationX>3130</locationX>
        <locationY>1694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_need_to_amend_email_add</targetReference>
        </connector>
        <fields>
            <name>DTxtConfirmSecondayEmail</name>
            <fieldText>&lt;p&gt;The email address entered was: {!TxtNew_Email_Address}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnIs_this_correct</name>
            <choiceReferences>ChoiceYesAmendEmailCorrect</choiceReferences>
            <choiceReferences>ChoiceNoNeedToAmend</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this correct?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSecondaryEmailEnteredConfirm_0</name>
        <label>SecondaryEmailEnteredConfirm</label>
        <locationX>5242</locationX>
        <locationY>1694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_need_to_amend_email_add_0</targetReference>
        </connector>
        <fields>
            <name>DTxtConfirmSecondayEmail_Cash</name>
            <fieldText>&lt;p&gt;The email address entered was: {!TxtNew_Email_Address_Cash}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnIs_this_correct_Cash</name>
            <choiceReferences>ChoiceYesAmendEmailCorrect</choiceReferences>
            <choiceReferences>ChoiceNoNeedToAmend</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this correct?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSecondaryEmailEnteredConfirm_0_0</name>
        <label>SecondaryEmailEnteredConfirm</label>
        <locationX>4582</locationX>
        <locationY>1694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_need_to_amend_email_add_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DTxtConfirmSecondayEmail_Cash_0</name>
            <fieldText>&lt;p&gt;The email address entered was: {!TxtNew_Email_Address_Cash}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnIs_this_correct_Cash_0</name>
            <choiceReferences>ChoiceYesAmendEmailCorrect</choiceReferences>
            <choiceReferences>ChoiceNoNeedToAmend</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this correct?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSecondaryEmailEnteredConfirm_ReSend</name>
        <label>SecondaryEmailEnteredConfirm</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_need_to_Re_amend_email_add</targetReference>
        </connector>
        <fields>
            <name>DTxtConfirmSecondayEmail_ReSend</name>
            <fieldText>&lt;p&gt;The email address entered was: {!TxtNew_Email_Address_ReSend}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadbtnIs_this_correct_ReSend</name>
            <choiceReferences>ChoiceYesAmendEmailCorrect</choiceReferences>
            <choiceReferences>ChoiceNoNeedToAmend</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this correct?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>739</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stop sending estimates to reactive jobs</description>
        <name>Dontsendestimatestoreactivejobs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>email </stringValue>
        </value>
    </variables>
    <variables>
        <name>var_AccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_CollWorkOrdersForJob</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_CollWOsUpdateToPend</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_CustomerInvDepositData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
    <variables>
        <name>var_JobData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>var_JobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TempWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
