unpackaged/main/default/flows/PHASE_2_Generate_Consolidated_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>generate_consolidated_invoice</name>
        <label>generate consolidated invoice</label>
        <locationX>1548</locationX>
        <locationY>510</locationY>
        <actionName>01p4G000001m9RLNotFound</actionName>
        <actionType xsi:nil="true" />
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jobs_list</name>
            <value>
                <elementReference>var_string</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assign_selected_jobs_to_string_array</name>
        <label>assign selected jobs to string array</label>
        <locationX>1370</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>var_string</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Invoice_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_string</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_string</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_string</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_string</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Jobs_to_Consolidate2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>generate_consolidated_invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increment_count</name>
        <label>increment count</label>
        <locationX>697</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>var_counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>count_jobs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>outstanding_jobs</name>
        <label>outstanding jobs</label>
        <locationX>979</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>no_jobs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Jobs_to_Consolidate</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rcs_jobs</name>
        <dataType>String</dataType>
        <displayField>rcs_label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_accId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Consolidated_Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Job__c</object>
        <outputAssignments>
            <assignToReference>var_charge_gross</assignToReference>
            <field>Charge_Gross__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>PHASE 2 Generate Consolidated Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHASE 2 Generate Consolidated Invoice</label>
    <loops>
        <name>count_jobs</name>
        <label>count jobs</label>
        <locationX>705</locationX>
        <locationY>304</locationY>
        <collectionReference>get_jobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>increment_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>outstanding_jobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_jobs</name>
        <label>get jobs</label>
        <locationX>454</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>count_jobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_accId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Consolidated_Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_Jobs_to_Consolidate</name>
        <label>Choose Jobs to Consolidate</label>
        <locationX>1170</locationX>
        <locationY>508</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_selected_jobs_to_string_array</targetReference>
        </connector>
        <fields>
            <name>header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create Consolidated Invoice&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoice_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Invoice Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>N/A</stringValue>
            </defaultValue>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Jobs_to_Consolidate2</name>
            <choiceReferences>rcs_jobs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Job to Consolidate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>no_jobs</name>
        <label>no jobs</label>
        <locationX>1335</locationX>
        <locationY>94</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>no_jobs_screen</name>
            <fieldText>&lt;p&gt;All complete jobs have been consolidated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>get_jobs</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_charge_gross</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_string</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_stringArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
