unpackaged/main/default/flows/Re_Send_Emails_from_Customer_Credit_Note_to_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Credit_Note_to_Customer</name>
        <label>Send Credit Note to Customer</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>Customer_Credit_Note__c.Credit_Note_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CreditNoteRecord_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>check_Account_Email_Address</name>
        <label>check Account Email Address</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>NoAccountEmailScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Not Found</defaultConnectorLabel>
        <rules>
            <name>Email_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCustomerCreditNoteData.Account_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCustomerCreditNoteData.Account_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Credit_Note_to_Customer</targetReference>
            </connector>
            <label>Email Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Re-Send Emails from Customer Credit Note to Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Re-Send Emails from Customer Credit Note to Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCustomerCreditNoteData</name>
        <label>getCustomerCreditNoteData</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Account_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CreditNoteRecord_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Credit_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FinishScreen</name>
        <label>finishScreen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayFinishMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;An email was sent to &lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!getCustomerCreditNoteData.Account_Email__c} with a copy of the Credit Note.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoAccountEmailScreen</name>
        <label>NoAccountEmailScreen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noEmailFoundError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 7, 7);&quot;&gt;This Customer Credit Note does not have a value for the field  &#39;Account Email&#39; - please add this before attempting to send an email.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCustomerCreditNoteData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CreditNoteRecord_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
