unpackaged/main/default/flows/Reactive_Job_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Ass_Afternoon_Timeslot</name>
        <label>Ass Afternoon Timeslot</label>
        <locationX>1106</locationX>
        <locationY>6674</locationY>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_Start_StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Future_12_17_Arriv_Wind_Start_StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_END_EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Future_12_17_Arriv_Wind_END_EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Job_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Booking_Type_Diff_Eng</name>
        <label>Ass Booking Type Diff Eng</label>
        <locationX>2096</locationX>
        <locationY>7778</locationY>
        <assignmentItems>
            <assignToReference>var_BookongType_WO</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Op App Self Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OP_App_Booking_selection_WO</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Another OP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Booking_Type_Reject_Pending</name>
        <label>Ass Booking Type Reject/Pending</label>
        <locationX>2360</locationX>
        <locationY>7658</locationY>
        <assignmentItems>
            <assignToReference>var_BookongType_WO</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Op App Self Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Booking_Type_Self</name>
        <label>Ass Booking Type Self</label>
        <locationX>1832</locationX>
        <locationY>7658</locationY>
        <assignmentItems>
            <assignToReference>var_BookongType_WO</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Op App Self Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OP_App_Booking_selection_WO</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Themselves</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Evening_Timeslot</name>
        <label>Ass Evening Timeslot</label>
        <locationX>1370</locationX>
        <locationY>6674</locationY>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_Start_StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Future_17_21_Arriv_Wind_Start_StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_END_EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Future_17_21_Arriv_Wind_END_EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Job_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Full_Description_of_Work_to_be_Complete_Default_Duration</name>
        <label>Ass Full Description of Work to be Complete &amp; Default Duration</label>
        <locationX>2096</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>var_Full_Description_Of_Work_to_be_Completed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_Description_of_the_work_to_be_completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NumberPossEstimatedDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Access_Notes_for_Engineer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Access_Notes_for_Engineer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcceptedFutureDateTIME</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTradeRateCardBasedOnAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Id_to_Original_Work_Order_ID</name>
        <label>Ass Id to Original Work Order ID</label>
        <locationX>1073</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>var_OriginalWorkOrderID_called_frm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Serv_Appt_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Morning_TimeSlot</name>
        <label>Ass Morning TimeSlot</label>
        <locationX>842</locationX>
        <locationY>6674</locationY>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_Start_StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Future_8_12_Arriv_Wind_Start_StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_END_EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Future_8_12_Arriv_Wind_END_EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Job_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Night_Timeslot</name>
        <label>Ass Night Timeslot</label>
        <locationX>1634</locationX>
        <locationY>6674</locationY>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_Start_StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Future_21_7_Arriv_Wind_Start_StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_END_EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Future_21_7_Arriv_Wind_END_EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Job_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_root_job_if_not_present</name>
        <label>Ass root job if not present</label>
        <locationX>2228</locationX>
        <locationY>1502</locationY>
        <assignmentItems>
            <assignToReference>var_raisedFromRootJob</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OriginalJobData.Raised_from_Job__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Resource_Data_using_UserId_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_root_job_if_present</name>
        <label>Ass root job if present</label>
        <locationX>1700</locationX>
        <locationY>1502</locationY>
        <assignmentItems>
            <assignToReference>var_raisedFromRootJob</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OriginalJobData.Raised_from_Root_Job__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Resource_Data_using_UserId_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_root_job_when_no_root_and_raised_job_present</name>
        <label>Ass root job when no root and raised job present</label>
        <locationX>1964</locationX>
        <locationY>1502</locationY>
        <assignmentItems>
            <assignToReference>var_raisedFromRootJob</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OriginalJobData.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Resource_Data_using_UserId_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Std_Trade_Rate_Card_ID</name>
        <label>Ass Std Trade Rate Card ID</label>
        <locationX>2099</locationX>
        <locationY>3459</locationY>
        <assignmentItems>
            <assignToReference>var_TradeRateCardID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card_Standard.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_Trade_Lead_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Trade_Rate_Card_ID</name>
        <label>Ass Trade Rate Card ID</label>
        <locationX>1854</locationX>
        <locationY>3163</locationY>
        <assignmentItems>
            <assignToReference>var_TradeRateCardID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRatecard.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Trade_Lead_Fee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Trade_Rates_to_vars</name>
        <label>Ass Trade Rates to vars</label>
        <locationX>1854</locationX>
        <locationY>3521</locationY>
        <assignmentItems>
            <assignToReference>var_R1_NormalHours_Mon_Fri_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRatecard.Charge_R1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_R2_5_to_8_Mon_Fri_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRatecard.Charge_R2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_R3_Mon_to_Sun_vEarly_and_vLate_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRatecard.Charge_R3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Attendence_Fee_from_Account_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accept_Data</name>
        <label>Assign Accept Data</label>
        <locationX>1238</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrderStatusAcceptedLivePendingRejected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Status_New_For_Client_Approv</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Type1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Future_Date_data</name>
        <label>Assign Future Date data</label>
        <locationX>1370</locationX>
        <locationY>6434</locationY>
        <assignmentItems>
            <assignToReference>var_Bool_Work_Commencing_Future_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcceptedFutureDateTIME</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_select_a_date_for_the_works_to_commence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcceptedDATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_select_a_date_for_the_works_to_commence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_AM_PM_or_Evening</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pending_accept_later_Data</name>
        <label>Assign Pending accept later Data</label>
        <locationX>2690</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrderStatusAcceptedLivePendingRejected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Status_New_For_Client_Approv</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>For Client Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_END_EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_future_EndTime_for_Pending</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_Start_StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_future_StartTime_for_Pending</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcceptedDATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RequestedDate_for_pending</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Bool_Work_Is_Pending</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_for_Pending_accept_later_Date_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rejection_data</name>
        <label>Assign Rejection data</label>
        <locationX>2426</locationX>
        <locationY>4982</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrderStatusAcceptedLivePendingRejected</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Bool_Work_Is_Rejected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Status_New_For_Client_Approv</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_END_EndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_Start_StartDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcceptedDATE</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Rejection_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Standard Rate Card</description>
        <name>Assign_Standard_Trade_Lead_Fee</name>
        <label>Assign Standard Trade Lead Fee</label>
        <locationX>2100</locationX>
        <locationY>3629</locationY>
        <assignmentItems>
            <assignToReference>var_TradeLeadFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Trade_Rate_Card_Standard.Lead_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Attendence_Fee_from_Account_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Trade_Lead_Fee</name>
        <label>Assign Trade Lead Fee</label>
        <locationX>1854</locationX>
        <locationY>3342</locationY>
        <assignmentItems>
            <assignToReference>var_TradeLeadFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_TradeRatecard.Lead_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ass_Trade_Rates_to_vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type_of_Work_React_or_FP_to_Var_from_Picklist</name>
        <label>Assign Type of Work (React or FP) to Var from Picklist</label>
        <locationX>2096</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>var_Type_of_Work_Reactive_or_Fixed_Price_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenPlease_select_Trade</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attendance_Fee_Not_Null_Ass_to_var</name>
        <label>Attendance Fee Not Null Ass to var</label>
        <locationX>1900</locationX>
        <locationY>1203</locationY>
        <assignmentItems>
            <assignToReference>var_AccountAttendanceFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AccountData.Attendance_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Original_Job_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Attendence_Fee_from_Account_Data</name>
        <label>Set Attendence Fee from Account Data</label>
        <locationX>1971</locationX>
        <locationY>3950</locationY>
        <assignmentItems>
            <assignToReference>var_AttendenceFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AccountData.Attendance_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Rate_Charges_Associated_infoORIGINAL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Work_Commencing_Start_Now</name>
        <label>Work Commencing Start Now</label>
        <locationX>314</locationX>
        <locationY>6194</locationY>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_Start_StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Bool_Is_Work_Commencing_Now</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_AcceptedDATE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Arriv_Wind_END_EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaStartImmediatelyAddDuration_to_NOW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Job_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accept</name>
        <choiceText>Accept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accept</stringValue>
        </value>
    </choices>
    <choices>
        <name>Book_future_date_time</name>
        <choiceText>Book future date and time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Book future date and time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice10PercentOffLabour</name>
        <choiceText>10% off Labour</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice15PercentOffLabour</name>
        <choiceText>15% off Labour</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice20PercentOffLabour</name>
        <choiceText>20% off Labour</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice25PercentOffLabour</name>
        <choiceText>25% off Labour</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>25.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice5PercentOffLabour</name>
        <choiceText>5% off Labour</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_AM_for_Future_work</name>
        <choiceText>AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Evening_for_Future_work</name>
        <choiceText>Evening</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Evening</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Exit_Dont_Send_Estimate</name>
        <choiceText>Exit without sending estimate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit without sending estimate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Not_Commencing_Imediately_LaterDate</name>
        <choiceText>No - need to enter a future date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No - need to enter a future date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PM_for_Future_work</name>
        <choiceText>PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_RadButtonCreateNewWO</name>
        <choiceText>Create new Work Order for &lt;b&gt;&lt;u&gt;same&lt;/u&gt;&lt;/b&gt; Site and Job</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice_RadButtonDisplayWOs</name>
        <choiceText>Display Work Orders list for this Job to create a Service Appt. for</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice_Wrong_Selection_Made_ChooseAgain</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_WT_Selection_Correct</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes_Commencing_Immediately</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes_Send_Estimate_Email</name>
        <choiceText>Yes - send estimate via email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes - send estimate via email</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceAcceptSummary</name>
        <choiceText>Accept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accept</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceAfternoon_12pm_to_5pm</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;12:00 - 17:00&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:00 - 17:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceCustomer_R1_LabCharge</name>
        <choiceText>Rate 1 : £{!Formula_Customer_R1_LabourCharge_WithAnyDiscount} (Mon-Fri 8am-5pm)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R1</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceCustomer_R2_LabCharge</name>
        <choiceText>Rate 2 : £{!Formula_Customer_R2_5_to_8_Mon_Fri_LabourCharge_WithAnyDiscount} (Eve + Weekend)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R2</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceCustomer_R3_LabCharge</name>
        <choiceText>Rate 3 : £{!Formula_Customer_R3_LabourCharge_WithAnyDiscount} (After 9pm)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R3</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceDiscountNotSelectedZero</name>
        <choiceText>Discount Not selected</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceEvening_5pm_to_9pm</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;17:00 - 21:00&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>17:00 - 21:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceFINISH</name>
        <choiceText>Select and click Next to finish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLate_night_9pm_to_7am</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;21:00 - 7:00&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>21:00 - 7:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMorning_8am_to_12pm</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;07:00 - 12:00&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>07:00 - 12:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoicePendingAcceptSummary</name>
        <choiceText>Pending - may accept at later date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending - may accept at later date</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceRejectSummary</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceULEZ_NOT_Applicable</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYesULEZApplicable</name>
        <choiceText>Yes (£12.50)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes (£12.50)</stringValue>
        </value>
    </choices>
    <choices>
        <name>diffEngFutureDate</name>
        <choiceText>I request a different engineer for a future date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I request a different engineer for a future date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Different_engineer</name>
        <choiceText>Different engineer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Different engineer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Me</name>
        <choiceText>Me</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Me</stringValue>
        </value>
    </choices>
    <choices>
        <name>MeFutureDate</name>
        <choiceText>I will start the work on a future date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I will start the work on a future date</stringValue>
        </value>
    </choices>
    <choices>
        <name>MeStartNow</name>
        <choiceText>I will start the work now</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I will start the work now</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending_may_accept_at_later_date</name>
        <choiceText>Pending - may accept at later date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <choices>
        <name>Start_Now</name>
        <choiceText>Start Now</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Start Now</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ZeroInvoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ZeroInvoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Const_RecordTypeName_Thames_Water</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Thames_Water</stringValue>
        </value>
    </constants>
    <constants>
        <name>Const_VAT_Rate_20_Percent</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.2</numberValue>
        </value>
    </constants>
    <constants>
        <name>var_Const_5000X</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>5000.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Account_Type</name>
        <label>Check Account Type</label>
        <locationX>1073</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Is_Account_Attendance_Fee_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Key_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Cash_Only_Client_Message</targetReference>
            </connector>
            <label>Key Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Type1</name>
        <label>Check Account Type</label>
        <locationX>1238</locationX>
        <locationY>5102</locationY>
        <defaultConnector>
            <targetReference>Who_is_the_Engineer_and_work_commencing_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Cash Account</defaultConnectorLabel>
        <rules>
            <name>Cash_Account1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountData.Account_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Authorisation_Record</targetReference>
            </connector>
            <label>Cash Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer_Decision</name>
        <label>Check Customer Decision</label>
        <locationX>2096</locationX>
        <locationY>4862</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accept_CD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accept</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accept_Data</targetReference>
            </connector>
            <label>Accept</label>
        </rules>
        <rules>
            <name>Reject_CD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reject</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rejection_data</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
        <rules>
            <name>Pending_may_accept_later_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pending_may_accept_at_later_date</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pending_accept_later_Data</targetReference>
            </connector>
            <label>Pending - may accept later date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Entered_Future_Date</name>
        <label>Check Entered Future Date</label>
        <locationX>974</locationX>
        <locationY>6314</locationY>
        <defaultConnector>
            <targetReference>Assign_Future_Date_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Future Date</defaultConnectorLabel>
        <rules>
            <name>Not_a_Future_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_a_date_for_the_works_to_commence</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>FormulaNOWAdd1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_a_Future_Date_Message</targetReference>
            </connector>
            <label>Not a Future Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_AM_PM_or_Evening</name>
        <label>Check for AM, PM or Evening</label>
        <locationX>1370</locationX>
        <locationY>6554</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Morning_8am_12pm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceMorning_8am_to_12pm</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Morning_TimeSlot</targetReference>
            </connector>
            <label>Morning 8am - 12pm</label>
        </rules>
        <rules>
            <name>Afternoon_12pm_5pm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceAfternoon_12pm_to_5pm</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Afternoon_Timeslot</targetReference>
            </connector>
            <label>Afternoon 12pm - 5pm</label>
        </rules>
        <rules>
            <name>Evening_5pm_9pm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceEvening_5pm_to_9pm</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Evening_Timeslot</targetReference>
            </connector>
            <label>Evening 5pm - 9pm</label>
        </rules>
        <rules>
            <name>Night_9pm_7am</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceLate_night_9pm_to_7am</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Night_Timeslot</targetReference>
            </connector>
            <label>Night 9pm - 7am</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Root_Job</name>
        <label>Check for Root Job</label>
        <locationX>2096</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_root_Job_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_OriginalJobData.Raised_from_Root_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_root_job_if_present</targetReference>
            </connector>
            <label>If root Job present</label>
        </rules>
        <rules>
            <name>If_root_and_raised_job_both_not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_OriginalJobData.Raised_from_Root_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OriginalJobData.Raised_from_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_root_job_when_no_root_and_raised_job_present</targetReference>
            </connector>
            <label>If root and raised job both not present</label>
        </rules>
        <rules>
            <name>If_root_job_is_not_present_but_raised_job_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_OriginalJobData.Raised_from_Root_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OriginalJobData.Raised_from_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_root_job_if_not_present</targetReference>
            </connector>
            <label>If root job is not present but raised job is present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_the_first_4_digits_Match</name>
        <label>Do the first 4 digits Match?</label>
        <locationX>1062</locationX>
        <locationY>5462</locationY>
        <defaultConnector>
            <targetReference>Failed_To_Verify_Card_Digit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not Match</defaultConnectorLabel>
        <rules>
            <name>Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_enter_first_4_digits_of_card</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Auth_AccountRef_FIRST4Digits</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Who_is_the_Engineer_and_work_commencing_time</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Attendance_Fee_not_null</name>
        <label>Is Account Attendance Fee not null?</label>
        <locationX>2096</locationX>
        <locationY>926</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attendance_Fee_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountAttendanceFee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Job_Data</targetReference>
            </connector>
            <label>Attendance Fee is null</label>
        </rules>
        <rules>
            <name>Attendance_Fee_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountAttendanceFee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attendance_Fee_Not_Null_Ass_to_var</targetReference>
            </connector>
            <label>Attendance Fee Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Work_Commencing_Now_or_Future_Date_1</name>
        <label>Is Work Commencing Now or Future Date?</label>
        <locationX>1238</locationX>
        <locationY>6074</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeStartNow</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Commencing_Start_Now</targetReference>
            </connector>
            <label>Now</label>
        </rules>
        <rules>
            <name>Future_Date_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MeFutureDate</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>diffEngFutureDate</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_enter_a_Date_Time_for_future_work</targetReference>
            </connector>
            <label>Future Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Trade_Rate_Card_Found_related_to_Account</name>
        <label>Was Trade Rate Card Found related to Account?</label>
        <locationX>2088</locationX>
        <locationY>2946</locationY>
        <defaultConnector>
            <targetReference>get_Standard_Account_Rate_Card</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_TradeRatecard</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Trade_Rate_Card_ID</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_is_the_Engineer</name>
        <label>Who is the Engineer</label>
        <locationX>2096</locationX>
        <locationY>7538</locationY>
        <defaultConnector>
            <targetReference>Ass_Booking_Type_Reject_Pending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reject Or Pending Later (No Choice is made for Engineer)</defaultConnectorLabel>
        <rules>
            <name>Myself</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MeStartNow</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MeFutureDate</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ass_Booking_Type_Self</targetReference>
            </connector>
            <label>Myself</label>
        </rules>
        <rules>
            <name>Different_Engineer1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>diffEngFutureDate</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OP_Cover_Record</targetReference>
            </connector>
            <label>Different Engineer</label>
        </rules>
    </decisions>
    <description>Changes for Trade Lead Fee</description>
    <dynamicChoiceSets>
        <name>RecChoiceGroupObject</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedTradeData.Id</elementReference>
            </value>
        </filters>
        <object>Group__c</object>
        <outputAssignments>
            <assignToReference>var_SelectedGroupData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedGroupData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecChoiceTradeObject</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trade_Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>PM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Trade_Group__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Utilities</stringValue>
            </value>
        </filters>
        <object>Trade__c</object>
        <outputAssignments>
            <assignToReference>var_SelectedTradeData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedTradeData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecChoiceWorkTypeObject</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedGroupData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Type_of_Work_Reactive_or_Fixed_Price_Text</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>var_SelectedWorkTypeData.EstimatedDuration</assignToReference>
            <field>EstimatedDuration</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedWorkTypeData.EstimatedDuration_Hours__c</assignToReference>
            <field>EstimatedDuration_Hours__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedWorkTypeData.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedWorkTypeData.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedWorkTypeData.Scope_of_Works_2__c</assignToReference>
            <field>Scope_of_Works_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedWorkTypeData.Scope_of_Works_3__c</assignToReference>
            <field>Scope_of_Works_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedWorkTypeData.Scope_of_Works__c</assignToReference>
            <field>Scope_of_Works__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formula_Arriv_EndDate_for_ScheduleEnd</name>
        <dataType>DateTime</dataType>
        <expression>{!var_Arriv_Wind_Start_StartDate}+({!var_NumberPossEstimatedDuration}/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_Auth_AccountRef_FIRST4Digits</name>
        <dataType>String</dataType>
        <expression>LEFT({!var_AuthorisationData.asp04__Account_Reference__c},4)</expression>
    </formulas>
    <formulas>
        <name>Formula_Auth_AccountRef_Last4Digits</name>
        <dataType>String</dataType>
        <expression>RIGHT({!var_AuthorisationData.asp04__Account_Reference__c},4)</expression>
    </formulas>
    <formulas>
        <name>Formula_Count_of_WOsCreated_Add_1</name>
        <dataType>Number</dataType>
        <expression>{!var_Count_of_WOsCreated}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_Customer_R1_LabourCharge_WithAnyDiscount</name>
        <dataType>Currency</dataType>
        <expression>({!var_R1_NormalHours_Mon_Fri_Amount}*{!var_NumberPossEstimatedDuration})*(1-({!var_DiscountPercentSelected}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Customer_R1_LabourCharge_WithOUTAnyDiscount</name>
        <dataType>Currency</dataType>
        <expression>({!var_R1_NormalHours_Mon_Fri_Amount}*{!var_NumberPossEstimatedDuration})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Customer_R2_5_to_8_Mon_Fri_LabourCharge_WithAnyDiscount</name>
        <dataType>Currency</dataType>
        <expression>{!var_R2_5_to_8_Mon_Fri_Amount}*{!var_NumberPossEstimatedDuration}*(1-({!var_DiscountPercentSelected}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Customer_R2_5_to_8_Mon_Fri_LabourCharge_WithOUTAnyDiscount</name>
        <dataType>Currency</dataType>
        <expression>{!var_R2_5_to_8_Mon_Fri_Amount}*{!var_NumberPossEstimatedDuration}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Customer_R3_LabourCharge_WithAnyDiscount</name>
        <dataType>Currency</dataType>
        <expression>{!var_R3_Mon_to_Sun_vEarly_and_vLate_Amount}*{!var_NumberPossEstimatedDuration}*(1-({!var_DiscountPercentSelected}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Customer_R3_LabourCharge_WithOUTAnyDiscount</name>
        <dataType>Currency</dataType>
        <expression>{!var_R3_Mon_to_Sun_vEarly_and_vLate_Amount}*{!var_NumberPossEstimatedDuration}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Extract_Flow_Error_Msg</name>
        <dataType>String</dataType>
        <expression>MID({!$Flow.FaultMessage},FIND(&quot;EXCEPTION: &quot;,{!$Flow.FaultMessage})+11,FIND(&quot; You can look up&quot;,{!$Flow.FaultMessage})-(FIND(&quot;EXCEPTION: &quot;,{!$Flow.FaultMessage})+11))</expression>
    </formulas>
    <formulas>
        <description>{!var_AcceptedFutureDate}</description>
        <name>Formula_Future_12_17_Arriv_Wind_END_EndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!var_AcceptedFutureDateTIME}+(17/24)+({!var_NumberPossEstimatedDuration}/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_Future_12_17_Arriv_Wind_Start_StartDate</name>
        <dataType>DateTime</dataType>
        <expression>{!var_AcceptedFutureDateTIME}+(12/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_Future_17_21_Arriv_Wind_END_EndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!var_AcceptedFutureDateTIME}+(21/24)+({!var_NumberPossEstimatedDuration}/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_Future_17_21_Arriv_Wind_Start_StartDate</name>
        <dataType>DateTime</dataType>
        <expression>{!var_AcceptedFutureDateTIME}+(17/24)</expression>
    </formulas>
    <formulas>
        <description>Asked by Alex and Matthew to make it 9pm to 9:30pm, so now end time will be 9:30+2 hours fixed</description>
        <name>Formula_Future_21_7_Arriv_Wind_END_EndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!var_AcceptedFutureDateTIME}+1+(7/24)+({!var_NumberPossEstimatedDuration}/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_Future_21_7_Arriv_Wind_Start_StartDate</name>
        <dataType>DateTime</dataType>
        <expression>{!var_AcceptedFutureDateTIME}+(21/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_Future_8_12_Arriv_Wind_END_EndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!var_AcceptedFutureDateTIME}+(12/24)+({!var_NumberPossEstimatedDuration}/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_Future_8_12_Arriv_Wind_Start_StartDate</name>
        <dataType>DateTime</dataType>
        <expression>{!var_AcceptedFutureDateTIME}+(8/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_future_EndTime_for_Pending</name>
        <dataType>DateTime</dataType>
        <expression>{!var_AcceptedFutureDateTIME}+1+(12/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_future_StartTime_for_Pending</name>
        <dataType>DateTime</dataType>
        <expression>{!var_AcceptedFutureDateTIME}+1+(7/24)</expression>
    </formulas>
    <formulas>
        <name>Formula_Lead_Fee_Negative</name>
        <dataType>Currency</dataType>
        <expression>{!var_TradeLeadFee}*-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_MarkUpPercentageBandBased100</name>
        <dataType>Number</dataType>
        <expression>{!var_MarkUpPercentageBandBased}*100</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_NOW_Add_20_Seconds_CustInvoice_CashCust</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+0.000232</expression>
    </formulas>
    <formulas>
        <name>Formula_NOW_Add_30_Seconds_CustInvoice</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+0.000464</expression>
    </formulas>
    <formulas>
        <name>Formula_NOW_CustInvoice</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Formula_R1_LabourPayAmount</name>
        <dataType>Currency</dataType>
        <expression>({!var_R1_NormalHours_Mon_Fri_Amount}*{!var_NumberPossEstimatedDuration})*(({!var_OperativePercentShare_frm_Rates}/100)*
(1-({!var_DiscountPercentSelected}/100)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_R2_5_to_8_Mon_Fri_LabourPayAmount</name>
        <dataType>Currency</dataType>
        <expression>(({!var_R2_5_to_8_Mon_Fri_Amount}*{!var_NumberPossEstimatedDuration})*({!var_OperativePercentShare_frm_Rates}/100))*(1-({!var_DiscountPercentSelected}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_R3_LabourPayAmount</name>
        <dataType>Currency</dataType>
        <expression>(({!var_R3_Mon_to_Sun_vEarly_and_vLate_Amount}*{!var_NumberPossEstimatedDuration})*({!var_OperativePercentShare_frm_Rates}/100))*(1-({!var_DiscountPercentSelected}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_rate_of_pay</name>
        <dataType>Number</dataType>
        <expression>{!var_RateofPay}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaConvertSobjWorkOrderLineITEM_LineItemNumberToNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!SobjWorkOrderLineITEM.LineItemNumber})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaNOWAdd1</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>FormulaStartImmediatelyAddDuration_to_NOW</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+({!var_NumberPossEstimatedDuration}/24)</expression>
    </formulas>
    <formulas>
        <name>TEST_FORMULA_NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>var_RequestedDate_for_pending</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>var_selectedTimeSlot</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!Preferred_arrival_time_slot} , FIND(&quot; &quot;, {!Preferred_arrival_time_slot} )))</expression>
    </formulas>
    <interviewLabel>Reactive Job - Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reactive Job - Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Cost_And_Charges</name>
        <label>Create Cost And Charges</label>
        <locationX>2096</locationX>
        <locationY>7298</locationY>
        <assignRecordIdToReference>var_CostsAndChargesID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Work_Order_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Call_Out_Fee__c</field>
            <value>
                <elementReference>var_AttendenceFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Lead_Fee__c</field>
            <value>
                <elementReference>Formula_Lead_Fee_Negative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R1__c</field>
            <value>
                <elementReference>var_R1_NormalHours_Mon_Fri_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R2__c</field>
            <value>
                <elementReference>var_R2_5_to_8_Mon_Fri_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hourly_Charge_R3__c</field>
            <value>
                <elementReference>var_R3_Mon_to_Sun_vEarly_and_vLate_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>var_CreatedJobID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Type__c</field>
            <value>
                <stringValue>R</stringValue>
            </value>
        </inputAssignments>
        <object>Costs_and_Charges__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Job_Record</name>
        <label>Create New Job</label>
        <locationX>2096</locationX>
        <locationY>7178</locationY>
        <assignRecordIdToReference>var_CreatedJobID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Cost_And_Charges</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorisation__c</field>
            <value>
                <elementReference>var_OriginalJobData.Authorisation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email_who_Raised_Job__c</field>
            <value>
                <elementReference>var_OriginalJobData.Contact_Email_who_Raised_Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Facing_Description__c</field>
            <value>
                <elementReference>var_Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Earliest_Work_Order_by_Requested_Date__c</field>
            <value>
                <elementReference>var_CreatedWorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Work_Commencing_Immediately__c</field>
            <value>
                <elementReference>var_Bool_Is_Work_Commencing_Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Description__c</field>
            <value>
                <elementReference>var_Full_Description_Of_Work_to_be_Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Raised_by__c</field>
            <value>
                <elementReference>var_OriginalJobData.Job_Raised_by__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Type__c</field>
            <value>
                <elementReference>var_WorkTypeData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raised_by_Service_Resource__c</field>
            <value>
                <elementReference>var_ServiceResourceData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raised_from_Job__c</field>
            <value>
                <elementReference>var_OriginalWorkOrderData.Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raised_from_Root_Job__c</field>
            <value>
                <elementReference>var_raisedFromRootJob</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>var_SiteData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>var_Job_Status_New_For_Client_Approv</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordCreates>
    <recordCreates>
        <description>Removed setting:
Arrival_Window_End__c to {!var_Arriv_Wind_END_EndDate}

and

Arrival_Window_Start__c to {!var_Arriv_Wind_Start_StartDate}

due to the mob app error of &#39;Cannot deserialize instance of time form VALUE_STRING value&#39;</description>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>2096</locationX>
        <locationY>7994</locationY>
        <assignRecordIdToReference>var_CreatedWorkOrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Service_Appointment_and_Assigned_Resource_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreenMessage1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Access_Details__c</field>
            <value>
                <elementReference>var_Access_Notes_for_Engineer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_AccountData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Window_End_Date_Time__c</field>
            <value>
                <elementReference>var_Arriv_Wind_END_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Window_Start_Date_Time__c</field>
            <value>
                <elementReference>var_Arriv_Wind_Start_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Type__c</field>
            <value>
                <elementReference>var_BookongType_WO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Non Project</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>var_SiteData.Site_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_OriginalWorkOrderData.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email_who_Raised_Work_Order__c</field>
            <value>
                <elementReference>var_OriginalWorkOrderData.Contact_Email_who_Raised_Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Costs_and_Charges__c</field>
            <value>
                <elementReference>var_CostsAndChargesID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Full_Description_of_the_work_to_be_completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>var_NumberPossEstimatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>var_CreatedJobID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP_App_Booking_selection__c</field>
            <value>
                <elementReference>OP_App_Booking_selection_WO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>var_SiteData.Site_PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raised_from_Work_Order__c</field>
            <value>
                <elementReference>var_OriginalWorkOrderID_called_frm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Rejection__c</field>
            <value>
                <elementReference>Please_enter_a_brief_reason_for_rejection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ReactiveWorkOrderRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Date__c</field>
            <value>
                <elementReference>var_AcceptedDATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope_of_Works_Amended_by_Operative__c</field>
            <value>
                <elementReference>var_WorkTypeData.Scope_of_Works__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment_Status__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>var_SiteData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>var_Arriv_Wind_Start_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>var_WorkOrderStatusAcceptedLivePendingRejected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>var_SiteData.Site_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_Rate__c</field>
            <value>
                <elementReference>var_TradeRateCardID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>var_WorkTypeData.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Data</name>
        <label>Account Data</label>
        <locationX>1073</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SiteData.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_AccountData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Account_Status__c</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Account_Type__c</queriedFields>
        <queriedFields>Attendance_Fee__c</queriedFields>
        <queriedFields>Dont_Send_out_Estimates__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>Rate_Card__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Authorisation_Record</name>
        <label>Get Authorisation Record</label>
        <locationX>1062</locationX>
        <locationY>5222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cash_Client_Verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OriginalJobData.Authorisation__c</elementReference>
            </value>
        </filters>
        <object>asp04__Authorisation__c</object>
        <outputReference>var_AuthorisationData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>asp04__First_Name__c</queriedFields>
        <queriedFields>asp04__Last_Name__c</queriedFields>
        <queriedFields>asp04__Card_Type__c</queriedFields>
        <queriedFields>asp04__Payment_Route_Options__c</queriedFields>
        <queriedFields>asp04__Payment_Route_Selected__c</queriedFields>
        <queriedFields>asp04__Account_Name__c</queriedFields>
        <queriedFields>asp04__Email__c</queriedFields>
        <queriedFields>asp04__Company_Name__c</queriedFields>
        <queriedFields>asp04__Account_Reference__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OP_Cover_Record</name>
        <label>Get OP Cover Record</label>
        <locationX>2096</locationX>
        <locationY>7658</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ass_Booking_Type_Diff_Eng</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0Hn4G000000PCvCSAW</stringValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_ServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>FirstName__c</queriedFields>
        <queriedFields>LastName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Job_Data</name>
        <label>Get Original Job Data</label>
        <locationX>2096</locationX>
        <locationY>1262</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Root_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OriginalWorkOrderData.Job__c</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>var_OriginalJobData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Authorisation__c</queriedFields>
        <queriedFields>Contact_Email_who_Raised_Job__c</queriedFields>
        <queriedFields>Job_Raised_by__c</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>Raised_from_Job__c</queriedFields>
        <queriedFields>Raised_from_Root_Job__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_WO_Data</name>
        <label>Get Original WO Data</label>
        <locationX>1073</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SiteData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OriginalWorkOrderID_called_frm</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_OriginalWorkOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Contact_Email_who_Raised_Work_Order__c</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Job__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Serv_Appt_ID</name>
        <label>Get Serv Appt ID</label>
        <locationX>1073</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Original_WO_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OriginalWorkOrderID_called_frm</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>var_ServApptData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Data_using_UserId_0</name>
        <label>Get Service Resource Data using UserId</label>
        <locationX>2096</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Type_of_Work_React_or_FP_to_Var_from_Picklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>var_ServiceResourceData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Rate_of_Pay_Tier__c</queriedFields>
        <queriedFields>Estimate_Limit__c</queriedFields>
        <queriedFields>LastName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Standard_Account_Rate_Card</name>
        <label>get Standard Account Rate Card</label>
        <locationX>2095</locationX>
        <locationY>3158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTradeRateCardStandard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Standard__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Rate_Card_Account__c</object>
        <outputReference>var_Account_Rate_Card_Standard</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Standard__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Record_Type</name>
        <label>Get Work Order Record Type</label>
        <locationX>2096</locationX>
        <locationY>7418</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_is_the_Engineer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ReactiveWorkOrderRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Data</name>
        <label>Get Work Type Data</label>
        <locationX>2096</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ass_Full_Description_of_Work_to_be_Complete_Default_Duration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedGroupData.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedWorkTypeData.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Trade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedTradeData.Name</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>var_WorkTypeData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>EstimatedDuration</queriedFields>
        <queriedFields>Scope_of_Works__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getTradeRateCardBasedOnAccount</name>
        <label>getTradeRateCardBasedOnAccount</label>
        <locationX>2096</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Op_Rate_of_Pay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountData.Rate_Card__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedTradeData.Name</elementReference>
            </value>
        </filters>
        <object>Rate_Card_Trade__c</object>
        <outputReference>var_TradeRatecard</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Charge_R1__c</queriedFields>
        <queriedFields>Charge_R2__c</queriedFields>
        <queriedFields>Charge_R3__c</queriedFields>
        <queriedFields>Trade__c</queriedFields>
        <queriedFields>Trade_Name__c</queriedFields>
        <queriedFields>Pay_Tier_1__c</queriedFields>
        <queriedFields>Pay_Tier_2__c</queriedFields>
        <queriedFields>Pay_Tier_3__c</queriedFields>
        <queriedFields>Pay_Tier_4__c</queriedFields>
        <queriedFields>Pay_Tier_5__c</queriedFields>
        <queriedFields>Pay_Tier_6__c</queriedFields>
        <queriedFields>Pay_Tier_7__c</queriedFields>
        <queriedFields>Pay_Tier_9__c</queriedFields>
        <queriedFields>Pay_Tier_10__c</queriedFields>
        <queriedFields>Lead_Fee__c</queriedFields>
        <queriedFields>Default_For_Estimate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getTradeRateCardStandard</name>
        <label>getTradeRateCardStandard</label>
        <locationX>2099</locationX>
        <locationY>3314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ass_Std_Trade_Rate_Card_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Account_Rate_Card_Standard.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedTradeData.Name</elementReference>
            </value>
        </filters>
        <object>Rate_Card_Trade__c</object>
        <outputReference>var_Trade_Rate_Card_Standard</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Charge_R1__c</queriedFields>
        <queriedFields>Charge_R2__c</queriedFields>
        <queriedFields>Charge_R3__c</queriedFields>
        <queriedFields>Trade_Name__c</queriedFields>
        <queriedFields>Trade__c</queriedFields>
        <queriedFields>Pay_Tier_1__c</queriedFields>
        <queriedFields>Pay_Tier_2__c</queriedFields>
        <queriedFields>Pay_Tier_3__c</queriedFields>
        <queriedFields>Pay_Tier_4__c</queriedFields>
        <queriedFields>Pay_Tier_5__c</queriedFields>
        <queriedFields>Pay_Tier_6__c</queriedFields>
        <queriedFields>Pay_Tier_7__c</queriedFields>
        <queriedFields>Pay_Tier_8__c</queriedFields>
        <queriedFields>Pay_Tier_9__c</queriedFields>
        <queriedFields>Pay_Tier_10__c</queriedFields>
        <queriedFields>Lead_Fee__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SiteData</name>
        <label>SiteData</label>
        <locationX>1073</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OriginalWorkOrderData.Site__c</elementReference>
            </value>
        </filters>
        <object>Site__c</object>
        <outputReference>var_SiteData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Site_Street__c</queriedFields>
        <queriedFields>Site_City__c</queriedFields>
        <queriedFields>Site_PostalCode__c</queriedFields>
        <queriedFields>Access_Details__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Region_Area_Code__c</queriedFields>
        <queriedFields>Region_Area__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment_With_Schedule_End</name>
        <label>Update Service Appointment With Schedule End</label>
        <locationX>2096</locationX>
        <locationY>8234</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_createdServiceAppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>formula_Arriv_EndDate_for_ScheduleEnd</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Cash_Client_Verification</name>
        <label>Cash Client Verification</label>
        <locationX>1062</locationX>
        <locationY>5342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_the_first_4_digits_Match</targetReference>
        </connector>
        <fields>
            <name>FirstFourDigitText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;For security please pass the phone to the customer to enter the first 4 digits of the {!var_AuthorisationData.asp04__Card_Type__c} card ending XXXX-{!Formula_Auth_AccountRef_Last4Digits}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_enter_first_4_digits_of_card</name>
            <dataType>String</dataType>
            <fieldText>Please enter first 4 digits of card:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_Email_for_Pending_accept_later_Date_time</name>
        <label>Check Email for Pending accept later Date time</label>
        <locationX>2690</locationX>
        <locationY>5102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Job_Record</targetReference>
        </connector>
        <fields>
            <name>Check_Email_for_Accept_Later</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please ask customer to accept later once he/she received email for accept future date and time for booking.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Decision</name>
        <label>Customer Decision</label>
        <locationX>2024</locationX>
        <locationY>4585</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Customer_Decision</targetReference>
        </connector>
        <fields>
            <name>Please_Confirm_Customers_Choice</name>
            <choiceReferences>Accept</choiceReferences>
            <choiceReferences>Pending_may_accept_at_later_date</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Confirm Customers Choice:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Cash_Only_Client_Message</name>
        <label>Display Cash Only Client Message</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotaCashAccount</name>
            <fieldText>&lt;p&gt;&lt;b&gt;As this Client is a Key client so we can not go ahed for reactive booking.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please connect with Office administrator for further detail.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_WT_Selection_Made_Option_to_change</name>
        <label>Display WT Selection Made Option to change</label>
        <locationX>2096</locationX>
        <locationY>2318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Work_Type_Data</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtWTSelectionMade</name>
            <fieldText>&lt;p&gt;You have selected:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Trade: &lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!var_SelectedTradeData.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Group: &lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!var_SelectedGroupData.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Work type: &lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!var_SelectedWorkTypeData.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job_Title</name>
            <fieldText>Job Title</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Full_Description_of_the_work_to_be_completed</name>
            <fieldText>Full Description of the work to be completed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Access_Notes_for_Engineer</name>
            <fieldText>Access/Notes for Engineer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failed_To_Verify_Card_Digit</name>
        <label>Failed_To_Verify_Card_Digit</label>
        <locationX>1333</locationX>
        <locationY>5389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cash_Client_Verification</targetReference>
        </connector>
        <fields>
            <name>Failed_Digit_Error_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(240, 14, 14);&quot;&gt;Oops! The first 4 digits entered do not match the &lt;/b&gt;&lt;b style=&quot;color: rgb(240, 14, 14); background-color: rgb(255, 255, 255);&quot;&gt;{!var_AuthorisationData.asp04__Card_Type__c} card ending XXXX-{!Formula_Auth_AccountRef_Last4Digits}. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(240, 14, 14);&quot;&gt;Please press Next and enter the first 4 digits again&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(240, 14, 14);&quot;&gt;OR&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(240, 14, 14);&quot;&gt;Go back and select Pending and the booking can be completed by the office or the customer, if the customer would like to use a different card to call up HQ, before&amp;nbsp;selecting Accept or Pending&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>2370</locationX>
        <locationY>3311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultScreenMessage</name>
            <fieldText>&lt;p&gt;For the Account {!var_AccountData.Name} a standard Account Rate card: {!var_Account_Rate_Card_Standard.Name} was found, but there is no &lt;u&gt;Trade Rate Card&lt;/u&gt; attached to it.&lt;/p&gt;&lt;p&gt;Please contact the office so they can fix this and take a screenshot of this message to give to them.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Selection made:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Trade: &lt;/span&gt;{!var_SelectedTradeData.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Group: &lt;/span&gt;{!var_SelectedGroupData.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Work type: &lt;/span&gt;{!var_SelectedWorkTypeData.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultScreenMessage1</name>
        <label>FaultScreenMessage</label>
        <locationX>3218</locationX>
        <locationY>8114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_a_Future_Date_Message</name>
        <label>Not a Future Date Message</label>
        <locationX>578</locationX>
        <locationY>6434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_enter_a_Date_Time_for_future_work</targetReference>
        </connector>
        <fields>
            <name>FutureDateMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(221, 72, 22);&quot;&gt;!! The date entered (&lt;/b&gt;&lt;b style=&quot;color: rgb(221, 72, 22);&quot;&gt;{!Please_select_a_date_for_the_works_to_commence}&lt;/b&gt;&lt;b style=&quot;color: rgb(221, 72, 22); background-color: rgb(255, 255, 255);&quot;&gt;) is not in the future - please press Next to enter again !!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(221, 72, 22);&quot;&gt;{!Preferred_arrival_time_slot}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_enter_a_Date_Time_for_future_work</name>
        <label>Please enter a Date/Time for future work</label>
        <locationX>974</locationX>
        <locationY>6194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Entered_Future_Date</targetReference>
        </connector>
        <fields>
            <name>Please_select_a_date_for_the_works_to_commence</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>var_PreferredDate</elementReference>
            </defaultValue>
            <fieldText>Please select a date for the works to commence:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preferred_arrival_time_slot</name>
            <choiceReferences>ChoiceMorning_8am_to_12pm</choiceReferences>
            <choiceReferences>ChoiceAfternoon_12pm_to_5pm</choiceReferences>
            <choiceReferences>ChoiceEvening_5pm_to_9pm</choiceReferences>
            <choiceReferences>ChoiceLate_night_9pm_to_7am</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred arrival time slot:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rejection_Reason</name>
        <label>Rejection Reason</label>
        <locationX>2426</locationX>
        <locationY>5102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Job_Record</targetReference>
        </connector>
        <fields>
            <name>Please_enter_a_brief_reason_for_rejection</name>
            <fieldText>Please enter a brief reason for rejection:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Rate_Charges_Associated_infoORIGINAL</name>
        <label>Rate Charges &amp; Associated info: ORIGINAL</label>
        <locationX>2001</locationX>
        <locationY>4342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Decision</targetReference>
        </connector>
        <fields>
            <name>DisplayTxtRates</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You Selected:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Trade: {!var_SelectedTradeData.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Group: {!var_SelectedGroupData.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sub-Category: {!var_SelectedWorkTypeData.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Below are the hourly rates , excluding VAT:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;R1 Rate: {!var_R1_NormalHours_Mon_Fri_Amount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Weekday, 7am - 5pm&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;R2 Rate: {!var_R2_5_to_8_Mon_Fri_Amount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;7am - 9pm&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;R3 Rate: {!var_R3_Mon_to_Sun_vEarly_and_vLate_Amount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;9pm - 7am&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenPlease_select_Trade</name>
        <label>Please select Trade</label>
        <locationX>2096</locationX>
        <locationY>1958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenSelect_Category_from_Trade_selected</targetReference>
        </connector>
        <fields>
            <name>OpEngMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;If another operative completes this new reactive job. You will be issued £10 EPR upon payment of the job.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PicklistPlease_select_the_Trade</name>
            <choiceReferences>RecChoiceTradeObject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the trade:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_Category_from_Trade_selected</name>
        <label>Select Category (from Trade selected)</label>
        <locationX>2096</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenSelect_Sub_Category</targetReference>
        </connector>
        <fields>
            <name>PicklistPlease_select_the_Category</name>
            <choiceReferences>RecChoiceGroupObject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the category:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelect_Sub_Category</name>
        <label>Select Sub-Category</label>
        <locationX>2096</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Display_WT_Selection_Made_Option_to_change</targetReference>
        </connector>
        <fields>
            <name>PicklistPlease_select_the_Sub_Category</name>
            <choiceReferences>RecChoiceWorkTypeObject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the work type:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Who_is_the_Engineer_and_work_commencing_time</name>
        <label>Who is the Engineer and work commencing time</label>
        <locationX>1238</locationX>
        <locationY>5954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Work_Commencing_Now_or_Future_Date_1</targetReference>
        </connector>
        <fields>
            <name>MsgforOp</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;If another operative completes this new reactive job. You will be issued £10 EPR upon payment of the job.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_select_when_the_work_will_be_go_ahead</name>
            <choiceReferences>MeStartNow</choiceReferences>
            <choiceReferences>MeFutureDate</choiceReferences>
            <choiceReferences>diffEngFutureDate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select when the work will be go ahead:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>947</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Ass_Id_to_Original_Work_Order_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Service_Appointment_and_Assigned_Resource_Record</name>
        <label>Create Service Appointment and Assigned Resource Record</label>
        <locationX>2095</locationX>
        <locationY>8114</locationY>
        <connector>
            <targetReference>Update_Service_Appointment_With_Schedule_End</targetReference>
        </connector>
        <flowName>PHASE_2_FL_FSL_mobile_Take_Payment_for_Deposit_On_Site_Agreement_Create_SA_AR</flowName>
        <inputAssignments>
            <name>var_Arriv_Wind_END_EndDate</name>
            <value>
                <elementReference>var_Arriv_Wind_END_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Arriv_Wind_Start_StartDate</name>
            <value>
                <elementReference>var_Arriv_Wind_Start_StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Bool_Is_Work_Commencing_Now</name>
            <value>
                <elementReference>var_Bool_Is_Work_Commencing_Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Bool_Work_Commencing_Future_Date</name>
            <value>
                <elementReference>var_Bool_Work_Commencing_Future_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Bool_Work_Is_Pending</name>
            <value>
                <elementReference>var_Bool_Work_Is_Pending</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Bool_Work_Is_Rejected</name>
            <value>
                <elementReference>var_Bool_Work_Is_Rejected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_CreatedWorkOrderID</name>
            <value>
                <elementReference>var_CreatedWorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_NumberPossEstimatedDuration</name>
            <value>
                <elementReference>var_NumberPossEstimatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_OriginalWorkOrderData</name>
            <value>
                <elementReference>var_OriginalWorkOrderData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ServiceResourceData</name>
            <value>
                <elementReference>var_ServiceResourceData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SiteData</name>
            <value>
                <elementReference>var_SiteData</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_createdServiceAppID</assignToReference>
            <name>var_CreatedServApptID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Op_Rate_of_Pay</name>
        <label>Get Op Rate of Pay %</label>
        <locationX>2096</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>Was_Trade_Rate_Card_Found_related_to_Account</targetReference>
        </connector>
        <flowName>FL_FSL_Get_Rate_of_Pay_Rates_for_Service_Resource_based_on_SR_Tier</flowName>
        <inputAssignments>
            <name>var_AccountData</name>
            <value>
                <elementReference>var_AccountData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SelectedTradeData</name>
            <value>
                <elementReference>var_SelectedTradeData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_ServiceResourceData</name>
            <value>
                <elementReference>var_ServiceResourceData</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_OperativePercentShare_frm_Rates</assignToReference>
            <name>var_OperativePercentShare_frm_Rates</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CollCreatedWorkOrderLineItemS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>CollCreatedWorkOrderLineItemS_to_UpdateLine_Item_Number</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>CollEMPTYWorkOrderLineItemS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>CollWorkOrderLineItemS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>CollWorkTypeLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Type_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OP_App_Booking_selection_WO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReactiveWorkOrderRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sobj_LoopVar_WorkTypeLineITEM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Type_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SobjWorkOrderLineITEM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>TempJobID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>TotalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AcceptedDATE</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_AcceptedFutureDateTIME</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Access_Notes_for_Engineer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Account_Rate_Card_Standard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Card_Account__c</objectType>
    </variables>
    <variables>
        <name>var_AccountAttendanceFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_AccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Amended_Scope_of_works</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Amended_Scope_of_works_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Amended_Scope_of_works_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Arriv_Wind_END_EndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_Arriv_Wind_Start_StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_ArrivalWindowEND_EndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_ArrivalWindowSTART_StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_AttendenceFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_AuthorisationData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>asp04__Authorisation__c</objectType>
    </variables>
    <variables>
        <name>var_BookongType_WO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Bool_Generate_Deposit_Inv</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Bool_Is_First_WO_Line_Item</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Bool_Is_Work_Commencing_Now</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Bool_Work_Commencing_Future_Date</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Bool_Work_Is_Pending</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Bool_Work_Is_Rejected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Coll_MarkUp_Band_MetaData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Markup_Band__mdt</objectType>
    </variables>
    <variables>
        <name>var_CostsAndChargesID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Count_of_WOsCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CounterPendRejectSearch_CI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CreatedEPRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedJobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_createdServiceAppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CreatedWorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_CreatedWorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CustomerLabourChargeWithAnyDiscount_AfterChosenRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CustomerLabourChargeWithOUTDiscount_AfterChosenRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Deposit_Customer_Inv_Data</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Invoice__c</objectType>
    </variables>
    <variables>
        <name>var_Description_of_Materials_supplied_by_Aspect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Description_of_Materials_supplied_by_Operative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_DiscountPercentSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_DiscountValue_Lab_FP</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ExistingJobAddition</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Full_Description_Of_Work_to_be_Completed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Job_Status_New_For_Client_Approv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Job_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_List_Price_Services_with_any_DC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Loop_Metadata_Banding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Markup_Band__mdt</objectType>
    </variables>
    <variables>
        <name>var_MarkUpBand1RatePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_MarkUpBand2End</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_MarkUpBand2RatePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_MarkUpBand2Start</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_MarkUpBand3RatePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_MarkUpPercentageBandBased</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_NOW_Add_20_Seconds_CustInvoice</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NOW_Add_30_Seconds_CustInvoice</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_NumberPossEstimatedDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Op_Cover_ServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_OperativePercentShare_frm_Rates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_OriginalJobData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>var_OriginalWorkOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>var_OriginalWorkOrderID_called_frm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PreferredDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_R1_NormalHours_Mon_Fri_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_R2_5_to_8_Mon_Fri_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_R3_Mon_to_Sun_vEarly_and_vLate_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_raisedFromRootJob</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_raisedFromRootWO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Rate_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RateCardId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RateofPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_RegionAreaData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Region_Area__c</objectType>
    </variables>
    <variables>
        <name>var_SelectedGroupData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group__c</objectType>
    </variables>
    <variables>
        <name>var_SelectedTradeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trade__c</objectType>
    </variables>
    <variables>
        <name>var_SelectedWorkTypeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>var_ServApptData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_ServiceFeePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_SiteData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>var_StartOfTimeslot_Based_on_AM_PM_Evening</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Sub_Total_For_Customer_Excl_VAT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_SubCatSelected_frm_Group</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>var_Total_Materials_SuppliedbyOperative_SuppliedbyAspect</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Total_Materials_SuppliedbyOperative_SuppliedbyAspect_WithMarkUp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Trade_Rate_Card_Standard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Card_Trade__c</objectType>
    </variables>
    <variables>
        <name>var_TradeLeadFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_TradeRatecard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Card_Trade__c</objectType>
    </variables>
    <variables>
        <name>var_TradeRateCardID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Type_of_Work_Reactive_or_Fixed_Price_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ULEZ_Charge</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ULEZData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ULEZ_Charge__mdt</objectType>
    </variables>
    <variables>
        <name>var_WO_ReactiveOrFixedPriceRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WorkOrderStatusAcceptedLivePendingRejected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_WorkTypeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
