unpackaged/main/default/flows/Resource_Preference_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>delete_PREF</name>
        <choiceText>Remove Fixed Engineer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>edit_PREF</name>
        <choiceText>Change Fixed Engineer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>delete_edit</name>
        <label>delete/edit</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>update_PREF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>delete_PREF</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_PREF1</targetReference>
            </connector>
            <label>delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>existing_PREF</name>
        <label>existing PREF?</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Existing_RPREF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_rpref.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_1</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rcs_RPREF</name>
        <dataType>String</dataType>
        <displayField>SR_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WO_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>PreferenceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </filters>
        <object>ResourcePreference</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_SR</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_rpref.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Resource Preference Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Preference Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_RPREF</name>
        <label>create RPREF</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>var_WO_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>rcs_SR</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>delete_PREF1</name>
        <label>delete PREF1</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_rpref.Id</elementReference>
            </value>
        </filters>
        <object>ResourcePreference</object>
    </recordDeletes>
    <recordLookups>
        <name>get_RPREFS</name>
        <label>get RPREFS</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existing_PREF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WO_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>PreferenceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </filters>
        <object>ResourcePreference</object>
        <outputReference>var_rpref</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
        <queriedFields>SR_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_PREF</name>
        <label>update PREF</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_rpref.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>rcs_SR</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Existing_RPREF</name>
        <label>Existing RPREF</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>delete_edit</targetReference>
        </connector>
        <fields>
            <name>existing_pref_text</name>
            <fieldText>&lt;p&gt;This Work Order is fixed to &lt;b&gt;{!var_rpref.SR_Name__c}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_action</name>
            <choiceReferences>edit_PREF</choiceReferences>
            <choiceReferences>delete_PREF</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fix_to_Engineer</name>
            <choiceReferences>rcs_SR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fix to Engineer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>edit_PREF</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_1</name>
        <label>screen 1</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_RPREF</targetReference>
        </connector>
        <fields>
            <name>no_pref_text</name>
            <fieldText>&lt;p&gt;This Work Order is &lt;b&gt;&lt;u&gt;not&lt;/u&gt;&lt;/b&gt; fixed to an Engineer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectSR</name>
            <choiceReferences>rcs_SR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fix to Engineer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_RPREFS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_rpfers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>var_rpref</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>var_SR_list2</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WO_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
