unpackaged/main/default/flows/Send_Email_Alert_if_Vehicle_created_or_updated_to_Spare_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vehicle_Status_changed_to_Spare_Email_Alert_0</name>
        <label>Vehicle Status changed to Spare Email Alert</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Vehicle__c.Vehicle_Status_changed_to_Spare</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Vehicle_Status_changed_to_Spare_Email_Alert_0_0</name>
        <label>Vehicle Status changed to Spare Email Alert</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Vehicle__c.Vehicle_Status_changed_to_Spare</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>New_or_updated_record</name>
        <label>New or updated record ?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordIsNewFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_Status_changed_to_Spare_Email_Alert_0</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_Status_changed_to_Spare_Email_Alert_0_0</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <description>The Flow sent an Email Alert if a new Vehicle record is created with &quot;Spare&quot; Status or if a record is updated from &quot;Allocated&quot;/&quot;Reserved&quot; or &quot;Garage/Repairs&quot; to &quot;Spare&quot; Status.</description>
    <environments>Default</environments>
    <formulas>
        <name>RecordIsNewFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Send Email Alert if Vehicle created or updated to Spare Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Alert if Vehicle created or updated to Spare Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_updated_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spare</stringValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
