unpackaged/main/default/flows/Send_GSR_Submission_Report_On_Job_Closer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_GSR_Report</name>
        <label>Send GSR Report</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <actionName>GSR_Submission__c.GSR_Submission_Report_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>loopOverAllSGRSubmissionRecords</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>loopOverAllSGRSubmissionRecords.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>email_present_or_not</name>
        <label>email present or not?</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>loopOverAllSGRSubmissionRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not present</defaultConnectorLabel>
        <rules>
            <name>present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopOverAllSGRSubmissionRecords.Account_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopOverAllSGRSubmissionRecords.Account_Email_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_GSR_Report</targetReference>
            </connector>
            <label>present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send GSR Submission Report On Job Closer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send GSR Submission Report On Job Closer</label>
    <loops>
        <name>loopOverAllSGRSubmissionRecords</name>
        <label>loopOverAllSGRSubmissionRecords</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>getGSRSubmissionRelatedToWO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>email_present_or_not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateJobField</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getGSRSubmissionRelatedToWO</name>
        <label>getGSRSubmissionRelatedToWO</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOverAllSGRSubmissionRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Job_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GSR_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateJobField</name>
        <label>updateJobField</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <inputAssignments>
            <field>GSR_Report_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getGSRSubmissionRelatedToWO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>GSR_Report_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Job__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
